openapi: 3.2.0
info:
  title: DocuSign Admin Organization API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: Organization
  description: Methods for working with organizations.
paths:
  /v2/organizations:
    get:
      tags:
      - Organization
      summary: Docusign Returns a list of organizations that the authenticated user belongs to.
      description: 'Returns a list of organizations that the authenticated user belongs to.


        - Required scopes: `organization_read`.


        Note that the DocuSign Admin API only returns JSON, not XML.'
      operationId: Organization_Organization_GetListV2
      parameters:
      - name: mode
        in: query
        description: 'Specifies how to select the organizations. Valid values:


          - `org_admin`: Returns organizations for which the authenticated user is an admin.

          - `account_membership`: Returns organizations that contain an account of which the authenticated user is a member


          Default value: `org_admin`'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsResponse'
      security:
      - accessCode:
        - organization_read
      x-ds-methodname: getOrganizations
      x-ds-method: getOrganizations
      x-ds-service: Accounts
      x-ds-in-sdk: true
components:
  schemas:
    OrganizationAccountResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique ID of the  account.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          description: The name of the account.
        external_account_id:
          type: integer
          description: The external account ID.
          format: int64
        site_id:
          type: integer
          description: The site ID.
          format: int32
      description: Information about an account.
      x-ds-definition-name: OrganizationAccountResponse
      x-ms-summary: Information about an account.
    IdentityProviderResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique ID of the identity provider.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        friendly_name:
          type: string
          description: The human-readable name of the identity provider.
        auto_provision_users:
          type: boolean
          description: 'If **true**, users who use this identity provider are automatically provisioned. '
        type:
          type: string
          description: 'The type of the identity provider. One of:


            - `none`

            - `saml_20`

            - `saml_11`

            - `saml_10`

            - `ws_federation`

            - `open_id_connect`'
        saml_20:
          $ref: '#/components/schemas/Saml2IdentityProviderResponse'
        links:
          type: array
          description: A list of useful URLs.
          items:
            $ref: '#/components/schemas/LinkResponse'
      description: Information about a single identity provider.
      x-ds-definition-name: IdentityProviderResponse
      x-ms-summary: Information about a single identity provider.
    CertificateResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique ID of the certificate.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        issuer:
          type: string
          description: The certificate issuer.
        thumbprint:
          type: string
          description: The thumbprint of the certificate.
        expiration_date:
          type: string
          description: The date when the certificate expires.
          format: date-time
        is_valid:
          type: boolean
          description: If **true**, the certificate is valid.
          readOnly: true
        links:
          type: array
          description: A list of useful links.
          items:
            $ref: '#/components/schemas/LinkResponse'
      description: Information about a single certificate.
      x-ds-definition-name: CertificateResponse
      x-ms-summary: Information about a single certificate.
    Saml2IdentityProviderResponse:
      type: object
      properties:
        issuer:
          type: string
          description: The name of the certificate issuer.
        settings:
          type: array
          description: A list of settings.
          items:
            $ref: '#/components/schemas/SettingResponse'
        certificates:
          type: array
          description: A list of certificates responses.
          items:
            $ref: '#/components/schemas/CertificateResponse'
        attribute_mappings:
          type: array
          description: A list of attribute mappings.
          items:
            $ref: '#/components/schemas/RequiredAttributeMappingResponse'
      description: Information about a SAML 2.0 identity provider.
      x-ds-definition-name: Saml2IdentityProviderResponse
      x-ms-summary: Information about a SAML 2.0 identity provider.
    DomainResponse:
      type: object
      properties:
        id:
          type: string
          description: The ID of the reserved domain.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        status:
          type: string
          description: 'The status of the request. One of:


            - `unknown`

            - `pending`

            - `active`

            - `deactivated`

            - `rejected`'
        host_name:
          type: string
          description: The host name of the reserved domain.
        txt_token:
          type: string
          description: A token  in form of text of the reserved domain.
        identity_provider_id:
          type: string
          description: The identity provider ID of the reserved domain.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        settings:
          type: array
          description: 'A list of settings for the reserved domain.

            '
          items:
            $ref: '#/components/schemas/SettingResponse'
        links:
          type: array
          description: A list of useful links.
          items:
            $ref: '#/components/schemas/LinkResponse'
      description: Information about a reserved domain.
      x-ds-definition-name: DomainResponse
      x-ms-summary: Information about a reserved domain.
    OrganizationsResponse:
      type: object
      properties:
        organizations:
          type: array
          description: A list of organizations of which the  authenticated user is a member.
          items:
            $ref: '#/components/schemas/OrganizationResponse'
      description: Organization list.
      x-ds-definition-name: OrganizationsResponse
      x-ms-summary: Organization list.
    SettingResponse:
      type: object
      properties:
        key:
          type: string
          description: The key of the setting.
        value:
          type: object
          properties: {}
          description: The value of the setting.
        type:
          type: string
          description: 'The type of the setting. One of:


            - `unknown`

            - `guid`

            - `text`

            - `integer`

            - `boolean`

            - `datetime`

            - `enumeration`'
      description: A key/value list of settings.
      x-ds-definition-name: SettingResponse
      x-ms-summary: A key/value list of settings.
    LinkResponse:
      type: object
      properties:
        rel:
          type: string
          description: The kind of linked item.
        href:
          type: string
          description: The URL of the linked item.
      description: A link to a useful URL.
      x-ds-definition-name: LinkResponse
      x-ms-summary: A link to a useful URL.
    OrganizationSimpleIdObject:
      type: object
      properties:
        id:
          type: string
          description: The ID.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
      description: An ID object.
      x-ds-definition-name: OrganizationSimpleIdObject
      x-ms-summary: An ID object.
    IdentityProvidersResponse:
      type: object
      properties:
        identity_providers:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/IdentityProviderResponse'
      description: ''
      x-ds-definition-name: IdentityProvidersResponse
      x-ms-summary: ''
    OrganizationResponse:
      type: object
      properties:
        id:
          type: string
          description: The ID of the organization.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          description: The name of the organization.
        description:
          type: string
          description: A description of the organization.
        default_account_id:
          type: string
          description: The default account ID of the organization.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        default_permission_profile_id:
          type: integer
          description: The default permission profile ID of the organization.
          format: int64
        created_on:
          type: string
          description: The date the organization's account was created.
          format: date-time
        created_by:
          type: string
          description: The user who created the organization account.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        last_modified_on:
          type: string
          description: The date the organization's account was last updated.
          format: date-time
        last_modified_by:
          type: string
          description: The user who last updated the organization's account.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        accounts:
          type: array
          description: A list of organization accounts.
          items:
            $ref: '#/components/schemas/OrganizationAccountResponse'
        users:
          type: array
          description: A list of the organization accounts users.
          items:
            $ref: '#/components/schemas/OrganizationSimpleIdObject'
        reserved_domains:
          type: array
          description: A list of reserved domains for the organization.
          items:
            $ref: '#/components/schemas/DomainResponse'
        identity_providers:
          type: array
          description: A list of identity providers for the organization.
          items:
            $ref: '#/components/schemas/IdentityProvidersResponse'
        links:
          type: array
          description: A list of links for the organization.
          items:
            $ref: '#/components/schemas/LinkResponse'
      description: Information about an individual organization.
      x-ds-definition-name: OrganizationResponse
      x-ms-summary: Information about an individual organization.
    RequiredAttributeMappingResponse:
      type: object
      properties:
        required_attribute_id:
          type: integer
          description: The unique ID of the attribute.
          format: int32
        required_attribute_name:
          type: string
          description: The name of the attribute.
        required_attribute_friendly_name:
          type: string
          description: The human-readable name of the attribute.
        substitute_attribute_name:
          type: string
          description: The name of the substitute attribute.
      description: A single attribute mapping response.
      x-ds-definition-name: RequiredAttributeMappingResponse
      x-ms-summary: A single attribute mapping response.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
