openapi: 3.2.0
info:
  title: Docusign Accounts API
  version: v2
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  description: 'Operations tagged Accounts across 2 of this provider''s published API definitions: docusign-openapi-original.yml, docusign-rooms-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://www.docusign.net/restapi
- url: https://rooms.docusign.com/restapi
tags:
- name: Accounts
  description: The Accounts resource provides methods that allow you to create, delete, and manage your accounts.
paths:
  /v2/accounts:
    post:
      tags:
      - Accounts
      summary: Docusign Creates new accounts
      description: Creates new DocuSign accounts.
      operationId: Accounts_PostAccounts
      parameters:
      - name: preview_billing_plan
        in: query
        description: When set to **true**, creates the account using a preview billing plan.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/newAccountDefinition'
          application/xml:
            schema:
              $ref: '#/components/schemas/newAccountDefinition'
        required: false
      responses:
        '201':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/newAccountSummary'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: create
      x-ds-method: create
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: newAccountDefinition
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}:
    get:
      tags:
      - Accounts
      summary: Docusign Retrieves the account information for the specified account
      description: 'Retrieves the account information for the specified account.


        **Response**

        The `canUpgrade` property contains is a Boolean that indicates whether the account can be upgraded through the API.'
      operationId: Accounts_GetAccount
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: include_account_settings
        in: query
        description: When set to **true**, includes the account settings for the account in the response.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/accountInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: GetAccountInformation
      x-ds-method: get
      x-ds-service: Accounts
      x-ds-in-sdk: true
    delete:
      tags:
      - Accounts
      summary: Docusign Deletes the specified account
      description: This closes the specified account. You must be an account admin to close your account. Once closed, an account must be reopened by DocuSign.
      operationId: Accounts_DeleteAccount
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: delete
      x-ds-method: delete
      x-ds-service: Accounts
      x-ds-in-sdk: true
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/billing_charges:
    get:
      tags:
      - Accounts
      summary: Docusign Gets list of recurring and usage charges for the account
      description: 'Retrieves the list of recurring and usage charges for the account. This can be used to determine the charge structure and usage of charge plan items.


        Privileges required: account administrator'
      operationId: BillingCharges_GetAccountBillingCharges
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: include_charges
        in: query
        description: 'Specifies which billing charges to return.

          Valid values are:


          * envelopes

          * seats

          '
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/billingChargeResponse'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getBillingCharges
      x-ds-method: getBillingCharges
      x-ds-service: Accounts
      x-ds-in-sdk: true
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/captive_recipients/{recipientPart}:
    delete:
      tags:
      - Accounts
      summary: Docusign Deletes the signature for one or more captive recipient records
      description: Deletes the signature for one or more captive recipient records; it is primarily used for testing. This provides a way to reset the signature associated with a client user ID so that a new signature can be created the next time the client user ID is used.
      operationId: CaptiveRecipients_DeleteCaptiveRecipientsPart
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: recipientPart
        in: path
        description: 'Signature is the only supported value. '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/captiveRecipientInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/captiveRecipientInformation'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/captiveRecipientInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteCaptiveRecipient
      x-ds-method: deleteCaptiveRecipient
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: captiveRecipientInformation
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/recipient_names:
    get:
      tags:
      - Accounts
      summary: Docusign Gets recipient names associated with an email address
      description: Retrieves a list of recipients in the specified account that are associated with a email address supplied in the query string.
      operationId: RecipientNames_GetRecipientNames
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: The email address for the user
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/recipientNamesResponse'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listRecipientNamesByEmail
      x-ds-method: listRecipientNamesByEmail
      x-ds-service: Accounts
      x-ds-in-sdk: true
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/settings:
    get:
      tags:
      - Accounts
      summary: Docusign Gets account settings information
      description: Retrieves the account settings information for the specified account.
      operationId: Settings_GetSettings
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/accountSettingsInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listSettings
      x-ds-method: listSettings
      x-ds-service: Accounts
      x-ds-in-sdk: true
    put:
      tags:
      - Accounts
      summary: Docusign Updates the account settings for an account
      description: Updates the account settings for the specified account.
      operationId: Settings_PutSettings
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountSettingsInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/accountSettingsInformation'
        required: false
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateSettings
      x-ds-method: updateSettings
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: accountSettingsInformation
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/shared_access:
    get:
      tags:
      - Accounts
      summary: 'Docusign Reserved: Gets the shared item status for one or more users'
      description: 'Retrieves shared item status for one or more users and types of items.


        Users with account administration privileges can retrieve shared access information for all account users. Users without account administrator privileges can only retrieve shared access information for themselves and the returned information is limited to the retrieving the status of all members of the account that are sharing their folders to the user. This is equivalent to setting the `shared` to `shared_from`.'
      operationId: SharedAccess_GetSharedAccess
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: Specifies maximum number of results included in the response. If no value is specified, this defaults to 1000.
        schema:
          type: string
      - name: envelopes_not_shared_user_status
        in: query
        schema:
          type: string
      - name: folder_ids
        in: query
        description: 'A comma separated list of folder IDs  for which the shared item

          information is being requested.


          If `item_type` is `folders`, at least one folder ID is required.'
        schema:
          type: string
      - name: item_type
        in: query
        description: 'Specifies the type of shared item being requested. The possible values are:


          - `envelopes`: Get information about envelope sharing between users.

          - `templates`: Get information about template sharing among users and groups.

          - `folders`: Get information about folder sharing among users and groups.

          '
        schema:
          type: string
      - name: search_text
        in: query
        description: This can be used to filter user names in the response. The wild-card '*' (asterisk) can be used around the string.
        schema:
          type: string
      - name: shared
        in: query
        description: "A comma-separated list of sharing filters that specifies which users appear in the response. \n\n- `not_shared`: The response contains users who do not share items of `item_type` with the current user.\n\n- `shared_to`: The response contains users in `user_list` who are sharing items to current user.\n\n- `shared_from`: The response contains users in `user_list` who are sharing items from the current user.\n\n- `shared_to_and_from`: The response contains users in `user_list` who are sharing items to and sharing items from the current user.\n\nIf the current user does not have administrative privileges, only the `shared_to` option is valid."
        schema:
          type: string
      - name: start_position
        in: query
        description: 'If the number of responses is greater than `count`, the number of responses to skip. Typically this value is a multiple of `count`. Default: 0.'
        schema:
          type: string
      - name: user_ids
        in: query
        description: A comma-separated list of user IDs for whom the shared item information is being requested.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/accountSharedAccess'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listSharedAccess
      x-ds-method: listSharedAccess
      x-ds-service: Accounts
      x-ds-in-sdk: true
    put:
      tags:
      - Accounts
      summary: 'Docusign Reserved: Sets the shared access information for users'
      description: 'This sets the shared access status for one or more users or templates.


        When setting user shared access, only users with account administration privileges can set shared access status for envelopes.


        When setting template shared access, only users who own a template and have sharing permission or with account administration privileges can set shared access for templates.


        Changes to the shared items status are not additive. The change always replaces the current status.


        To change template shared access the query parameter `item_type` = `templates` must be added to the request. When this is set, the user and envelopes properties are not required.'
      operationId: SharedAccess_PutSharedAccess
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: item_type
        in: query
        description: 'Specifies the type of shared item being requested. The possible values are:


          - `envelopes`: Get information about envelope sharing between users.

          - `templates`: Get information about template sharing among users and groups.

          - `folders`: Get information about folder sharing among users and groups.

          '
        schema:
          type: string
      - name: user_ids
        in: query
        description: A comma-separated list of user IDs whose shared item information is being set.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountSharedAccess'
          application/xml:
            schema:
              $ref: '#/components/schemas/accountSharedAccess'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/accountSharedAccess'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateSharedAccess
      x-ds-method: updateSharedAccess
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: accountSharedAccess
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/supported_languages:
    get:
      tags:
      - Accounts
      summary: Docusign List supported languages for the recipient language setting
      description: List supported languages for the recipient language setting
      operationId: SupportedLanguages_GetSupportedLanguages
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/supportedLanguages'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getSupportedLanguages
      x-ds-method: listSupportedLanguages
      x-ds-service: Accounts
      x-ds-in-sdk: true
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/unsupported_file_types:
    get:
      tags:
      - Accounts
      summary: Docusign Gets a list of unsupported file types
      description: Retrieves a list of file types (mime-types and file-extensions) that are not supported for upload through the DocuSign system.
      operationId: UnsupportedFileTypes_GetUnsupportedFileTypes
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/fileTypeList'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listUnsupportedFileTypes
      x-ds-method: listUnsupportedFileTypes
      x-ds-service: Accounts
      x-ds-in-sdk: true
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/provisioning:
    get:
      tags:
      - Accounts
      summary: Docusign Retrieves the account provisioning information for the account
      description: Retrieves the account provisioning information for the account.
      operationId: Accounts_GetProvisioning
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/provisioningInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getProvisioning
      x-ds-method: getProvisioning
      x-ds-service: Accounts
      x-ds-in-sdk: true
    servers:
    - url: https://www.docusign.net/restapi
  /v2/organization_exports/{organizationId}/account_settings/{resultId}:
    get:
      tags:
      - Accounts
      operationId: OrganizationExports_GetAccountSettingsExport
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: resultId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getAccountSettingsExport
      x-ds-api-status: beta
      x-ds-method: getAccountSettingsExport
      x-ds-service: Uncategorized
      x-ds-in-sdk: true
      summary: Organization exports get account settings export
      x-summary-source: derived
    servers:
    - url: https://www.docusign.net/restapi
components:
  schemas:
    accountAddress:
      type: object
      properties:
        address1:
          type: string
          description: 'First Line of the address.

            Maximum length: 100 characters.'
        address2:
          type: string
          description: 'Second Line of the address.

            Maximum length: 100 characters.'
        city:
          type: string
          description: The city value of the address.
        country:
          type: string
          description: Specifies the country associated with the address.
        email:
          type: string
          description: ''
        fax:
          type: string
          description: ''
        firstName:
          type: string
          description: "The user's first name. \nMaximum Length: 50 characters."
        lastName:
          type: string
          description: The recipient's last name.
        phone:
          type: string
          description: ''
        postalCode:
          type: string
          description: ''
        state:
          type: string
          description: The state or province associated with the address.
        supportedCountries:
          type: array
          description: Contains an array of countries supported by the billing plan.
          items:
            $ref: '#/components/schemas/country'
      description: Contains information about an account address.
      x-ds-definition-name: accountAddress
      x-ms-summary: Contains information about an account address.
    paymentProcessorInformation:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/addressInformation'
        billingAgreementId:
          type: string
          description: ''
        email:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: paymentProcessorInformation
      x-ms-summary: ''
    billingPlanPreview:
      type: object
      properties:
        currencyCode:
          type: string
          description: Specifies the ISO currency code for the account.
        invoice:
          $ref: '#/components/schemas/billingInvoice'
        isProrated:
          type: string
          description: ''
        subtotalAmount:
          type: string
          description: ''
        taxAmount:
          type: string
          description: ''
        totalAmount:
          type: string
          description: ''
      description: Contains information about a preview billing plan.
      x-ds-definition-name: billingPlanPreview
      x-ms-summary: Contains information about a preview billing plan.
    billingInvoiceItem:
      type: object
      properties:
        chargeAmount:
          type: string
          description: 'Reserved: TBD'
        chargeName:
          type: string
          description: 'Reserved: TBD'
        invoiceItemId:
          type: string
          description: 'Reserved: TBD'
        quantity:
          type: string
          description: The quantity of envelopes to add to the account.
        unitPrice:
          type: string
          description: 'Reserved: TBD'
      description: Contains information about an item on a billing invoice.
      x-ds-definition-name: billingInvoiceItem
      x-ms-summary: Contains information about an item on a billing invoice.
    addressInformation_v2:
      type: object
      properties:
        address1:
          type: string
          description: 'First Line of the address.

            Maximum length: 100 characters.'
        address2:
          type: string
          description: 'Second Line of the address.

            Maximum length: 100 characters.'
        city:
          type: string
          description: ''
        country:
          type: string
          description: Specifies the country associated with the address.
        fax:
          type: string
          description: ''
        phone:
          type: string
          description: ''
        postalCode:
          type: string
          description: ''
        stateOrProvince:
          type: string
          description: The state or province associated with the address.
      description: ''
      x-ds-definition-name: addressInformation_v2
      x-ms-summary: ''
    memberGroupSharedItem:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        group:
          $ref: '#/components/schemas/group'
        shared:
          type: string
          description: 'How the item is shared. One of:



            - `not_shared`: The item is not shared.


            - `shared_to`: The item is shared.'
      description: Information about items shared among groups.
      x-ds-definition-name: memberGroupSharedItem
      x-ms-summary: Information about items shared among groups.
    userAccountManagementGranularInformation:
      type: object
      properties:
        canManageAccountSecuritySettings:
          type: string
          description: ''
        canManageAccountSecuritySettingsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageAccountSettings:
          type: string
          description: ''
        canManageAccountSettingsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageAdmins:
          type: string
          description: '**True**

            if the user can manage

            admins.'
        canManageAdminsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageEnvelopeTransfer:
          type: string
          description: ''
        canManageEnvelopeTransferMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageGroups:
          type: string
          description: '**True**

            if the user can manage

            groups.'
        canManageGroupsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageReporting:
          type: string
          description: ''
        canManageReportingMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageSharing:
          type: string
          description: ''
        canManageSharingMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageSigningGroups:
          type: string
          description: ''
        canManageSigningGroupsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageUsers:
          type: string
          description: '**True**

            if the user can manage

            users.'
        canManageUsersMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canViewUsers:
          type: string
          description: ''
        canViewUsersMetadata:
          $ref: '#/components/schemas/settingsMetadata'
      description: Describes which account management capabilities a user has.
      x-ds-definition-name: userAccountManagementGranularInformation
      x-ms-summary: Describes which account management capabilities a user has.
    userSharedItem:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        shared:
          type: string
          description: 'How the item is shared. One of:


            - `not_shared`

            - `shared_to`

            - `shared_from`

            - `shared_to_and_from`

            '
        user:
          $ref: '#/components/schemas/userInfo'
      description: Information about a shared item.
      x-ds-definition-name: userSharedItem
      x-ms-summary: Information about a shared item.
    captiveRecipientInformation:
      type: object
      properties:
        captiveRecipients:
          type: array
          description: A complex type containing information about one or more captive recipients.
          items:
            $ref: '#/components/schemas/captiveRecipient'
      description: ''
      x-ds-definition-name: captiveRecipientInformation
      x-ms-summary: ''
    fileTypeList:
      type: object
      properties:
        fileTypes:
          type: array
          description: A collection of file types.
          items:
            $ref: '#/components/schemas/fileType'
      description: ''
      x-ds-definition-name: fileTypeList
      x-ms-summary: ''
    planInformation:
      type: object
      properties:
        addOns:
          type: array
          description: 'Reserved:'
          items:
            $ref: '#/components/schemas/addOn'
        currencyCode:
          type: string
          description: Specifies the ISO currency code for the account.
        freeTrialDaysOverride:
          type: string
          description: Reserved for DocuSign use only.
        planFeatureSets:
          type: array
          description: A complex type that sets the feature sets for the account.
          items:
            $ref: '#/components/schemas/featureSet'
        planId:
          type: string
          description: The DocuSign Plan ID for the account.
        recipientDomains:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/recipientDomain'
      description: An object used to identify the features and attributes of the account being created.
      x-ds-definition-name: planInformation
      x-ms-summary: An object used to identify the features and attributes of the account being created.
    settingsMetadata:
      type: object
      properties:
        is21CFRPart11:
          type: string
          description: When set to **true**, indicates that this module is enabled on the account.
        options:
          type: array
          description: ''
          items:
            type: string
        rights:
          type: string
          description: ''
        uiHint:
          type: string
          description: ''
        uiOrder:
          type: string
          description: ''
        uiType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: settingsMetadata
      x-ms-summary: ''
    userInfo:
      type: object
      properties:
        activationAccessCode:
          type: string
          description: ''
        email:
          type: string
          description: ''
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        loginStatus:
          type: string
          description: ''
        sendActivationEmail:
          type: string
          description: ''
        uri:
          type: string
          description: ''
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        userName:
          type: string
          description: ''
        userStatus:
          type: string
          description: 'Status of the user''s account. One of:


            * ActivationRequired

            * ActivationSent

            * Active

            * Closed

            * Disabled

            '
        userType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: userInfo
      x-ms-summary: ''
    province:
      type: object
      properties:
        isoCode:
          type: string
          description: ''
        name:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: province
      x-ms-summary: ''
    recipientNamesResponse:
      type: object
      properties:
        multipleUsers:
          type: string
          description: Indicates whether email address is used by more than one user.
        recipientNames:
          type: array
          description: ''
          items:
            type: string
        reservedRecipientEmail:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: recipientNamesResponse
      x-ms-summary: ''
    creditCardInformation:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/addressInformation'
        cardNumber:
          type: string
          description: The number on the credit card.
        cardType:
          type: string
          description: 'The credit card type. Valid values are: visa, mastercard, or amex.'
        expirationMonth:
          type: string
          description: The month that the credit card expires (1-12).
        expirationYear:
          type: string
          description: The year 4 digit year in which the credit card expires.
        nameOnCard:
          type: string
          description: The exact name printed on the credit card.
      description: ''
      x-ds-definition-name: creditCardInformation
      x-ms-summary: ''
    forgottenPasswordInformation:
      type: object
      properties:
        forgottenPasswordAnswer1:
          type: string
          description: The answer to the first forgotten password challenge question.
        forgottenPasswordAnswer2:
          type: string
          description: The answer to the second forgotten password challenge question.
        forgottenPasswordAnswer3:
          type: string
          description: The answer to the third forgotten password challenge question.
        forgottenPasswordAnswer4:
          type: string
          description: The answer to the fourth forgotten password challenge question.
        forgottenPasswordQuestion1:
          type: string
          description: The first challenge question presented to a user who has forgotten their password.
        forgottenPasswordQuestion2:
          type: string
          description: The second challenge question presented to a user who has forgotten their password.
        forgottenPasswordQuestion3:
          type: string
          description: The third challenge question presented to a user who has forgotten their password.
        forgottenPasswordQuestion4:
          type: string
          description: The fourth challenge question presented to a user who has forgotten their password.
      description: A complex element that has up to four Question/Answer pairs for forgotten password information.
      x-ds-definition-name: forgottenPasswordInformation
      x-ms-summary: A complex element that has up to four Question/Answer pairs for forgotten password information.
    supportedLanguages:
      type: object
      properties:
        languages:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
      description: ''
      x-ds-definition-name: supportedLanguages
      x-ms-summary: ''
    sharedItem:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        shared:
          type: string
          description: 'How the item is shared. One of:


            - `not_shared`

            - `shared_to`

            - `shared_from`

            - `shared_to_and_from`'
        user:
          $ref: '#/components/schemas/userInfo'
      description: Information about the shared item.
      x-ds-definition-name: sharedItem
      x-ms-summary: Information about the shared item.
    memberSharedItems:
      type: object
      properties:
        envelopes:
          type: array
          description: List of information about shared envelopes.
          items:
            $ref: '#/components/schemas/sharedItem'
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        templates:
          type: array
          description: List of information about shared templates.
          items:
            $ref: '#/components/schemas/templateSharedItem'
        user:
          $ref: '#/components/schemas/userInfo'
      description: Information about shared items.
      x-ds-definition-name: memberSharedItems
      x-ms-summary: Information about shared items.
    socialAccountInformation:
      type: object
      properties:
        email:
          type: string
          description: ''
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        provider:
          type: string
          description: The social account provider (Facebook, Yahoo, etc.)
        socialId:
          type: string
          description: The ID provided by the Socal Account.
        userName:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: socialAccountInformation
      x-ms-summary: ''
    recipientDomain:
      type: object
      properties:
        active:
          type: string
          description: ''
        domainCode:
          type: string
          description: ''
        domainName:
          type: string
          description: ''
        recipientDomainId:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: recipientDomain
      x-ms-summary: ''
    newAccountSummary:
      type: object
      properties:
        accountId:
          type: string
          description: The account ID associated with the envelope.
        accountIdGuid:
          type: string
          description: The GUID associated with the account ID.
        accountName:
          type: string
          description: The account name for the new account.
        apiPassword:
          type: string
          description: Contains a token that can be used for authentication in API calls instead of using the user name and password.
        baseUrl:
          type: string
          description: The URL that should be used for successive calls to this account. It includes the protocal (https), the DocuSign server where the account is located, and the account number. Use this Url to make API calls against this account. Many of the API calls provide Uri's that are relative to this baseUrl.
        billingPlanPreview:
          $ref: '#/components/schemas/billingPlanPreview'
        userId:
          type: string
          description: Specifies the user ID of the new user.
      description: ''
      x-ds-definition-name: newAccountSummary
      x-ms-summary: ''
    templateSharedItem:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        owner:
          $ref: '#/components/schemas/userInfo'
        shared:
          type: string
          description: 'How the template is shared. One of:


            - `not_shared`

            - `shared_to`

            - `shared_from`

            - `shared_to_and_from`

            '
        sharedGroups:
          type: array
          description: List of groups that share the template.
          items:
            $ref: '#/components/schemas/memberGroupSharedItem'
        sharedUsers:
          type: array
          description: List of users that share the template.
          items:
            $ref: '#/components/schemas/userSharedItem'
        templateId:
          type: string
          description: 'The unique identifier of the template. If this is not provided, DocuSign will generate a value. '
        templateName:
          type: string
          description: The name of the shared template.
      description: Information about shared templates.
      x-ds-definition-name: templateSharedItem
      x-ms-summary: Information about shared templates.
    accountSharedAccess:
      type: object
      properties:
        accountId:
          type: string
          description: The account ID associated with the envelope.
        endPosition:
          type: string
          description: 'The last position in the result set. '
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        nextUri:
          type: string
          description: 'The URI for the next chunk of records based on the search request. It is `null` if this is the last set of results for the search. '
        previousUri:
          type: string
          description: 'The URI for the prior chunk of records based on the search request. It is `null` if this is the first set of results for the search. '
        resultSetSize:
          type: string
          description: 'The number of results returned in this response. '
        sharedAccess:
          type: array
          description: A list of shared access information of envelope and templates for the users specified in the request.
          items:
            $ref: '#/components/schemas/memberSharedItems'
        startPosition:
          type: string
          description: Starting position of the current result set.
        totalSetSize:
          type: string
          description: The total number of items in the search's result set. It will always be greater than or equal to the value of the `resultSetSize` field.
      description: Contains shared access information.
      x-ds-definition-name: accountSharedAccess
      x-ms-summary: Contains shared access information.
    userInformation:
      type: object
      properties:
        accountManagementGranular:
          $ref: '#/components/schemas/userAccountManagementGranularInformation'
        activationAccessCode:
          type: string
          description: ''
        countryCode:
          type: string
          description: ''
        createdDateTime:
          type: string
          description: Indicates the date and time the item was created.
        customSettings:
          type: array
          description: The name/value pair information for the user custom setting.
          items:
            $ref: '#/components/schemas/nameValue'
        email:
          type: string
          description: ''
        enableConnectForUser:
          type: string
          description: 'Specifies whether the user is enabled for updates from DocuSign Connect. Valid values: true or false.'
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        firstName:
          type: string
          description: "The user's first name. \nMaximum Length: 50 characters."
        forgottenPasswordInfo:
          $ref: '#/components/schemas/forgottenPasswordInformation'
        groupList:
          type: array
          description: "A list of the group information for groups to add the user to. Group information can be found by calling [ML:GET group information]. The only required parameter is groupId. \n\nThe parameters are:\n\n* groupId - The DocuSign group ID for the group.\n* groupName - The name of the group\n* permissionProfileId - The ID of the permission profile associated with the group.\n* groupType - The group type.\n"
          items:
            $ref: '#/components/schemas/group'
        homeAddress:
          $ref: '#/components/schemas/addressInformation_v2'
        initialsImageUri:
          type: string
          description: Contains the URI for an endpoint that you can use to retrieve the initials image.
        isAdmin:
          type: string
          description: Determines if the feature set is actively set as part of the plan.
        jobTitle:
          type: string
          description: ''
        lastLogin:
          type: string
          description: The date-time when the user last logged on to the system.
        lastName:
          type: string
          description: The recipient's last name.
        loginStatus:
          type: string
          description: ''
        middleName:
          type: string
          description: "The user's middle name. \nLimit: 50 characters."
        password:
          type: string
          description: ''
        passwordExpiration:
          type: string
          description: If password expiration is enabled, the date-time when the user's password expires.
        permissionProfileId:
          type: string
          description: ''
        permissionProfileName:
          type: string
          description: ''
        profileImageUri:
          type: string
          description: ''
        sendActivationEmail:
          type: string
          description: ''
        sendActivationOnInvalidLogin:
          type: string
          description: 'When set to **true**, specifies that an additional activation email is sent to the user if they fail a log on before activating their account. '
        signatureImageUri:
          type: string
          description: Contains the URI for an endpoint that you can use to retrieve the signature image.
        subscribe:
          type: string
          description: ''
        suffixName:
          type: string
          description: 'The suffix for the user''s name, such as Jr, IV, PhD, etc.


            Limit: 50 characters. '
        title:
          type: string
          description: The title of the user.
        uri:
          type: string
          description: ''
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        userName:
          type: string
          description: ''
        userProfileLastModifiedDate:
          type: string
          description: The date-time when the user's profile was last modified.
        userSettings:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        userStatus:
          type: string
          description: 'Status of the user''s account. One of:


            * ActivationRequired

            * ActivationSent

            * Active

            * Closed

            * Disabled

            '
        userType:
          type: string
          description: ''
        workAddress:
          $ref: '#/components/schemas/addressInformation_v2'
      description: ''
      x-ds-definition-name: userInformation
      x-ms-summary: ''
    billingPrice:
      type: object
      properties:
        beginQuantity:
          type: string
          description: 'Reserved: TBD'
        endQuantity:
          type: string
          description: ''
        unitPrice:
          type: string
          description: 'Reserved: TBD'
      description: ''
      x-ds-definition-name: billingPrice
      x-ms-summary: ''
    billingDiscount:
      type: object
      properties:
        beginQuantity:
          type: string
          description: 'Reserved: TBD'
        discount:
          type: string
          description: ''
        endQuantity:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: billingDiscount
      x-ms-summary: ''
    billingInvoice:
      type: object
      properties:
        amount:
          type: string
          description: The total amount of the purchase.
        balance:
          type: string
          description: 'Reserved: TBD'
        dueDate:
          type: string
          description: 'Reserved: TBD'
        invoiceId:
          type: string
          description: ''
        invoiceItems:
          type: array
          description: 'Reserved: TBD'
          items:
            $ref: '#/components/schemas/billingInvoiceItem'
        invoiceNumber:
          type: string
          description: 'Reserved: TBD'
        invoiceUri:
          type: string
          description: Contains a URI for an endpoint that you can use to retrieve invoice information.
        nonTaxableAmount:
          type: string
          description: ''
        pdfAvailable:
          type: string
          description: ''
        taxableAmount:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: billingInvoice
      x-ms-summary: ''
    billingChargeResponse:
      type: object
      properties:
        billingChargeItems:
          type: array
          description: 'Reserved: TBD'
          items:
            $ref: '#/components/schemas/billingCharge'
      description: Defines a billing charge response object.
      x-ds-definition-name: billingChargeResponse
      x-ms-summary: Defines a billing charge response object.
    country:
      type: object
      properties:
        isoCode:
          type: string
          description: ''
        name:
          type: string
          description: ''
        provinces:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/province'
        provinceValidated:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: country
      x-ms-summary: ''
    addressInformation:
      type: object
      properties:
        city:
          type: string
          description: The city associated with the address.
        country:
          type: string
          description: Specifies the country associated with the address.
        fax:
          type: string
          description: A Fax number associated with the address if one is available.
        phone:
          type: string
          description: A phone number associated with the address.
        state:
          type: string
          description: The state or province associated with the address.
        street1:
          type: string
          description: The first line of the address.
        street2:
          type: string
          description: The second line of the address (optional).
        zip:
          type: string
          description: The zip or postal code associated with the address.
        zipPlus4:
          type: string
          description: ''
      description: Contains address information.
      x-ds-definition-name: addressInformation
      x-ms-summary: Contains address information.
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    group:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        groupId:
          type: string
          description: The DocuSign group ID for the group.
        groupName:
          type: string
          description: The name of the group.
        groupType:
          type: string
          description: The group type.
        permissionProfileId:
          type: string
          description: The ID of the permission profile associated with the group.
        users:
          type: array
          description: List of users in the group.
          items:
            $ref: '#/components/schemas/userInfo'
      description: Information about groups.
      x-ds-definition-name: group
      x-ms-summary: Information about groups.
    captiveRecipient:
      type: object
      properties:
        clientUserId:
          type: string
          description: "Specifies whether the recipient is embedded or remote. \n\nIf the `clientUserId` property is not null then the recipient is embedded. Use this field to associate the signer with their userId in your app. Authenticating the user is the responsibility of your app when you use embedded signing.\n\nNote: if the `clientUserId` property is set and either `SignerMustHaveAccount` or `SignerMustLoginToSign` property of the account settings is set to  **true**, an error is generated on sending. \n\nMaximum length: 100 characters. "
        email:
          type: string
          description: Specifies the email address associated with the captive recipient.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        userName:
          type: string
          description: Specifies the user name associated with the captive recipient.
      description: ''
      x-ds-definition-name: captiveRecipient
      x-ms-summary: ''
    featureSet:
      type: object
      properties:
        currencyFeatureSetPrices:
          type: array
          description: A complex type that contains alternate currency values that are configured for this plan feature set.
          items:
            $ref: '#/components/schemas/currencyFeatureSetPrice'
        envelopeFee:
          type: string
          description: ''
        featureSetId:
          type: string
          description: A unique ID for the feature set.
        fixedFee:
          type: string
          description: ''
        is21CFRPart11:
          type: string
          description: When set to **true**, indicates that this module is enabled on the account.
        isActive:
          type: string
          description: ''
        isEnabled:
          type: string
          description: Specifies whether the feature set is actively enabled as part of the plan.
        name:
          type: string
          description: ''
        seatFee:
          type: string
          description: An incremental seat cost for seat-based plans. Only valid when isEnabled for the feature set is set to true.
      description: ''
      x-ds-definition-name: featureSet
      x-ms-summary: ''
    fileType:
      type: object
      properties:
        fileExtension:
          type: string
          description: ''
        mimeType:
          type: string
          description: The mime-type of a file type listed in a fileTypes collection.
      description: ''
      x-ds-definition-name: fileType
      x-ms-summary: ''
    referralInformation:
      type: object
      properties:
        advertisementId:
          type: string
          description: "A complex type that contains the following information for entering referral and discount information. The following items are included in the referral information (all string content): enableSupport, includedSeats, saleDiscountPercent, saleDiscountAmount, saleDiscountFixedAmount, saleDiscountPeriods, saleDiscountSeatPriceOverride, planStartMonth, referralCode, referrerName, advertisementId, publisherId, shopperId, promoCode, groupMemberId, idType, and industry.\n\n###### Note: saleDiscountPercent, saleDiscountAmount, saleDiscountFixedAmount, saleDiscountPeriods, and saleDiscountSeatPriceOverride are reserved for DoucSign use only. \n"
        enableSupport:
          type: string
          description: When set to **true**, then customer support is provided as part of the account plan.
        externalOrgId:
          type: string
          description: ''
        groupMemberId:
          type: string
          description: ''
        idType:
          type: string
          description: ''
        includedSeats:
          type: string
          description: The number of seats (users) included.
        industry:
          type: string
          description: ''
        planStartMonth:
          type: string
          description: ''
        promoCode:
          type: string
          description: ''
        publisherId:
          type: string
          description: ''
        referralCode:
          type: string
          description: ''
        referrerName:
          type: string
          description: ''
        saleDiscountAmount:
          type: string
          description: Reserved for DocuSign use only.
        saleDiscountFixedAmount:
          type: string
          description: Reserved for DocuSign use only.
        saleDiscountPercent:
          type: string
          description: Reserved for DocuSign use only.
        saleDiscountPeriods:
          type: string
          description: Reserved for DocuSign use only.
        saleDiscountSeatPriceOverride:
          type: string
          description: Reserved for DocuSign use only.
        shopperId:
          type: string
          description: ''
      description: "A complex type that contains the following information for entering referral and discount information. The following items are included in the referral information (all string content): enableSupport, includedSeats, saleDiscountPercent, saleDiscountAmount, saleDiscountFixedAmount, saleDiscountPeriods, saleDiscountSeatPriceOverride, planStartMonth, referralCode, referrerName, advertisementId, publisherId, shopperId, promoCode, groupMemberId, idType, and industry \n\n###### Note: saleDiscountPercent, saleDiscountAmount, saleDiscountFixedAmount, saleDiscountPeriods, and saleDiscountSeatPriceOverride are reserved for DoucSign use only."
      x-ds-definition-name: referralInformation
      x-ms-summary: "A complex type that contains the following information for entering referral and discount information. The following items are included in the referral information (all string content): enableSupport, includedSeats, saleDiscountPercent, saleDiscountAmount, saleDiscountFixedAmount, saleDiscountPeriods, saleDiscountSeatPriceOverride, planStartMonth, referralCode, referrerName, advertisementId, publisherId, shopperId, promoCode, groupMemberId, idType, and industry \n\n###### Note: saleDiscountPercent, saleDiscountAmount, saleDiscountFixedAmount, saleDiscountPeriods, and saleDiscountSeatPriceOverride are reserved for DoucSign use only."
    newAccountDefinition:
      type: object
      properties:
        accountName:
          type: string
          description: The account name for the new account.
        accountSettings:
          type: array
          description: 'The list of

            [account settings][accountsettings]

            that determine

            the features available for the account.

            Note that some features are determined

            by the plan used to create the account and cannot be overridden.


            [accountsettings]: https://developers.docusign.com/esign-rest-api/reference/Accounts/Accounts/create/#account-settings

            '
          items:
            $ref: '#/components/schemas/nameValue'
        addressInformation:
          $ref: '#/components/schemas/accountAddress'
        creditCardInformation:
          $ref: '#/components/schemas/creditCardInformation'
        distributorCode:
          type: string
          description: The code that identifies the billing plan groups and plans for the new account.
        distributorPassword:
          type: string
          description: The password for the distributorCode.
        envelopePartitionId:
          type: string
          description: ''
        initialUser:
          $ref: '#/components/schemas/userInformation'
        PaymentProcessorInformation:
          $ref: '#/components/schemas/paymentProcessorInformation'
        planInformation:
          $ref: '#/components/schemas/planInformation'
        referralInformation:
          $ref: '#/components/schemas/referralInformation'
        socialAccountInformation:
          $ref: '#/components/schemas/socialAccountInformation'
      description: ''
      x-ds-definition-name: newAccountDefinition
      x-ms-summary: ''
    addOn:
      type: object
      properties:
        active:
          type: string
          description: 'Reserved:'
        addOnId:
          type: string
          description: 'Reserved:'
        id:
          type: string
          description: ''
        name:
          type: string
          description: 'Reserved:'
      description: Contains information about add ons.
      x-ds-definition-name: addOn
      x-ms-summary: Contains information about add ons.
    accountInformation:
      type: object
      properties:
        accountIdGuid:
          type: string
          description: The GUID associated with the account ID.
        accountName:
          type: string
          description: The name of the account that the workspace user belongs to.
        allowTransactionRooms:
          type: string
          description: When set to **true**, the transaction rooms feature exposed through the Workspaces API is enabled.
        billingPeriodDaysRemaining:
          type: string
          description: 'Reserved: TBD'
        billingPeriodEndDate:
          type: string
          description: 'Reserved: TBD'
        billingPeriodEnvelopesAllowed:
          type: string
          description: 'Reserved: TBD'
        billingPeriodEnvelopesSent:
          type: string
          description: 'Reserved: TBD'
        billingPeriodStartDate:
          type: string
          description: 'Reserved: TBD'
        billingProfile:
          type: string
          description: 'Reserved: TBD'
        canCancelRenewal:
          type: string
          description: 'Reserved: TBD'
        canUpgrade:
          type: string
          description: When set to **true**, specifies that you can upgrade the account through the API.
        connectPermission:
          type: string
          description: ''
        createdDate:
          type: string
          description: ''
        currencyCode:
          type: string
          description: Specifies the ISO currency code of the purchase. This is based on the ISO 4217 currency code information.
        currentPlanId:
          type: string
          description: Identifies the plan that was used create this account.
        distributorCode:
          type: string
          description: The code that identifies the billing plan groups and plans for the new account.
        docuSignLandingUrl:
          type: string
          description: ''
        envelopeSendingBlocked:
          type: string
          description: ''
        envelopeUnitPrice:
          type: string
          description: ''
        externalAccountId:
          type: string
          description: ''
        forgottenPasswordQuestionsCount:
          type: string
          description: ' A complex element that contains up to four Question/Answer pairs for forgotten password information for a user.'
        isDowngrade:
          type: string
          description: ''
        paymentMethod:
          type: string
          description: ''
        planClassification:
          type: string
          description: Identifies the type of plan. Examples include Business, Corporate, Enterprise, Free.
        planEndDate:
          type: string
          description: The date that the current plan will end.
        planName:
          type: string
          description: ''
        planStartDate:
          type: string
          description: The date that the Account started using the current plan.
        seatsAllowed:
          type: string
          description: ''
        seatsInUse:
          type: string
          description: ''
        status21CFRPart11:
          type: string
          description: ''
        suspensionDate:
          type: string
          description: ''
        suspensionStatus:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: accountInformation
      x-ms-summary: ''
    currencyFeatureSetPrice:
      type: object
      properties:
        currencyCode:
          type: string
          description: 'Specifies the alternate ISO currency code for the account. '
        currencySymbol:
          type: string
          description: Specifies the alternate currency symbol for the account.
        envelopeFee:
          type: string
          description: An incremental envelope cost for plans with envelope overages (when `isEnabled` is set to **true**.)
        fixedFee:
          type: string
          description: Specifies a one-time fee associated with the plan (when `isEnabled` is set to **true**.)
        seatFee:
          type: string
          description: Specifies an incremental seat cost for seat-based plans (when `isEnabled` is set to **true**.)
      description: ''
      x-ds-definition-name: currencyFeatureSetPrice
      x-ms-summary: ''
    accountSettingsInformation:
      type: object
      properties:
        accountSettings:
          type: array
          description: 'The list of

            [account settings][accountsettings]

            that determine

            the features available for the account.

            Note that some features are determined

            by the plan used to create the account and cannot be overridden.


            [accountsettings]: https://developers.docusign.com/esign-rest-api/reference/Accounts/Accounts/create/#account-settings

            '
          items:
            $ref: '#/components/schemas/nameValue'
      description: Contains account settings information.
      x-ds-definition-name: accountSettingsInformation
      x-ms-summary: Contains account settings information.
    nameValue:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        name:
          type: string
          description: The name or key of a name/value pair.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        value:
          type: string
          description: The value field of a name/value pair.
      description: ''
      x-ds-definition-name: nameValue
      x-ms-summary: ''
    billingCharge:
      type: object
      properties:
        allowedQuantity:
          type: string
          description: 'Reserved: TBD'
        blocked:
          type: string
          description: 'Reserved: TBD'
        chargeName:
          type: string
          description: 'Provides information on what services the charge item is for.


            The following table provides a description of the different chargeName values available at this time.


            | chargeName | Description |

            | --- | --- |

            | id_check | ID Check Charge |

            | in_person_signing | In Person Signing charge |

            | envelopes Included | Sent Envelopes for the account |

            | age_verify | Age verification check |

            | ofac | OFAC Check |

            | id_confirm | ID confirmation check |

            | student_authentication | STAN PIN authentication check |

            | wet_sign_fax | Pages for returning signed documents by fax |

            | attachment_fax | Pages for returning attachments by fax |

            | phone_authentication | Phone authentication charge |

            | powerforms | PowerForm envelopes sent |

            | signer_payments | Payment processing charge |

            | outbound_fax | Send by fax charge |

            | bulk_recipient_envelopes | Bulk Recipient Envelopes sent |

            | sms_authentications | SMS authentication charge |

            | saml_authentications | SAML authentication charge |

            | express_signer_certificate | DocuSign Express Certificate charge |

            | personal_signer_certificate | Personal Signer Certificate charge |

            | safe_certificate | SAFE BioPharma Signer Certificate charge |

            | seats | Included active seats charge |

            | open_trust_certificate | OpenTrust Signer Certificate charge |'
        chargeType:
          type: string
          description: 'Reserved: TBD'
        chargeUnitOfMeasure:
          type: string
          description: 'Reserved: TBD'
        discounts:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/billingDiscount'
        firstEffectiveDate:
          type: string
          description: ''
        includedQuantity:
          type: string
          description: ''
        incrementalQuantity:
          type: string
          description: 'Reserved: TBD'
        lastEffectiveDate:
          type: string
          description: ''
        prices:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/billingPrice'
        unitPrice:
          type: string
          description: 'Reserved: TBD'
        usedQuantity:
          type: string
          description: ''
      description: Contains information about a billing charge.
      x-ds-definition-name: billingCharge
      x-ms-summary: Contains information about a billing charge.
    provisioningInformation:
      type: object
      properties:
        defaultConnectionId:
          type: string
          description: ''
        defaultPlanId:
          type: string
          description: ''
        distributorCode:
          type: string
          description: The code that identifies the billing plan groups and plans for the new account.
        distributorPassword:
          type: string
          description: The password for the distributorCode.
        passwordRuleText:
          type: string
          description: ''
        planPromotionText:
          type: string
          description: ''
        purchaseOrderOrPromAllowed:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: provisioningInformation
      x-ms-summary: ''
    AccountSummary:
      type: object
      properties:
        companyId:
          type: integer
          description: The ID of the company.
          format: int32
          readOnly: true
        name:
          type: string
          description: The name of the company.
          readOnly: true
        companyVersion:
          type: string
          description: 'The version of Rooms that the company uses. This property is read-only. Possible values are:


            - `v6`: Rooms Version 6.'
          enum:
          - v5
          - v6
        docuSignAccountGuid:
          type: string
          description: The globally-unique identifier (GUID) for the DocuSign Rooms account.
          readOnly: true
        defaultFieldSetId:
          type: string
          description: The ID of the company's default field set. A field set is a set of data fields and the information about those data fields that the system uses to configure rooms. It corresponds to the **Admin > Company > Room Details** area in the console.
          format: uuid
          readOnly: true
        requireOfficeLibraryAssignments:
          type: boolean
          description: ''
          readOnly: true
      description: Contains details about a company account.
      x-ds-definition-name: AccountSummary
      x-ms-summary: Contains details about a company account.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
x-refined-from:
- docusign-openapi-original.yml
- docusign-rooms-openapi-original.yml
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
