openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands SigningGroupUsers API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: SigningGroupUsers
  description: The SigningGroupUsers resource provides methods that allow you to manage users in Signing Groups.
paths:
  /v2/accounts/{accountId}/signing_groups/{signingGroupId}/users:
    get:
      tags:
      - SigningGroupUsers
      summary: Docusign Gets a list of members in a Signing Group.
      description: Retrieves the list of members in the specified Signing Group.
      operationId: SigningGroups_GetSigningGroupUsers
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: signingGroupId
        in: path
        description: 'Optional. The ID of the [signing group](https://support.docusign.com/en/guides/ndse-user-guide-signing-groups).


          **Note**: When you send an envelope to a signing group, anyone in the group can open it and sign it with their own signature. For this reason, we recommend that you do not include non-signer recipients (such as carbon copy recipients) in the same signing group as signer recipients. However, you could create a second signing group for the non-signer recipients and change the default action of Needs to Sign to a different value, such as Receives a Copy. '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/signingGroupUsers'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listUsers
      x-ds-method: list
      x-ds-service: SigningGroups
      x-ds-in-sdk: true
    put:
      tags:
      - SigningGroupUsers
      summary: Docusign Adds members to a signing group.
      description: 'Adds one or more new members to a signing group. A signing group can have a maximum of 50 members. '
      operationId: SigningGroups_PutSigningGroupUsers
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: signingGroupId
        in: path
        description: 'Optional. The ID of the [signing group](https://support.docusign.com/en/guides/ndse-user-guide-signing-groups).


          **Note**: When you send an envelope to a signing group, anyone in the group can open it and sign it with their own signature. For this reason, we recommend that you do not include non-signer recipients (such as carbon copy recipients) in the same signing group as signer recipients. However, you could create a second signing group for the non-signer recipients and change the default action of Needs to Sign to a different value, such as Receives a Copy. '
        required: true
        schema:
          type: string
      requestBody:
        description: A complex type that contains information about users in the signing group.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signingGroupUsers'
          application/xml:
            schema:
              $ref: '#/components/schemas/signingGroupUsers'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/signingGroupUsers'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateUsers
      x-ds-method: update
      x-ds-service: SigningGroups
      x-ds-in-sdk: true
      x-codegen-request-body-name: signingGroupUsers
    delete:
      tags:
      - SigningGroupUsers
      summary: Docusign Deletes  one or more members from a signing group.
      description: 'Deletes  one or more members from the specified signing group. '
      operationId: SigningGroups_DeleteSigningGroupUsers
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: signingGroupId
        in: path
        description: 'Optional. The ID of the [signing group](https://support.docusign.com/en/guides/ndse-user-guide-signing-groups).


          **Note**: When you send an envelope to a signing group, anyone in the group can open it and sign it with their own signature. For this reason, we recommend that you do not include non-signer recipients (such as carbon copy recipients) in the same signing group as signer recipients. However, you could create a second signing group for the non-signer recipients and change the default action of Needs to Sign to a different value, such as Receives a Copy. '
        required: true
        schema:
          type: string
      requestBody:
        description: A complex type that contains information about users in the signing group.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signingGroupUsers'
          application/xml:
            schema:
              $ref: '#/components/schemas/signingGroupUsers'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/signingGroupUsers'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteUsers
      x-ds-method: delete
      x-ds-service: SigningGroups
      x-ds-in-sdk: true
      x-codegen-request-body-name: signingGroupUsers
components:
  schemas:
    signingGroupUser:
      type: object
      properties:
        email:
          type: string
          description: ''
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        userName:
          type: string
          description: "The name of the group member. \n\nMaximum Length: 100 characters. "
      description: ''
      x-ds-definition-name: signingGroupUser
      x-ms-summary: ''
    signingGroupUsers:
      type: object
      properties:
        users:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/signingGroupUser'
      description: ''
      x-ds-definition-name: signingGroupUsers
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
