openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands OriginsOfLeads API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: OriginsOfLeads
  description: In the console, these are the values that can appear on a room's **Details** tab in the **Origin of lead** field.
paths:
  /v2/origins_of_leads:
    get:
      tags:
      - OriginsOfLeads
      summary: Docusign Gets origins of leads.
      description: 'Returns a list of origins of leads (such as Trulia or Zillow) that you can specify for rooms.


        ## Permissions


        Anyone with a valid access token can call this method.'
      operationId: OriginsOfLeads_GetOriginsOfLeads
      responses:
        '200':
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalOriginsOfLeads'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalOriginsOfLeads'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalOriginsOfLeads'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalOriginsOfLeads'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalOriginsOfLeads'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetOriginsOfLeads
      x-ds-method: GetOriginsOfLeads
      x-ds-service: OriginsOfLeads
      x-ds-in-sdk: true
components:
  schemas:
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    GlobalOriginsOfLeads:
      type: object
      properties:
        originsOfLeads:
          type: array
          description: A list of origins of leads.
          items:
            $ref: '#/components/schemas/OriginOfLead'
      description: Contains a list of origins of leads.
      x-ds-definition-name: GlobalOriginsOfLeads
      x-ms-summary: Contains a list of origins of leads.
    OriginOfLead:
      type: object
      properties:
        originOfLeadId:
          type: string
          description: 'The ID of the origin of lead.


            Example: `tru` (for `Trulia`)'
        name:
          type: string
          description: 'The name of the origin of lead. Possible values are:


            - `Realtor.com`

            - `Trulia`

            - `Zillow`

            - `Company Website`

            - `Agent Website`

            - `Other Online`

            - `Mobile App`

            - `Social Media`

            - `Personal Referral`

            - `Company Referral`

            - `Repeat Client`

            - `Corporate Relocation`

            - `Print Marketing`

            - `Prospecting`

            - `Other`

            - `REO (Real Estate Owned)`'
      description: Contains information about an origin of lead.
      x-ds-definition-name: OriginOfLead
      x-ms-summary: Contains information about an origin of lead.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
