openapi: 3.2.0
info:
  title: DocuSign REST Account Brands API
  description: The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://www.docusign.net/restapi
tags:
- name: AccountBrands
  description: 'The AcccountBrands resource provides methods that allow you to create and delete the account brand associated with an account.


    Branding allows you to add the look and feel of your organization''s

    brand to the sending, signing, and email process making it easier for users to identify envelopes coming from your organization.


    The DocuSign Account Custom Branding feature lets you set the colors, logo, and text for your account. You can create any number of brand profiles with different settings to reflect each of your corporate brands or different internal divisions or departments.


    When you create or change a branding profile, it applies to everyone using that profile and affects all envelopes sent with that profile.'
paths:
  /v2/accounts/{accountId}/brands:
    get:
      tags:
      - AccountBrands
      summary: Docusign Gets a list of brand profiles.
      description: Retrieves the list of brand profiles associated with the account and the default brand profiles. The Account Branding feature (accountSettings properties `canSelfBrandSend` and `canSelfBrandSend`)  must be set to **true** for the account to use this call.
      operationId: Brands_GetBrands
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: exclude_distributor_brand
        in: query
        description: When set to **true**, excludes distributor brand information from the response set.
        schema:
          type: string
      - name: include_logos
        in: query
        description: When set to **true**, returns the logos associated with the brand.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountBrands'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listBrands
      x-ds-method: list
      x-ds-service: Accounts
      x-ds-in-sdk: true
    post:
      tags:
      - AccountBrands
      summary: Docusign Creates one or more brand profile files for the account.
      description: 'Creates one or more brand profile files for the account. The Account Branding feature (accountSettings properties `canSelfBrandSend` and `canSelfBrandSig`) must be set to **true** for the account to use this call.


        An error is returned if `brandId` property for a brand profile is already set for the account. To upload a new version of an existing brand profile, you must delete the profile and then upload the newer version.


        When brand profile files are being uploaded, they must be combined into one zip file and the `Content-Type` must be `application/zip`.'
      operationId: Brands_PostBrands
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/brand'
          application/xml:
            schema:
              $ref: '#/components/schemas/brand'
        required: false
      responses:
        '201':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountBrands'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: createBrand
      x-ds-method: create
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: brand
    delete:
      tags:
      - AccountBrands
      summary: Docusign Deletes one or more brand profiles.
      description: Deletes one or more brand profiles from an account. The Account Branding feature (accountSettings properties `canSelfBrandSend` and `canSelfBrandSend`) must be set to **true** to use this call.
      operationId: Brands_DeleteBrands
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/brandsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/brandsRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountBrands'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteBrands
      x-ds-method: deleteList
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: brandsRequest
  /v2/accounts/{accountId}/brands/{brandId}:
    get:
      tags:
      - AccountBrands
      summary: Docusign Get information for a specific brand.
      operationId: Brand_GetBrand
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      - name: include_external_references
        in: query
        schema:
          type: string
      - name: include_logos
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/brand'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getBrand
      x-ds-method: get
      x-ds-service: Accounts
      x-ds-in-sdk: true
    put:
      tags:
      - AccountBrands
      summary: Docusign Updates an existing brand.
      operationId: Brand_PutBrand
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/brand'
          application/xml:
            schema:
              $ref: '#/components/schemas/brand'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/brand'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateBrand
      x-ds-method: update
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: brand
    delete:
      tags:
      - AccountBrands
      summary: Docusign Removes a brand.
      operationId: Brand_DeleteBrand
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteBrand
      x-ds-method: delete
      x-ds-service: Accounts
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/brands/{brandId}/file:
    get:
      tags:
      - AccountBrands
      summary: Docusign Export a specific brand.
      operationId: BrandExport_GetBrandExportFile
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getBrandExportFile
      x-ds-method: getExportFile
      x-ds-service: Accounts
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/brands/{brandId}/logos/{logoType}:
    get:
      tags:
      - AccountBrands
      summary: Docusign Obtains the specified image for a brand.
      operationId: BrandLogo_GetBrandLogo
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      - name: logoType
        in: path
        description: One of **Primary**, **Secondary** or **Email**.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Error encountered.
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getBrandLogoByType
      x-ds-method: getLogo
      x-ds-service: Accounts
      x-ds-in-sdk: true
    put:
      tags:
      - AccountBrands
      summary: Docusign Put one branding logo.
      operationId: BrandLogo_PutBrandLogo
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      - name: logoType
        in: path
        description: One of **Primary**, **Secondary** or **Email**.
        required: true
        schema:
          type: string
      requestBody:
        description: 'Brand logo binary Stream. Supported formats: JPG, GIF, PNG. Maximum file size: 300 KB. Recommended dimensions: 296 x 76 pixels (larger images will be resized). Changes may take up to one hour to display in all places'
        content:
          image/png:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateBrandLogoByType
      x-ds-method: updateLogo
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: logoFileBytes
    delete:
      tags:
      - AccountBrands
      summary: Docusign Delete one branding logo.
      operationId: BrandLogo_DeleteBrandLogo
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      - name: logoType
        in: path
        description: One of **Primary**, **Secondary** or **Email**.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteBrandLogoByType
      x-ds-method: deleteLogo
      x-ds-service: Accounts
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/brands/{brandId}/resources:
    get:
      tags:
      - AccountBrands
      summary: Docusign Returns the specified account's list of branding resources (metadata).
      operationId: BrandResources_GetBrandResourcesList
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/brandResourcesList'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getBrandResources
      x-ds-method: listResources
      x-ds-service: Accounts
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/brands/{brandId}/resources/{resourceContentType}:
    get:
      tags:
      - AccountBrands
      summary: Docusign Returns the specified branding resource file.
      operationId: BrandResources_GetBrandResources
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      - name: resourceContentType
        in: path
        required: true
        schema:
          type: string
      - name: langcode
        in: query
        schema:
          type: string
      - name: return_master
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getBrandResourcesByContentType
      x-ds-method: getResource
      x-ds-service: Accounts
      x-ds-in-sdk: true
    put:
      tags:
      - AccountBrands
      summary: Docusign Uploads a branding resource file.
      operationId: BrandResources_PutBrandResources
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: brandId
        in: path
        description: The unique identifier of a brand.
        required: true
        schema:
          type: string
      - name: resourceContentType
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file.xml
              type: object
              properties:
                file.xml:
                  type: string
                  description: Brand resource XML file.
                  format: binary
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/brandResources'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateBrandResourcesByContentType
      x-ds-method: updateResource
      x-ds-service: Accounts
      x-ds-in-sdk: true
components:
  schemas:
    brandResources:
      type: object
      properties:
        createdByUserInfo:
          $ref: '#/components/schemas/userInfo'
        createdDate:
          type: string
          description: ''
        modifiedByUserInfo:
          $ref: '#/components/schemas/userInfo'
        modifiedDate:
          type: string
          description: ''
        modifiedTemplates:
          type: array
          description: ''
          items:
            type: string
        resourcesContentType:
          type: string
          description: ''
        resourcesContentUri:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandResources
      x-ms-summary: ''
    brandLogos:
      type: object
      properties:
        email:
          type: string
          description: ''
        primary:
          type: string
          description: ''
        secondary:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandLogos
      x-ms-summary: ''
    brandLink:
      type: object
      properties:
        linkText:
          type: string
          description: ''
        linkType:
          type: string
          description: ''
        showLink:
          type: string
          description: ''
        urlOrMailTo:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandLink
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    brandResourcesList:
      type: object
      properties:
        resourcesContentTypes:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/brandResources'
      description: ''
      x-ds-definition-name: brandResourcesList
      x-ms-summary: ''
    brandResourceUrls:
      type: object
      properties:
        email:
          type: string
          description: ''
        sending:
          type: string
          description: ''
        signing:
          type: string
          description: ''
        signingCaptive:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandResourceUrls
      x-ms-summary: ''
    brand:
      type: object
      properties:
        brandCompany:
          type: string
          description: The name of the company associated with this brand.
        brandId:
          type: string
          description: The ID used to identify a specific brand in API calls.
        brandName:
          type: string
          description: The name of the brand.
        colors:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        emailContent:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/brandEmailContent'
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        isOverridingCompanyName:
          type: string
          description: ''
        isSendingDefault:
          type: string
          description: ''
        isSigningDefault:
          type: string
          description: ''
        landingPages:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        links:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/brandLink'
        logos:
          $ref: '#/components/schemas/brandLogos'
        resources:
          $ref: '#/components/schemas/brandResourceUrls'
      description: ''
      x-ds-definition-name: brand
      x-ms-summary: ''
    nameValue:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        name:
          type: string
          description: The name or key of a name/value pair.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        value:
          type: string
          description: The value field of a name/value pair.
      description: ''
      x-ds-definition-name: nameValue
      x-ms-summary: ''
    userInfo:
      type: object
      properties:
        activationAccessCode:
          type: string
          description: ''
        email:
          type: string
          description: ''
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        loginStatus:
          type: string
          description: ''
        sendActivationEmail:
          type: string
          description: ''
        uri:
          type: string
          description: ''
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        userName:
          type: string
          description: ''
        userStatus:
          type: string
          description: 'Status of the user''s account. One of:


            * ActivationRequired

            * ActivationSent

            * Active

            * Closed

            * Disabled

            '
        userType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: userInfo
      x-ms-summary: ''
    brandEmailContent:
      type: object
      properties:
        content:
          type: string
          description: ''
        emailContentType:
          type: string
          description: ''
        emailToLink:
          type: string
          description: ''
        linkText:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandEmailContent
      x-ms-summary: ''
    brandsRequest:
      type: object
      properties:
        brands:
          type: array
          description: The list of brands.
          items:
            $ref: '#/components/schemas/brandRequest'
      description: ''
      x-ds-definition-name: brandsRequest
      x-ms-summary: ''
    brandRequest:
      type: object
      properties:
        brandId:
          type: string
          description: The ID of the brand used in API calls
      description: ''
      x-ds-definition-name: brandRequest
      x-ms-summary: ''
    AccountBrands:
      type: object
      properties:
        brands:
          type: array
          description: The list of brands.
          items:
            $ref: '#/components/schemas/brand'
        recipientBrandIdDefault:
          type: string
          description: The brand seen by envelope recipients when a brand is not explicitly set.
        senderBrandIdDefault:
          type: string
          description: The brand seen by envelope senders when a brand is not explicitly set.
      description: Brand management for accounts
      x-ds-definition-name: brandsResponse
      x-ds-category: Accounts
      x-ds-order: '10'
      x-ms-summary: Brand management for accounts
externalDocs:
  description: See the DocuSign REST API Guide for more information.
  url: https://docs.docusign.com/esign
x-ds-allow-editing: false
x-ds-categories:
- name: Authentication
  summary: Logging in and authentication
  description: 'Use the Authentication category to manage various account login tasks including:


    * Getting login information for a user.

    * Managing linked social accounts.

    * Getting and revoking OAuth tokens.'
- name: Envelopes
  summary: Creating and sending envelopes
  description: 'The DocuSign API Envelope category includes the resources and methods for sending and managing envelopes and envelope data.


    Envelopes are the key objects within the DocuSign eSignature system. As a result, they are complex data structures with few required fields. See the [API Recipes](https://www.docusign.com/developer-center/recipes) for use case examples and their solutions.


    To create and send envelopes, see the [Envelopes resource](Envelopes).


    '
- name: Connect
  summary: Connect configuration and logging
  description: "The Connect category enables your application to be called via HTTPS when an event of interest occurs.\n\nUse the Connect service to \"end the polling madness.\" With Connect, there is no need for your application to poll DocuSign every 15 minutes to learn the latest about your envelopes.\n\nInstead, you register your interest in one or more types of envelope or recipient events. Then, when an interesting event occurs, the DocuSign platform will contact your application with the event's details and data. You can register interest in envelopes sent by particular users in your account, or for envelopes sent by any user.\n\n## Incoming Connect Calls\nTo use the Connect service, your application needs to provide an https url that can be called from the public internet. If your application runs on a server behind your organization's firewall, then you will need to create a \"pinhole\" in the firewall to allow the incoming Connect calls from DocuSign to reach your application. Other techniques for receiving the incoming calls including proxy servers and DMZ networking can also be used. \n\n## Per-envelope Connect Configuration\nInstead of registering a general Connect configuration and listener, an individual envelope can have its own Connect configuration. See the `eventNotification` field for envelopes.\n\n## Categories\nUse the Connect category for:\n\n* Programmatically creating Connect configurations. Connect configurations can be created manually by using the DocuSign web service, or programmatically via the API. Configurations created via the API can be seen and updated from the web service.\n* Retrieving and managing the event log for your Connect configurations. \n* Requesting that an event be re-published to the listener."
- name: Templates
  summary: Template creation and management
  description: 'Use the Templates category to manage your account''s templates.


    You can:


    * Create, list, get, update, and delete templates.

    * Manage templates'' notification and group sharing settings.

    * Fetch and rotate pages from a document used by a template.


    Templates can be created programmatically or can be created via the DocuSign web interface and then used by your application.'
- name: SigningGroups
  summary: Send a signing request to a group of potential signers
  description: 'Use the SigningGroup category to manage signing groups that allow you anyone in the group to sign a document.


    The category allows you create the signing group and manage the users in the group.'
- name: Folders
  summary: Folders for completed envelopes
  description: "Use the Folders category to manage envelopes in your folders. \n\nYou can list the folder contents and move envelopes between folders."
- name: CustomTabs
  summary: Custom tabs
  description: "Custom Tabs enable accounts to have one or more pre-configured (custom) tabs. Custom tabs save time when users are tagging documents since the users don't have to manually set the tabs' parameters.\n\nThis category enables custom tabs to be managed programmatically, including creation, deletion, etc. \n"
- name: CloudStorage
  summary: Cloud storage providers and user management
  description: 'Use the Cloud Storage category to list the user''s cloud storage document contents.


    It is also used to manage the user''s authentication/accounts with cloud storage service providers.'
- name: Users
  summary: User management
  description: 'Use the Users category to manage the users in your accounts.


    You can:


    * Set custom user settings.

    * Manage a users profile.

    * Add delete users.

    * Add and delete the intials and signature images for a user.'
- name: UserGroups
  summary: Group users for common permissions and branding
  description: 'Use the User Groups category to manage your permissions groups.


    You can:


    * Create and delete groups.

    * Add users to, and delete users from, your groups.

    * Manage the brand information associated with a group.'
- name: Accounts
  summary: Account management
  description: "Use the Account category for various account management tasks including:\n\n* Programmatically creating and deleting accounts.\n* Getting information about an account and its capabilities.\n* Branding the account with custom colors, message text, and more.\n* Account charges.\n\nThe Account category also includes end points for \n* Listing the recipient names associated with an email address that was used by the account. For example, a single email address is often shared by mulitple members of a family.\n\n\n"
- name: Billing
  summary: Invoices
  description: 'Use the Billing category to manage the following billing related tasks:


    * Retrieve and update billing plan information.

    * Retrieve invoices.

    * Retrieve and update payment information.'
- name: Diagnostics
  summary: Diagnostics and request logging
  description: 'The Diagnostics category provides miscellaneous end points.


    They include:

    * Requesting and managing the API call-logging feature. (Perfect for debugging your app!)

    * Getting information on the API''s resources and versions.'
- name: PowerForms
  summary: PowerForm creation and management
  description: The PowerForms category enables PowerForms to be created and managed.
- name: Workspaces
  summary: Workspace creation and management
  description: 'Workspaces creation and management.


    '
- name: Payments
  summary: Manage Payments
  description: This category includes resources for managing payment gateways. Payment information is added to envelopes via methods in the Envelopes category.
- name: Signature
  summary: ''
  description: ''
x-original-swagger-version: '2.0'
