openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands SpecialCircumstanceTypes API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: SpecialCircumstanceTypes
  description: ''
paths:
  /v2/special_circumstance_types:
    get:
      tags:
      - SpecialCircumstanceTypes
      summary: Docusign Gets special circumstance types.
      description: 'Returns a list of special circumstance types, such as `Short Sale` and `Foreclosure`. These are the values that you can select for the **Special circumstances** field that appears on the **Room Details** page.


        ## Permissions


        Anyone with a valid access token can call this method.'
      operationId: SpecialCircumstanceTypes_GetSpecialCircumstanceTypes
      responses:
        '200':
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalSpecialCircumstanceTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalSpecialCircumstanceTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalSpecialCircumstanceTypes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalSpecialCircumstanceTypes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalSpecialCircumstanceTypes'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetSpecialCircumstanceTypes
      x-ds-method: GetSpecialCircumstanceTypes
      x-ds-service: SpecialCircumstanceTypes
      x-ds-in-sdk: true
components:
  schemas:
    GlobalSpecialCircumstanceTypes:
      type: object
      properties:
        specialCircumstanceTypes:
          type: array
          description: A list of special circumstance types.
          items:
            $ref: '#/components/schemas/SpecialCircumstanceType'
      description: Contains a list of special circumstance types.
      x-ds-definition-name: GlobalSpecialCircumstanceTypes
      x-ms-summary: Contains a list of special circumstance types.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    SpecialCircumstanceType:
      type: object
      properties:
        specialCircumstanceTypeId:
          type: string
          description: 'The ID of the special circumstance type.


            Example: `ss` (for `Short Sale`)'
        name:
          type: string
          description: 'The name of the special circumstance type. Possible values are:


            - `Short Sale`

            - `Foreclosure`

            - `Corporate Owned`

            - `Historical`

            - `Investor Owned`

            - `HUD`

            - `Estate Sale`

            - `Relocation`

            - `Contingency`'
      description: Contains information about a special circumstance type.
      x-ds-definition-name: SpecialCircumstanceType
      x-ms-summary: Contains information about a special circumstance type.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
