openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands Groups API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: Groups
  description: 'The Groups resource provides methods that allow you to manage groups for the account.


    Groups can be used to help manage users by associating users with a group. A group can be associated with a Permission Profile, which sets the user permissions for users in that group without having to set the `userSettings` property for each user. You are not required to set Permission Profiles for a group, but this makes it easier to manage user permissions for a large number of users. Groups can also be used with template sharing to limit user access to templates.'
paths:
  /v2/accounts/{accountId}/groups:
    get:
      tags:
      - Groups
      summary: Docusign Gets information about groups associated with the account.
      description: Retrieves information about groups associated with the account.
      operationId: Groups_GetGroups
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: Number of records to return. The number must be greater than 1 and less than or equal to 100.
        schema:
          type: string
      - name: group_type
        in: query
        schema:
          type: string
      - name: search_text
        in: query
        schema:
          type: string
      - name: start_position
        in: query
        description: Starting value for the list.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/groupInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listGroups
      x-ds-method: list
      x-ds-service: Groups
      x-ds-in-sdk: true
    put:
      tags:
      - Groups
      summary: Docusign Updates the group information for a group.
      description: Updates the group name and modifies, or sets, the permission profile for the group.
      operationId: Groups_PutGroups
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/groupInformation'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/groupInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateGroups
      x-ds-method: update
      x-ds-service: Groups
      x-ds-in-sdk: true
      x-codegen-request-body-name: groupInformation
    post:
      tags:
      - Groups
      summary: Docusign Creates one or more groups for the account.
      description: 'Creates one or more groups for the account.


        Groups can be used to help manage users by associating users with a group. You can associate a group with a Permission Profile, which sets the user permissions for users in that group without having to set the `userSettings` property for each user. You are not required to set Permission Profiles for a group, but it makes it easier to manage user permissions for a large number of users. You can also use groups with template sharing to limit user access to templates.'
      operationId: Groups_PostGroups
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/groupInformation'
        required: false
      responses:
        '201':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/groupInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: createGroups
      x-ds-method: create
      x-ds-service: Groups
      x-ds-in-sdk: true
      x-codegen-request-body-name: groupInformation
    delete:
      tags:
      - Groups
      summary: Docusign Deletes an existing user group.
      description: Deletes an existing user group.
      operationId: Groups_DeleteGroups
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/groupInformation'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/groupInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteGroups
      x-ds-method: delete
      x-ds-service: Groups
      x-ds-in-sdk: true
      x-codegen-request-body-name: groupInformation
components:
  schemas:
    group:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        groupId:
          type: string
          description: The DocuSign group ID for the group.
        groupName:
          type: string
          description: The name of the group.
        groupType:
          type: string
          description: The group type.
        permissionProfileId:
          type: string
          description: The ID of the permission profile associated with the group.
        users:
          type: array
          description: List of users in the group.
          items:
            $ref: '#/components/schemas/userInfo'
      description: Information about groups.
      x-ds-definition-name: group
      x-ms-summary: Information about groups.
    groupInformation:
      type: object
      properties:
        endPosition:
          type: string
          description: 'The last position in the result set. '
        groups:
          type: array
          description: A collection group objects containing information about the groups returned.
          items:
            $ref: '#/components/schemas/group'
        nextUri:
          type: string
          description: 'The URI for the next chunk of records based on the search request. It is `null` if this is the last set of results for the search. '
        previousUri:
          type: string
          description: 'The URI for the prior chunk of records based on the search request. It is `null` if this is the first set of results for the search. '
        resultSetSize:
          type: string
          description: 'The number of results returned in this response. '
        startPosition:
          type: string
          description: Starting position of the current result set.
        totalSetSize:
          type: string
          description: The total number of items in the search's result set. It will always be greater than or equal to the value of the `resultSetSize` field.
      description: ''
      x-ds-definition-name: groupInformation
      x-ms-summary: ''
    userInfo:
      type: object
      properties:
        activationAccessCode:
          type: string
          description: ''
        email:
          type: string
          description: ''
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        loginStatus:
          type: string
          description: ''
        sendActivationEmail:
          type: string
          description: ''
        uri:
          type: string
          description: ''
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        userName:
          type: string
          description: ''
        userStatus:
          type: string
          description: 'Status of the user''s account. One of:


            * ActivationRequired

            * ActivationSent

            * Active

            * Closed

            * Disabled

            '
        userType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: userInfo
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
