openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands PowerForms API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: PowerForms
  description: 'The PowerForms resource provides methods that allow you to manage power forms.

    '
paths:
  /v2/accounts/{accountId}/powerforms:
    get:
      tags:
      - PowerForms
      summary: Docusign Returns the list of PowerForms available to the user.
      operationId: PowerForms_GetPowerFormsList
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: from_date
        in: query
        description: Start of the search date range. Only returns templates created on or after this date/time. If no value is specified, there is no limit on the earliest date created.
        schema:
          type: string
      - name: order
        in: query
        description: "An optional value that sets the direction order used to sort the item list. \n\nValid values are: \n\n* asc = ascending sort order\n* desc = descending sort order "
        schema:
          type: string
      - name: order_by
        in: query
        description: "An optional value that sets the file attribute used to sort the item list. \n\nValid values are: \n\n* modified\n* name  "
        schema:
          type: string
      - name: to_date
        in: query
        description: End of the search date range. Only returns templates created up to this date/time. If no value is provided, this defaults to the current date.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/powerFormsResponse'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listPowerForms
      x-ds-method: list
      x-ds-service: PowerForms
      x-ds-in-sdk: true
    post:
      tags:
      - PowerForms
      summary: Docusign Creates a new PowerForm.
      operationId: PowerForms_PostPowerForm
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/powerForm'
          application/xml:
            schema:
              $ref: '#/components/schemas/powerForm'
        required: false
      responses:
        '201':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/powerForm'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: createPowerForm
      x-ds-method: create
      x-ds-service: PowerForms
      x-ds-in-sdk: true
      x-codegen-request-body-name: powerForm
    delete:
      tags:
      - PowerForms
      summary: Docusign Deletes one or more PowerForms
      operationId: PowerForms_DeletePowerFormsList
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/powerFormsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/powerFormsRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/powerFormsResponse'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deletePowerForms
      x-ds-method: deleteList
      x-ds-service: PowerForms
      x-ds-in-sdk: true
      x-codegen-request-body-name: powerFormsRequest
  /v2/accounts/{accountId}/powerforms/{powerFormId}:
    get:
      tags:
      - PowerForms
      summary: Docusign Returns a single PowerForm.
      operationId: PowerForms_GetPowerForm
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: powerFormId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/powerForm'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getPowerForm
      x-ds-method: get
      x-ds-service: PowerForms
      x-ds-in-sdk: true
    put:
      tags:
      - PowerForms
      summary: Docusign Creates a new PowerForm.
      operationId: PowerForms_PutPowerForm
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: powerFormId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/powerForm'
          application/xml:
            schema:
              $ref: '#/components/schemas/powerForm'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/powerForm'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updatePowerForm
      x-ds-method: update
      x-ds-service: PowerForms
      x-ds-in-sdk: true
      x-codegen-request-body-name: powerForm
    delete:
      tags:
      - PowerForms
      summary: Docusign Delete a PowerForm.
      operationId: PowerForms_DeletePowerForm
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: powerFormId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deletePowerForm
      x-ds-method: delete
      x-ds-service: PowerForms
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/powerforms/senders:
    get:
      tags:
      - PowerForms
      summary: Docusign Returns the list of PowerForms available to the user.
      operationId: PowerForms_GetPowerFormsSenders
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: start_position
        in: query
        description: The position within the total result set from which to start returning values. The value **thumbnail** may be used to return the page image.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/powerFormSendersResponse'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listPowerFormSenders
      x-ds-method: listSenders
      x-ds-service: PowerForms
      x-ds-in-sdk: true
components:
  schemas:
    samlAssertionAttribute:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        name:
          type: string
          description: ''
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        value:
          type: string
          description: The value associated with the named SAML assertion attribute
      description: ''
      x-ds-definition-name: samlAssertionAttribute
      x-ms-summary: ''
    company:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maxLength:
          type: integer
          description: An optional value that describes the maximum length of the property when the property is a string.
          format: int32
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: Specifies the tool tip text for the tab.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the recipient''s company name.

        '
      x-ds-definition-name: company
      x-ms-summary: 'A tab that displays the recipient''s company name.

        '
    recipientProofFile:
      type: object
      properties:
        isInProofFile:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: recipientProofFile
      x-ms-summary: ''
    radioGroup:
      type: object
      properties:
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        groupName:
          type: string
          description: The name of the group. The search_text provided in the call automatically performs a wild card search on group_name.
        radios:
          type: array
          description: Specifies the locations and status for radio buttons that are grouped together.
          items:
            $ref: '#/components/schemas/radio'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
      description: 'This group tab is used to place radio buttons on a document.

        The `radios` property

        contains a list of

        [`radio`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radio)

        objects  associated with the group. Only one radio button can

        be selected in a group.

        '
      x-ds-definition-name: radioGroup
      x-ms-summary: 'This group tab is used to place radio buttons on a document.

        The `radios` property

        contains a list of

        [`radio`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radio)

        objects  associated with the group. Only one radio button can

        be selected in a group.

        '
    dobInformationInput:
      type: object
      properties:
        dateOfBirth:
          type: string
          description: Specifies the recipient's date, month, and year of birth.
        displayLevelCode:
          type: string
          description: "Specifies the display level for the recipient. \nValid values are: \n\n* ReadOnly\n* Editable\n* DoNotDisplay"
        receiveInResponse:
          type: string
          description: When set to **true**, the information needs to be returned in the response.
      description: 'Complex type containing:


        * dateOfBirth

        * displayLevelCode

        * receiveInResponse'
      x-ds-definition-name: dobInformationInput
      x-ms-summary: 'Complex type containing:


        * dateOfBirth

        * displayLevelCode

        * receiveInResponse'
    dateSigned:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the date that the recipient signed the

        document.

        '
      x-ds-definition-name: dateSigned
      x-ms-summary: 'A tab that displays the date that the recipient signed the

        document.

        '
    ssn4InformationInput:
      type: object
      properties:
        displayLevelCode:
          type: string
          description: "Specifies the display level for the recipient. \nValid values are: \n\n* ReadOnly\n* Editable\n* DoNotDisplay"
        receiveInResponse:
          type: string
          description: When set to **true**, the information needs to be returned in the response.
        ssn4:
          type: string
          description: The last four digits of the recipient's Social Security Number (SSN).
      description: ''
      x-ds-definition-name: ssn4InformationInput
      x-ms-summary: ''
    editor:
      type: object
      properties:
        accessCode:
          type: string
          description: "If a value is provided, the recipient must enter the value as the access code to view and sign the envelope. \n\nMaximum Length: 50 characters and it must conform to the account's access code format setting.\n\nIf blank, but the signer `accessCode` property is set in the envelope, then that value is used.\n\nIf blank and the signer `accessCode` property is not set, then the access code is not required."
        addAccessCodeToEmail:
          type: string
          description: This Optional attribute indicates that the access code will be added to the email sent to the recipient; this nullifies the Security measure of Access Code on the recipient.
        clientUserId:
          type: string
          description: "Specifies whether the recipient is embedded or remote. \n\nIf the `clientUserId` property is not null then the recipient is embedded. Use this field to associate the signer with their userId in your app. Authenticating the user is the responsibility of your app when you use embedded signing.\n\nNote: if the `clientUserId` property is set and either `SignerMustHaveAccount` or `SignerMustLoginToSign` property of the account settings is set to  **true**, an error is generated on sending. \n\nMaximum length: 100 characters. "
        customFields:
          type: array
          description: An optional array of strings that allows the sender to provide custom data about the recipient. This information is returned in the envelope status but otherwise not used by DocuSign. Each customField string can be a maximum of 100 characters.
          items:
            type: string
        declinedDateTime:
          type: string
          description: The date and time the recipient declined the document. Read only.
        declinedReason:
          type: string
          description: The reason the recipient declined the document. Read only.
        deliveredDateTime:
          type: string
          description: 'Reserved: For DocuSign use only.'
        deliveryMethod:
          type: string
          description: 'Reserved: For DocuSign use only.'
        documentVisibility:
          type: array
          description: A list of `documentVisibility` objects. Each object in the list specifies whether a document in the envelope is visible to this recipient. For the envelope to use this functionality, Document Visibility must be enabled for the account and the `enforceSignerVisibility` property must be set to **true**.
          items:
            $ref: '#/components/schemas/documentVisibility'
        email:
          type: string
          description: "Email id of the recipient. Notification of the document to sign is sent to this email id. \n\nMaximum length: 100 characters. "
        emailNotification:
          $ref: '#/components/schemas/recipientEmailNotification'
        emailRecipientPostSigningURL:
          type: string
          description: ''
        embeddedRecipientStartURL:
          type: string
          description: "Specifies a sender provided valid URL string for redirecting an embedded recipient. When using this option, the embedded recipient still receives an email from DocuSign, just as a remote recipient would. When the document link in the email is clicked the recipient is redirected, through DocuSign, to the supplied URL to complete their actions. When routing to the URL, the sender's system (the server responding to the URL) must request a recipient token to launch a signing session. \n\nIf set to `SIGN_AT_DOCUSIGN`, the recipient is directed to an embedded signing or viewing process directly at DocuSign. The signing or viewing action is initiated by the DocuSign system and the transaction activity and Certificate of Completion records will reflect this. In all other ways the process is identical to an embedded signing or viewing operation that is launched by any partner.\n\nIt is important to remember that in a typical embedded workflow the authentication of an embedded recipient is the responsibility of the sending application, DocuSign expects that senders will follow their own process for establishing the recipient's identity. In this workflow the recipient goes through the sending application before the embedded signing or viewing process in initiated. However, when the sending application sets `EmbeddedRecipientStartURL=SIGN_AT_DOCUSIGN`, the recipient goes directly to the embedded signing or viewing process bypassing the sending application and any authentication steps the sending application would use. In this case, DocuSign recommends that you use one of the normal DocuSign authentication features (Access Code, Phone Authentication, SMS Authentication, etc.) to verify the identity of the recipient.\n\nIf the `clientUserId` property is NOT set, and the `embeddedRecipientStartURL` is set, DocuSign will ignore the redirect URL and launch the standard signing process for the email recipient. Information can be appended to the embedded recipient start URL using merge fields. The available merge fields items are: envelopeId, recipientId, recipientName, recipientEmail, and customFields. The `customFields` property must be set fort the recipient or envelope. The merge fields are enclosed in double brackets. \n\n*Example*: \n\n`http://senderHost/[[mergeField1]]/ beginSigningSession? [[mergeField2]]&[[mergeField3]]` "
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        faxNumber:
          type: string
          description: Reserved for DocuSign.
        firstName:
          type: string
          description: "The user's first name. \nMaximum Length: 50 characters."
        fullName:
          type: string
          description: Reserved for DocuSign.
        idCheckConfigurationName:
          type: string
          description: "The name of the authentication check to use. This value must match one of the authentication types that the account uses. The names of these authentication types appear in the web console sending interface in the Identify list for a recipient. This setting overrides any default authentication setting. Valid values are:\n\n- `Phone Auth $`: The recipient must authenticate by using two-factor authentication (2FA). You provide the phone number to use for 2FA in the `phoneAuthentication` object.\n- `SMS Auth $`: The recipient must authenticate via SMS. You provide the phone number to use in the `smsAuthentication` object.\n- `ID Check $`: The  recipient must answer detailed security questions. \n\n**Example**: Your account has ID Check and SMS Authentication available. In the web console Identify list, these appear as ID Check $ and SMS Auth $. To use ID Check in an envelope, the idCheckConfigurationName should be ID Check $. For SMS, you would use SMS Auth $, and you would also need to add a phone number to the smsAuthentication node."
        idCheckInformationInput:
          $ref: '#/components/schemas/idCheckInformationInput'
        identityVerification:
          $ref: '#/components/schemas/recipientIdentityVerification'
        inheritEmailNotificationConfiguration:
          type: string
          description: 'When set to **true** and the envelope recipient creates a DocuSign account after signing, the Manage Account Email Notification settings are used as the default settings for the recipient''s account. '
        lastName:
          type: string
          description: The recipient's last name.
        name:
          type: string
          description: 'legal name of the recipient.


            Maximum Length: 100 characters.'
        note:
          type: string
          description: 'A note sent to the recipient in the signing email.

            This note is unique to this recipient.

            In the user interface,

            it appears near the upper left corner

            of the document

            on the signing screen.


            Maximum Length: 1000 characters.

            '
        phoneAuthentication:
          $ref: '#/components/schemas/recipientPhoneAuthentication'
        recipientAttachments:
          type: array
          description: Reserved for DocuSign.
          items:
            $ref: '#/components/schemas/recipientAttachment'
        recipientAuthenticationStatus:
          $ref: '#/components/schemas/authenticationStatus'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        recipientIdGuid:
          type: string
          description: The globally-unique identifier (GUID) for a specific recipient on a specific envelope. If the same recipient is associated with multiple envelopes, they will have a different GUID for each one. Read only.
        requireIdLookup:
          type: string
          description: 'When set to **true**, the recipient is required to use the specified ID check method (including Phone and SMS authentication) to validate their identity. '
        roleName:
          type: string
          description: Optional element. Specifies the role name associated with the recipient.<br/><br/>This is required when working with template recipients.
        routingOrder:
          type: string
          description: 'Specifies the routing order of the recipient in the envelope. '
        samlAuthentication:
          $ref: '#/components/schemas/recipientSAMLAuthentication'
        sentDateTime:
          type: string
          description: The UTC DateTime when the envelope was sent. Read only.
        signedDateTime:
          type: string
          description: Reserved for DocuSign.
        signingGroupId:
          type: string
          description: 'Optional. The ID of the [signing group](https://support.docusign.com/en/guides/ndse-user-guide-signing-groups).


            **Note**: When you send an envelope to a signing group, anyone in the group can open it and sign it with their own signature. For this reason, we recommend that you do not include non-signer recipients (such as carbon copy recipients) in the same signing group as signer recipients. However, you could create a second signing group for the non-signer recipients and change the default action of Needs to Sign to a different value, such as Receives a Copy. '
        signingGroupName:
          type: string
          description: "The display name for the signing group. \n\nMaximum Length: 100 characters. "
        signingGroupUsers:
          type: array
          description: A complex type that contains information about users in the signing group.
          items:
            $ref: '#/components/schemas/userInfo'
        smsAuthentication:
          $ref: '#/components/schemas/recipientSMSAuthentication'
        socialAuthentications:
          type: array
          description: ' Lists the social ID type that can be used for recipient authentication.'
          items:
            $ref: '#/components/schemas/socialAuthentication'
        status:
          type: string
          description: 'Recipient status.

            <!-- todo -->

            '
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        totalTabCount:
          type: string
          description: The total number of tabs in the documents. Read only.
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
      description: ''
      x-ds-definition-name: editor
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    list:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        listItems:
          type: array
          description: "The list of values that can be selected by senders. The list values are separated by semi-colons. Example: [one;two;three;four]\n\nMaximum Length of listItems:  2048 characters.\nMaximum Length of items in the list: 100 characters. \n"
          items:
            $ref: '#/components/schemas/listItem'
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        senderRequired:
          type: string
          description: "When set to **true**, the sender must populate the tab before an envelope can be sent using the template. \n\nThis value tab can only be changed by modifying (PUT) the template. \n\nTabs with a `senderRequired` value of true cannot be deleted from an envelope."
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: The value to use when the item is selected.
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'This tab offers a list of options to choose from.

        The `listItems`

        property contains a list of

        [`listItem`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/listItem)

        objects to specify the selectable options.

        '
      x-ds-definition-name: list
      x-ms-summary: 'This tab offers a list of options to choose from.

        The `listItems`

        property contains a list of

        [`listItem`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/listItem)

        objects to specify the selectable options.

        '
    propertyMetadata:
      type: object
      properties:
        options:
          type: array
          description: ''
          items:
            type: string
        rights:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: propertyMetadata
      x-ms-summary: ''
    smartSectionDisplaySettings:
      type: object
      properties:
        cellStyle:
          type: string
          description: ''
        collapsibleSettings:
          $ref: '#/components/schemas/smartSectionCollapsibleDisplaySettings'
        display:
          type: string
          description: "This string sets the display and behavior properties of\nthe document during signing. The possible values are:\n\n* `modal`<br>\n  The document is shown as a supplement action strip\n  and can be viewed, downloaded, or printed in a modal window.\n  This is the recommended value for supplemental documents. \n\n* `download`<br>\n  The document is shown as a supplement action strip\n  and can be viewed, downloaded, or printed in a new browser window. \n\n* `inline`<br>\n  The document is shown in the normal signing window.\n  This value is not used with supplemental documents,\n  but is the default value for all other documents.\n"
        displayLabel:
          type: string
          description: ''
        displayOrder:
          type: integer
          description: ''
          format: int32
        displayPageNumber:
          type: integer
          description: ''
          format: int32
        hideLabelWhenOpened:
          type: boolean
          description: ''
        inlineOuterStyle:
          type: string
          description: ''
        labelWhenOpened:
          type: string
          description: ''
        preLabel:
          type: string
          description: ''
        scrollToTopWhenOpened:
          type: boolean
          description: ''
        tableStyle:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: smartSectionDisplaySettings
      x-ms-summary: ''
    EnvelopeRecipientTabs:
      type: object
      properties:
        approveTabs:
          type: array
          description: "A list of\n[Approve tabs][approve].\n\n\nThis tab allows\nthe recipient to approve documents without\nplacing a signature or initials on the document. If the\nrecipient clicks the tab during the signing process, the\nrecipient is considered to have signed the document. No\ninformation is shown on the document of the approval, but it\nis recorded as a signature in the envelope history.\n\n[approve]:\t\t      https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/approve\n"
          items:
            $ref: '#/components/schemas/approve'
        checkboxTabs:
          type: array
          description: 'A list of

            [Checkbox tabs][checkbox].



            This tab allows the recipient to select a yes/no (on/off) option.



            [checkbox]:  https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/checkbox

            '
          items:
            $ref: '#/components/schemas/checkbox'
        companyTabs:
          type: array
          description: "A list of \n[Company tabs][company].\n\n\nThis tab displays the recipient's company name.\n\n\n\n[company]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/company \n"
          items:
            $ref: '#/components/schemas/company'
        dateSignedTabs:
          type: array
          description: "A list of \n[Date Signed tabs][dateSigned]\n\n\nThis tab displays the date that the recipient signed the\ndocument.\n\n[dateSigned]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/dateSigned \n"
          items:
            $ref: '#/components/schemas/dateSigned'
        dateTabs:
          type: array
          description: "A list of \n[Date tabs][date].\n\n\nThis tab allows the recipient to enter a date. Date tabs\nare one-line fields that allow date information to be\nentered in any format. The tooltip for this tab recommends\nentering the date as MM/DD/YYYY, but this is not enforced.\nThe format entered by the signer is retained. If you need a\nparticular date format enforced, DocuSign recommends using a\nText tab with a validation pattern and a validation message\nto enforce the format.\n\n\n[date]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/date \n"
          items:
            $ref: '#/components/schemas/date'
        declineTabs:
          type: array
          description: "A list of \n[Decline tabs][decline].\n\nThis tab allows the recipient the option of declining an\nenvelope. If the recipient clicks the tab during the signing\nprocess, the envelope is voided.\n\n\n[decline]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/decline \n"
          items:
            $ref: '#/components/schemas/decline'
        emailAddressTabs:
          type: array
          description: "A list of \n[Email Address tabs][emailAddress].\n\nThis tab \ndisplays the recipient's email as entered in the\nrecipient information.\n\n\n[emailAddress]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/emailAddress \n"
          items:
            $ref: '#/components/schemas/emailAddress'
        emailTabs:
          type: array
          description: "A list of \n[Email tabs][email].\n\nThis tab \nallows the recipient to enter an email address.\nThis is a one-line field that checks that a valid email\naddress is entered. It uses the same parameters as a Text\ntab, with the validation message and pattern set for email\ninformation.\n\nWhen getting information that includes\nthis tab type, the original value of the tab when the\nassociated envelope was sent is included in the response.\n\n[email]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/email \n"
          items:
            $ref: '#/components/schemas/email'
        envelopeIdTabs:
          type: array
          description: "A list of \n[Envelope ID tabs][envelopeId].\n\nThis tab \ndisplays the envelope ID. Recipients cannot enter\nor change the information in this tab.\n\n\n[envelopeId]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/envelopeId \n"
          items:
            $ref: '#/components/schemas/envelopeId'
        firstNameTabs:
          type: array
          description: "A list of \n[First Name tabs][firstName].\n\nThis tab \ndisplays the recipient's first name. It\ntakes the recipient's name as entered in the recipient\ninformation, splits it into sections based on spaces and\nuses the first section as the first name.\n\n\n[firstName]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/firstName \n"
          items:
            $ref: '#/components/schemas/firstName'
        formulaTabs:
          type: array
          description: "A list of [Formula tabs][formulaTab].\n\nThe value of a formula tab is calculated\nfrom the values of other\nnumber or date tabs in the document.\nWhen the recipient completes the underlying fields,\nthe formula tab calculates and displays the result.\n\nThe `formula` property of the tab\ncontains the references\nto the underlying tabs.\nSee [Calculated Fields][calculatedfields]\nin the DocuSign Support Center\nto learn more about formulas.\n\nIf a formula tab contains\na `paymentDetails` property,\nthe tab is considered a payment item.\nSee [Requesting Payments Along with Signatures][paymentguide]\nin the DocuSign Support Center\nto learn more about payments.\n\n[calculatedfields]: https://support.docusign.com/en/guides/ndse-user-guide-calculated-fields\n[paymentguide]:     https://support.docusign.com/en/guides/requesting-payments-along-with-signatures\n[formulaTab]:\t    \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/formulaTab\n"
          items:
            $ref: '#/components/schemas/formulaTab'
        fullNameTabs:
          type: array
          description: "A list of \n[Full Name tabs][fullName].\n\nThis tab \ndisplays the recipient's full name.\n\n\n[fullName]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/fullName \n"
          items:
            $ref: '#/components/schemas/fullName'
        initialHereTabs:
          type: array
          description: "A list of \n[Initial Here tabs][initialHere].\n\nThis tab allows the recipient to initial the document. May\nbe optional.\n\n[initialHere]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/initialHere \n"
          items:
            $ref: '#/components/schemas/initialHere'
        lastNameTabs:
          type: array
          description: "A list of \n[Last Name tabs][lastName].\n\nThis tab \ndisplays the recipient's last name. It\ntakes the recipient's name as entered in the recipient\ninformation, splits it into sections based on spaces and\nuses the last section as the last name.\n\n\n[lastName]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/lastName \n"
          items:
            $ref: '#/components/schemas/lastName'
        listTabs:
          type: array
          description: "A list of \n[list tabs][list].\n\nThis tab offers a list of options to choose from. The\n`listItems` property is used to specify the selectable\noptions.\n\n\n\n[list]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/list \n"
          items:
            $ref: '#/components/schemas/list'
        notarizeTabs:
          type: array
          description: "A list of \n[Notarize tabs][notarize].\n\nA notarize tab is a tab that alerts notary recipients that\nthey must take action on the page.\nOnly one notarize tab can appear on a page.\n\n[notarize]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/notarize \n"
          items:
            $ref: '#/components/schemas/notarize'
        noteTabs:
          type: array
          description: "A list of \n[Note tabs][note].\n\nThis tab  displays additional information, in the form of a\nnote, for the recipient.\n\n[note]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/note \n"
          items:
            $ref: '#/components/schemas/note'
        numberTabs:
          type: array
          description: "A list of \n[Number tabs][number].\n\nThis tab allows the recipient to enter numbers and decimal\n(.) points.\n\n\n\n[number]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/number \n"
          items:
            $ref: '#/components/schemas/number'
        radioGroupTabs:
          type: array
          description: "A list of \n[Radio Group tabs][radioGroup].\n\nThis tab \nThis group tab is used to place radio buttons on a document.\nThe `radios` property is used to add and place the radio\nbuttons associated with the group. Only one radio button can\nbe selected in a group.\n\n\n[radioGroup]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radioGroup \n"
          items:
            $ref: '#/components/schemas/radioGroup'
        signerAttachmentTabs:
          type: array
          description: "A list of \n[Signer Attachment tabs][signerAttachment].\n\nThis tab \nallows the recipient to attach supporting\ndocuments to an envelope.\n\n\n[signerAttachment]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/signerAttachment \n"
          items:
            $ref: '#/components/schemas/signerAttachment'
        signHereTabs:
          type: array
          description: "A list of \n[Sign Here tabs][signHere].\n\nThis tab  allows the recipient to sign a document. May be\noptional.\n\n[signHere]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/signHere \n"
          items:
            $ref: '#/components/schemas/signHere'
        smartSectionTabs:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/smartSection'
        ssnTabs:
          type: array
          description: "A list of \n[SSN tabs][ssn].\n\nThis tab \nis a one-line field that allows the recipient to enter a Social\nSecurity Number. The SSN can be typed with or without\ndashes. It uses the same parameters as a Text tab, with the\nvalidation message and pattern set for SSN information.\n\n\n[ssn]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/ssn \n"
          items:
            $ref: '#/components/schemas/ssn'
        textTabs:
          type: array
          description: "A list of \n[Text tabs][text].\n\nThis tab \nA tab that allows the recipient to enter any type of text.\n\n[text]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/text \n"
          items:
            $ref: '#/components/schemas/text'
        titleTabs:
          type: array
          description: "A list of \n[Title tabs][title].\n\nThis tab  displays the recipient's title.\n\n\n[title]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/title \n"
          items:
            $ref: '#/components/schemas/title'
        viewTabs:
          type: array
          description: "A list of \n[View tabs][view].\n\nThis tab \nThis tab is used with the Approve tab to handle\nsupplemental documents.\n\n[view]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/view \n"
          items:
            $ref: '#/components/schemas/view'
        zipTabs:
          type: array
          description: "A list of \n[Zip tabs][zip].\n\nThis tab \nallows the recipient to enter a ZIP code. The ZIP\ncode can be five digits or nine digits in the ZIP+4 format.\nThe zip code can be typed with or without dashes. It uses\nthe same parameters as a Text tab, with the validation\nmessage and pattern set for ZIP code information.\n\n\n[zip]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/zip\n"
          items:
            $ref: '#/components/schemas/zip'
      description: 'All of the tabs associated with a recipient. Each property is a list of a type of tab.

        '
      x-ds-definition-name: tabs
      x-ds-category: Envelopes
      x-ds-order: '50'
      x-ms-summary: 'All of the tabs associated with a recipient. Each property is a list of a type of tab.

        '
    title:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maxLength:
          type: integer
          description: An optional value that describes the maximum length of the property when the property is a string.
          format: int32
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the recipient''s title.

        '
      x-ds-definition-name: title
      x-ms-summary: 'A tab that displays the recipient''s title.

        '
    recipientSignatureProviderOptions:
      type: object
      properties:
        cpfNumber:
          type: string
          description: Reserved for DocuSign
        oneTimePassword:
          type: string
          description: 'A pre-shared secret that the signer must enter to complete the signing process. Eg last six digits of the signer''s government ID or Social Security number. Or a newly created pre-shared secret for the transaction. Note: some signature providers may require an exact (case-sensitive) match if alphabetic characters are included in the field.'
        signerRole:
          type: string
          description: 'The role or capacity of the signing recipient. Examples: Manager, Approver, etc.'
        sms:
          type: string
          description: 'The mobile phone number used to send the recipient an access code for the signing ceremony. Format: a string starting with +, then the country code followed by the full mobile phone number without any spaces or special characters. Omit leading zeroes before a city code. Examples: +14155551234, +97235551234, +33505551234.'
      description: Option settings for the signature provider. Different providers require or use different options. [The current provider list and the options they require.](https://developers.docusign.com/esign-rest-api/guides/standards-based-signatures)
      x-ds-definition-name: recipientSignatureProviderOptions
      x-ms-summary: Option settings for the signature provider. Different providers require or use different options. [The current provider list and the options they require.](https://developers.docusign.com/esign-rest-api/guides/standards-based-signatures)
    EnvelopeRecipients:
      type: object
      properties:
        agents:
          type: array
          description: A complex type defining the management and access rights of a recipient assigned assigned as an agent on the document.
          items:
            $ref: '#/components/schemas/agent'
        carbonCopies:
          type: array
          description: A complex type containing information about recipients who should receive a copy of the envelope, but does not need to sign it.
          items:
            $ref: '#/components/schemas/carbonCopy'
        certifiedDeliveries:
          type: array
          description: A complex type containing information on a recipient the must receive the completed documents for the envelope to be completed, but the recipient does not need to sign, initial, date, or add information to any of the documents.
          items:
            $ref: '#/components/schemas/certifiedDelivery'
        currentRoutingOrder:
          type: string
          description: ''
        editors:
          type: array
          description: A complex type defining the management and access rights of a recipient assigned assigned as an editor on the document.
          items:
            $ref: '#/components/schemas/editor'
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        inPersonSigners:
          type: array
          description: Specifies a signer that is in the same physical location as a DocuSign user who will act as a Signing Host for the transaction. The recipient added is the Signing Host and new separate Signer Name field appears after Sign in person is selected.
          items:
            $ref: '#/components/schemas/inPersonSigner'
        intermediaries:
          type: array
          description: Identifies a recipient that can, but is not required to, add name and email information for recipients at the same or subsequent level in the routing order (until subsequent Agents, Editors or Intermediaries recipient types are added).
          items:
            $ref: '#/components/schemas/intermediary'
        recipientCount:
          type: string
          description: 'The list of recipient event statuses that will trigger Connect to send updates to the url. It can be a two-part list with:


            * recipientEventStatusCode - The recipient status, this can be Sent, Delivered, Completed, Declined, AuthenticationFailed, and AutoResponded.

            * includeDocuments - When set to **true**, the envelope time zone information is included in the message.'
        seals:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/sealSign'
        signers:
          type: array
          description: A complex type containing information about the Signer recipient.
          items:
            $ref: '#/components/schemas/signer'
        witnesses:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/witness'
      description: Envelope recipients
      x-ds-definition-name: recipients
      x-ds-category: Envelopes
      x-ds-order: '20'
      x-ms-summary: Envelope recipients
    powerFormRecipient:
      type: object
      properties:
        accessCode:
          type: string
          description: "If a value is provided, the recipient must enter the value as the access code to view and sign the envelope. \n\nMaximum Length: 50 characters and it must conform to the account's access code format setting.\n\nIf blank, but the signer `accessCode` property is set in the envelope, then that value is used.\n\nIf blank and the signer `accessCode` property is not set, then the access code is not required."
        accessCodeLocked:
          type: string
          description: ''
        accessCodeRequired:
          type: string
          description: ''
        email:
          type: string
          description: ''
        emailLocked:
          type: string
          description: ''
        idCheckConfigurationName:
          type: string
          description: "The name of the authentication check to use. This value must match one of the authentication types that the account uses. The names of these authentication types appear in the web console sending interface in the Identify list for a recipient. This setting overrides any default authentication setting. Valid values are:\n\n- `Phone Auth $`: The recipient must authenticate by using two-factor authentication (2FA). You provide the phone number to use for 2FA in the `phoneAuthentication` object.\n- `SMS Auth $`: The recipient must authenticate via SMS. You provide the phone number to use in the `smsAuthentication` object.\n- `ID Check $`: The  recipient must answer detailed security questions. \n\n**Example**: Your account has ID Check and SMS Authentication available. In the web console Identify list, these appear as ID Check $ and SMS Auth $. To use ID Check in an envelope, the idCheckConfigurationName should be ID Check $. For SMS, you would use SMS Auth $, and you would also need to add a phone number to the smsAuthentication node."
        idCheckRequired:
          type: string
          description: ''
        name:
          type: string
          description: ''
        recipientType:
          type: string
          description: ''
        roleName:
          type: string
          description: Optional element. Specifies the role name associated with the recipient.<br/><br/>This is required when working with template recipients.
        routingOrder:
          type: string
          description: 'Specifies the routing order of the recipient in the envelope. '
        templateRequiresIdLookup:
          type: string
          description: ''
        userNameLocked:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: powerFormRecipient
      x-ms-summary: ''
    powerFormsResponse:
      type: object
      properties:
        endPosition:
          type: string
          description: 'The last position in the result set. '
        nextUri:
          type: string
          description: 'The URI for the next chunk of records based on the search request. It is `null` if this is the last set of results for the search. '
        powerForms:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/powerForm'
        previousUri:
          type: string
          description: 'The URI for the prior chunk of records based on the search request. It is `null` if this is the first set of results for the search. '
        resultSetSize:
          type: string
          description: 'The number of results returned in this response. '
        startPosition:
          type: string
          description: Starting position of the current result set.
        totalSetSize:
          type: string
          description: The total number of items in the search's result set. It will always be greater than or equal to the value of the `resultSetSize` field.
      description: ''
      x-ds-definition-name: powerFormsResponse
      x-ms-summary: ''
    note:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        height:
          type: integer
          description: Height of the tab in pixels.
          format: int32
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: Specifies the tool tip text for the tab.
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays additional information, in the form of a

        note, for the recipient.

        '
      x-ds-definition-name: note
      x-ms-summary: 'A tab that displays additional information, in the form of a

        note, for the recipient.

        '
    EnvelopeLocks:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        lockDurationInSeconds:
          type: string
          description: 'Sets the time, in seconds, until the lock expires when there is no activity on the envelope.


            If no value is entered, then the default value of 300 seconds is used. The maximum value is 1,800 seconds.


            The lock duration can be extended.

            '
        lockedByApp:
          type: string
          description: Specifies the friendly name of  the application that is locking the envelope.
        lockedByUser:
          $ref: '#/components/schemas/userInfo'
        lockedUntilDateTime:
          type: string
          description: The datetime until the envelope lock expires.
        lockToken:
          type: string
          description: A unique identifier provided to the owner of the envelope lock.   Used to prove ownership of the lock.
        lockType:
          type: string
          description: The type of envelope lock.  Currently "edit" is the only supported type.
        useScratchPad:
          type: string
          description: "Reserved for future use.\n\nIndicates whether a scratchpad is used for editing information.\n "
      description: Envelope locks
      x-ds-definition-name: lockInformation
      x-ds-category: Envelopes
      x-ds-order: '80'
      x-ms-summary: Envelope locks
    recipientSignatureInformation:
      type: object
      properties:
        fontStyle:
          type: string
          description: ''
        signatureInitials:
          type: string
          description: ''
        signatureName:
          type: string
          description: Specifies the user signature name.
      description: 'Allows the sender to pre-specify the signature name, signature initials and signature font used in the signature stamp for the recipient.


        Used only with recipient types In Person Signers and Signers.'
      x-ds-definition-name: recipientSignatureInformation
      x-ms-summary: 'Allows the sender to pre-specify the signature name, signature initials and signature font used in the signature stamp for the recipient.


        Used only with recipient types In Person Signers and Signers.'
    recipientSAMLAuthentication:
      type: object
      properties:
        samlAssertionAttributes:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/samlAssertionAttribute'
      description: "Contains the name/value pair information for the SAML assertion attributes:\n\n* name - The name of the SAML assertion attribute.\n* value - The value associated with the named SAML assertion attribute. \n\nYour account must be set up to use SSO to use this."
      x-ds-definition-name: recipientSAMLAuthentication
      x-ms-summary: "Contains the name/value pair information for the SAML assertion attributes:\n\n* name - The name of the SAML assertion attribute.\n* value - The value associated with the named SAML assertion attribute. \n\nYour account must be set up to use SSO to use this."
    decline:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
[...]
