openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands ConnectConfigurations API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: ConnectConfigurations
  description: The ConnectConfigurations resource methods enable you to configure the DocuSign Connect service associated with an account.
paths:
  /v2/accounts/{accountId}/connect:
    get:
      tags:
      - ConnectConfigurations
      summary: Docusign Get Connect Configuration Information
      description: 'Retrieves all the DocuSign Custom Connect definitions for the specified account.


        ###### Note: Connect must be enabled for your account to use this function. This does not retrieve information for Connect configurations for Box, eOriginal, or Salesforce.'
      operationId: Connect_GetConnectConfigs
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectConfigResults'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listConfigurations
      x-ds-method: list
      x-ds-service: Connect
      x-ds-in-sdk: true
    put:
      tags:
      - ConnectConfigurations
      summary: Docusign Updates a specified Connect configuration.
      description: 'Updates the specified DocuSign Connect configuration in your account.


        ###### Note: Connect must be enabled for your account to use this function. This cannot be used to update Connect configurations for Box, eOriginal, or Salesforce.'
      operationId: Connect_PutConnectConfiguration
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connectCustomConfiguration'
          application/xml:
            schema:
              $ref: '#/components/schemas/connectCustomConfiguration'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectCustomConfiguration'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateConfiguration
      x-ds-method: update
      x-ds-service: Connect
      x-ds-in-sdk: true
      x-codegen-request-body-name: connectCustomConfiguration
    post:
      tags:
      - ConnectConfigurations
      summary: Docusign Creates a connect configuration for the specified account.
      description: 'Creates a DocuSign Custom Connect definition for your account. DocuSign Connect enables the sending of real-time data updates to external applications. These updates are generated by user transactions as the envelope progresses through actions to completion. The Connect Service provides updated information about the status of these transactions and returns updates that include the actual content of document form fields. Be aware that, these updates might or might not include the document itself. For more information about Connect, see the [ML:DocuSign Connect Service Guide].


        ###### Note: Connect must be enabled for your account to use this function. This cannot be used to set up Connect configurations for Salesforce or eOriginal.'
      operationId: Connect_PostConnectConfiguration
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connectCustomConfiguration'
          application/xml:
            schema:
              $ref: '#/components/schemas/connectCustomConfiguration'
        required: false
      responses:
        '201':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectCustomConfiguration'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: createConfiguration
      x-ds-method: create
      x-ds-service: Connect
      x-ds-in-sdk: true
      x-codegen-request-body-name: connectCustomConfiguration
  /v2/accounts/{accountId}/connect/{connectId}:
    get:
      tags:
      - ConnectConfigurations
      summary: Docusign Get information on a Connect Configuration
      description: 'Retrieves the information for the specified DocuSign Connect configuration.


        ###### Note: Connect must be enabled for your account to use this function.

        '
      operationId: Connect_GetConnectConfig
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: connectId
        in: path
        description: The ID of the custom Connect configuration being accessed.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectConfigResults'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getConfiguration
      x-ds-method: get
      x-ds-service: Connect
      x-ds-in-sdk: true
    delete:
      tags:
      - ConnectConfigurations
      summary: Docusign Deletes the specified connect configuration.
      description: "Deletes the specified DocuSign Connect configuration.\n\n###### Note: Connect must be enabled for your account to use this function.\n\n \n"
      operationId: Connect_DeleteConnectConfig
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: connectId
        in: path
        description: The ID of the custom Connect configuration being accessed.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteConfiguration
      x-ds-method: delete
      x-ds-service: Connect
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/connect/{connectId}/users:
    get:
      tags:
      - ConnectConfigurations
      summary: Docusign Returns users from the configured Connect service.
      description: Returns users from the configured Connect service.
      operationId: Connect_GetConnectUsers
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: connectId
        in: path
        description: The ID of the custom Connect configuration being accessed.
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: 'Optional. Number of items to return.

          '
        schema:
          type: string
      - name: email_substring
        in: query
        description: Filters the returned user records by the email address or a sub-string of email address.
        schema:
          type: string
      - name: list_included_users
        in: query
        schema:
          type: string
      - name: start_position
        in: query
        description: The position within the total result set from which to start returning values. The value **thumbnail** may be used to return the page image.
        schema:
          type: string
      - name: status
        in: query
        description: "Filters the results by user status.\nYou can specify a comma-separated\nlist of the following statuses:\n\n* ActivationRequired \n* ActivationSent \n* Active\n* Closed \n* Disabled\n"
        schema:
          type: string
      - name: user_name_substring
        in: query
        description: Filters the user records returned by the user name or a sub-string of user name.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/integratedUserInfoList'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: connectUsers
      x-ds-method: listUsers
      x-ds-service: Connect
      x-ds-in-sdk: true
components:
  schemas:
    userInfo:
      type: object
      properties:
        activationAccessCode:
          type: string
          description: ''
        email:
          type: string
          description: ''
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        loginStatus:
          type: string
          description: ''
        sendActivationEmail:
          type: string
          description: ''
        uri:
          type: string
          description: ''
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        userName:
          type: string
          description: ''
        userStatus:
          type: string
          description: 'Status of the user''s account. One of:


            * ActivationRequired

            * ActivationSent

            * Active

            * Closed

            * Disabled

            '
        userType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: userInfo
      x-ms-summary: ''
    connectCustomConfiguration:
      type: object
      properties:
        allowEnvelopePublish:
          type: string
          description: When set to **true**, data is sent to the urlToPublishTo web address. This option can be set to false to stop sending data while maintaining the Connect configuration information.
        allUsers:
          type: string
          description: When set to **true**, the tracked envelope and recipient events for all users, including users that are added a later time, are sent through Connect.
        configurationType:
          type: string
          description: If merge field's are being used, specifies the type of the merge field. The only  supported value is **salesforce**.
        connectId:
          type: string
          description: The ID of the custom Connect configuration being accessed.
        enableLog:
          type: string
          description: This turns Connect logging on or off. When set to **true**, logging is turned on.
        envelopeEvents:
          type: string
          description: "A list of envelope-level event statuses that will trigger Connect to send updates to the endpoint specified in the `url` property. \n\nTo receive notifications, you must include either an `envelopeEvents` node or a `recipientEvents` node. You do not need to specify both."
        includeCertificateOfCompletion:
          type: string
          description: 'When set to **true**, the Connect Service includes the Certificate of Completion with completed envelopes. '
        includeCertSoapHeader:
          type: string
          description: ''
        includeDocumentFields:
          type: string
          description: 'When set to **true**, the Document Fields associated with the envelope''s documents are included in the notification messages. Document Fields are optional custom name-value pairs added to documents using the API. '
        includeDocuments:
          type: string
          description: reserved
        includeEnvelopeVoidReason:
          type: string
          description: 'When set to **true**, if the envelope is voided, the Connect Service notification will include the void reason, as entered by the person that voided the envelope. '
        includeHMAC:
          type: string
          description: ''
        includeSenderAccountasCustomField:
          type: string
          description: When set to **true**, Connect will include the sender account as Custom Field in the data.
        includeTimeZoneInformation:
          type: string
          description: When set to **true**, Connect will include the envelope time zone information.
        name:
          type: string
          description: ''
        recipientEvents:
          type: string
          description: "An array of recipient event statuses that will trigger Connect to send notifications to your webhook listener at the url endpoint specified in the `url` property. \n\nTo receive notifications, you must include either an `envelopeEvents` node or a `recipientEvents` node. You do not need to specify both."
        requiresAcknowledgement:
          type: string
          description: "#### When set to **true**, and SIM mode is activated:\n\nIf the HTTP Status response to a notification message is not in the range of 200-299 then the message delivery failed, and the configuration is marked as *down.*\n\nThe message will be queued and retried once per day. While a Connect configuration is marked down, subsequent notifications will not be tried, they'll be immediately queued with reason \"Pending.\" Once a message succeeds, all queued messages for the configuration will be tried immediately, in order.\n\nThere is a maximum of ten retries Alternately, you can use Republish Connect Information to manually republish the notification.\n\n#### When set to **true**, and SIM mode is not activated: \n\nIf the HTTP Status response to a notification message is not in the range of 200-299 then the message delivery failed, and the message is queued.\n\nThe message will be retried after at least a day the next time a subsequent message is successfully sent to this configuration (subscription).  Subsequent notifications will be tried when they occur.\nThere is a maximum of ten retries Alternately, you can use Republish Connect Information to manually republish the notification."
        signMessageWithX509Certificate:
          type: string
          description: 'When set to **true**, Mutual TLS will be enabled for notifications. Mutual TLS must be initiated by the listener (the customer''s web server) during the TLS handshake protocol. '
        soapNamespace:
          type: string
          description: 'The namespace of the SOAP interface.


            The namespace value must be set if useSoapInterface is set to true.'
        urlToPublishTo:
          type: string
          description: This is the web address and name of your listener or Retrieving Service endpoint. You need to include HTTPS:// in the web address.
        userIds:
          type: string
          description: "A comma separated list of userIds. This sets the users associated with the tracked envelope and recipient events. When a tracked event occurs for a set user, the a notification message is sent to your Connect listener. \n\n###### Note: If allUsers is set to `false` then you must provide a list of user ids."
        useSoapInterface:
          type: string
          description: 'When set to **true**, the notifications are sent to your endpoint as SOAP requests. '
      description: ''
      x-ds-definition-name: connectCustomConfiguration
      x-ms-summary: ''
    integratedUserInfoList:
      type: object
      properties:
        allUsersSelected:
          type: string
          description: ''
        endPosition:
          type: string
          description: 'The last position in the result set. '
        nextUri:
          type: string
          description: 'The URI for the next chunk of records based on the search request. It is `null` if this is the last set of results for the search. '
        previousUri:
          type: string
          description: 'The URI for the prior chunk of records based on the search request. It is `null` if this is the first set of results for the search. '
        resultSetSize:
          type: string
          description: 'The number of results returned in this response. '
        startPosition:
          type: string
          description: Starting position of the current result set.
        totalSetSize:
          type: string
          description: The total number of items in the search's result set. It will always be greater than or equal to the value of the `resultSetSize` field.
        users:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/userInfo'
      description: ''
      x-ds-definition-name: integratedUserInfoList
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    connectConfigResults:
      type: object
      properties:
        configurations:
          type: array
          description: Array of Connect Configurations
          items:
            $ref: '#/components/schemas/connectCustomConfiguration'
        totalRecords:
          type: string
          description: Record count.
      description: ''
      x-ds-definition-name: connectConfigResults
      x-ms-summary: ''
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
