openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands EnvelopeDocuments API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: EnvelopeDocuments
  description: Manage documents within envelopes including adding, retrieving, and deleting documents attached to envelopes.
  externalDocs:
    url: https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopedocuments/
paths:
  /accounts/{accountId}/envelopes/{envelopeId}/documents:
    get:
      operationId: EnvelopeDocuments_ListDocuments
      summary: Docusign List Envelope Documents
      description: Retrieves a list of documents associated with the specified envelope. Returns metadata about each document including the document ID, name, type, and order.
      tags:
      - EnvelopeDocuments
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/envelopeId'
      responses:
        '200':
          description: Successfully retrieved document list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeDocumentsResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{accountId}/envelopes/{envelopeId}/documents/{documentId}:
    get:
      operationId: EnvelopeDocuments_GetDocument
      summary: Docusign Get an Envelope Document
      description: Retrieves the specified document from the envelope. Returns the document content as a PDF or other supported format.
      tags:
      - EnvelopeDocuments
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/envelopeId'
      - name: documentId
        in: path
        required: true
        description: The unique identifier of the document within the envelope. Use "combined" to retrieve all documents as a single PDF.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the document.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/accounts/{accountId}/envelopes/{envelopeId}/documents:
    get:
      tags:
      - EnvelopeDocuments
      summary: Docusign Gets a list of envelope documents.
      description: Retrieves a list of documents associated with the specified envelope.
      operationId: Documents_GetDocuments
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: include_document_size
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeDocumentsResult'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listDocuments
      x-ds-method: list
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-ds-examples:
      - description: 'This example shows how

          to get a list

          of all the documents in an envelope.


          The request for this endpoint has no payload.


          ### Request


          ```

          GET /restapi/v2/accounts/1703061/envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents

          ```

          '
        direction: response
        format: json
        response:
          envelopeDocuments:
          - availableDocumentTypes:
            - isDefault: 'true'
              type: electronic
            display: inline
            documentId: '1'
            includeInDownload: 'true'
            name: NDA.pdf
            order: '1'
            pages: '3'
            signerMustAcknowledge: no_interaction
            type: content
            uri: /envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/1
          - availableDocumentTypes:
            - isDefault: 'true'
              type: electronic
            display: inline
            documentId: '2'
            includeInDownload: 'true'
            name: House.pdf
            order: '2'
            pages: '1'
            signerMustAcknowledge: no_interaction
            type: content
            uri: /envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/2
          - availableDocumentTypes:
            - isDefault: 'true'
              type: electronic
            display: inline
            documentId: '3'
            includeInDownload: 'true'
            name: contractor_agreement.docx
            order: '3'
            pages: '2'
            signerMustAcknowledge: no_interaction
            type: content
            uri: /envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/3
          - availableDocumentTypes:
            - isDefault: 'true'
              type: electronic
            display: inline
            documentId: certificate
            includeInDownload: 'true'
            name: Summary
            order: '999'
            pages: '4'
            signerMustAcknowledge: no_interaction
            type: summary
            uri: /envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/certificate
          envelopeId: 44efc9e6-915e-4b1d-9b54-801410d6922d
        style: custom
        title: List All Documents in an Envelope
    put:
      tags:
      - EnvelopeDocuments
      summary: Docusign Adds one or more documents to an existing envelope document.
      description: 'Adds one or more documents to an existing envelope document.

        <p>**Note**: When adding or modifying documents for an in-process envelope, DocuSign recommends locking the envelope prior to making any changes.'
      operationId: Documents_PutDocuments
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: apply_document_fields
        in: query
        description: 'When **true**, document fields

          can be added or modified

          while adding or modifying envelope documents.

          '
        schema:
          type: string
      - name: persist_tabs
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envelopeDefinition'
          application/xml:
            schema:
              $ref: '#/components/schemas/envelopeDefinition'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeDocumentsResult'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateDocuments
      x-ds-method: updateList
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-codegen-request-body-name: envelopeDefinition
    delete:
      tags:
      - EnvelopeDocuments
      summary: Docusign Deletes documents from a draft envelope.
      description: "Deletes one or more documents from an existing envelope that has not yet been completed.\n\nTo delete a document, use only the relevant parts of the [`envelopeDefinition`](#envelopeDefinition).\nFor example, this request body specifies that you want to delete the document whose `documentId` is \"1\".\n\n\n```text\n{\n  \"documents\": [\n    {\n      \"documentId\": \"1\"\n    }\n  ]\n}\n```\n\nThe envelope status must be one of:\n\n- `created`\n- `sent`\n- `delivered`\n\n\n"
      operationId: Documents_DeleteDocuments
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envelopeDefinition'
          application/xml:
            schema:
              $ref: '#/components/schemas/envelopeDefinition'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeDocumentsResult'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteDocuments
      x-ds-method: delete
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-codegen-request-body-name: envelopeDefinition
  /v2/accounts/{accountId}/envelopes/{envelopeId}/documents/{documentId}:
    get:
      tags:
      - EnvelopeDocuments
      summary: Docusign Gets a document from an envelope.
      description: 'Retrieves the specified document from the envelope. If the account has the Highlight Data Changes feature enabled, there is an option to request that any changes in the envelope be highlighted.


        The `{documentID}` parameter takes two special values:


        | Value      | Description |

        | :---       | :--- |

        | `combined` | Retrieve a PDF that contains the combined content of all documents and the certificate. |

        | `archive`  | Retrieve a ZIP archive that contains all of the PDF documents, the certificate, and any .WAV files used for voice authentication. |

        '
      operationId: Documents_GetDocument
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: certificate
        in: query
        description: When set to **false**, the envelope signing certificate is removed from the download.
        schema:
          type: string
      - name: encoding
        in: query
        schema:
          type: string
      - name: encrypt
        in: query
        description: When set to **true**, the PDF bytes returned in the response are encrypted for all the key managers configured on your DocuSign account. The documents can be decrypted with the KeyManager Decrypt Document API.
        schema:
          type: string
      - name: language
        in: query
        description: 'Specifies the language for the Certificate of Completion in the response. The supported languages, with the language value shown in parenthesis, are: Chinese Simplified (zh_CN), , Chinese Traditional (zh_TW), Dutch (nl), English US (en), French (fr), German (de), Italian (it), Japanese (ja), Korean (ko), Portuguese (pt), Portuguese (Brazil) (pt_BR), Russian (ru), Spanish (es). '
        schema:
          type: string
      - name: recipient_id
        in: query
        schema:
          type: string
      - name: show_changes
        in: query
        description: 'When set to **true**, any changed fields for the returned PDF are highlighted in yellow and optional signatures or initials outlined in red. '
        schema:
          type: string
      - name: watermark
        in: query
        description: 'When set to **true**, the account has the watermark feature enabled, and the envelope is not complete, the watermark for the account is added to the PDF documents. This option can remove the watermark. '
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Error encountered.
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getDocument
      x-ds-method: get
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-ds-examples:
      - description: 'This example shows how to retrieve

          a single document from an envelope

          as a PDF file.



          The request for this endpoint has no payload.


          ### Request


          ```

          GET /restapi/v2/accounts/1703061/envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/3

          ```


          '
        direction: response
        format: json
        response: PDF File
        style: custom
        title: Get a Single Document as a PDF File
      - description: 'If you use `combined` instead of a document id

          the response is a PDF file that contains

          all of the documents in the specified envelope.


          The request for this endpoint has no payload.


          ### Request


          ```

          GET /restapi/v2/accounts/1703061/envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/combined

          ```


          '
        direction: response
        format: json
        response: PDF File
        style: custom
        title: Get All Documents as a Single PDF File
      - description: 'This example shows how

          to get a list

          of all the documents in an envelope.


          The request for this endpoint has no payload.


          ### Request


          ```

          GET /restapi/v2/accounts/1703061/envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents

          ```

          '
        direction: response
        format: json
        response:
          envelopeDocuments:
          - availableDocumentTypes:
            - isDefault: 'true'
              type: electronic
            display: inline
            documentId: '1'
            includeInDownload: 'true'
            name: NDA.pdf
            order: '1'
            pages: '3'
            signerMustAcknowledge: no_interaction
            type: content
            uri: /envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/1
          - availableDocumentTypes:
            - isDefault: 'true'
              type: electronic
            display: inline
            documentId: '2'
            includeInDownload: 'true'
            name: House.pdf
            order: '2'
            pages: '1'
            signerMustAcknowledge: no_interaction
            type: content
            uri: /envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/2
          - availableDocumentTypes:
            - isDefault: 'true'
              type: electronic
            display: inline
            documentId: '3'
            includeInDownload: 'true'
            name: contractor_agreement.docx
            order: '3'
            pages: '2'
            signerMustAcknowledge: no_interaction
            type: content
            uri: /envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/3
          - availableDocumentTypes:
            - isDefault: 'true'
              type: electronic
            display: inline
            documentId: certificate
            includeInDownload: 'true'
            name: Summary
            order: '999'
            pages: '4'
            signerMustAcknowledge: no_interaction
            type: summary
            uri: /envelopes/44efc9e6-915e-4b1d-9b54-801410d6922d/documents/certificate
          envelopeId: 44efc9e6-915e-4b1d-9b54-801410d6922d
        style: custom
        title: List All Documents in an Envelope
    put:
      tags:
      - EnvelopeDocuments
      summary: Docusign Adds a document to an existing draft envelope.
      description: 'Adds a document to an existing draft envelope.

        <p>**Note**: When adding or modifying documents for an in-process envelope, DocuSign recommends locking the envelope prior to making any changes.'
      operationId: Documents_PutDocument
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: apply_document_fields
        in: query
        description: 'When **true**, document fields

          can be added or modified

          while adding or modifying envelope documents.

          '
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateDocument
      x-ds-method: update
      x-ds-service: Envelopes
      x-ds-in-sdk: true
components:
  schemas:
    samlAssertionAttribute:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        name:
          type: string
          description: ''
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        value:
          type: string
          description: The value associated with the named SAML assertion attribute
      description: ''
      x-ds-definition-name: samlAssertionAttribute
      x-ms-summary: ''
    signatureType:
      type: object
      properties:
        isDefault:
          type: string
          description: ''
        type:
          type: string
          description: 'Type of the user. Valid values: type_owner, type_participant.'
      description: ''
      x-ds-definition-name: signatureType
      x-ms-summary: ''
    company:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maxLength:
          type: integer
          description: An optional value that describes the maximum length of the property when the property is a string.
          format: int32
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: Specifies the tool tip text for the tab.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the recipient''s company name.

        '
      x-ds-definition-name: company
      x-ms-summary: 'A tab that displays the recipient''s company name.

        '
    serverTemplate:
      type: object
      properties:
        sequence:
          type: string
          description: ''
        templateId:
          type: string
          description: 'The unique identifier of the template. If this is not provided, DocuSign will generate a value. '
      description: ''
      x-ds-definition-name: serverTemplate
      x-ms-summary: ''
    recipientProofFile:
      type: object
      properties:
        isInProofFile:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: recipientProofFile
      x-ms-summary: ''
    radioGroup:
      type: object
      properties:
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        groupName:
          type: string
          description: The name of the group. The search_text provided in the call automatically performs a wild card search on group_name.
        radios:
          type: array
          description: Specifies the locations and status for radio buttons that are grouped together.
          items:
            $ref: '#/components/schemas/radio'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
      description: 'This group tab is used to place radio buttons on a document.

        The `radios` property

        contains a list of

        [`radio`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radio)

        objects  associated with the group. Only one radio button can

        be selected in a group.

        '
      x-ds-definition-name: radioGroup
      x-ms-summary: 'This group tab is used to place radio buttons on a document.

        The `radios` property

        contains a list of

        [`radio`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radio)

        objects  associated with the group. Only one radio button can

        be selected in a group.

        '
    compositeTemplate:
      type: object
      properties:
        compositeTemplateId:
          type: string
          description: The identify of this composite template. It is used as a reference when adding document object information. If used, the document's `content-disposition` must include the composite template ID to which the document should be added. If a composite template ID is not specified in the content-disposition, the document is applied based on the value of the `documentId` property only. If no document object is specified, the composite template inherits the first document.
        document:
          $ref: '#/components/schemas/document'
        inlineTemplates:
          type: array
          description: ' Zero or more inline templates and their position in the overlay. If supplied, they are overlaid into the envelope in the order of their Sequence value.'
          items:
            $ref: '#/components/schemas/inlineTemplate'
        pdfMetaDataTemplateSequence:
          type: string
          description: ''
        serverTemplates:
          type: array
          description: 0 or more server-side templates and their position in the overlay. If supplied, they are overlaid into the envelope in the order of their Sequence value
          items:
            $ref: '#/components/schemas/serverTemplate'
      description: ''
      x-ds-definition-name: compositeTemplate
      x-ms-summary: ''
    dobInformationInput:
      type: object
      properties:
        dateOfBirth:
          type: string
          description: Specifies the recipient's date, month, and year of birth.
        displayLevelCode:
          type: string
          description: "Specifies the display level for the recipient. \nValid values are: \n\n* ReadOnly\n* Editable\n* DoNotDisplay"
        receiveInResponse:
          type: string
          description: When set to **true**, the information needs to be returned in the response.
      description: 'Complex type containing:


        * dateOfBirth

        * displayLevelCode

        * receiveInResponse'
      x-ds-definition-name: dobInformationInput
      x-ms-summary: 'Complex type containing:


        * dateOfBirth

        * displayLevelCode

        * receiveInResponse'
    dateSigned:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the date that the recipient signed the

        document.

        '
      x-ds-definition-name: dateSigned
      x-ms-summary: 'A tab that displays the date that the recipient signed the

        document.

        '
    ssn4InformationInput:
      type: object
      properties:
        displayLevelCode:
          type: string
          description: "Specifies the display level for the recipient. \nValid values are: \n\n* ReadOnly\n* Editable\n* DoNotDisplay"
        receiveInResponse:
          type: string
          description: When set to **true**, the information needs to be returned in the response.
        ssn4:
          type: string
          description: The last four digits of the recipient's Social Security Number (SSN).
      description: ''
      x-ds-definition-name: ssn4InformationInput
      x-ms-summary: ''
    editor:
      type: object
      properties:
        accessCode:
          type: string
          description: "If a value is provided, the recipient must enter the value as the access code to view and sign the envelope. \n\nMaximum Length: 50 characters and it must conform to the account's access code format setting.\n\nIf blank, but the signer `accessCode` property is set in the envelope, then that value is used.\n\nIf blank and the signer `accessCode` property is not set, then the access code is not required."
        addAccessCodeToEmail:
          type: string
          description: This Optional attribute indicates that the access code will be added to the email sent to the recipient; this nullifies the Security measure of Access Code on the recipient.
        clientUserId:
          type: string
          description: "Specifies whether the recipient is embedded or remote. \n\nIf the `clientUserId` property is not null then the recipient is embedded. Use this field to associate the signer with their userId in your app. Authenticating the user is the responsibility of your app when you use embedded signing.\n\nNote: if the `clientUserId` property is set and either `SignerMustHaveAccount` or `SignerMustLoginToSign` property of the account settings is set to  **true**, an error is generated on sending. \n\nMaximum length: 100 characters. "
        customFields:
          type: array
          description: An optional array of strings that allows the sender to provide custom data about the recipient. This information is returned in the envelope status but otherwise not used by DocuSign. Each customField string can be a maximum of 100 characters.
          items:
            type: string
        declinedDateTime:
          type: string
          description: The date and time the recipient declined the document. Read only.
        declinedReason:
          type: string
          description: The reason the recipient declined the document. Read only.
        deliveredDateTime:
          type: string
          description: 'Reserved: For DocuSign use only.'
        deliveryMethod:
          type: string
          description: 'Reserved: For DocuSign use only.'
        documentVisibility:
          type: array
          description: A list of `documentVisibility` objects. Each object in the list specifies whether a document in the envelope is visible to this recipient. For the envelope to use this functionality, Document Visibility must be enabled for the account and the `enforceSignerVisibility` property must be set to **true**.
          items:
            $ref: '#/components/schemas/documentVisibility'
        email:
          type: string
          description: "Email id of the recipient. Notification of the document to sign is sent to this email id. \n\nMaximum length: 100 characters. "
        emailNotification:
          $ref: '#/components/schemas/recipientEmailNotification'
        emailRecipientPostSigningURL:
          type: string
          description: ''
        embeddedRecipientStartURL:
          type: string
          description: "Specifies a sender provided valid URL string for redirecting an embedded recipient. When using this option, the embedded recipient still receives an email from DocuSign, just as a remote recipient would. When the document link in the email is clicked the recipient is redirected, through DocuSign, to the supplied URL to complete their actions. When routing to the URL, the sender's system (the server responding to the URL) must request a recipient token to launch a signing session. \n\nIf set to `SIGN_AT_DOCUSIGN`, the recipient is directed to an embedded signing or viewing process directly at DocuSign. The signing or viewing action is initiated by the DocuSign system and the transaction activity and Certificate of Completion records will reflect this. In all other ways the process is identical to an embedded signing or viewing operation that is launched by any partner.\n\nIt is important to remember that in a typical embedded workflow the authentication of an embedded recipient is the responsibility of the sending application, DocuSign expects that senders will follow their own process for establishing the recipient's identity. In this workflow the recipient goes through the sending application before the embedded signing or viewing process in initiated. However, when the sending application sets `EmbeddedRecipientStartURL=SIGN_AT_DOCUSIGN`, the recipient goes directly to the embedded signing or viewing process bypassing the sending application and any authentication steps the sending application would use. In this case, DocuSign recommends that you use one of the normal DocuSign authentication features (Access Code, Phone Authentication, SMS Authentication, etc.) to verify the identity of the recipient.\n\nIf the `clientUserId` property is NOT set, and the `embeddedRecipientStartURL` is set, DocuSign will ignore the redirect URL and launch the standard signing process for the email recipient. Information can be appended to the embedded recipient start URL using merge fields. The available merge fields items are: envelopeId, recipientId, recipientName, recipientEmail, and customFields. The `customFields` property must be set fort the recipient or envelope. The merge fields are enclosed in double brackets. \n\n*Example*: \n\n`http://senderHost/[[mergeField1]]/ beginSigningSession? [[mergeField2]]&[[mergeField3]]` "
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        faxNumber:
          type: string
          description: Reserved for DocuSign.
        firstName:
          type: string
          description: "The user's first name. \nMaximum Length: 50 characters."
        fullName:
          type: string
          description: Reserved for DocuSign.
        idCheckConfigurationName:
          type: string
          description: "The name of the authentication check to use. This value must match one of the authentication types that the account uses. The names of these authentication types appear in the web console sending interface in the Identify list for a recipient. This setting overrides any default authentication setting. Valid values are:\n\n- `Phone Auth $`: The recipient must authenticate by using two-factor authentication (2FA). You provide the phone number to use for 2FA in the `phoneAuthentication` object.\n- `SMS Auth $`: The recipient must authenticate via SMS. You provide the phone number to use in the `smsAuthentication` object.\n- `ID Check $`: The  recipient must answer detailed security questions. \n\n**Example**: Your account has ID Check and SMS Authentication available. In the web console Identify list, these appear as ID Check $ and SMS Auth $. To use ID Check in an envelope, the idCheckConfigurationName should be ID Check $. For SMS, you would use SMS Auth $, and you would also need to add a phone number to the smsAuthentication node."
        idCheckInformationInput:
          $ref: '#/components/schemas/idCheckInformationInput'
        identityVerification:
          $ref: '#/components/schemas/recipientIdentityVerification'
        inheritEmailNotificationConfiguration:
          type: string
          description: 'When set to **true** and the envelope recipient creates a DocuSign account after signing, the Manage Account Email Notification settings are used as the default settings for the recipient''s account. '
        lastName:
          type: string
          description: The recipient's last name.
        name:
          type: string
          description: 'legal name of the recipient.


            Maximum Length: 100 characters.'
        note:
          type: string
          description: 'A note sent to the recipient in the signing email.

            This note is unique to this recipient.

            In the user interface,

            it appears near the upper left corner

            of the document

            on the signing screen.


            Maximum Length: 1000 characters.

            '
        phoneAuthentication:
          $ref: '#/components/schemas/recipientPhoneAuthentication'
        recipientAttachments:
          type: array
          description: Reserved for DocuSign.
          items:
            $ref: '#/components/schemas/recipientAttachment'
        recipientAuthenticationStatus:
          $ref: '#/components/schemas/authenticationStatus'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        recipientIdGuid:
          type: string
          description: The globally-unique identifier (GUID) for a specific recipient on a specific envelope. If the same recipient is associated with multiple envelopes, they will have a different GUID for each one. Read only.
        requireIdLookup:
          type: string
          description: 'When set to **true**, the recipient is required to use the specified ID check method (including Phone and SMS authentication) to validate their identity. '
        roleName:
          type: string
          description: Optional element. Specifies the role name associated with the recipient.<br/><br/>This is required when working with template recipients.
        routingOrder:
          type: string
          description: 'Specifies the routing order of the recipient in the envelope. '
        samlAuthentication:
          $ref: '#/components/schemas/recipientSAMLAuthentication'
        sentDateTime:
          type: string
          description: The UTC DateTime when the envelope was sent. Read only.
        signedDateTime:
          type: string
          description: Reserved for DocuSign.
        signingGroupId:
          type: string
          description: 'Optional. The ID of the [signing group](https://support.docusign.com/en/guides/ndse-user-guide-signing-groups).


            **Note**: When you send an envelope to a signing group, anyone in the group can open it and sign it with their own signature. For this reason, we recommend that you do not include non-signer recipients (such as carbon copy recipients) in the same signing group as signer recipients. However, you could create a second signing group for the non-signer recipients and change the default action of Needs to Sign to a different value, such as Receives a Copy. '
        signingGroupName:
          type: string
          description: "The display name for the signing group. \n\nMaximum Length: 100 characters. "
        signingGroupUsers:
          type: array
          description: A complex type that contains information about users in the signing group.
          items:
            $ref: '#/components/schemas/userInfo'
        smsAuthentication:
          $ref: '#/components/schemas/recipientSMSAuthentication'
        socialAuthentications:
          type: array
          description: ' Lists the social ID type that can be used for recipient authentication.'
          items:
            $ref: '#/components/schemas/socialAuthentication'
        status:
          type: string
          description: 'Recipient status.

            <!-- todo -->

            '
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        totalTabCount:
          type: string
          description: The total number of tabs in the documents. Read only.
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
      description: ''
      x-ds-definition-name: editor
      x-ms-summary: ''
    documentHtmlDisplaySettings:
      type: object
      properties:
        cellStyle:
          type: string
          description: ''
        collapsibleSettings:
          $ref: '#/components/schemas/documentHtmlCollapsibleDisplaySettings'
        display:
          type: string
          description: "This string sets the display and behavior properties of\nthe document during signing. The possible values are:\n\n* `modal`<br>\n  The document is shown as a supplement action strip\n  and can be viewed, downloaded, or printed in a modal window.\n  This is the recommended value for supplemental documents. \n\n* `download`<br>\n  The document is shown as a supplement action strip\n  and can be viewed, downloaded, or printed in a new browser window. \n\n* `inline`<br>\n  The document is shown in the normal signing window.\n  This value is not used with supplemental documents,\n  but is the default value for all other documents.\n"
        displayLabel:
          type: string
          description: ''
        displayOrder:
          type: integer
          description: ''
          format: int32
        displayPageNumber:
          type: integer
          description: ''
          format: int32
        hideLabelWhenOpened:
          type: boolean
          description: ''
        inlineOuterStyle:
          type: string
          description: ''
        labelWhenOpened:
          type: string
          description: ''
        preLabel:
          type: string
          description: ''
        scrollToTopWhenOpened:
          type: boolean
          description: ''
        tableStyle:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: documentHtmlDisplaySettings
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    EnvelopeDocument:
      type: object
      description: Metadata about a document within an envelope.
      properties:
        documentId:
          type: string
          description: The unique identifier of the document.
          example: '500123'
        name:
          type: string
          description: The name of the document.
          example: Example Title
        type:
          type: string
          description: The document type.
          example: example_value
        uri:
          type: string
          description: URI for retrieving the document.
          example: example_value
        order:
          type: string
          description: The order of the document in the envelope.
          example: example_value
        pages:
          type: array
          description: Array of page objects for the document.
          items:
            type: object
            properties:
              pageId:
                type: string
              sequence:
                type: string
              height:
                type: string
              width:
                type: string
          example: []
        containsPdfFormFields:
          type: string
          description: Whether the document contains PDF form fields.
          example: example_value
        display:
          type: string
          description: Display setting for the document.
          example: example_value
        includeInDownload:
          type: string
          description: Whether to include this document in downloads.
          example: example_value
    list:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        listItems:
          type: array
          description: "The list of values that can be selected by senders. The list values are separated by semi-colons. Example: [one;two;three;four]\n\nMaximum Length of listItems:  2048 characters.\nMaximum Length of items in the list: 100 characters. \n"
          items:
            $ref: '#/components/schemas/listItem'
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        senderRequired:
          type: string
          description: "When set to **true**, the sender must populate the tab before an envelope can be sent using the template. \n\nThis value tab can only be changed by modifying (PUT) the template. \n\nTabs with a `senderRequired` value of true cannot be deleted from an envelope."
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: The value to use when the item is selected.
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'This tab offers a list of options to choose from.

        The `listItems`

        property contains a list of

        [`listItem`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/listItem)

        objects to specify the selectable options.

        '
      x-ds-definition-name: list
      x-ms-summary: 'This tab offers a list of options to choose from.

        The `listItems`

        property contains a list of

        [`listItem`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/listItem)

        objects to specify the selectable options.

        '
    propertyMetadata:
      type: object
      properties:
        options:
          type: array
          description: ''
          items:
            type: string
        rights:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: propertyMetadata
      x-ms-summary: ''
    smartSectionDisplaySettings:
      type: object
      properties:
        cellStyle:
          type: string
          description: ''
        collapsibleSettings:
          $ref: '#/components/schemas/smartSectionCollapsibleDisplaySettings'
        display:
          type: string
          description: "This string sets the display and behavior properties of\nthe document during signing. The possible values are:\n\n* `modal`<br>\n  The document is shown as a supplement action strip\n  and can be viewed, downloaded, or printed in a modal window.\n  This is the recommended value for supplemental documents. \n\n* `download`<br>\n  The document is shown as a supplement action strip\n  and can be viewed, downloaded, or printed in a new browser window. \n\n* `inline`<br>\n  The document is shown in the normal signing window.\n  This value is not used with supplemental documents,\n  but is the default value for all other documents.\n"
        displayLabel:
          type: string
          description: ''
        displayOrder:
          type: integer
          description: ''
          format: int32
        displayPageNumber:
          type: integer
          description: ''
          format: int32
        hideLabelWhenOpened:
          type: boolean
          description: ''
        inlineOuterStyle:
          type: string
          description: ''
        labelWhenOpened:
          type: string
          description: ''
        preLabel:
          type: string
          description: ''
        scrollToTopWhenOpened:
          type: boolean
          description: ''
        tableStyle:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: smartSectionDisplaySettings
      x-ms-summary: ''
    EnvelopeRecipientTabs:
      type: object
      properties:
        approveTabs:
          type: array
          description: "A list of\n[Approve tabs][approve].\n\n\nThis tab allows\nthe recipient to approve documents without\nplacing a signature or initials on the document. If the\nrecipient clicks the tab during the signing process, the\nrecipient is considered to have signed the document. No\ninformation is shown on the document of the approval, but it\nis recorded as a signature in the envelope history.\n\n[approve]:\t\t      https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/approve\n"
          items:
            $ref: '#/components/schemas/approve'
        checkboxTabs:
          type: array
          description: 'A list of

            [Checkbox tabs][checkbox].



            This tab allows the recipient to select a yes/no (on/off) option.



            [checkbox]:  https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/checkbox

            '
          items:
            $ref: '#/components/schemas/checkbox'
        companyTabs:
          type: array
          description: "A list of \n[Company tabs][company].\n\n\nThis tab displays the recipient's company name.\n\n\n\n[company]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/company \n"
          items:
            $ref: '#/components/schemas/company'
        dateSignedTabs:
          type: array
          description: "A list of \n[Date Signed tabs][dateSigned]\n\n\nThis tab displays the date that the recipient signed the\ndocument.\n\n[dateSigned]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/dateSigned \n"
          items:
            $ref: '#/components/schemas/dateSigned'
        dateTabs:
          type: array
          description: "A list of \n[Date tabs][date].\n\n\nThis tab allows the recipient to enter a date. Date tabs\nare one-line fields that allow date information to be\nentered in any format. The tooltip for this tab recommends\nentering the date as MM/DD/YYYY, but this is not enforced.\nThe format entered by the signer is retained. If you need a\nparticular date format enforced, DocuSign recommends using a\nText tab with a validation pattern and a validation message\nto enforce the format.\n\n\n[date]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/date \n"
          items:
            $ref: '#/components/schemas/date'
        declineTabs:
          type: array
          description: "A list of \n[Decline tabs][decline].\n\nThis tab allows the recipient the option of declining an\nenvelope. If the recipient clicks the tab during the signing\nprocess, the envelope is voided.\n\n\n[decline]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/decline \n"
          items:
            $ref: '#/components/schemas/decline'
        emailAddressTabs:
          type: array
          description: "A list of \n[Email Address tabs][emailAddress].\n\nThis tab \ndisplays the recipient's email as entered in the\nrecipient information.\n\n\n[emailAddress]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/emailAddress \n"
          items:
            $ref: '#/components/schemas/emailAddress'
        emailTabs:
          type: array
          description: "A list of \n[Email tabs][email].\n\nThis tab \nallows the recipient to enter an email address.\nThis is a one-line field that checks that a valid email\naddress is entered. It uses the same parameters as a Text\ntab, with the validation message and pattern set for email\ninformation.\n\nWhen getting information that includes\nthis tab type, the original value of the tab when the\nassociated envelope was sent is included in the response.\n\n[email]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/email \n"
          items:
            $ref: '#/components/schemas/email'
        envelopeIdTabs:
          type: array
          description: "A list of \n[Envelope ID tabs][envelopeId].\n\nThis tab \ndisplays the envelope ID. Recipients cannot enter\nor change the information in this tab.\n\n\n[envelopeId]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/envelopeId \n"
          items:
            $ref: '#/components/schemas/envelopeId'
        firstNameTabs:
          type: array
          description: "A list of \n[First Name tabs][firstName].\n\nThis tab \ndisplays the recipient's first name. It\ntakes the recipient's name as entered in the recipient\ninformation, splits it into sections based on spaces and\nuses the first section as the first name.\n\n\n[firstName]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/firstName \n"
          items:
            $ref: '#/components/schemas/firstName'
        formulaTabs:
          type: array
          description: "A list of [Formula tabs][formulaTab].\n\nThe value of a formula tab is calculated\nfrom the values of other\nnumber or date tabs in the document.\nWhen the recipient completes the underlying fields,\nthe formula tab calculates and displays the result.\n\nThe `formula` property of the tab\ncontains the references\nto the underlying tabs.\nSee [Calculated Fields][calculatedfields]\nin the DocuSign Support Center\nto learn more about formulas.\n\nIf a formula tab contains\na `paymentDetails` property,\nthe tab is considered a payment item.\nSee [Requesting Payments Along with Signatures][paymentguide]\nin the DocuSign Support Center\nto learn more about payments.\n\n[calculatedfields]: https://support.docusign.com/en/guides/ndse-user-guide-calculated-fields\n[paymentguide]:     https://support.docusign.com/en/guides/requesting-payments-along-with-signatures\n[formulaTab]:\t    \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/formulaTab\n"
          items:
            $ref: '#/components/schemas/formulaTab'
        fullNameTabs:
          type: array
          description: "A list of \n[Full Name tabs][fullName].\n\nThis tab \ndisplays the recipient's full name.\n\n\n[fullName]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/fullName \n"
          items:
            $ref: '#/components/schemas/fullName'
        initialHereTabs:
          type: array
          description: "A list of \n[Initial Here tabs][initialHere].\n\nThis tab allows the recipient to initial the document. May\nbe optional.\n\n[initialHere]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/initialHere \n"
          items:
            $ref: '#/components/schemas/initialHere'
        lastNameTabs:
          type: array
          description: "A list of \n[Last Name tabs][lastName].\n\nThis tab \ndisplays the recipient's last name. It\ntakes the recipient's name as entered in the recipient\ninformation, splits it into sections based on spaces and\nuses the last section as the last name.\n\n\n[lastName]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/lastName \n"
          items:
            $ref: '#/components/schemas/lastName'
        listTabs:
          type: array
          description: "A list of \n[list tabs][list].\n\nThis tab offers a list of options to choose from. The\n`listItems` property is used to specify the selectable\noptions.\n\n\n\n[list]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/list \n"
          items:
            $ref: '#/components/schemas/list'
        notarizeTabs:
          type: array
          description: "A list of \n[Notarize tabs][notarize].\n\nA notarize tab is a tab that alerts notary recipients that\nthey must take action on the page.\nOnly one notarize tab can appear on a page.\n\n[notarize]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/notarize \n"
          items:
            $ref: '#/components/schemas/notarize'
        noteTabs:
          type: array
          description: "A list of \n[Note tabs][note].\n\nThis tab  displays additional information, in the form of a\nnote, for the recipient.\n\n[note]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/note \n"
          items:
            $ref: '#/components/schemas/note'
        numberTabs:
          type: array
          description: "A list of \n[Number tabs][number].\n\nThis tab allows the recipient to enter numbers and decimal\n(.) points.\n\n\n\n[number]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/number \n"
          items:
            $ref: '#/components/schemas/number'
        radioGroupTabs:
          type: array
          description: "A list of \n[Radio Group tabs][radioGroup].\n\nThis tab \nThis group tab is used to place radio buttons on a document.\nThe `radios` property is used to add and place the radio\nbuttons associated with the group. Only one radio button can\nbe selected in a group.\n\n\n[radioGroup]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radioGroup \n"
          items:
            $ref: '#/components/schemas/radioGroup'
        signerAttachmentTabs:
          type: array
          description: "A list of \n[Signer Attachment tabs][signerAttachment].\n\nThis tab \nallows the recipient to attach supporting\ndocuments to an envelope.\n\n\n[signerAttachment]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/signerAttachment \n"
          items:
            $ref: '#/components/schemas/signerAttachment'
        signHereTabs:
          type: array
          description: "A list of \n[Sign Here tabs][signHere].\n\nThis tab  allows the recipient to sign a document. May be\noptional.\n\n[signHere]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/signHere \n"
          items:
            $ref: '#/components/schemas/signHere'
        smartSectionTabs:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/smartSection'
        ssnTabs:
          type: array
          description: "A list of \n[SSN tabs][ssn].\n\nThis tab \nis a one-line field that allows the recipient to enter a Social\nSecurity Number. The SSN can be typed with or without\ndashes. It uses the same parameters as a Text tab, with the\nvalidation message and pattern set for SSN information.\n\n\n[ssn]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/ssn \n"
          items:
            $ref: '#/components/schemas/ssn'
        textTabs:
          type: array
          description: "A list of \n[Text tabs][text].\n\nThis tab \nA tab that allows the recipient to enter any type of text.\n\n[text]: https://developers.docusign.com/esign-rest-api/reference/EnvelopeRecipientTabs/create/#/definitions/text \n"
          items:
            $ref: '#/components/schemas/text'
        titleTabs:
          type: array
          description: "A list of \n[Title tabs][title].\n\nThis tab  displays the recipient's title.\n\n\n[title]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/title \n"
          items:
            $ref: '#/components/schemas/title'
        viewTabs:
          type: array
          description: "A list of \n[View tabs][view].\n\nThis tab \nThis tab is used with the Approve tab to handle\nsupplemental documents.\n\n[view]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/view \n"
          items:
            $ref: '#/components/schemas/view'
        zipTabs:
          type: array
          description: "A list of \n[Zip tabs][zip].\n\nThis tab \nallows the recipient to enter a ZIP code. The ZIP\ncode can be five digits or nine digits in the ZIP+4 format.\nThe zip code can be typed with or without dashes. It uses\nthe same parameters as a Text tab, with the validation\nmessage and pattern set for ZIP code information.\n\n\n[zip]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/zip\n"
          items:
            $ref: '#/components/schemas/zip'
      description: 'All of the tabs associated with a recipient. Each property is a list of a type of tab.

        '
      x-ds-definition-name: tabs
      x-ds-category: Envelopes
      x-ds-order: '50'
      x-ms-summary: 'All of the tabs associated with a recipient. Each property is a list of a type of tab.

        '
    ErrorDetails:
      type: object
      description: Contains error information returned by the API.
      properties:
        errorCode:
          type: string
          description: The error code.
          example: example_value
        message:
          type: string
          description: A human-readable error message.
          example: example_value
    title:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maxLength:
          type: integer
          description: An optional value that describes the maximum length of the property when the property is a string.
          format: int32
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the recipient''s title.

        '
      x-ds-definition-name: title
      x-ms-summary: 'A tab that displays the recipient''s title.

        '
    recipientSignatureProviderOptions:
      type: object
      properties:
        cpfNumber:
          type: string
          description: Reserved for DocuSign
        oneTimePassword:
          type: string
          description: 'A pre-shared secret that the signer must enter to complete the signing process. Eg last six digits of the signer''s government ID or Social Security number. Or a newly created pre-shared secret for the transaction. Note: some signature providers may require an exact (case-sensitive) match if alphabetic characters are included in the field.'
        signerRole:
          type: string
          description: 'The role or capacity of the signing recipient. Examples: Manager, Approver, etc.'
        sms:
          type: string
          description: 'The mobile phone number used to send the recipient an access code for the signing ceremony. Format: a string starting with +, then the country code followed by the full mobile phone number without any spaces or special characters. Omit leading zeroes before a city code. Examples: +14155551234, +97235551234, +33505551234.'
      description: Option settings for the signature provider. Different providers require or use different options. [The current provider list and the options they require.](https://developers.docusign.com/esign-rest-api/guides/standards-based-signatures)
      x-ds-definition-name: recipientSignatureProviderOptions
      x-ms-summary: Option settings for the signature provider. Different providers require or use different options. [The current provider list and the options they require.](https://developers.docusign.com/esign-rest-api/guides/standards-based-signatures)
    EnvelopeRecipients:
      type: object
      properties:
        agents:
          type: array
          description: A complex type defining the management and access rights of a recipient assigned assigned as an agent on the document.
          items:
            $ref: '#/components/schemas/agent'
        carbonCopies:
          type: array
          description: A complex type containing information about recipients who should receive a copy of the envelope, but does not need to sign it.
          items:
            $ref: '#/components/schemas/carbonCopy'
        certifiedDeliveries:
          type: array
          description: A complex type containing information on a recipient the must receive the completed documents for the envelope to be completed, but the recipient does not need to sign, initial, date, or add information to any of the documents.
          items:
            $ref: '#/components/schemas/certifiedDelivery'
        currentRoutingOrder:
          type: string
          description: ''
        editors:
          type: array
          description: A complex type defining the management and access rights of a recipient assigned assigned as an editor on the document.
          items:
            $ref: '#/components/schemas/editor'
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        inPersonSigners:
          type: array
          description: Specifies a signer that is in the same physical location as a DocuSign user who will act as a Signing Host for the transaction. The recipient added is the Signing Host and new separate Signer Name field appears after Sign in person is selected.
          items:
            $ref: '#/components/schemas/inPersonSigner'
        intermediaries:
          type: array
          description: Identifies a recipient that can, but is not required to, add name and email information for recipients at the same or subsequent level in the routing order (until subsequent Agents, Editors or Intermediaries recipient types are added).
          items:
            $ref: '#/components/schemas/intermediary'
        recipientCount:
          type: string
          description: 'The list of recipient event statuses that will trigger Connect to send updates to the url. It can be a two-part list with:


            * recipientEventStatusCode - The recipient status, this can be Sent, Delivered, Completed, Declined, AuthenticationFailed, and AutoResponded.

            * includeDocuments - When set to **true**, the envelope time zone information is included in the message.'
        seals:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/sealSign'
        signers:
          type: array
          description: A complex type containing information about the Signer recipient.
          items:
            $ref: '#/components/schemas/signer'
        witnesses:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/witness'
      description: Envelope recipients
      x-ds-definition-name: recipients
      x-ds-category: Envelopes
      x-ds-order: '20'
      x-ms-summary: Envelope recipients
    note:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
[...]
