openapi: 3.2.0
info:
  title: DocuSign Rooms API - v2 Fields API
  description: An API for an integrator to access the features of DocuSign Rooms
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://rooms.docusign.com/restapi
security:
- Bearer: []
tags:
- name: Fields
  description: Information about field sets.
paths:
  /v2/accounts/{accountId}/field_sets/{fieldSetId}:
    get:
      tags:
      - Fields
      summary: Docusign Gets a field set.
      description: Returns a field set. This is a set of fields that can appear on a room's Details tab in the console, such as `contactName` and `phone`.
      operationId: Fields_GetFieldSet
      parameters:
      - name: fieldSetId
        in: path
        description: 'The ID of the field set.


          Example: `4aef602b-xxxx-xxxx-xxxx-08d76696f678`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: fieldsCustomDataFilters
        in: query
        description: 'An comma-separated list that limits the fields to return:


          - `IsRequiredOnCreate`: include fields that are required in room creation.

          - `IsRequiredOnSubmit`: include fields that are required when submitting a room for review.

          '
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - IsRequiredOnCreate
            - IsRequiredOnSubmit
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: FieldSet successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FieldSet'
            application/json:
              schema:
                $ref: '#/components/schemas/FieldSet'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldSet'
            application/xml:
              schema:
                $ref: '#/components/schemas/FieldSet'
            text/xml:
              schema:
                $ref: '#/components/schemas/FieldSet'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFieldSet
      x-ds-method: GetFieldSet
      x-ds-service: Fields
      x-ds-in-sdk: true
components:
  schemas:
    SelectListFieldOption:
      type: object
      properties:
        id:
          type: object
          description: 'The ID of the list option.


            Example: `AU`'
          readOnly: true
        title:
          type: string
          description: 'The title or name of the list option.


            Example: `Australia`'
          readOnly: true
        order:
          type: integer
          description: 'The order of the list option in the list.


            Example: `3`'
          format: int32
          readOnly: true
      description: Contains details about an option in a list.
      x-ds-definition-name: SelectListFieldOption
      x-ms-summary: Contains details about an option in a list.
    CustomData:
      type: object
      properties:
        isRequiredOnCreate:
          type: boolean
          description: When **true,** the field is required when a new room is created.
          readOnly: true
        isRequiredOnSubmit:
          type: boolean
          description: When **true,** the field is required when a room is submitted for review.
          readOnly: true
      description: Contains information about whether the field is required when a room is created or submitted for review.
      x-ds-definition-name: CustomData
      x-ms-summary: Contains information about whether the field is required when a room is created or submitted for review.
    FieldSet:
      type: object
      properties:
        fieldSetId:
          type: string
          description: 'The ID of the field set.


            Example: `4aef602b-xxxx-xxxx-xxxx-08d76696f678`

            '
          format: uuid
          readOnly: true
        title:
          type: string
          description: The title or name of the field set.
          readOnly: true
        fields:
          type: array
          description: An array of fields.
          readOnly: true
          items:
            $ref: '#/components/schemas/Field'
      description: Contains details about a field set.
      x-ds-definition-name: FieldSet
      x-ms-summary: Contains details about a field set.
    FieldConfiguration:
      type: object
      properties:
        maxValue:
          type: number
          description: The maximum value allowed for the field.
          format: double
          readOnly: true
        minValue:
          type: number
          description: The minimum value allowed for the field.
          format: double
          readOnly: true
        multipleOf:
          type: number
          description: This property is used for validation. When you set a number value for this property, the value for the field must be a multiple of it.
          format: double
          readOnly: true
        maxLength:
          type: integer
          description: The maximum length of the field.
          format: int32
          readOnly: true
        minLength:
          type: integer
          description: The minimum length of the field.
          format: int32
          readOnly: true
        pattern:
          type: string
          description: The regular expression pattern to use to validate the value of the field.
          readOnly: true
        isPublisher:
          type: boolean
          description: When **true,** the field is a parent field on which one or more child fields depend.
          readOnly: true
        dependsOn:
          type: array
          description: This property applies to child fields. It contains information about the parent field that must have a value set in order for this field to have a value. For example, you must specify a country before you can select a state.
          readOnly: true
          items:
            $ref: '#/components/schemas/DependsOn'
        options:
          type: array
          description: An array of options in a list.
          readOnly: true
          items:
            $ref: '#/components/schemas/SelectListFieldOption'
      description: Contains details about how a field is configured.
      x-ds-definition-name: FieldConfiguration
      x-ms-summary: Contains details about how a field is configured.
    Field:
      type: object
      properties:
        fieldId:
          type: string
          description: An ID that uniquely identifies the instance of a `fieldDefinition` within a field set.
          format: uuid
          readOnly: true
        fieldDefinitionId:
          type: string
          description: The ID of the DocuSign field definition from which this field derives. When an Admin user configures a field set by using the API, this is the ID that they use to add this field definition to the field set. The original field definition associated with this ID contains more information about the field, such as the default title, default API name, and configurations such as the maximum length or the maximum value allowed.
          format: uuid
          readOnly: true
        title:
          type: string
          description: 'The human-readable title or name of the field.


            Example: `Company contact name`'
          readOnly: true
        apiName:
          type: string
          description: "The name that the Rooms API uses for the field. \n\nExample: `companyContactName`\n\n**Note:** When you create a new room, you use the `apiName` values for fields to specify the details that you want to appear on the room's **Details** tab."
          readOnly: true
        type:
          type: string
          description: 'The type of field. Valid values:


            - `Date`

            - `Text`

            - `Checkbox`

            - `Currency`

            - `Numeric`

            - `SelectList`

            - `TextArea`

            - `Percentage`

            - `Integer`


            '
          readOnly: true
        fields:
          type: array
          description: An array of subfields.
          readOnly: true
          items:
            $ref: '#/components/schemas/Field'
        configuration:
          $ref: '#/components/schemas/FieldConfiguration'
        customData:
          $ref: '#/components/schemas/CustomData'
      description: Contains details about a field in a field set.
      x-ds-definition-name: Field
      x-ms-summary: Contains details about a field in a field set.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    DependsOn:
      type: object
      properties:
        actionType:
          type: string
          description: 'The child field action that depends on the parent field.


            Example: `visibility`


            For example, in the console, you must select a country for a list of states to become visible.'
          readOnly: true
        parentApiName:
          type: string
          description: 'The name that the Rooms API uses for the parent field.


            Example: `country`'
          readOnly: true
      description: Contains information about a parent field on which this field depends.
      x-ds-definition-name: DependsOn
      x-ms-summary: Contains information about a parent field on which this field depends.
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
externalDocs:
  description: Rooms API Reference
  url: https://developers.docusign.com/docs/rooms-api/reference/
x-ds-categories:
- name: Accounts
  summary: Information about accounts.
  description: Information about accounts.
- name: Documents
  summary: Information about documents.
  description: Information about documents.
- name: ESignPermissionProfiles
  summary: A permission profile is a standard set of user permissions that you can apply to individual users or the users in a group. This functionality makes it easier to manage permissions for a large number of users.
  description: 'When you create or invite a new member in Rooms, the system creates an eSignature account for the member at the same time. This section shows you how to retrieve a list of eSignature permission profiles that the current user can assign to a new member.


    You can use the API only to retrieve and assign eSignature permission profiles. You create and modify permission profiles in the DocuSign console.'
- name: Fields
  summary: This section shows you how to retrieve a specific field set. This is a set of fields that can appear on a room's **Details** tab.
  description: Information about field sets.
- name: Forms
  summary: 'The Forms feature of DocuSign Rooms for Real Estate enables provides access to standard industry association forms that you can add to rooms.


    **Note:** Forms is not a default feature and is currently only available in Rooms for Real Estate. To request access to Forms, contact your DocuSign Account Manager.


    '
  description: "## Form groups\n\nWith the appropriate permissions, form administrators at your company can create form groups, or curated set of forms gathered from the association **form libraries** to which DocuSign provides access. Form groups enable agents to know which forms to add to rooms based on the type of transaction they are working on. When creating groups, administrators can make certain forms required, ensuring compliance. If you don't create groups, agents will have to choose forms they need from a list of association forms.\n\n## Permissions\n\nTo manage forms, you must have the `canManageFormGroups` permission, which enables you to access the **Forms** tab in **Admin.** For all other roles, assign permissions based on how these users will be working with forms. If no form permissions are enabled for these roles, users cannot add forms to rooms.\n\nForm administrators must have the `canManageFormGroups` permission assigned to their user role. This gives them access to the **Forms** tab in **Admin.** However, you should also consider the user's access level. For example, if the user has access to specific offices, they can only administer form groups for those offices. \n"
- name: GlobalResources
  summary: The Global Resources category organizes resource that are used throughout the Rooms API. You typically use these resources when you create or update a room, region, office, or user.
  description: 'This section shows you how to retrieve the following Global Resources:


    - Activity Types

    - Closing Statuses

    - Contact Sides

    - Countries

    - Currencies

    - Financing Types

    - Origins of Leads

    - Property Types

    - Room Contact Types

    - Seller Decision Types

    - Special Circumstances Types

    - States

    - Task Date Types

    - Task Responsibility Types

    - Time Zones

    - Transaction Sides'
- name: Offices
  summary: You can use the API to manage offices in your Rooms account.
  description: This section shows you how to create and manage offices.
- name: Regions
  summary: You can use the API to manage regions associated with your Rooms account.
  description: This section shows you how to create and manage regions for a Rooms account.
- name: Roles
  summary: 'The Roles resource enables you to easily manage user permissions. '
  description: 'Each role is associated with specific permissions. Each new member is assigned a role when you create them, automatically granting them the permissions associated with that role.


    Roles use the following permission types to control the actions that users can perform:


    - Room

    - Room Details

    - Documents

    - Envelopes

    - Member Management

    - Company Settings


    Rooms enables you to configure custom roles containing permissions that make sense for your company. Because each new member is assigned a role, you must set up these roles before you can invite members to join your account.


    Permissions for roles are tied to the `roleId` property and not yet exposed. You can learn more about these permission types and configure them in the web application.


    ### Internal and External Roles


    In Rooms, a role can be either internal or external. You assign internal roles to people inside your company. You assign external roles to people outside your company when you invite them to a room.


    Each member inside your company has a default company role. However, they can also be assigned additional roles with different permissions on a per-room basis. Regardless of the member''s default company role, what they can do in a room is entirely controlled by their role in that particular room.

    '
- name: Rooms
  summary: This section shows you how to create and mange rooms. In Rooms for Real Estate, a room is a collaborative digital space corresponding to a specific property. In Rooms for Mortgages, a room corresponds to a specific loan.
  description: 'A room can hold documents, envelopes, a list of tasks comprising a workflow, and other related information. You can invite others to this space and assign them permissions on a per-room basis. The documentation in this section shows you how to perform these and other tasks.

    '
- name: RoomTemplates
  summary: 'Room templates enable your company to standardize the new rooms that users create. '
  description: This section shows you how to retrieve room templates. You can perform additional room template tasks in the console.
- name: TaskLists
  summary: The TaskLists resource helps you keep track of the documents and activities you must complete before you can close a room.
  description: Your administrator may also have created custom task list templates that can be added to rooms. If your administrator created room templates, those room templates may include task lists for you to use.
- name: Users
  summary: The Users resource provides methods that enable you to add, update, delete, and manage users.
  description: A user is a person who is either added to a room (as a participant), or who is a member of a company. This section shows you how to manage users, including how to update and delete National Association of REALTORS® member numbers.
x-original-swagger-version: '2.0'
