openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands TaskDateTypes API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: TaskDateTypes
  description: Task date types are the options that appear in the **Due Date** drop-down list when you create a task by using the console.
paths:
  /v2/task_date_types:
    get:
      tags:
      - TaskDateTypes
      summary: Docusign Gets task date types.
      description: 'Returns a list of date types that you can use with tasks, such as `Actual Close Date` and `Task Due Date`. These are the options that appear in the **Due Date** drop-down list when you create a task by using the console.


        **Note:** You do not enter an `accountId` with this method.


        ## Permissions


        Any user with a valid access token can use this method.'
      operationId: TaskDateTypes_GetTaskDateTypes
      responses:
        '200':
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalTaskDateTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskDateTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskDateTypes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalTaskDateTypes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalTaskDateTypes'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetTaskDateTypes
      x-ds-method: GetTaskDateTypes
      x-ds-service: TaskDateTypes
      x-ds-in-sdk: true
components:
  schemas:
    TaskDateType:
      type: object
      properties:
        taskDateTypeId:
          type: string
          description: 'The ID of the task date type.


            Example: `tdd` (for `Task Due Date`)'
        name:
          type: string
          description: "The name of the task date type. \n\nPossible values are:\n\n- `Specific Calendar Date`\n- `Task Due Date`\n- `Actual Close Date`\n- `Binding Date`\n- `Contingency Removal Date`\n- `Contract Date`\n- `Expected Closing Date`\n- `Listing Date`\n- `Listing Expiration Date`\n- `Offer Date`"
      description: Contains information about a task date type.
      x-ds-definition-name: TaskDateType
      x-ms-summary: Contains information about a task date type.
    GlobalTaskDateTypes:
      type: object
      properties:
        taskDateTypes:
          type: array
          description: A list of task date types.
          items:
            $ref: '#/components/schemas/TaskDateType'
      description: Contains a list of task date types.
      x-ds-definition-name: GlobalTaskDateTypes
      x-ms-summary: Contains a list of task date types.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
