openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands EnvelopeFormData API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: EnvelopeFormData
  description: 'The EnvelopeFormData resource provides methods that manage forms in an envelope. '
paths:
  /v2/accounts/{accountId}/envelopes/{envelopeId}/form_data:
    get:
      tags:
      - EnvelopeFormData
      summary: Docusign Returns envelope form data for an existing envelope.
      operationId: FormData_GetFormData
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeFormData'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getFormData
      x-ds-method: get
      x-ds-service: Envelopes
      x-ds-in-sdk: true
components:
  schemas:
    recipientFormData:
      type: object
      properties:
        declinedTime:
          type: string
          description: ''
        deliveredTime:
          type: string
          description: ''
        email:
          type: string
          description: ''
        formData:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        name:
          type: string
          description: ''
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        sentTime:
          type: string
          description: ''
        signedTime:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: recipientFormData
      x-ms-summary: ''
    nameValue:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        name:
          type: string
          description: The name or key of a name/value pair.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        value:
          type: string
          description: The value field of a name/value pair.
      description: ''
      x-ds-definition-name: nameValue
      x-ms-summary: ''
    envelopeFormData:
      type: object
      properties:
        emailSubject:
          type: string
          description: 'Specifies the subject of the email that is sent to all recipients.


            See [ML:Template Email Subject Merge Fields] for information about adding merge field information to the email subject.'
        envelopeId:
          type: string
          description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        formData:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        prefillFormData:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        recipientFormData:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/recipientFormData'
        sentDateTime:
          type: string
          description: The UTC DateTime when the envelope was sent. Read only.
        status:
          type: string
          description: Item status. <!-- TODO -->
      description: ''
      x-ds-definition-name: envelopeFormData
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
