openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands CloudStorage API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: CloudStorage
  description: The CloudStorage resource provides methods that allow you to list files stored on your cloud storage provider.
paths:
  /v2/accounts/{accountId}/users/{userId}/cloud_storage/{serviceId}/folders:
    get:
      tags:
      - CloudStorage
      summary: Docusign Retrieves a list of all the items in a specified folder from the specified cloud storage provider.
      description: 'Retrieves a list of all the items in a specified folder from the specified cloud storage provider. '
      operationId: CloudStorageFolder_GetCloudStorageFolderAll
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: serviceId
        in: path
        description: "The ID of the service to access. \n\nValid values are the service name (\"Box\") or the numerical serviceId (\"4136\")."
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        required: true
        schema:
          type: string
      - name: cloud_storage_folder_path
        in: query
        description: 'A comma separated list of folder IDs included in the request. '
        schema:
          type: string
      - name: count
        in: query
        description: "An optional value that sets how many items are included in the response. \n\nThe default setting for this is 25. "
        schema:
          type: string
      - name: order
        in: query
        description: "An optional value that sets the direction order used to sort the item list. \n\nValid values are: \n\n* asc = ascending sort order\n* desc = descending sort order "
        schema:
          type: string
      - name: order_by
        in: query
        description: "An optional value that sets the file attribute used to sort the item list. \n\nValid values are: \n\n* modified\n* name  "
        schema:
          type: string
      - name: search_text
        in: query
        schema:
          type: string
      - name: start_position
        in: query
        description: 'Indicates the starting point of the first item included in the response set. It uses a 0-based index. The default setting for this is 0.  '
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/externalFolder'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listFolders
      x-ds-method: listFolders
      x-ds-service: CloudStorage
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/users/{userId}/cloud_storage/{serviceId}/folders/{folderId}:
    get:
      tags:
      - CloudStorage
      summary: Docusign Gets a list of all the items from the specified cloud storage provider.
      description: Retrieves a list of all the items in all  the folders associated with the user from the specified cloud storage provider. You can limit the scope of the returned items by providing a comma separated list of folder IDs in the request.
      operationId: CloudStorageFolder_GetCloudStorageFolder
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: folderId
        in: path
        description: The ID of the folder being accessed.
        required: true
        schema:
          type: string
      - name: serviceId
        in: path
        description: "The ID of the service to access. \n\nValid values are the service name (\"Box\") or the numerical serviceId (\"4136\")."
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        required: true
        schema:
          type: string
      - name: cloud_storage_folder_path
        in: query
        schema:
          type: string
      - name: count
        in: query
        description: "An optional value that sets how many items are included in the response. \n\nThe default setting for this is 25. "
        schema:
          type: string
      - name: order
        in: query
        description: "An optional value that sets the direction order used to sort the item list. \n\nValid values are: \n\n* asc = ascending sort order\n* desc = descending sort order "
        schema:
          type: string
      - name: order_by
        in: query
        description: "An optional value that sets the file attribute used to sort the item list. \n\nValid values are: \n\n* modified\n* name  "
        schema:
          type: string
      - name: search_text
        in: query
        schema:
          type: string
      - name: start_position
        in: query
        description: 'Indicates the starting point of the first item included in the response set. It uses a 0-based index. The default setting for this is 0.  '
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/externalFolder'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: list
      x-ds-method: list
      x-ds-service: CloudStorage
      x-ds-in-sdk: true
components:
  schemas:
    externalFile:
      type: object
      properties:
        date:
          type: string
          description: ''
        id:
          type: string
          description: ''
        img:
          type: string
          description: ''
        name:
          type: string
          description: ''
        size:
          type: string
          description: 'Reserved: TBD'
        supported:
          type: string
          description: ''
        type:
          type: string
          description: 'Type of the user. Valid values: type_owner, type_participant.'
        uri:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: externalFile
      x-ms-summary: ''
    externalDocServiceErrorDetails:
      type: object
      properties:
        authenticationUrl:
          type: string
          description: 'Reserved: TBD'
        errorCode:
          type: string
          description: ''
        message:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: externalDocServiceErrorDetails
      x-ms-summary: ''
    externalFolder:
      type: object
      properties:
        endPosition:
          type: string
          description: 'The last position in the result set. '
        errorDetails:
          $ref: '#/components/schemas/externalDocServiceErrorDetails'
        id:
          type: string
          description: ''
        items:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/externalFile'
        name:
          type: string
          description: ''
        nextUri:
          type: string
          description: 'The URI for the next chunk of records based on the search request. It is `null` if this is the last set of results for the search. '
        previousUri:
          type: string
          description: 'The URI for the prior chunk of records based on the search request. It is `null` if this is the first set of results for the search. '
        resultSetSize:
          type: string
          description: 'The number of results returned in this response. '
        startPosition:
          type: string
          description: Starting position of the current result set.
        totalSetSize:
          type: string
          description: The total number of items in the search's result set. It will always be greater than or equal to the value of the `resultSetSize` field.
      description: ''
      x-ds-definition-name: externalFolder
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
