openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands FormLibraries API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: FormLibraries
  description: ''
paths:
  /v2/accounts/{accountId}/form_libraries:
    get:
      tags:
      - FormLibraries
      summary: Docusign Gets form libraries.
      description: 'Returns a list of form libraries to which the current user has access.


        ## Permissions


        All users can use this method, but the results will differ based on whether the company has asked DocuSign to enable **RequireOfficeLibraryAssignments** functionality. If this functionality is enabled for the account, then the list is filtered based on the offices that the user is in and the libraries that are assigned to those offices. When **RequireOfficeLibraryAssignments**  is not enabled, the API returns all results.'
      operationId: FormLibraries_GetFormLibraries
      parameters:
      - name: count
        in: query
        description: The number of results to return. This value must be a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: The starting zero-based index position of the results set. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved Form Libraries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormLibraries
      x-ds-method: GetFormLibraries
      x-ds-service: FormLibraries
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_libraries/{formLibraryId}/forms:
    get:
      tags:
      - FormLibraries
      summary: Docusign Gets the forms in a form library.
      description: Returns a list of forms  to which the current user has access in the specified form library.
      operationId: FormLibraries_GetFormLibraryForms
      parameters:
      - name: formLibraryId
        in: path
        description: 'The ID of the form library.


          Example: `402c6e2f-xxxx-xxxx-xxxx-ff3f249f6da9`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: count
        in: query
        description: The number of results to return. This value must be a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: (Optional) The starting zero-based index position of the results set. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved library forms.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormLibraryForms
      x-ds-method: GetFormLibraryForms
      x-ds-service: FormLibraries
      x-ds-in-sdk: true
components:
  schemas:
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    FormLibrarySummaryList:
      type: object
      properties:
        formsLibrarySummaries:
          type: array
          description: A list of form libraries.
          items:
            $ref: '#/components/schemas/FormLibrarySummary'
        resultSetSize:
          type: integer
          description: The number of results returned in this response.
          format: int32
        startPosition:
          type: integer
          description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
          format: int32
        endPosition:
          type: integer
          description: The last zero-based index position in the result set.
          format: int32
          readOnly: true
        nextUri:
          type: string
          description: The URI for the next chunk of records based on the search request. This property is `null` for the last set of search results.
        priorUri:
          type: string
          description: The URI for the previous chunk of records based on the search request. This property is `null` for the first set of search results.
        totalRowCount:
          type: integer
          description: ''
          format: int32
      description: Contains a list of forms libraries.
      x-ds-definition-name: FormLibrarySummaryList
      x-ms-summary: Contains a list of forms libraries.
    FormLibrarySummary:
      type: object
      properties:
        formsLibraryId:
          type: string
          description: 'The ID of the form library.


            Example: `402c6e2f-xxxx-xxxx-xxxx-ff3f249f6da9`

            '
          format: uuid
          readOnly: true
        name:
          type: string
          description: 'The name of the form library.


            Example: `MOR - Mainstreet Organization of Realtors`'
          readOnly: true
        formCount:
          type: integer
          description: "The number of forms in the form library. \n\nExample: `50`"
          format: int32
          readOnly: true
      description: Contains details about a specific form library.
      x-ds-definition-name: FormLibrarySummary
      x-ms-summary: Contains details about a specific form library.
    FormSummary:
      type: object
      properties:
        libraryFormId:
          type: string
          description: 'The ID of the form.


            Example: `301f560d-xxxx-xxxx-xxxx-063a47cc12c2`

            '
          format: uuid
          readOnly: true
        name:
          type: string
          description: "The name of the form. \n\nExample: `Short Sale Supplement to Marketing Agreement`"
          readOnly: true
        lastUpdatedDate:
          type: string
          description: 'The date and time when the form was last updated.


            Example: `2017-08-11T19:58:36.18`'
          format: date-time
          readOnly: true
        viewingUserHasAccess:
          type: boolean
          description: ''
          readOnly: true
      description: Contains details about a form in a form library.
      x-ds-definition-name: FormSummary
      x-ms-summary: Contains details about a form in a form library.
    FormSummaryList:
      type: object
      properties:
        forms:
          type: array
          description: A list of forms.
          items:
            $ref: '#/components/schemas/FormSummary'
        resultSetSize:
          type: integer
          description: The number of results returned in this response.
          format: int32
        startPosition:
          type: integer
          description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
          format: int32
        endPosition:
          type: integer
          description: The last zero-based index position in the result set.
          format: int32
          readOnly: true
        nextUri:
          type: string
          description: The URI for the next chunk of records based on the search request. This property is `null` for the last set of search results.
        priorUri:
          type: string
          description: The URI for the previous chunk of records based on the search request. This property is `null` for the first set of search results.
        totalRowCount:
          type: integer
          description: ''
          format: int32
      description: Contains a list of forms in a form library.
      x-ds-definition-name: FormSummaryList
      x-ms-summary: Contains a list of forms in a form library.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
