openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands RoomFolders API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: RoomFolders
  description: ''
paths:
  /v2/accounts/{accountId}/rooms/{roomId}/room_folders:
    get:
      tags:
      - RoomFolders
      summary: Docusign Gets a list of room folders accessible to the current user.
      description: Gets a list of room folders in the specified room that are accessible to the current user.
      operationId: RoomFolders_GetRoomFolders
      parameters:
      - name: roomId
        in: path
        description: The ID of the room from which to retrieve folders.
        required: true
        schema:
          type: integer
          format: int32
      - name: startPosition
        in: query
        description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: count
        in: query
        description: The number of results. When this property is used as a request parameter specifying the number of results to return, the value must be a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Room folders successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RoomFolderList'
            application/json:
              schema:
                $ref: '#/components/schemas/RoomFolderList'
            text/json:
              schema:
                $ref: '#/components/schemas/RoomFolderList'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoomFolderList'
            text/xml:
              schema:
                $ref: '#/components/schemas/RoomFolderList'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetRoomFolders
      x-ds-method: GetRoomFolders
      x-ds-service: RoomFolders
      x-ds-in-sdk: true
components:
  schemas:
    RoomFolder:
      type: object
      properties:
        roomFolderId:
          type: integer
          description: The ID of the folder.
          format: int32
        name:
          type: string
          description: The name of the folder.
        isDefault:
          type: boolean
          description: When **true,** this is the default folder.
      description: Information about a room folder.
      x-ds-definition-name: RoomFolder
      x-ms-summary: Information about a room folder.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    RoomFolderList:
      type: object
      properties:
        folders:
          type: array
          description: An array of room folders.
          items:
            $ref: '#/components/schemas/RoomFolder'
        resultSetSize:
          type: integer
          description: The number of results returned in this response.
          format: int32
        startPosition:
          type: integer
          description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
          format: int32
        endPosition:
          type: integer
          description: The last zero-based index position in the result set.
          format: int32
          readOnly: true
        nextUri:
          type: string
          description: The URI for the next chunk of records based on the search request. This property is `null` for the last set of search results.
        priorUri:
          type: string
          description: The URI for the previous chunk of records based on the search request. This property is `null` for the first set of search results.
        totalRowCount:
          type: integer
          description: ''
          format: int32
      description: A list of room folder results.
      x-ds-definition-name: RoomFolderList
      x-ms-summary: A list of room folder results.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
