openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands AccountPasswordRules API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: AccountPasswordRules
  description: The AccountPasswordRules resource provides methods that allow you to obtain and update account password rules, as well as membership and account rules.
paths:
  /v2/accounts/{accountId}/settings/password_rules:
    get:
      tags:
      - AccountPasswordRules
      summary: Docusign Get the password rules
      operationId: AccountPasswordRules_GetAccountPasswordRules
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/accountPasswordRules'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getAccountPasswordRules
      x-ds-method: get
      x-ds-service: Accounts
      x-ds-in-sdk: true
    put:
      tags:
      - AccountPasswordRules
      summary: Docusign Update the password rules
      operationId: AccountPasswordRules_PutAccountPasswordRules
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountPasswordRules'
          application/xml:
            schema:
              $ref: '#/components/schemas/accountPasswordRules'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/accountPasswordRules'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateAccountPasswordRules
      x-ds-method: update
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: accountPasswordRules
  /v2/current_user/password_rules:
    get:
      tags:
      - AccountPasswordRules
      summary: Docusign Get membership account password rules
      operationId: PasswordRules_GetPasswordRules
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/userPasswordRules'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getPasswordRules
      x-ds-method: getForUser
      x-ds-service: Accounts
      x-ds-in-sdk: true
components:
  schemas:
    accountPasswordStrengthTypeOption:
      type: object
      properties:
        minimumLength:
          type: string
          description: ''
        name:
          type: string
          description: ''
        passwordIncludeDigit:
          type: string
          description: ''
        passwordIncludeDigitOrSpecialCharacter:
          type: string
          description: ''
        passwordIncludeLowerCase:
          type: string
          description: ''
        passwordIncludeSpecialCharacter:
          type: string
          description: ''
        passwordIncludeUpperCase:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: accountPasswordStrengthTypeOption
      x-ms-summary: ''
    userPasswordRules:
      type: object
      properties:
        passwordRules:
          $ref: '#/components/schemas/accountPasswordRules'
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
      description: ''
      x-ds-definition-name: userPasswordRules
      x-ms-summary: ''
    accountPasswordExpirePasswordDays:
      type: object
      properties:
        maximumDays:
          type: string
          description: ''
        minimumDays:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: accountPasswordExpirePasswordDays
      x-ms-summary: ''
    accountPasswordQuestionsRequired:
      type: object
      properties:
        maximumQuestions:
          type: string
          description: The maximum number of password reset questions allowed for the account. This number must be between `0` and `4`, and equal to or greater than `minimumQuestions`.
        minimumQuestions:
          type: string
          description: The minimum number of password reset questions allowed for the account. This number must be between `0` and `4`, and equal to or less than `maximumQuestions`.
      description: Information about the number of password questions required (0 to 4) to confirm a user's identity when a user needs to reset their password.
      x-ds-definition-name: accountPasswordQuestionsRequired
      x-ms-summary: Information about the number of password questions required (0 to 4) to confirm a user's identity when a user needs to reset their password.
    accountPasswordRules:
      type: object
      properties:
        expirePassword:
          type: string
          description: ''
        expirePasswordDays:
          type: string
          description: ''
        expirePasswordDaysMetadata:
          $ref: '#/components/schemas/accountPasswordExpirePasswordDays'
        lockoutDurationMinutes:
          type: string
          description: ''
        lockoutDurationMinutesMetadata:
          $ref: '#/components/schemas/accountPasswordLockoutDurationMinutes'
        lockoutDurationType:
          type: string
          description: ''
        lockoutDurationTypeMetadata:
          $ref: '#/components/schemas/accountPasswordLockoutDurationType'
        minimumPasswordAgeDays:
          type: string
          description: ''
        minimumPasswordAgeDaysMetadata:
          $ref: '#/components/schemas/accountPasswordMinimumPasswordAgeDays'
        minimumPasswordLength:
          type: string
          description: ''
        minimumPasswordLengthMetadata:
          $ref: '#/components/schemas/accountMinimumPasswordLength'
        passwordIncludeDigit:
          type: string
          description: ''
        passwordIncludeDigitOrSpecialCharacter:
          type: string
          description: ''
        passwordIncludeLowerCase:
          type: string
          description: ''
        passwordIncludeSpecialCharacter:
          type: string
          description: ''
        passwordIncludeUpperCase:
          type: string
          description: ''
        passwordStrengthType:
          type: string
          description: ''
        passwordStrengthTypeMetadata:
          $ref: '#/components/schemas/accountPasswordStrengthType'
        questionsRequired:
          type: string
          description: ''
        questionsRequiredMetadata:
          $ref: '#/components/schemas/accountPasswordQuestionsRequired'
      description: ''
      x-ds-definition-name: accountPasswordRules
      x-ms-summary: ''
    accountMinimumPasswordLength:
      type: object
      properties:
        maximumLength:
          type: string
          description: ''
        minimumLength:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: accountMinimumPasswordLength
      x-ms-summary: ''
    accountPasswordMinimumPasswordAgeDays:
      type: object
      properties:
        maximumAge:
          type: string
          description: ''
        minimumAge:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: accountPasswordMinimumPasswordAgeDays
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    accountPasswordLockoutDurationType:
      type: object
      properties:
        options:
          type: array
          description: ''
          items:
            type: string
      description: ''
      x-ds-definition-name: accountPasswordLockoutDurationType
      x-ms-summary: ''
    accountPasswordLockoutDurationMinutes:
      type: object
      properties:
        maximumMinutes:
          type: string
          description: ''
        minimumMinutes:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: accountPasswordLockoutDurationMinutes
      x-ms-summary: ''
    accountPasswordStrengthType:
      type: object
      properties:
        options:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/accountPasswordStrengthTypeOption'
      description: ''
      x-ds-definition-name: accountPasswordStrengthType
      x-ms-summary: ''
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
