openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands Envelopes API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: Envelopes
  description: Create, send, and manage envelopes. An envelope is the fundamental unit of a DocuSign transaction, containing the documents to be signed, the recipients who will sign them, and the workflow rules.
  externalDocs:
    url: https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/
paths:
  /accounts/{accountId}/envelopes:
    post:
      operationId: Envelopes_CreateEnvelope
      summary: Docusign Create an Envelope
      description: Creates and optionally sends an envelope. An envelope is the container for documents, recipients, and the workflow information. You can create an envelope in draft status to allow for further modifications, or send it immediately upon creation.
      tags:
      - Envelopes
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvelopeDefinition'
      responses:
        '201':
          description: Envelope created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: Envelopes_ListEnvelopes
      summary: Docusign List Envelopes
      description: Returns a list of envelopes that match the specified criteria. Use query parameters to filter by date, status, and other envelope properties.
      tags:
      - Envelopes
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: from_date
        in: query
        description: Start date for the envelope search. Only envelopes created on or after this date are returned. Format is ISO 8601.
        schema:
          type: string
          format: date-time
      - name: to_date
        in: query
        description: End date for the envelope search. Only envelopes created before this date are returned. Format is ISO 8601.
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: Filter by envelope status. Valid values include created, sent, delivered, signed, completed, declined, voided, deleted.
        schema:
          type: string
          enum:
          - created
          - sent
          - delivered
          - signed
          - completed
          - declined
          - voided
          - deleted
      - name: from_to_status
        in: query
        description: The status value checked for in the from_date and to_date range. Default is changed.
        schema:
          type: string
      - name: count
        in: query
        description: Maximum number of envelopes to return. Default is 100.
        schema:
          type: integer
          default: 100
      - name: start_position
        in: query
        description: Starting index position for the result set.
        schema:
          type: integer
      - name: search_text
        in: query
        description: Free text search across envelope metadata including recipient names, email addresses, and custom fields.
        schema:
          type: string
      - name: order
        in: query
        description: Sort order for results. Valid values are asc and desc.
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: order_by
        in: query
        description: The envelope property to sort by. Valid values include created, completed, last_modified, sent, status_changed.
        schema:
          type: string
      - name: folder_ids
        in: query
        description: Comma-separated list of folder IDs to search within.
        schema:
          type: string
      - name: include
        in: query
        description: Comma-separated list of additional information to include. Valid values include custom_fields, documents, attachments, extensions, folders, recipients, powerform.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved list of envelopes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopesInformation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{accountId}/envelopes/{envelopeId}:
    get:
      operationId: Envelopes_GetEnvelope
      summary: Docusign Get an Envelope
      description: Retrieves the overall status and properties of a single envelope. Returns information about the envelope including its status, sender, recipients, and documents.
      tags:
      - Envelopes
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/envelopeId'
      - name: include
        in: query
        description: Comma-separated list of additional information to include. Valid values include custom_fields, documents, attachments, extensions, folders, recipients, powerform, tabs.
        schema:
          type: string
      - name: advanced_update
        in: query
        description: When true, allows sender to update an in-process envelope.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: Envelopes_UpdateEnvelope
      summary: Docusign Update an Envelope
      description: Updates the envelope specified by envelopeId. You can use this method to modify envelope properties such as the email subject and message, resend notifications, void envelopes, and purge documents.
      tags:
      - Envelopes
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/envelopeId'
      - name: resend_envelope
        in: query
        description: When true, resends the envelope to all recipients who have not yet completed their actions.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Envelope'
      responses:
        '200':
          description: Envelope updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeUpdateSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/accounts/{accountId}/envelopes:
    get:
      tags:
      - Envelopes
      summary: Docusign Gets status changes for one or more envelopes.
      description: "Retrieves a list of envelopes that match your request. \nA large set of optional filters let you filter\nby date,\nby envelope ID,\nor by status codes.\n\nYour request must include one or more of the following parameters:\n\n* `from_date`\n* `envelope_ids`\n* `transaction_ids`\n\n\nGetting envelope status using `transaction_ids` is useful\nfor offline signing situations where it can be used\ndetermine if an envelope was created or not. It can be used\nfor the cases where a network connection was lost, before\nthe envelope status could be returned.\n\nTo avoid unnecessary database queries, the DocuSign\nsignature platform first checks requests to ensure that the\nfilter set supplied does not result in a zero-size response\nbefore querying the database. \n\nFor example, for a request with a `from_to_status` of\n`delivered` and a current `status` of `created,sent`,\nDocuSign will always return an empty list. \nThis is because the request translates to: find the\nenvelopes that were delivered between the `from_date` and\n`to_date` dates that have a current status of `created` or\n`sent`. Since an envelope that has been delivered can\nnever have a status of `created` or `sent`, a zero-size\nresponse would be generated. \nIn this case, DocuSign does not query the database\nand returns an empty list immediately.\n\n\nThe following table shows the valid current envelope\nstatuses (`status` parameter) for the different status\nqualifiers (`from_to_status` parameter) in the request. If\nthe status and status qualifiers in the API request do not\ncontain any of the values shown in the Valid Current\nStatuses column, then an empty list is returned.\n\nClient applications should check that the statuses (`status`\nparameter) they are requesting make sense for a given\n`from_to_status` parameter value.\n\n| Status Qualifier<br>(`from_to_status`) | Effective Status Qualifier | Valid Current Statuses                                                      |  \n| :------------------------------------- | :------------------------- | :-------------------------------------------------------------------------- |  \n| any (changed)                          | StatusChanged              | any, created, sent, delivered, signed, completed, declined, voided, deleted |  \n| created                                | Created                    | any, created, sent, delivered, signed, completed, declined, voided, deleted |  \n| sent                                   | Sent                       | any, sent, delivered, signed, completed, declined, voided, deleted          |  \n| delivered                              | StatusChanged              | any, delivered, signed, completed, declined, voided, deleted                |  \n| signed                                 | StatusChanged              | any, signed, completed, declined, voided, deleted                           |  \n| completed                              | Completed                  | any, completed, declined, voided, deleted                                   |  \n| declined                               | StatusChanged              | any, declined, voided, deleted                                              |  \n| timedout<br>always return zero results | StatusChanged              | any, voided, deleted                                                        |  \n| voided                                 | Voided                     | any, voided, deleted                                                        |  \n| deleted                                | StatusChanged              | any, deleted                                                                |  \n\n## Extraneous results\n\nIn some cases, a request for a specific envelope status will\ninclude envelopes with additional statuses. For example, in\na request with a `from_date` of 2017-01-01, a `to_date` of\n2017-01-07 and the status qualifier (`from_to_status`) set\nto `delivered`, the response set might contain envelopes\nthat were created during that time period, but not delivered\nduring the time period. As a workaround, check the envelope\nstatus values in the result set as needed. \n"
      operationId: Envelopes_GetEnvelopes
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: ac_status
        in: query
        description: 'Specifies the Authoritative Copy Status for the envelopes. The possible values are: Unknown, Original, Transferred, AuthoritativeCopy, AuthoritativeCopyExportPending, AuthoritativeCopyExported, DepositPending, Deposited, DepositedEO, or DepositFailed.'
        schema:
          type: string
      - name: block
        in: query
        description: 'Reserved for DocuSign.

          '
        schema:
          type: string
      - name: count
        in: query
        description: 'Optional. Number of items to return. Currently there is no implicit maximum limit of the number of items that can be returned.

          '
        schema:
          type: string
      - name: custom_field
        in: query
        description: "Optional. Specifies a envelope custom field name and value searched for in the envelopes. Format: `custom_envelope_field_name=desired_value`\n\nExample: If you have an envelope custom field named \"Region\" and you want to search for all envelopes where the value is \"West\" you would use set this parameter to `Region=West`. \n \n"
        schema:
          type: string
      - name: email
        in: query
        description: 'Limit results to envelopes

          sent by the account user

          with this email address.


          `user_name` must be given as well,

          and both `email` and `user_name`

          must refer to an existing account user.

          '
        schema:
          type: string
      - name: envelope_ids
        in: query
        description: Comma separated list of `envelopeId` values.
        schema:
          type: string
      - name: from_date
        in: query
        description: 'Specifies the date and time

          to start looking for status changes.

          This parameter is required

          unless `envelopeIds` or `transactionIds`

          are set.



          Although you can use any date format

          supported by the .NET system library''s

          [`DateTime.Parse()`][msoft] function,

          DocuSign recommends

          using [ISO 8601][] format dates

          with an explicit time zone offset

          If you do not provide

          a time zone offset,

          the method uses the server''s time zone.


          For example, the following dates and times refer to the same instant:


          * `2017-05-02T01:44Z`

          * `2017-05-01T21:44-04:00`

          * `2017-05-01T18:44-07:00`



          [msoft]: https://msdn.microsoft.com/en-us/library/system.datetime.parse(v=vs.110).aspx#StringToParse

          [ISO 8601]: https://en.wikipedia.org/wiki/ISO_8601'
        schema:
          type: string
      - name: from_to_status
        in: query
        description: "The status value checked for in the `from_date` to `to_date` time period. \n\nPossible values are: Voided, Changed, Created, Deleted, Sent, Delivered, Signed, Completed, Declined, TimedOut and Processing.\n\nIf `Changed` is specified, then envelopes that changed status during the period will be returned. \n\nFor example, if `Created` is specified, then envelopes created during the period are found. \n\nThe default is `Changed`. "
        schema:
          type: string
      - name: start_position
        in: query
        description: 'This value is supported and currently has no implicit maximum items.

          '
        schema:
          type: string
      - name: status
        in: query
        description: 'A comma-separated list of current envelope statuses to included in the response. Possible values are:


          * completed

          * created

          * declined

          * deleted

          * delivered

          * processing

          * sent

          * signed

          * timedout

          * voided


          The `any` value is equivalent to any status.


          '
        schema:
          type: string
      - name: to_date
        in: query
        description: 'Specifies the date and time

          to stop looking for status changes.

          The default is the current date and time.


          Although you can use any date format

          supported by the .NET system library''s

          [`DateTime.Parse()`][msoft] function,

          DocuSign recommends

          using [ISO 8601][] format dates

          with an explicit time zone offset

          If you do not provide

          a time zone offset,

          the method uses the server''s time zone.


          For example, the following dates and times refer to the same instant:


          * `2017-05-02T01:44Z`

          * `2017-05-01T21:44-04:00`

          * `2017-05-01T18:44-07:00`



          [msoft]: https://msdn.microsoft.com/en-us/library/system.datetime.parse(v=vs.110).aspx#StringToParse

          [ISO 8601]: https://en.wikipedia.org/wiki/ISO_8601

          '
        schema:
          type: string
      - name: transaction_ids
        in: query
        description: 'A comma-separated list of envelope transaction IDs.

          Transaction IDs are only valid for seven days.

          '
        schema:
          type: string
      - name: user_name
        in: query
        description: 'Limit results to envelopes

          sent by the account user

          with this user name.


          `email` must be given as well,

          and both `email` and `user_name`

          must refer to an existing account user.

          '
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopesInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listStatusChanges
      x-ds-method: listStatusChanges
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-ds-examples:
      - description: 'This example shows a how to get information about

          envelopes created since January 1, 2016.


          The request for this endpoint has no payload.


          ### Request

          ```

          GET /restapi/v2/accounts/1703061/envelopes?from_date=2016-01-01

          ```

          '
        direction: response
        format: json
        response:
          endPosition: '1'
          envelopes:
          - certificateUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/documents/certificate
            customFieldsUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/custom_fields
            documentsCombinedUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/documents/combined
            documentsUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/documents
            envelopeId: 379497bb-cc85-4654-bab9-a8e397f538d0
            envelopeUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0
            notificationUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/notification
            recipientsUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/recipients
            status: completed
            statusChangedDateTime: 2016-10-04 15:26:28.283000+00:00
            templatesUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/templates
          - certificateUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents/certificate
            customFieldsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/custom_fields
            documentsCombinedUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents/combined
            documentsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents
            envelopeId: 4b728be4-4417-45c6-b7e8-d63e23f822b6
            envelopeUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6
            notificationUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/notification
            recipientsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/recipients
            status: sent
            statusChangedDateTime: 2016-10-05 01:04:58.777000+00:00
            templatesUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/templates
          nextUri: ''
          previousUri: ''
          resultSetSize: '2'
          startPosition: '0'
          totalSetSize: '2'
        style: custom
        title: Get Status About Envelopes Since a Specified Date
    post:
      tags:
      - Envelopes
      summary: Docusign Creates an envelope.
      description: "Creates and sends an envelope or creates a draft envelope.\nEnvelopes are fundamental resources in the DocuSign platform.\n\nWith this method you can:\n\n* Create and send an envelope\n  with [documents][], [recipients][], and [tabs][].\n* Create and send an envelope from a template.\n* Create and send an envelope from\n  a combination of documents and templates.\n* Create a draft envelope.\n\n\nWhen you use this method\nto create and send an envelope\nin a single request,\nthe following parameters in the request body (an [`envelopeDefinition`][envelopeDefinition]) are required:\n\n| Parameter      | Description |\n| :--------      | :---------- |\n| `status`       | Set to `sent` to send the envelope to recipients.<br>Set to `created` (or don't set at all) to save the envelope as a draft. |\n| `emailSubject` | The subject of the email used to send the envelope. |\n| `documents`    | The [documents][] to be signed. |\n| `recipients`   | The email addresses of the envelope [recipients][]. |\n\n\nThere are many ways to use envelopes.\nYou can create and send an envelope\nwith a single API request,\nor you can use several API requests\nto create, populate, and send envelopes.\n\n\n| See                     | To learn about                                                                                                                    |\n| :----------------------- | :--------------------------------------------------------------------------------------------------------------------------------- |\n| [Envelopes][envelopes]   | Envelopes, [adding documents][addingdocs], [tracking][], [locking][], [deleting][], [templates][]                                  |\n| [Documents][documents]   | Documents, [attachments][], [supplemental documents][supdocs], [authoritative copies][authcopies], [purging][]                     |\n| [Recipients][recipients] | Recipients, [recipient types][reciptypes], [recipient status][recipstatus]                                                         |\n| [Tabs][tabs]             | Tabs, [tab types][tabtypes], [anchoring tabs][tabanchor], [auto-populating tabs][tabauto],  [custom tabs][tabcustom], [payments][] |\n\n\n[addingdocs]:           https://developers.docusign.com/esign-rest-api/guides/concepts/envelopes#adding-documents-to-an-envelope\n[attachments]:          https://developers.docusign.com/esign-rest-api/guides/concepts/documents#attachments\n[authcopies]:           https://developers.docusign.com/esign-rest-api/guides/concepts/documents#authoritative-copies\n[conoverview]:          https://developers.docusign.com/esign-rest-api/guides/concepts/overview\n[deleting]:             https://developers.docusign.com/esign-rest-api/guides/concepts/envelopes#deleting-envelopes\n[documents]:            https://developers.docusign.com/esign-rest-api/guides/concepts/documents\n[envelopeDefinition]:   https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create#envelopeDefinition\n[envelopes]:            https://developers.docusign.com/esign-rest-api/guides/concepts/envelopes\n[locking]:              https://developers.docusign.com/esign-rest-api/guides/concepts/envelopes#locking-envelopes\n[payments]:             https://developers.docusign.com/esign-rest-api/guides/concepts/tabs#requesting-payments\n[purging]:              https://developers.docusign.com/esign-rest-api/guides/concepts/documents#purging-documents\n[recipients]:           https://developers.docusign.com/esign-rest-api/guides/concepts/recipients\n[recipstatus]:          https://developers.docusign.com/esign-rest-api/guides/concepts/recipients#recipient-status\n[reciptypes]:           https://developers.docusign.com/esign-rest-api/guides/concepts/recipients#recipient-types\n[supdocs]:              https://developers.docusign.com/esign-rest-api/guides/concepts/documents#supplemental-documents\n[tabanchor]:            https://developers.docusign.com/esign-rest-api/guides/concepts/tabs#anchoring-tabs\n[tabauto]:              https://developers.docusign.com/esign-rest-api/guides/concepts/tabs#automatically-populating-tabs\n[tabcustom]:            https://developers.docusign.com/esign-rest-api/guides/concepts/tabs#using-custom-tabs-in-envelopes-and-templates\n[tabs]:                 https://developers.docusign.com/esign-rest-api/guides/concepts/tabs\n[tabtypes]:             https://developers.docusign.com/esign-rest-api/guides/concepts/tabs#tab-types\n[templates]:            https://developers.docusign.com/esign-rest-api/guides/concepts/envelopes#working-with-templates\n[tracking]:             https://developers.docusign.com/esign-rest-api/guides/concepts/envelopes#tracking-envelope-status\n\n**Note**: When you create an envelope by using a [composite template](https://developers.docusign.com/esign-rest-api/guides/concepts/templates#composite-templates), you should specify the envelope custom fields in the inline template. Any custom fields that you specify at the root level are ignored.\n"
      operationId: Envelopes_PostEnvelopes
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: cdse_mode
        in: query
        description: 'Reserved for DocuSign.

          '
        schema:
          type: string
      - name: change_routing_order
        in: query
        description: When true, users can define the routing order of recipients while sending documents for signature.
        schema:
          type: string
      - name: completed_documents_only
        in: query
        description: 'Reserved for DocuSign.

          '
        schema:
          type: string
      - name: merge_roles_on_draft
        in: query
        description: 'When set to **true**, template roles will be merged, and empty recipients will be removed. This parameter applies when you create a draft envelope with multiple templates. (To create a draft envelope, the `status` field is set to `created`.)


          ###### Note: DocuSign recommends that this parameter should be set to **true** whenever you create a draft envelope with multiple templates.'
        schema:
          type: string
      - name: tab_label_exact_matches
        in: query
        description: 'Reserved for DocuSign.


          <!--

          Note from Kate Dougherty: This functionality has not been released yet. When it is (contact Alia Paddock with any questions), use the following description:


          "When set to **true**, each tab in the inline template is matched and collapsed with all qualified tabs in the server template. When set to **false** (default), each tab in the inline template is matched and collapsed with at most one qualified tab in the server template.


          This parameter applies when you create an envelope from a composite template."

          -->

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envelopeDefinition'
          application/xml:
            schema:
              $ref: '#/components/schemas/envelopeDefinition'
        required: false
      responses:
        '201':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeSummary'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: createEnvelope
      x-ds-method: create
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-ds-examples:
      - description: 'This example shows a request/response that includes:


          * A single PDF document to be signed

          * One tab positioned using anchor text

          * One recipient


          See [Requesting a Signature via Email](/esign/guide/usage/request_a_signature.html)

          for a full walkthrough of this example.

          '
        direction: both
        format: json
        response:
          envelopeId: 63e05468-6432-41d2-b01c-8b48f7dbeb80
          status: sent
          statusDateTime: 2016-05-29 17:11:56.180000+00:00
          uri: /envelopes/63e05468-6432-41d2-b01c-8b48f7dbeb80
        request:
          documents:
          - documentBase64: '[Document content (PDF File)]'
            documentId: '1'
            fileExtension: pdf
            name: NDA.pdf
          emailSubject: Please sign the NDA
          recipients:
            signers:
            - email: the_nda_signer@example.com
              name: Darlene Petersen
              recipientId: '1'
              routingOrder: '1'
              tabs:
                dateSignedTabs:
                - anchorString: signer1date
                  anchorYOffset: '-6'
                  fontSize: Size12
                  name: Date Signed
                  recipientId: '1'
                  tabLabel: date_signed
                fullNameTabs:
                - anchorString: signer1name
                  anchorYOffset: '-6'
                  fontSize: Size12
                  name: Full Name
                  recipientId: '1'
                  tabLabel: Full Name
                signHereTabs:
                - anchorString: signer1sig
                  anchorUnits: mms
                  anchorXOffset: '0'
                  anchorYOffset: '0'
                  name: Please sign here
                  optional: 'false'
                  recipientId: '1'
                  scaleValue: 1
                  tabLabel: signer1sig
          status: sent
        style: custom
        title: Request Signature on Single Document by Email
      - description: 'This example shows a request/response that includes:


          * Multiple documents, both pdf and Word docx files.

          * Multiple tabs including signing, fullName, dateSigned, and text tabs.

          * Tabs positioned using anchor text.

          * Two recipients, a signer and a cc recipient.


          For more information, and to try this request live, see the [API Recipe](https://www.docusign.com/developer-center/recipes/send-multiple-docs)

          '
        direction: both
        format: json
        response:
          envelopeId: 63e05468-6432-41d2-b01c-8b48f7dbeb80
          status: sent
          statusDateTime: 2016-05-29 17:11:56.180000+00:00
          uri: /envelopes/63e05468-6432-41d2-b01c-8b48f7dbeb80
        request:
          documents:
          - documentBase64: '[Document 1 content (PDF File)]'
            documentId: '1'
            fileExtension: pdf
            name: NDA.pdf
          - documentBase64: '[Document 2 content (PDF File)]'
            documentId: '2'
            fileExtension: pdf
            name: House.pdf
          - documentBase64: '[Document 3 content (Word file)]'
            documentId: '3'
            fileExtension: docx
            name: contractor_agreement.docx
          emailSubject: Please sign the house documentation package
          recipients:
            carbonCopies:
            - email: cody_vigil@worldwidecorp.example.com
              name: Cody Vigil
              recipientId: '2'
              routingOrder: '2'
            signers:
            - email: darlene_petersen@newco.example.com
              name: Darlene Petersen
              recipientId: '1'
              routingOrder: '1'
              tabs:
                dateSignedTabs:
                - anchorString: signer1date
                  anchorYOffset: '-6'
                  fontSize: Size12
                  name: Date Signed
                  recipientId: '1'
                  tabLabel: date_signed
                - documentId: '2'
                  fontSize: Size12
                  name: Date Signed
                  pageNumber: '1'
                  recipientId: '1'
                  tabLabel: doc3_date_signed
                  xPosition: '89'
                  yPosition: '100'
                fullNameTabs:
                - anchorString: signer1name
                  anchorYOffset: '-6'
                  fontSize: Size12
                  name: Full Name
                  recipientId: '1'
                  tabLabel: Full Name
                signHereTabs:
                - anchorString: signer1sig
                  anchorUnits: mms
                  anchorXOffset: '0'
                  anchorYOffset: '0'
                  name: Please sign here
                  optional: 'false'
                  recipientId: '1'
                  scaleValue: 1
                  tabLabel: signer1sig
                - documentId: '2'
                  name: Please sign here
                  optional: 'false'
                  pageNumber: '1'
                  recipientId: '2'
                  scaleValue: 1
                  tabLabel: signer1_doc2
                  xPosition: '89'
                  yPosition: '40'
                - anchorString: Client Signature
                  anchorUnits: mms
                  anchorXOffset: '0'
                  anchorYOffset: '-4'
                  name: Please sign here
                  optional: 'false'
                  recipientId: '1'
                  scaleValue: 1
                  tabLabel: doc3_client_sig
                textTabs:
                - anchorString: signer1company
                  anchorYOffset: '-8'
                  fontSize: Size12
                  name: Company
                  recipientId: '1'
                  required: 'true'
                  tabLabel: Company
                - anchorString: Client Name
                  anchorYOffset: '-38'
                  fontSize: Size12
                  name: Company
                  recipientId: '1'
                  required: 'true'
                  tabLabel: Company
                - documentId: '3'
                  fontSize: Size10
                  name: Company
                  pageNumber: '1'
                  recipientId: '1'
                  required: 'true'
                  tabLabel: Company
                  xPosition: '145'
                  yPosition: '195'
          status: sent
        style: custom
        title: Multiple Documents and Tabs, Signer and CC Recipients
      - description: 'For some documents, one or more signatures must be witnessed by an appointed [notary public](https://en.wikipedia.org/wiki/Notary_public).


          DocuSign supports eNotary services for many jurisdictions. This example demonstrates how to send an envelope to be signed by Susan Signer with her signature witnessed by Nancy Notary. You must know the name and email address of the signer and the notary public for a signature to be notarized.


          Note that the full legal name of the signer must be used. It will be checked against the signer''s government-issued proof of identity by the notary public.


          Please see the [DocuSign eNotary resource page](https://support.docusign.com/en/guides/ndse-user-guide-enotary-resources) for further information. It lists the jurisdictions participating in the DocuSign eNotary program and additional reference information.


          Note that eNotary services are not included with all account types and are **not** included by default with demo/developer sandbox accounts. To enable eNotary service for your sandbox account, contact your DocuSign technical support person or DocuSign customer service.


          The example includes event notification via the Connect service.'
        direction: both
        format: json
        response:
          envelopeId: aaaaaaaa-41c4-4d21-b6e4-52a86fb94be8
          uri: /envelopes/aaaaaaaa-41c4-4d21-b6e4-52a86fb94be8
          statusDateTime: 2017-06-15 11:02:39.399643+00:00
          status: sent
        request:
          emailSubject: Important agreement for notarized signature
          status: sent
          recipients:
            inPersonSigners:
            - recipientId: 1
              email: susan_signer@gmail.com
              name: Susan Anne Signer
              routingOrder: 1
              inPersonSigningType: notary
              notaryHost:
                name: Nancy Notary
                email: nancy@notary-svc.com
                recipientId: 2
              tabs:
                signHereTabs:
                - documentId: '1'
                  optional: 'false'
                  recipientId: '1'
                  xPosition: '100'
                  yPosition: '100'
                  pageNumber: '1'
                  name: Please sign here
                  tabLabel: signer1sig
          documents:
          - documentId: '1'
            name: important document.docx
            fileExtension: docx
            documentBase64: '[Contents elided]'
          eventNotification:
            includeDocumentFields: 'false'
            envelopeEvents:
            - envelopeEventStatusCode: Completed
            - envelopeEventStatusCode: Declined
            - envelopeEventStatusCode: Voided
            url: https://listener.example.com/docusign_notifications
            requireAcknowledgment: 'true'
            includeSenderAccountAsCustomField: 'true'
            loggingEnabled: 'true'
            includeDocuments: 'false'
            signMessageWithX509Cert: 'true'
        style: custom
        title: Create a Notarized Signing Recipient
      - description: "DocuSign enables document signers use\n[electronic](https://www.docusign.com/products/electronic-signature) or\n[digital](https://www.docusign.com/how-it-works/electronic-signature/digital-signature) signatures.\n\nDocuSign has tightly integrated standard digital signatures into the DocuSign Signature platform. This enables a single envelope to include:\n\n* electronic signatures,\n* AES digital signatures using certificates from DocuSign or from your organization,\n* QES digital signatures from government certified Trust Service Providers (TSPs).\n\nThis example enables the signer to create an eIDAS compliant AES signature with embedded signing. InPerson signers can also use SBS digital signatures.\n\n[More information on creating SBS digital signature requests.](../../../../guide/appendix/standards_based_signatures.html)\n\nThe `clientId` in the example tells DocuSign that the Signing Ceremony will be embedded.\nThe example also includes an `eventNotification` object for receiving envelope status updates from DocuSign.\n\n## Embedding the signing ceremony\n1. Send the `Envelopes: create` call as shown below in the Request/Response section.\n2. The response will include the `envelopeId`\n3. Use the [EnvelopeViews: createRecipient](../../EnvelopeViews/createRecipient) request to obtain the redirectURL as follows:\n\n`POST /v2/accounts/{accountId}/envelopes/{envelopeId}/views/recipient`\n\n````\n{\n    \"clientUserId\": \"1000\",\n    \"email\": \"Sam@spade.com\",\n    \"userName\": \"Sam Spade\",\n    \"returnUrl\": \"https://your_app.example.com\",\n    \"AuthenticationMethod\": \"Password\"\n}\n````\nThe response will include the `url`. Redirect the user's browser to the url to start the signing ceremony.\n\n###### Note: You must **immediately** redirect the user to the url you receive from DocuSign. The url is only valid for 5 minutes. Don't request a recipient view url until you are ready to redirect the user's browser.\n"
        direction: both
        format: json
        response:
          envelopeId: caaaaaaa-144e-45ce-8e8e-c171528e99c8
          uri: /envelopes/caaaaaaa-144e-45ce-8e8e-c171528e99c8
          statusDateTime: 2017-06-22 06:44:49.164222+00:00
          status: sent
        request:
          documents:
          - documentId: '1'
            name: ' Agreement'
            fileExtension: html
            documentBase64: '[Contents elided]'
          emailSubject: NewCo agreement for signature
          status: sent
          recipients:
            signers:
            - recipientId: '1'
              clientUserId: '1000'
              email: Sam@spade.com
              name: Sam Spade
              recipientSignatureProviders:
              - signatureProviderName: UniversalSignaturePen_OpenTrust_Hash_TSP
                signatureProviderOptions:
                  SMS: '+33134567899'
              routingOrder: '1'
              tabs:
                signHereTabs:
                - documentId: '1'
                  optional: 'false'
                  recipientId: '1'
                  name: Please sign here
                  tabLabel: signer1sig
                  anchorString: signer1sig
          eventNotification:
            includeDocumentFields: 'false'
            envelopeEvents:
            - envelopeEventStatusCode: Completed
            - envelopeEventStatusCode: Declined
            - envelopeEventStatusCode: Voided
            url: https://your_app.example.com/listener
            requireAcknowledgment: 'true'
            includeSenderAccountAsCustomField: 'true'
            loggingEnabled: 'true'
            includeDocuments: 'false'
            signMessageWithX509Cert: 'true'
        style: custom
        title: Request an SBS digital signature, with an embedded signing ceremony
      x-codegen-request-body-name: envelopeDefinition
  /v2/accounts/{accountId}/envelopes/{envelopeId}:
    get:
      tags:
      - Envelopes
      summary: Docusign Gets the status of a single envelope.
      description: 'Retrieves the overall status for the specified envelope. To get the status of a list of envelopes, use [Envelope: listStatusChanges ](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/)'
      operationId: Envelopes_GetEnvelope
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: advanced_update
        in: query
        description: When true, envelope information can be added or modified.
        schema:
          type: string
      - name: include
        in: query
        description: 'Reserved for DocuSign.

          '
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelope'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getEnvelope
      x-ds-method: get
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-ds-examples:
      - description: 'This example shows a how to get information about

          an envelope with a given envelope id.


          The request for this endpoint has no payload.


          ### Request

          ```

          GET /restapi/v2/accounts/1703061/envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6

          ```

          '
        direction: response
        format: json
        response:
          allowMarkup: 'false'
          autoNavigation: 'true'
          brandId: 56502fe1-3245-4cf5-8d74-97cb5c43176a
          certificateUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents/certificate
          createdDateTime: 2016-10-05 01:04:58.183000+00:00
          customFieldsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/custom_fields
          documentsCombinedUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents/combined
          documentsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents
          emailSubject: Please sign the NDA
          enableWetSign: 'true'
          envelopeId: 4b728be4-4417-45c6-b7e8-d63e23f822b6
          envelopeIdStamping: 'true'
          envelopeUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6
          initialSentDateTime: 2016-10-05 01:04:58.777000+00:00
          is21CFRPart11: 'false'
          isSignatureProviderEnvelope: 'false'
          lastModifiedDateTime: 2016-10-05 01:04:58.183000+00:00
          notificationUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/notification
          purgeState: unpurged
          recipientsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/recipients
          sentDateTime: 2016-10-05 01:04:58.777000+00:00
          status: sent
          statusChangedDateTime: 2016-10-05 01:04:58.777000+00:00
          templatesUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/templates
        style: custom
        title: Get Status About a Specific Envelope
      - description: 'This example shows a how to get information about

          envelopes created since January 1, 2016.


          The request for this endpoint has no payload.


          ### Request

          ```

          GET /restapi/v2/accounts/1703061/envelopes?from_date=2016-01-01

          ```

          '
        direction: response
        format: json
        response:
          endPosition: '1'
          envelopes:
          - certificateUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/documents/certificate
            customFieldsUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/custom_fields
            documentsCombinedUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/documents/combined
            documentsUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/documents
            envelopeId: 379497bb-cc85-4654-bab9-a8e397f538d0
            envelopeUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0
            notificationUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/notification
            recipientsUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/recipients
            status: completed
            statusChangedDateTime: 2016-10-04 15:26:28.283000+00:00
            templatesUri: /envelopes/379497bb-cc85-4654-bab9-a8e397f538d0/templates
          - certificateUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents/certificate
            customFieldsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/custom_fields
            documentsCombinedUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents/combined
            documentsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/documents
            envelopeId: 4b728be4-4417-45c6-b7e8-d63e23f822b6
            envelopeUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6
            notificationUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/notification
            recipientsUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/recipients
            status: sent
            statusChangedDateTime: 2016-10-05 01:04:58.777000+00:00
            templatesUri: /envelopes/4b728be4-4417-45c6-b7e8-d63e23f822b6/templates
          nextUri: ''
          previousUri: ''
          resultSetSize: '2'
          startPosition: '0'
          totalSetSize: '2'
        style: custom
        title: Get Status About Envelopes Since a Specified Date
    put:
      tags:
      - Envelopes
      summary: Docusign Send, void, or modify a draft envelope. Purge documents from a completed envelope.
      description: "This method lets you make changes to an envelope.\nYou can use it to:\n\n* Send a draft envelope\n* Void an in-process envelope\n* Modify a draft envelope\n* Purge documents and envelope metadata from the DocuSign platform\n\n\n<div class=\"highlight highlight-info\">\n<p markdown=\"1\">\n\nAlthough the request body for this method\nis a complete envelope definition,\nyou only need to provide\nproperties that\nyou're updating. \n\n</p>\n</div>\n\n\n## Sending a Draft Envelope\n\nTo send a draft envelope, include this in the request body:\n\n```json\n{\n  \"status\": \"sent\"\n}\n```\n\n\n## Voiding an In-Process Envelope\n\nTo void an in-process envelope, include this in the request body:\n\n```json\n{\n  \"status\": \"voided\",\n  \"voidedReason\": \"The reason for voiding the envelope\"\n}\n```\n\n## Modifying Envelope Email Information\n\nTo change the email subject and message of a draft envelope,\ninclude this in the request body:\n\n```json\n{\n  \"emailSubject\": \"new email subject\",\n  \"emailBlurb\": \"new email message\"\n}\n```\n\n## Purging Documents from DocuSign\n\n\nTo place only the documents\nin the purge queue,\nleaving any\ncorresponding attachments \nand tabs in the DocuSign platform,\nset the `purgeState` property\nto `documents_queued`.\n\n\n```json\n{\n  \"purgeState\": \"documents_queued\"\n}\n```\n\nTo place documents,\nattachments,\nand tabs\nin the purge queue,\nset the `purgeState` property\nto `documents_and_metadata_queued`.\n\n```json\n{\n  \"purgeState\": \"documents_and_metadata_queued\"\n}\n```\n\n\nYou can purge documents\nonly from completed envelopes\nthat are not marked as the authoritative copy.\nThe user requesting the purge\nmust have permission to purge documents\nand\nmust be the sender or be acting on behalf of the sender.\n\n\n\nWhen the purge request is initiated\nthe items to be purged\nare placed in the purge queue\nfor deletion in 14 days.\nThe sender\nand\nall recipients with DocuSign accounts\nassociated with the envelope\nget an email notification\nthe the documents will be deleted in 14 days.\nThe notification contains a link\nto the documents.\nA second email notification\nis sent 7 days later.\nAt the end of the 14-day period\nthe documents are deleted from the system.\nRecipients without DocuSign accounts\ndo not receive email notifications.\n\n\nIf your account has a Document Retention policy,\nenvelope documents\nare automatically placed\nin the purge queue,\nand notification emails are sent\nat the end of the retention period.\nSetting a Document Retention policy is the same as setting a\nschedule for purging documents.\n"
      operationId: Envelopes_PutEnvelope
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: advanced_update
        in: query
        description: When set to **true**, allows the caller to update recipients, tabs, custom fields, notification, email settings and other envelope attributes.
        schema:
          type: string
      - name: resend_envelope
        in: query
        description: When set to **true**, sends the specified envelope again.
        schema:
          type: string
      requestBody:
        description: A container used to send documents to recipients. The envelope carries information about the sender and timestamps to indicate the progress of the delivery procedure. It can contain collections of Documents, Tabs and Recipients.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envelope'
          application/xml:
            schema:
              $ref: '#/components/schemas/envelope'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeUpdateSummary'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: update
      x-ds-method: update
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-codegen-request-body-name: envelope
  /v2/accounts/{accountId}/envelopes/{envelopeId}/audit_events:
    get:
      tags:
      - Envelopes
      summary: Docusign Gets the envelope audit events for an envelope.
      description: Gets the envelope audit events for the specified envelope.
      operationId: AuditEvents_GetAuditEvents
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeAuditEventResponse'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listAuditEvents
      x-ds-method: listAuditEvents
      x-ds-service: Envelopes
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/envelopes/{envelopeId}/documents/{documentId}/pages:
    get:
      tags:
      - Envelopes
      summary: Docusign Returns document page image(s) based on input.
      operationId: Pages_GetPageImages
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: The maximum number of results to be returned by this request.
        schema:
          type: string
      - name: dpi
        in: query
        description: Number of dots per inch for the resulting image. The default if not used is 94. The range is 1-310.
        schema:
          type: string
      - name: max_height
        in: query
        description: Sets the maximum height (in pixels) of the returned image.
        schema:
          type: string
      - name: max_width
        in: query
        description: Sets the maximum width (in pixels) of the returned image.
        schema:
          type: string
      - name: nocache
        in: query
        schema:
          type: string
      - name: show_changes
        in: query
        schema:
          type: string
      - name: start_position
        in: query
        description: The position within the total result set from which to start returning values. The value **thumbnail** may be used to return the page image.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/pageImages'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getDocumentPageImages
      x-ds-method: getPageImages
      x-ds-service: Envelopes
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/envelopes/{envelopeId}/documents/{documentId}/pages/{pageNumber}:
    delete:
      tags:
      - Envelopes
      summary: Docusign Deletes a page from a document in an envelope.
      description: Deletes a page from a document in an envelope based on the page number.
      operationId: Pages_DeletePage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: pageNumber
        in: path
        description: The page number being accessed.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteDocumentPage
      x-ds-method: deleteDocumentPage
      x-ds-service: Envelopes
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/envelopes/{envelopeId}/documents/{documentId}/pages/{pageNumber}/page_image:
    get:
      tags:
      - Envelopes
      summary: Docusign Gets a page image from an envelope for display.
      description: Retrieves a page image for display from the specified envelope.
      operationId: Pages_GetPageImage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: pageNumber
        in: path
        description: The page number being accessed.
        required: true
        schema:
          type: string
      - name: dpi
        in: query
        description: Sets the dpi for the image.
        schema:
          type: string
      - name: max_height
        in: query
        description: Sets the maximum height for the page image in pixels. The dpi is recalculated based on this setting.
        schema:
          type: string
      - name: max_width
        in: query
        description: Sets the maximum width for the page image in pixels. The dpi is recalculated based on this setting.
        schema:
          type: string
      - name: show_changes
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Error encountered.
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getDocumentPageImage
      x-ds-method: getPageImage
      x-ds-service: Envelopes
      x-ds-in-sdk: true
    put:
      tags:
      - Envelopes
      summary: Docusign Rotates page image from an envelope for display.
      description: Rotates page image from an envelope for display. The page image can be rotated to the left or right.
      operationId: Pages_PutPageImage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: pageNumber
        in: path
        description: The page number being accessed.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pageRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/pageRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: rotateDocumentPage
      x-ds-method: rotateDocumentPage
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-codegen-request-body-name: pageRequest
  /v2/accounts/{accountId}/envelopes/{envelopeId}/notification:
    get:
      tags:
      - Envelopes
      summary: Docusign Gets envelope notification information.
      description: Retrieves the envelope notification, reminders and expirations, information for an existing envelope.
      operationId: Notification_GetEnvelopesEnvelopeIdNotification
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/notification'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getNotificationSettings
      x-ds-method: getNotificationSettings
      x-ds-service: Envelopes
      x-ds-in-sdk: true
    put:
      tags:
      - Envelopes
      summary: Docusign Sets envelope notification (Reminders/Expirations) structure for an existing envelope.
      operationId: Notification_PutEnvelopesEnvelopeIdNotification
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envelopeNotificationRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/envelopeNotificationRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/notification'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateNotificationSettings
      x-ds-method: updateNotificationSettings
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-codegen-request-body-name: envelopeNotificationRequest
  /v2/accounts/{accountId}/envelopes/{envelopeId}/recipients/{recipientId}/initials_image:
    get:
      tags:
      - Envelopes
      summary: Docusign Gets the initials image for a user.
      description: "Retrieves the initials image for the specified user. The image is returned in the same format as it was uploaded. In the request you can specify if the chrome (the added line and identifier around the initial image) is returned with the image.\n\nThe userId specified in the endpoint must match the authenticated user's user id and the user must be a member of the account.\n\nThe `signatureIdOrName` paramter accepts signature ID or signature name. DocuSign recommends you use signature ID (`signatureId`), since some names contain characters that do not properly URL encode. If you use the user name, it is likely that the name includes spaces and you might need to URL encode the name before using it in the endpoint. \n\nFor example: \"Bob Smith\" to \"Bob%20Smith\"\n\nOlder envelopes might only contain chromed images. If getting the non-chromed image fails, try getting the chromed image."
      operationId: Recipients_GetRecipientInitialsImage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: recipientId
        in: path
        description: A local reference that senders use to map recipients to other objects, such as specific document tabs. Within an envelope, each `recipientId` must be unique, but there is no uniqueness requirement across envelopes. For example, many envelopes assign the first recipient a `recipientId` of `1`.
        required: true
        schema:
          type: string
      - name: include_chrome
        in: query
        description: 'The added line and identifier around the initial image. Note: Older envelopes might only have chromed images. If getting the non-chromed image fails, try getting the chromed image.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            image/gif:
              schema:
                type: string
                format: binary
        '400':
          description: Error encountered.
          content:
            image/gif:
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getRecipientInitialsImage
      x-ds-method: getRecipientInitialsImage
      x-ds-service: Envelopes
      x-ds-in-sdk: true
    put:
      tags:
      - Envelopes
      summary: Docusign Sets the initials image for an accountless signer.
      description: 'Updates the initials image for a signer that does not have a DocuSign account. The supported image formats for this file are: gif, png, jpeg, and bmp. The file size must be less than 200K.


        For the Authentication/Authorization for this call, the credentials must match the sender of the envelope, the recipient must be an accountless signer or in person signer. The account must have the `CanSendEnvelope` property set to **true** and the `ExpressSendOnly` property in `SendingUser` structure must be set to **false**.'
      operationId: Recipients_PutRecipientInitialsImage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: recipientId
        in: path
        description: A local reference that senders use to map recipients to other objects, such as specific document tabs. Within an envelope, each `recipientId` must be unique, but there is no uniqueness requirement across envelopes. For example, many envelopes assign the first recipient a `recipientId` of `1`.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateRecipientInitialsImage
      x-ds-method: updateRecipientInitialsImage
      x-ds-service: Envelopes
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/envelopes/{envelopeId}/recipients/{recipientId}/signature:
    get:
      tags:
      - Envelopes
      summary: Docusign Gets signature information for a signer or sign-in-person recipient.
      description: Retrieves signature information for a signer or sign-in-person recipient.
      operationId: Recipients_GetRecipientSignature
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: recipientId
        in: path
        description: A local reference that senders use to map recipients to other objects, such as specific document tabs. Within an envelope, each `recipientId` must be unique, but there is no uniqueness requirement across envelopes. For example, many envelopes assign the first recipient a `recipientId` of `1`.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/userSignature'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getRecipientSignature
      x-ds-method: getRecipientSignature
      x-ds-service: Envelopes
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/envelopes/{envelopeId}/recipients/{recipientId}/signature_image:
    get:
      tags:
      - Envelopes
      summary: Docusign Retrieve signature image information for a signer/sign-in-person recipient.
      description: "Retrieves the specified user signature image. The image is returned in the same format as uploaded. In the request you can specify if the chrome (the added line and identifier around the initial image) is returned with the image.\n\nThe userId specified in the endpoint must match the authenticated user's user ID and the user must be a member of the account.\n\nThe `signatureIdOrName` parameter accepts signature ID or signature name. DocuSign recommends you use signature ID (`signatureId`), since some names contain characters that don't properly URL encode. If you use the user name, it is likely that the name includes spaces and you might need to URL encode the name before using it in the endpoint. \n\nFor example: \"Bob Smith\" to \"Bob%20Smith\"\n\nOlder envelopes might only have chromed images. If getting the non-chromed image fails, try getting the chromed image."
      operationId: Recipients_GetRecipientSignatureImage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: recipientId
        in: path
        description: A local reference that senders use to map recipients to other objects, such as specific document tabs. Within an envelope, each `recipientId` must be unique, but there is no uniqueness requirement across envelopes. For example, many envelopes assign the first recipient a `recipientId` of `1`.
        required: true
        schema:
          type: string
      - name: include_chrome
        in: query
        description: When set to **true**, indicates the chromed version of the signature image should be retrieved.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            image/gif:
              schema:
                type: string
                format: binary
        '400':
          description: Error encountered.
          content:
            image/gif:
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getRecipientSignatureImage
      x-ds-method: getRecipientSignatureImage
      x-ds-service: Envelopes
      x-ds-in-sdk: true
    put:
      tags:
      - Envelopes
      summary: Docusign Sets the signature image for an accountless signer.
      description: 'Updates the signature image for an accountless signer. The supported image formats for this file are: gif, png, jpeg, and bmp. The file size must be less than 200K.


        For the Authentication/Authorization for this call, the credentials must match the sender of the envelope, the recipient must be an accountless signer or in person signer. The account must have the `CanSendEnvelope` property set to **true** and the `ExpressSendOnly` property in `SendingUser` structure must be set to **false**.'
      operationId: Recipients_PutRecipientSignatureImage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      - name: recipientId
        in: path
        description: A local reference that senders use to map recipients to other objects, such as specific document tabs. Within an envelope, each `recipientId` must be unique, but there is no uniqueness requirement across envelopes. For example, many envelopes assign the first recipient a `recipientId` of `1`.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateRecipientSignatureImage
      x-ds-method: updateRecipientSignatureImage
      x-ds-service: Envelopes
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/envelopes/status:
    put:
      tags:
      - Envelopes
      summary: Docusign Gets the envelope status for the specified envelopes.
      description: Retrieves the envelope status for the specified envelopes.
      operationId: Envelopes_PutStatus
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: ac_status
        in: query
        description: 'Specifies the Authoritative Copy Status for the envelopes. The possible values are: Unknown, Original, Transferred, AuthoritativeCopy, AuthoritativeCopyExportPending, AuthoritativeCopyExported, DepositPending, Deposited, DepositedEO, or DepositFailed.'
        schema:
          type: string
      - name: block
        in: query
        description: 'Reserved for DocuSign.

          '
        schema:
          type: string
      - name: count
        in: query
        description: The maximum number of results to be returned by this request.
        schema:
          type: string
      - name: email
        in: query
        description: 'Reserved for DocuSign.

          '
        schema:
          type: string
      - name: envelope_ids
        in: query
        description: Comma separated list of `envelopeId` values.
        schema:
          type: string
      - name: from_date
        in: query
        description: "The date/time setting that specifies when the request begins checking for status changes for envelopes in the account. This is required unless parameters `envelope_ids` and/or `transaction_Ids` are set. \n\n****Note****: This parameter must be set to a valid  `DateTime`, or  `envelope_ids` and/or `transaction_ids` must be specified."
        schema:
          type: string
      - name: from_to_status
        in: query
        description: "The status value checked for in the `from_date` to `to_date` time period. \n\nPossible values are: Voided, Changed, Created, Deleted, Sent, Delivered, Signed, Completed, Declined, TimedOut and Processing.\n\nIf `Changed` is specified, then envelopes that changed status during the period will be returned. \n\nFor example, if `Created` is specified, then envelopes created during the period are found. \n\nThe default is `Changed`. "
        schema:
          type: string
      - name: start_position
        in: query
        description: 'Reserved for DocuSign.

          '
        schema:
          type: string
      - name: status
        in: query
        description: Item status. <!-- TODO -->
        schema:
          type: string
      - name: to_date
        in: query
        description: "Optional date/time setting\nthat specifies the last date/time \nor envelope status changes in the result set. \n\nDefault: \"now\", the time that you call the method. \n"
        schema:
          type: string
      - name: transaction_ids
        in: query
        description: 'A comma-separated list of envelope transaction IDs.

          Transaction IDs are only valid for seven days.

          '
        schema:
          type: string
      - name: user_name
        in: query
        description: 'Limit results to envelopes

          sent by the account user

          with this user name.


          `email` must be given as well,

          and both `email` and `user_name`

          must refer to an existing account user.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envelopeIdsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/envelopeIdsRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopesInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listStatus
      x-ds-method: listStatus
      x-ds-service: Envelopes
      x-ds-in-sdk: true
      x-codegen-request-body-name: envelopeIdsRequest
components:
  schemas:
    samlAssertionAttribute:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        name:
          type: string
          description: ''
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        value:
          type: string
          description: The value associated with the named SAML assertion attribute
      description: ''
      x-ds-definition-name: samlAssertionAttribute
      x-ms-summary: ''
    ListTab:
      type: object
      description: A dropdown list tab for selecting from predefined options.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
        listItems:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              value:
                type: string
              selected:
                type: string
          example: []
        required:
          type: string
          example: example_value
    company:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maxLength:
          type: integer
          description: An optional value that describes the maximum length of the property when the property is a string.
          format: int32
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: Specifies the tool tip text for the tab.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the recipient''s company name.

        '
      x-ds-definition-name: company
      x-ms-summary: 'A tab that displays the recipient''s company name.

        '
    serverTemplate:
      type: object
      properties:
        sequence:
          type: string
          description: ''
        templateId:
          type: string
          description: 'The unique identifier of the template. If this is not provided, DocuSign will generate a value. '
      description: ''
      x-ds-definition-name: serverTemplate
      x-ms-summary: ''
    recipientProofFile:
      type: object
      properties:
        isInProofFile:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: recipientProofFile
      x-ms-summary: ''
    radioGroup:
      type: object
      properties:
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        groupName:
          type: string
          description: The name of the group. The search_text provided in the call automatically performs a wild card search on group_name.
        radios:
          type: array
          description: Specifies the locations and status for radio buttons that are grouped together.
          items:
            $ref: '#/components/schemas/radio'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
      description: 'This group tab is used to place radio buttons on a document.

        The `radios` property

        contains a list of

        [`radio`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radio)

        objects  associated with the group. Only one radio button can

        be selected in a group.

        '
      x-ds-definition-name: radioGroup
      x-ms-summary: 'This group tab is used to place radio buttons on a document.

        The `radios` property

        contains a list of

        [`radio`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radio)

        objects  associated with the group. Only one radio button can

        be selected in a group.

        '
    DateSigned:
      type: object
      description: A tab that displays the date the recipient signed.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
    compositeTemplate:
      type: object
      properties:
        compositeTemplateId:
          type: string
          description: The identify of this composite template. It is used as a reference when adding document object information. If used, the document's `content-disposition` must include the composite template ID to which the document should be added. If a composite template ID is not specified in the content-disposition, the document is applied based on the value of the `documentId` property only. If no document object is specified, the composite template inherits the first document.
        document:
          $ref: '#/components/schemas/document'
        inlineTemplates:
          type: array
          description: ' Zero or more inline templates and their position in the overlay. If supplied, they are overlaid into the envelope in the order of their Sequence value.'
          items:
            $ref: '#/components/schemas/inlineTemplate'
        pdfMetaDataTemplateSequence:
          type: string
          description: ''
        serverTemplates:
          type: array
          description: 0 or more server-side templates and their position in the overlay. If supplied, they are overlaid into the envelope in the order of their Sequence value
          items:
            $ref: '#/components/schemas/serverTemplate'
      description: ''
      x-ds-definition-name: compositeTemplate
      x-ms-summary: ''
    EnvelopeSummary:
      type: object
      description: Summary information about a newly created envelope.
      properties:
        envelopeId:
          type: string
          format: uuid
          description: The unique identifier of the created envelope.
          example: '500123'
        uri:
          type: string
          description: The URI for the envelope.
          example: example_value
        statusDateTime:
          type: string
          format: date-time
          description: The date and time of the status change.
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          description: The status of the envelope.
          example: example_value
    dobInformationInput:
      type: object
      properties:
        dateOfBirth:
          type: string
          description: Specifies the recipient's date, month, and year of birth.
        displayLevelCode:
          type: string
          description: "Specifies the display level for the recipient. \nValid values are: \n\n* ReadOnly\n* Editable\n* DoNotDisplay"
        receiveInResponse:
          type: string
          description: When set to **true**, the information needs to be returned in the response.
      description: 'Complex type containing:


        * dateOfBirth

        * displayLevelCode

        * receiveInResponse'
      x-ds-definition-name: dobInformationInput
      x-ms-summary: 'Complex type containing:


        * dateOfBirth

        * displayLevelCode

        * receiveInResponse'
    dateSigned:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
[...]
