openapi: 3.2.0
info:
  title: DocuSign REST Account Tab Settings API
  description: The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://www.docusign.net/restapi
tags:
- name: AccountTabSettings
  description: 'The AccountTabSettings resource provides methods that allow you to manage

    tab settings for an account.

    '
paths:
  /v2/accounts/{accountId}/settings/tabs:
    get:
      tags:
      - AccountTabSettings
      summary: Docusign Returns tab settings list for specified account
      operationId: TabSettings_GetTabSettings
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tabAccountSettings'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getAccountTabSettings
      x-ds-method: get
      x-ds-service: Accounts
      x-ds-in-sdk: true
    put:
      tags:
      - AccountTabSettings
      summary: Docusign Modifies tab settings for specified account
      operationId: TabSettings_PutSettings
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tabAccountSettings'
          application/xml:
            schema:
              $ref: '#/components/schemas/tabAccountSettings'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tabAccountSettings'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateAccountTabSettings
      x-ds-method: update
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: tabAccountSettings
components:
  schemas:
    tabAccountSettings:
      type: object
      properties:
        allowTabOrder:
          type: string
          description: ''
        allowTabOrderMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        approveDeclineTabsEnabled:
          type: string
          description: ''
        approveDeclineTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        calculatedFieldsEnabled:
          type: string
          description: ''
        calculatedFieldsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        checkboxTabsEnabled:
          type: string
          description: ''
        checkboxTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        dataFieldRegexEnabled:
          type: string
          description: ''
        dataFieldRegexMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        dataFieldSizeEnabled:
          type: string
          description: ''
        dataFieldSizeMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        firstLastEmailTabsEnabled:
          type: string
          description: ''
        firstLastEmailTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        listTabsEnabled:
          type: string
          description: ''
        listTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        noteTabsEnabled:
          type: string
          description: ''
        noteTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        radioTabsEnabled:
          type: string
          description: ''
        radioTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        savingCustomTabsEnabled:
          type: string
          description: ''
        savingCustomTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        senderToChangeTabAssignmentsEnabled:
          type: string
          description: ''
        senderToChangeTabAssignmentsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        sharedCustomTabsEnabled:
          type: string
          description: ''
        sharedCustomTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        tabDataLabelEnabled:
          type: string
          description: ''
        tabDataLabelMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        tabLocationEnabled:
          type: string
          description: ''
        tabLocationMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        tabLockingEnabled:
          type: string
          description: ''
        tabLockingMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        tabScaleEnabled:
          type: string
          description: ''
        tabScaleMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        tabTextFormattingEnabled:
          type: string
          description: ''
        tabTextFormattingMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        textTabsEnabled:
          type: string
          description: ''
        textTabsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
      description: ''
      x-ds-definition-name: tabAccountSettings
      x-ms-summary: ''
    settingsMetadata:
      type: object
      properties:
        is21CFRPart11:
          type: string
          description: When set to **true**, indicates that this module is enabled on the account.
        options:
          type: array
          description: ''
          items:
            type: string
        rights:
          type: string
          description: ''
        uiHint:
          type: string
          description: ''
        uiOrder:
          type: string
          description: ''
        uiType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: settingsMetadata
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
externalDocs:
  description: See the DocuSign REST API Guide for more information.
  url: https://docs.docusign.com/esign
x-ds-allow-editing: false
x-ds-categories:
- name: Authentication
  summary: Logging in and authentication
  description: 'Use the Authentication category to manage various account login tasks including:


    * Getting login information for a user.

    * Managing linked social accounts.

    * Getting and revoking OAuth tokens.'
- name: Envelopes
  summary: Creating and sending envelopes
  description: 'The DocuSign API Envelope category includes the resources and methods for sending and managing envelopes and envelope data.


    Envelopes are the key objects within the DocuSign eSignature system. As a result, they are complex data structures with few required fields. See the [API Recipes](https://www.docusign.com/developer-center/recipes) for use case examples and their solutions.


    To create and send envelopes, see the [Envelopes resource](Envelopes).


    '
- name: Connect
  summary: Connect configuration and logging
  description: "The Connect category enables your application to be called via HTTPS when an event of interest occurs.\n\nUse the Connect service to \"end the polling madness.\" With Connect, there is no need for your application to poll DocuSign every 15 minutes to learn the latest about your envelopes.\n\nInstead, you register your interest in one or more types of envelope or recipient events. Then, when an interesting event occurs, the DocuSign platform will contact your application with the event's details and data. You can register interest in envelopes sent by particular users in your account, or for envelopes sent by any user.\n\n## Incoming Connect Calls\nTo use the Connect service, your application needs to provide an https url that can be called from the public internet. If your application runs on a server behind your organization's firewall, then you will need to create a \"pinhole\" in the firewall to allow the incoming Connect calls from DocuSign to reach your application. Other techniques for receiving the incoming calls including proxy servers and DMZ networking can also be used. \n\n## Per-envelope Connect Configuration\nInstead of registering a general Connect configuration and listener, an individual envelope can have its own Connect configuration. See the `eventNotification` field for envelopes.\n\n## Categories\nUse the Connect category for:\n\n* Programmatically creating Connect configurations. Connect configurations can be created manually by using the DocuSign web service, or programmatically via the API. Configurations created via the API can be seen and updated from the web service.\n* Retrieving and managing the event log for your Connect configurations. \n* Requesting that an event be re-published to the listener."
- name: Templates
  summary: Template creation and management
  description: 'Use the Templates category to manage your account''s templates.


    You can:


    * Create, list, get, update, and delete templates.

    * Manage templates'' notification and group sharing settings.

    * Fetch and rotate pages from a document used by a template.


    Templates can be created programmatically or can be created via the DocuSign web interface and then used by your application.'
- name: SigningGroups
  summary: Send a signing request to a group of potential signers
  description: 'Use the SigningGroup category to manage signing groups that allow you anyone in the group to sign a document.


    The category allows you create the signing group and manage the users in the group.'
- name: Folders
  summary: Folders for completed envelopes
  description: "Use the Folders category to manage envelopes in your folders. \n\nYou can list the folder contents and move envelopes between folders."
- name: CustomTabs
  summary: Custom tabs
  description: "Custom Tabs enable accounts to have one or more pre-configured (custom) tabs. Custom tabs save time when users are tagging documents since the users don't have to manually set the tabs' parameters.\n\nThis category enables custom tabs to be managed programmatically, including creation, deletion, etc. \n"
- name: CloudStorage
  summary: Cloud storage providers and user management
  description: 'Use the Cloud Storage category to list the user''s cloud storage document contents.


    It is also used to manage the user''s authentication/accounts with cloud storage service providers.'
- name: Users
  summary: User management
  description: 'Use the Users category to manage the users in your accounts.


    You can:


    * Set custom user settings.

    * Manage a users profile.

    * Add delete users.

    * Add and delete the intials and signature images for a user.'
- name: UserGroups
  summary: Group users for common permissions and branding
  description: 'Use the User Groups category to manage your permissions groups.


    You can:


    * Create and delete groups.

    * Add users to, and delete users from, your groups.

    * Manage the brand information associated with a group.'
- name: Accounts
  summary: Account management
  description: "Use the Account category for various account management tasks including:\n\n* Programmatically creating and deleting accounts.\n* Getting information about an account and its capabilities.\n* Branding the account with custom colors, message text, and more.\n* Account charges.\n\nThe Account category also includes end points for \n* Listing the recipient names associated with an email address that was used by the account. For example, a single email address is often shared by mulitple members of a family.\n\n\n"
- name: Billing
  summary: Invoices
  description: 'Use the Billing category to manage the following billing related tasks:


    * Retrieve and update billing plan information.

    * Retrieve invoices.

    * Retrieve and update payment information.'
- name: Diagnostics
  summary: Diagnostics and request logging
  description: 'The Diagnostics category provides miscellaneous end points.


    They include:

    * Requesting and managing the API call-logging feature. (Perfect for debugging your app!)

    * Getting information on the API''s resources and versions.'
- name: PowerForms
  summary: PowerForm creation and management
  description: The PowerForms category enables PowerForms to be created and managed.
- name: Workspaces
  summary: Workspace creation and management
  description: 'Workspaces creation and management.


    '
- name: Payments
  summary: Manage Payments
  description: This category includes resources for managing payment gateways. Payment information is added to envelopes via methods in the Envelopes category.
- name: Signature
  summary: ''
  description: ''
x-original-swagger-version: '2.0'
