openapi: 3.2.0
info:
  title: DocuSign REST Template Document Tabs API
  description: The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://www.docusign.net/restapi
tags:
- name: TemplateDocumentTabs
  description: ''
paths:
  /v2/accounts/{accountId}/templates/{templateId}/documents/{documentId}/pages/{pageNumber}/tabs:
    get:
      tags:
      - TemplateDocumentTabs
      summary: Docusign Returns tabs on the specified page.
      operationId: Tabs_GetTemplatePageTabs
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: pageNumber
        in: path
        description: The page number being accessed.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDocumentTabs'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getPageTabs
      x-ds-method: getByPage
      x-ds-service: Templates
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/templates/{templateId}/documents/{documentId}/tabs:
    get:
      tags:
      - TemplateDocumentTabs
      summary: Docusign Returns tabs on the document.
      operationId: Tabs_GetTemplateDocumentTabs
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      - name: page_numbers
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDocumentTabs'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getDocumentTabs
      x-ds-method: get
      x-ds-service: Templates
      x-ds-in-sdk: true
components:
  schemas:
    radioGroup:
      type: object
      properties:
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        groupName:
          type: string
          description: The name of the group. The search_text provided in the call automatically performs a wild card search on group_name.
        radios:
          type: array
          description: Specifies the locations and status for radio buttons that are grouped together.
          items:
            $ref: '#/components/schemas/radio'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
      description: 'This group tab is used to place radio buttons on a document.

        The `radios` property

        contains a list of

        [`radio`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radio)

        objects  associated with the group. Only one radio button can

        be selected in a group.

        '
      x-ds-definition-name: radioGroup
      x-ms-summary: 'This group tab is used to place radio buttons on a document.

        The `radios` property

        contains a list of

        [`radio`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radio)

        objects  associated with the group. Only one radio button can

        be selected in a group.

        '
    signerAttachment:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        optional:
          type: string
          description: ''
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        scaleValue:
          type: number
          description: ''
          format: float
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (+0, -24)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (+0, -24)

            '
      description: 'A tab that allows the recipient to attach supporting

        documents to an envelope.

        '
      x-ds-definition-name: signerAttachment
      x-ms-summary: 'A tab that allows the recipient to attach supporting

        documents to an envelope.

        '
    initialHere:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: Specifies the tool tip text for the tab.
        optional:
          type: string
          description: ''
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        scaleValue:
          type: number
          description: ' Sets the size for the InitialHere tab. It can be value from 0.5 to 1.0, where 1.0 represents full size and 0.5 is 50% size.'
          format: float
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (+2, -23)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (+2, -23)

            '
      description: 'A tab that allows the recipient to initial the document. May

        be optional.

        '
      x-ds-definition-name: initialHere
      x-ms-summary: 'A tab that allows the recipient to initial the document. May

        be optional.

        '
    fullName:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the recipient''s full name.

        '
      x-ds-definition-name: fullName
      x-ms-summary: 'A tab that displays the recipient''s full name.

        '
    emailAddress:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the recipient''s email as entered in the

        recipient information.

        '
      x-ds-definition-name: emailAddress
      x-ms-summary: 'A tab that displays the recipient''s email as entered in the

        recipient information.

        '
    zip:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maxLength:
          type: integer
          description: An optional value that describes the maximum length of the property when the property is a string.
          format: int32
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        senderRequired:
          type: string
          description: "When set to **true**, the sender must populate the tab before an envelope can be sent using the template. \n\nThis value tab can only be changed by modifying (PUT) the template. \n\nTabs with a `senderRequired` value of true cannot be deleted from an envelope."
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        useDash4:
          type: string
          description: ''
        validationMessage:
          type: string
          description: The message displayed if the custom tab fails input validation (either custom of embedded).
        validationPattern:
          type: string
          description: A regular expressionn used to validate input for the tab.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that allows the recipient to enter a ZIP code. The ZIP

        code can be five digits or nine digits in the ZIP+4 format.

        The zip code can be typed with or without dashes. It uses

        the same parameters as a Text tab, with the validation

        message and pattern set for ZIP code information.

        '
      x-ds-definition-name: zip
      x-ms-summary: 'A tab that allows the recipient to enter a ZIP code. The ZIP

        code can be five digits or nine digits in the ZIP+4 format.

        The zip code can be typed with or without dashes. It uses

        the same parameters as a Text tab, with the validation

        message and pattern set for ZIP code information.

        '
    number:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        formula:
          type: string
          description: 'Contains the formula

            for calculating the value of

            this tab.


            Use a tab''s `tabLabel`,

            enclosed in brackets,

            to refer to it.


            For example,

            you want to present the total cost

            of two items, tax included.


            The cost of each item is stored

            in number tabs labeled Item1 and Item2.

            The tax rate is in a number tab

            labeled TaxRate.


            The formula string for this property

            would be:

            `([Item1] + [Item2]) * (1 + [TaxRate])`


            See [Calculated Fields][calculatedfields]

            in the DocuSign Support Center

            to learn more about formulas.


            Maximum Length: 2000 characters


            [calculatedfields]: https://support.docusign.com/en/guides/ndse-user-guide-calculated-fields

            '
        isPaymentAmount:
          type: string
          description: 'When set to **true**, sets this as a payment tab. Can only be used with Text, Number, Formula, or List tabs. The value of the tab must be a number. '
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maxLength:
          type: integer
          description: An optional value that describes the maximum length of the property when the property is a string.
          format: int32
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: Specifies the tool tip text for the tab.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        senderRequired:
          type: string
          description: "When set to **true**, the sender must populate the tab before an envelope can be sent using the template. \n\nThis value tab can only be changed by modifying (PUT) the template. \n\nTabs with a `senderRequired` value of true cannot be deleted from an envelope."
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        validationMessage:
          type: string
          description: The message displayed if the custom tab fails input validation (either custom of embedded).
        validationPattern:
          type: string
          description: A regular expressionn used to validate input for the tab.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that allows the recipient to enter numbers and decimal

        (.) points.

        '
      x-ds-definition-name: number
      x-ms-summary: 'A tab that allows the recipient to enter numbers and decimal

        (.) points.

        '
    listItem:
      type: object
      properties:
        selected:
          type: string
          description: "When set to **true**, indicates that this item is the default selection shown to a signer. \n\nOnly one selection can be set as the default."
        text:
          type: string
          description: 'Specifies the text that is shown in the dropdown list. '
        value:
          type: string
          description: Specifies the value that is used when the list item is selected.
      description: 'One of the selectable items

        in the `listItems` property

        of a [`list`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/list) tab.'
      x-ds-definition-name: listItem
      x-ms-summary: 'One of the selectable items

        in the `listItems` property

        of a [`list`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/list) tab.'
    view:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        buttonText:
          type: string
          description: ''
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        height:
          type: integer
          description: Height of the tab in pixels.
          format: int32
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.'
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        requiredRead:
          type: string
          description: ''
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            '
      description: 'This tab is used with the Approve tab to handle

        supplemental documents.'
      x-ds-definition-name: view
      x-ms-summary: 'This tab is used with the Approve tab to handle

        supplemental documents.'
    smartSection:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        caseSensitive:
          type: boolean
          description: ''
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: ''
        displaySettings:
          $ref: '#/components/schemas/smartSectionDisplaySettings'
        documentId:
          type: string
          description: The ID of the document being accessed.
        endAnchor:
          type: string
          description: ''
        endPosition:
          $ref: '#/components/schemas/smartSectionAnchorPosition'
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        mergeField:
          $ref: '#/components/schemas/mergeField'
        pageNumber:
          type: string
          description: The page number being accessed.
        recipientId:
          type: string
          description: A local reference that senders use to map recipients to other objects, such as specific document tabs. Within an envelope, each `recipientId` must be unique, but there is no uniqueness requirement across envelopes. For example, many envelopes assign the first recipient a `recipientId` of `1`.
        removeEndAnchor:
          type: boolean
          description: ''
        removeStartAnchor:
          type: boolean
          description: ''
        startAnchor:
          type: string
          description: ''
        startPosition:
          $ref: '#/components/schemas/smartSectionAnchorPosition'
        status:
          type: string
          description: Item status. <!-- TODO -->
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.

            '
      description: ''
      x-ds-definition-name: smartSection
      x-ms-summary: ''
    list:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        listItems:
          type: array
          description: "The list of values that can be selected by senders. The list values are separated by semi-colons. Example: [one;two;three;four]\n\nMaximum Length of listItems:  2048 characters.\nMaximum Length of items in the list: 100 characters. \n"
          items:
            $ref: '#/components/schemas/listItem'
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        senderRequired:
          type: string
          description: "When set to **true**, the sender must populate the tab before an envelope can be sent using the template. \n\nThis value tab can only be changed by modifying (PUT) the template. \n\nTabs with a `senderRequired` value of true cannot be deleted from an envelope."
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: The value to use when the item is selected.
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'This tab offers a list of options to choose from.

        The `listItems`

        property contains a list of

        [`listItem`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/listItem)

        objects to specify the selectable options.

        '
      x-ds-definition-name: list
      x-ms-summary: 'This tab offers a list of options to choose from.

        The `listItems`

        property contains a list of

        [`listItem`](https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/listItem)

        objects to specify the selectable options.

        '
    decline:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        buttonText:
          type: string
          description: ' Specifies the decline text displayed in the tab.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        declineReason:
          type: string
          description: The reason the recipient declined the document.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        height:
          type: integer
          description: Height of the tab in pixels.
          format: int32
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that allows the recipient the option of declining an

        envelope. If the recipient clicks the tab during the signing

        process, the envelope is voided.

        '
      x-ds-definition-name: decline
      x-ms-summary: 'A tab that allows the recipient the option of declining an

        envelope. If the recipient clicks the tab during the signing

        process, the envelope is voided.

        '
    checkbox:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: Specifies the tool tip text for the tab.
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        required:
          type: string
          description: This property does not apply to `checkbox` tabs. Check boxes are always optional.
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        selected:
          type: string
          description: When set to **true**, the checkbox is selected.
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-7, -6)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-7, -6)

            '
      description: 'A tab that allows the recipient to select a yes/no (on/off) option.

        '
      x-ds-definition-name: checkbox
      x-ms-summary: 'A tab that allows the recipient to select a yes/no (on/off) option.

        '
    approve:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        buttonText:
          type: string
          description: ' Specifies the approval text displayed in the tab. '
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

[...]
