openapi: 3.2.0
info:
  title: Docusign Templates API
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Templates across 2 of this provider''s published API definitions: docusign-esignature-openapi.yml, docusign-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://demo.docusign.net/restapi/v2.1
  description: DocuSign Demo (Sandbox) Environment
- url: https://www.docusign.net/restapi/v2.1
  description: DocuSign Production - NA1
- url: https://eu.docusign.net/restapi/v2.1
  description: DocuSign Production - EU
- url: https://au.docusign.net/restapi/v2.1
  description: DocuSign Production - AU
- url: https://www.docusign.net/restapi
tags:
- name: Templates
  description: Create and manage reusable templates that define documents, recipients, tabs, and routing for common agreement workflows.
  externalDocs:
    url: https://developers.docusign.com/docs/esign-rest-api/reference/templates/
paths:
  /accounts/{accountId}/templates:
    get:
      operationId: Templates_ListTemplates
      summary: Docusign List Templates
      description: Retrieves a list of templates associated with the specified account. Templates define reusable envelopes with predefined documents, recipients, tabs, and routing.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: count
        in: query
        description: Maximum number of templates to return. Default is 100.
        schema:
          type: integer
          default: 100
      - name: start_position
        in: query
        description: Starting index for the result set.
        schema:
          type: integer
      - name: search_text
        in: query
        description: Search text to filter templates by name.
        schema:
          type: string
      - name: folder
        in: query
        description: Folder from which to retrieve templates. Valid values include all, drafts, inbox, sent_items, recyclebin.
        schema:
          type: string
      - name: folder_ids
        in: query
        description: Comma-separated list of folder IDs to search within.
        schema:
          type: string
      - name: shared_by_me
        in: query
        description: When true, returns templates shared by the current user.
        schema:
          type: string
      - name: order
        in: query
        description: Sort order for results. Valid values are asc and desc.
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: order_by
        in: query
        description: Template property to sort by. Valid values include name, modified, used.
        schema:
          type: string
      - name: used_from_date
        in: query
        description: Filter templates used on or after this date.
        schema:
          type: string
          format: date-time
      - name: used_to_date
        in: query
        description: Filter templates used before this date.
        schema:
          type: string
          format: date-time
      - name: include
        in: query
        description: Comma-separated list of additional information to include. Valid values include custom_fields, documents, folders, notifications, recipients.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeTemplateResults'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - OAuth2:
        - signature
        - impersonation
    post:
      operationId: Templates_CreateTemplate
      summary: Docusign Create a Template
      description: Creates a new template from scratch or from an existing template. Templates define the document content, recipients, tabs, and routing for reusable envelope workflows.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvelopeTemplate'
      responses:
        '201':
          description: Template created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - OAuth2:
        - signature
        - impersonation
    servers:
    - url: https://demo.docusign.net/restapi/v2.1
      description: DocuSign Demo (Sandbox) Environment
    - url: https://www.docusign.net/restapi/v2.1
      description: DocuSign Production - NA1
    - url: https://eu.docusign.net/restapi/v2.1
      description: DocuSign Production - EU
    - url: https://au.docusign.net/restapi/v2.1
      description: DocuSign Production - AU
  /accounts/{accountId}/templates/{templateId}:
    get:
      operationId: Templates_GetTemplate
      summary: Docusign Get a Template
      description: Retrieves the definition and properties of the specified template, including its documents, recipients, tabs, and routing information.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/templateId'
      - name: include
        in: query
        description: Comma-separated list of additional properties to include.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - OAuth2:
        - signature
        - impersonation
    put:
      operationId: Templates_UpdateTemplate
      summary: Docusign Update a Template
      description: Updates the template specified by templateId. You can modify the template name, description, documents, recipients, and tabs.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/templateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvelopeTemplate'
      responses:
        '200':
          description: Template updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - OAuth2:
        - signature
        - impersonation
    delete:
      operationId: Templates_DeleteTemplate
      summary: Docusign Delete a Template
      description: Deletes the specified template. Deleted templates are moved to the recycle bin and can be recovered within a retention period.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/templateId'
      responses:
        '200':
          description: Template deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - OAuth2:
        - signature
        - impersonation
    servers:
    - url: https://demo.docusign.net/restapi/v2.1
      description: DocuSign Demo (Sandbox) Environment
    - url: https://www.docusign.net/restapi/v2.1
      description: DocuSign Production - NA1
    - url: https://eu.docusign.net/restapi/v2.1
      description: DocuSign Production - EU
    - url: https://au.docusign.net/restapi/v2.1
      description: DocuSign Production - AU
  /accounts/{accountId}/templates/{templateId}/recipients:
    get:
      operationId: TemplateRecipients_ListRecipients
      summary: Docusign List Template Recipients
      description: Retrieves the recipients defined in the specified template, including their roles, routing order, and tab assignments.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/templateId'
      - name: include_tabs
        in: query
        description: When true, includes the tabs associated with each recipient.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved template recipients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipients'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - OAuth2:
        - signature
        - impersonation
    put:
      operationId: TemplateRecipients_UpdateRecipients
      summary: Docusign Update Template Recipients
      description: Updates one or more recipients in the specified template.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/templateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recipients'
      responses:
        '200':
          description: Template recipients updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientsUpdateSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - OAuth2:
        - signature
        - impersonation
    servers:
    - url: https://demo.docusign.net/restapi/v2.1
      description: DocuSign Demo (Sandbox) Environment
    - url: https://www.docusign.net/restapi/v2.1
      description: DocuSign Production - NA1
    - url: https://eu.docusign.net/restapi/v2.1
      description: DocuSign Production - EU
    - url: https://au.docusign.net/restapi/v2.1
      description: DocuSign Production - AU
  /v2/accounts/{accountId}/templates:
    get:
      tags:
      - Templates
      summary: Docusign Gets the definition of a template.
      description: Retrieves the list of templates for the specified account. The request can be limited to a specific folder.
      operationId: Templates_GetTemplates
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: The number of records to return.
        schema:
          type: string
      - name: folder
        in: query
        description: The query value can be a folder name or folder ID. The response will only return templates in the specified folder.
        schema:
          type: string
      - name: folder_ids
        in: query
        description: A comma-separated list of folder ID GUIDs.
        schema:
          type: string
      - name: from_date
        in: query
        description: Start of the search date range. Only returns templates created on or after this date/time. If no value is specified, there is no limit on the earliest date created.
        schema:
          type: string
      - name: include
        in: query
        description: "A comma-separated list of additional information to include in the response. Valid values are: \n\n- `recipients`: Includes information about template recipients.\n- `folders`: Includes information about the folder that holds the template. \n- `documents` : Includes information about template documents.\n- `custom_fields`: Includes information about template custom fields.\n- `notifications`: Includes information about the notification settings for templates.\n- `advanced_templates`: Includes advanced templates in the response. For example, these include templates that use advanced recipient routing. We recommend that you use this option to ensure that the response includes all relevant templates. "
        schema:
          type: string
      - name: modified_from_date
        in: query
        schema:
          type: string
      - name: modified_to_date
        in: query
        schema:
          type: string
      - name: order
        in: query
        description: "Sets the direction order used to sort the list. Valid values are: \n\n- `asc` = ascending sort order (a to z)  \n- `desc` = descending sort order (z to a)"
        schema:
          type: string
      - name: order_by
        in: query
        description: "Sets the file attribute used to sort the list. Valid values are:  \n\n- `name`: template name  \n- `modified`: The date and time the template was last modified.  \n- `used`: The date and time the template was last used."
        schema:
          type: string
      - name: search_text
        in: query
        description: The search text used to search the names of templates.
        schema:
          type: string
      - name: shared_by_me
        in: query
        description: If true, the response only includes templates shared by the user. If false, the response only returns template not shared by the user. If not specified, the response is not affected.
        schema:
          type: string
      - name: start_position
        in: query
        description: The starting index for the first template shown in the response. This must be greater than or equal to 0 (zero).
        schema:
          type: string
      - name: to_date
        in: query
        description: End of the search date range. Only returns templates created up to this date/time. If no value is provided, this defaults to the current date.
        schema:
          type: string
      - name: used_from_date
        in: query
        description: Start of the search date range. Only returns templates used or edited on or after this date/time. If no value is specified, there is no limit on the earliest date used.
        schema:
          type: string
      - name: used_to_date
        in: query
        description: End of the search date range. Only returns templates used or edited up to this date/time. If no value is provided, this defaults to the current date.
        schema:
          type: string
      - name: user_filter
        in: query
        description: 'Sets if the templates shown in the response Valid values are:  -owned_by_me: only shows templates the user owns.  -shared_with_me: only shows templates that are shared with the user.  -all: shows all templates owned or shared with the user.'
        schema:
          type: string
      - name: user_id
        in: query
        description: The id of the user.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeTemplateResults'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: ListTemplates
      x-ds-method: list
      x-ds-service: Templates
      x-ds-in-sdk: true
    post:
      tags:
      - Templates
      summary: Docusign Creates a template.
      description: 'Creates a template definition using a multipart request.


        ### Template Email Subject Merge Fields


        Call this endpoint to insert a recipient name and email address merge fields into the email subject line when creating or sending from a template.


        The merge fields, based on the recipient''s role name, are added to the `emailSubject` property when the template is created or when the template is used to create an envelope. After a template sender adds the name and email information for the recipient and sends the envelope, the recipient information is automatically merged into the appropriate fields in the email subject line.


        Both the sender and the recipients will see the information in the email subject line for any emails associated with the template. This provides an easy way for senders to organize their envelope emails without having to open an envelope to check the recipient.



        ###### If merging the recipient information into the subject line causes the subject line to exceed 100 characters, then any characters over the 100 character limit are not included in the subject line. For cases where the recipient name or email is expected to be long, you should consider placing the merge field at the start of the email subject.


        To add a recipient''s name in the subject line add the following text in the `emailSubject` property when creating the template or when sending an envelope from a template:


        `[[<roleName>_UserName]]`


        Example:


        `"emailSubject":"[[Signer 1_UserName]], Please sign this NDA",`


        To add a recipient''s email address in the subject line add the following text in the `emailSubject` property when creating the template or when sending an envelope from a template:


        `[[<roleName>_Email]]`


        Example:


        `"emailSubject":"[[Signer 1_Email]], Please sign this NDA",`



        In both cases the <roleName> is the recipient''s contents of the `roleName` property in the template.


        For cases where another recipient (such as an Agent, Editor, or Intermediary recipient) is entering the name and email information for the recipient included in the email subject, then `[[<roleName>_UserName]]` or `[[<roleName>_Email]]` is shown in the email subject.'
      operationId: Templates_PostTemplates
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envelopeTemplate'
          application/xml:
            schema:
              $ref: '#/components/schemas/envelopeTemplate'
        required: false
      responses:
        '201':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/templateSummary'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: createTemplate
      x-ds-method: create
      x-ds-service: Templates
      x-ds-in-sdk: true
      x-codegen-request-body-name: envelopeTemplate
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/templates/{templateId}:
    get:
      tags:
      - Templates
      summary: Docusign Gets a list of templates for a specified account.
      description: Retrieves the definition of the specified template.
      operationId: Templates_GetTemplate
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: "A comma-separated list of additional information to include in the response. Valid values are: \n\n- `recipients`: Includes information about template recipients.\n- `folders`: Includes information about the folder that holds the template. \n- `documents` : Includes information about template documents.\n- `custom_fields`: Includes information about template custom fields.\n- `notifications`: Includes information about the notification settings for templates.\n- `advanced_templates`: Includes advanced templates in the response. For example, these include templates that use advanced recipient routing. We recommend that you use this option to ensure that the response includes all relevant templates. "
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/envelopeTemplate'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: get
      x-ds-method: get
      x-ds-service: Templates
      x-ds-in-sdk: true
    put:
      tags:
      - Templates
      summary: Docusign Updates an existing template.
      description: Updates an existing template.
      operationId: Templates_PutTemplate
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envelopeTemplate'
          application/xml:
            schema:
              $ref: '#/components/schemas/envelopeTemplate'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/templateUpdateSummary'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: update
      x-ds-method: update
      x-ds-service: Templates
      x-ds-in-sdk: true
      x-codegen-request-body-name: envelopeTemplate
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/templates/{templateId}/{templatePart}:
    put:
      tags:
      - Templates
      summary: Docusign Shares a template with a group
      description: Shares a template with the specified members group.
      operationId: Templates_PutTemplatePart
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      - name: templatePart
        in: path
        description: Currently, the only defined part is **groups**.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/groupInformation'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/groupInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateGroupShare
      x-ds-method: updateGroupShare
      x-ds-service: Templates
      x-ds-in-sdk: true
      x-codegen-request-body-name: groupInformation
    delete:
      tags:
      - Templates
      summary: Docusign Removes a member group's sharing permissions for a template.
      description: Removes a member group's sharing permissions for a specified template.
      operationId: Templates_DeleteTemplatePart
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      - name: templatePart
        in: path
        description: Currently, the only defined part is **groups**.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/groupInformation'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/groupInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteGroupShare
      x-ds-method: deleteGroupShare
      x-ds-service: Templates
      x-ds-in-sdk: true
      x-codegen-request-body-name: groupInformation
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/templates/{templateId}/documents/{documentId}/pages:
    get:
      tags:
      - Templates
      summary: Docusign Returns document page image(s) based on input.
      operationId: Pages_GetTemplatePageImages
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: The maximum number of results to be returned by this request.
        schema:
          type: string
      - name: dpi
        in: query
        description: Number of dots per inch for the resulting image. The default if not used is 94. The range is 1-310.
        schema:
          type: string
      - name: max_height
        in: query
        description: Sets the maximum height (in pixels) of the returned image.
        schema:
          type: string
      - name: max_width
        in: query
        description: Sets the maximum width (in pixels) of the returned image.
        schema:
          type: string
      - name: nocache
        in: query
        schema:
          type: string
      - name: show_changes
        in: query
        schema:
          type: string
      - name: start_position
        in: query
        description: The position within the total result set from which to start returning values. The value **thumbnail** may be used to return the page image.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/pageImages'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getDocumentPageImages
      x-ds-method: getPageImages
      x-ds-service: Templates
      x-ds-in-sdk: true
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/templates/{templateId}/documents/{documentId}/pages/{pageNumber}:
    delete:
      tags:
      - Templates
      summary: Docusign Deletes a page from a document in an template.
      description: Deletes a page from a document in a template based on the page number.
      operationId: Pages_DeleteTemplatePage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: pageNumber
        in: path
        description: The page number being accessed.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pageRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/pageRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteDocumentPage
      x-ds-method: deleteDocumentPage
      x-ds-service: Templates
      x-ds-in-sdk: true
      x-codegen-request-body-name: pageRequest
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/templates/{templateId}/documents/{documentId}/pages/{pageNumber}/page_image:
    get:
      tags:
      - Templates
      summary: Docusign Gets a page image from a template for display.
      description: Retrieves a page image for display from the specified template.
      operationId: Pages_GetTemplatePageImage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: pageNumber
        in: path
        description: The page number being accessed.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      - name: dpi
        in: query
        description: Number of dots per inch for the resulting image. The default if not used is 94. The range is 1-310.
        schema:
          type: string
      - name: max_height
        in: query
        description: Sets the maximum height (in pixels) of the returned image.
        schema:
          type: string
      - name: max_width
        in: query
        description: Sets the maximum width (in pixels) of the returned image.
        schema:
          type: string
      - name: show_changes
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Error encountered.
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getDocumentPageImage
      x-ds-method: getDocumentPageImage
      x-ds-service: Templates
      x-ds-in-sdk: true
    put:
      tags:
      - Templates
      summary: Docusign Rotates page image from a template for display.
      description: Rotates page image from a template for display. The page image can be rotated to the left or right.
      operationId: Pages_PutTemplatePageImage
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: documentId
        in: path
        description: The ID of the document being accessed.
        required: true
        schema:
          type: string
      - name: pageNumber
        in: path
        description: The page number being accessed.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pageRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/pageRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: rotateDocumentPage
      x-ds-method: rotateDocumentPage
      x-ds-service: Templates
      x-ds-in-sdk: true
      x-codegen-request-body-name: pageRequest
    servers:
    - url: https://www.docusign.net/restapi
  /v2/accounts/{accountId}/templates/{templateId}/notification:
    get:
      tags:
      - Templates
      summary: Docusign Gets template notification information.
      description: Retrieves the envelope notification, reminders and expirations, information for an existing template.
      operationId: Notification_GetTemplatesTemplateIdNotification
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/notification'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getNotificationSettings
      x-ds-method: getNotificationSettings
      x-ds-service: Templates
      x-ds-in-sdk: true
    put:
      tags:
      - Templates
      summary: Docusign Updates the notification  structure for an existing template.
      description: Updates the notification structure for an existing template. Use this endpoint to set reminder and expiration notifications.
      operationId: Notification_PutTemplatesTemplateIdNotification
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        description: The ID of the template being accessed.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/templateNotificationRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/templateNotificationRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/notification'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateNotificationSettings
      x-ds-method: updateNotificationSettings
      x-ds-service: Templates
      x-ds-in-sdk: true
      x-codegen-request-body-name: templateNotificationRequest
    servers:
    - url: https://www.docusign.net/restapi
components:
  schemas:
    Document:
      type: object
      description: A document to be included in an envelope. Documents can be provided as base64-encoded content or by reference.
      properties:
        documentId:
          type: string
          description: A unique identifier for the document within the envelope, assigned by the sender. Must be unique within the envelope.
          example: '500123'
        name:
          type: string
          description: The name of the document.
          example: Example Title
        fileExtension:
          type: string
          description: The file extension of the document. DocuSign uses this to determine the correct content type.
          example: example_value
        documentBase64:
          type: string
          description: The base64-encoded content of the document.
          example: example_value
        remoteUrl:
          type: string
          description: URL from which to retrieve the document content.
          example: https://www.example.com
        order:
          type: string
          description: The order of the document in the envelope.
          example: example_value
        pages:
          type: string
          description: The number of pages in the document.
          example: example_value
        display:
          type: string
          description: Display setting for the document.
          enum:
          - inline
          - modal
          - download
          example: inline
        includeInDownload:
          type: string
          description: Whether to include this document in downloads.
          example: example_value
        transformPdfFields:
          type: string
          description: When true, DocuSign transforms PDF form fields into DocuSign tabs.
          example: example_value
    EnvelopeTemplateResults:
      type: object
      description: Contains results of a template list request.
      properties:
        envelopeTemplates:
          type: array
          items:
            $ref: '#/components/schemas/EnvelopeTemplate'
          example: []
        resultSetSize:
          type: string
          example: example_value
        totalSetSize:
          type: string
          example: example_value
        startPosition:
          type: string
          example: example_value
        endPosition:
          type: string
          example: example_value
        nextUri:
          type: string
          example: example_value
        previousUri:
          type: string
          example: example_value
        folders:
          type: array
          items:
            type: object
            properties:
              folderId:
                type: string
              name:
                type: string
              itemCount:
                type: string
          example: []
    Intermediary:
      type: object
      description: An intermediary recipient who can forward the envelope to another person.
      properties:
        recipientId:
          type: string
          example: '500123'
        name:
          type: string
          example: Example Title
        email:
          type: string
          format: email
          example: user@example.com
        routingOrder:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
    EmailTab:
      type: object
      description: A tab for email address input.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
    ListTab:
      type: object
      description: A dropdown list tab for selecting from predefined options.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
        listItems:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              value:
                type: string
              selected:
                type: string
          example: []
        required:
          type: string
          example: example_value
    CustomFields:
      type: object
      description: Envelope custom fields for metadata and integrations.
      properties:
        textCustomFields:
          type: array
          items:
            type: object
            properties:
              fieldId:
                type: string
              name:
                type: string
              value:
                type: string
              required:
                type: string
              show:
                type: string
          example: []
        listCustomFields:
          type: array
          items:
            type: object
            properties:
              fieldId:
                type: string
              name:
                type: string
              value:
                type: string
              required:
                type: string
              show:
                type: string
              listItems:
                type: array
                items:
                  type: string
          example: []
    Signer:
      type: object
      description: A signer recipient who must sign the envelope documents.
      properties:
        recipientId:
          type: string
          description: Unique identifier for the recipient. Assigned by the sender.
          example: '500123'
        recipientIdGuid:
          type: string
          format: uuid
          description: The GUID for the recipient.
          example: '500123'
        name:
          type: string
          description: The full legal name of the signer.
          example: Example Title
        email:
          type: string
          format: email
          description: The email address of the signer.
          example: user@example.com
        routingOrder:
          type: string
          description: The routing order of the signer. Lower numbers are processed first. Recipients with the same routing order sign in parallel.
          example: example_value
        roleName:
          type: string
          description: The role name associated with the signer, used with templates.
          example: example_value
        clientUserId:
          type: string
          description: The client user ID for embedded signing. When set, the recipient is an embedded signer and must sign through your application using a generated signing URL.
          example: '500123'
        status:
          type: string
          description: The status of the signer.
          enum:
          - created
          - sent
          - delivered
          - signed
          - completed
          - declined
          - autoresponded
          example: created
        signedDateTime:
          type: string
          format: date-time
          description: The date and time the signer signed.
          example: '2026-01-15T10:30:00Z'
        deliveredDateTime:
          type: string
          format: date-time
          description: The date and time the envelope was delivered to the signer.
          example: '2026-01-15T10:30:00Z'
        declinedDateTime:
          type: string
          format: date-time
          description: The date and time the signer declined.
          example: '2026-01-15T10:30:00Z'
        declinedReason:
          type: string
          description: The reason the signer declined.
          example: example_value
        tabs:
          $ref: '#/components/schemas/EnvelopeRecipientTabs'
        identityVerification:
          type: object
          description: Identity verification settings for this recipient.
          properties:
            workflowId:
              type: string
            inputOptions:
              type: array
              items:
                type: object
          example: example_value
        phoneAuthentication:
          type: object
          description: Phone authentication settings.
          properties:
            recipMayProvideNumber:
              type: string
            senderProvidedNumbers:
              type: array
              items:
                type: string
          example: example_value
        accessCode:
          type: string
          description: An access code the recipient must enter to access the envelope.
          example: example_value
        requireIdLookup:
          type: string
          description: Whether ID lookup authentication is required.
          example: example_value
        note:
          type: string
          description: A private note to the signer from the sender.
          example: example_value
        emailNotification:
          $ref: '#/components/schemas/RecipientEmailNotification'
    Checkbox:
      type: object
      description: A checkbox tab for boolean selection.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        selected:
          type: string
          description: When true, the checkbox is selected.
          example: example_value
        required:
          type: string
          example: example_value
        locked:
          type: string
          example: example_value
    TemplateSummary:
      type: object
      description: Summary information about a template operation.
      properties:
        templateId:
          type: string
          format: uuid
          description: The unique identifier of the template.
          example: '500123'
        name:
          type: string
          description: The name of the template.
          example: Example Title
        uri:
          type: string
          description: The URI for the template.
          example: example_value
    Decline:
      type: object
      description: A decline button tab for document rejection.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        buttonText:
          type: string
          example: example_value
        declineReason:
          type: string
          example: example_value
    Recipients:
      type: object
      description: Contains the recipient collections for an envelope, organized by recipient type.
      properties:
        signers:
          type: array
          description: List of signer recipients.
          items:
            $ref: '#/components/schemas/Signer'
          example: []
        carbonCopies:
          type: array
          description: List of carbon copy recipients who receive a copy of the completed envelope.
          items:
            $ref: '#/components/schemas/CarbonCopy'
          example: []
        certifiedDeliveries:
          type: array
          description: List of certified delivery recipients who must confirm receipt of the envelope.
          items:
            $ref: '#/components/schemas/CertifiedDelivery'
          example: []
        inPersonSigners:
          type: array
          description: List of in-person signer recipients for face-to-face signing scenarios.
          items:
            $ref: '#/components/schemas/InPersonSigner'
          example: []
        agents:
          type: array
          description: List of agent recipients who can designate another person to sign on their behalf.
          items:
            $ref: '#/components/schemas/Agent'
          example: []
        editors:
          type: array
          description: List of editor recipients who can modify the envelope before it is sent.
          items:
            $ref: '#/components/schemas/Editor'
          example: []
        intermediaries:
          type: array
          description: List of intermediary recipients who can forward the envelope to another person for signing.
          items:
            $ref: '#/components/schemas/Intermediary'
          example: []
        witnesses:
          type: array
          description: List of witness recipients who verify the identity of a signer.
          items:
            $ref: '#/components/schemas/Witness'
          example: []
        recipientCount:
          type: string
          description: The total number of recipients in the envelope.
          example: example_value
        currentRoutingOrder:
          type: string
          description: The current routing order position.
          example: example_value
    FormulaTab:
      type: object
      description: A calculated field tab using formulas.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        formula:
          type: string
          description: The formula expression.
          example: example_value
        roundDecimalPlaces:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
    CarbonCopy:
      type: object
      description: A carbon copy recipient who receives a copy of the completed documents but does not need to take any action.
      properties:
        recipientId:
          type: string
          description: Unique identifier for the recipient.
          example: '500123'
        name:
          type: string
          description: The full name of the recipient.
          example: Example Title
        email:
          type: string
          format: email
          description: The email address of the recipient.
          example: user@example.com
        routingOrder:
          type: string
          description: The routing order of the recipient.
          example: example_value
        roleName:
          type: string
          description: The role name for template matching.
          example: example_value
        status:
          type: string
          description: The status of the recipient.
          example: example_value
        note:
          type: string
          description: A note for the recipient.
          example: example_value
    SignHere:
      type: object
      description: A signature tab placed on a document.
      properties:
        tabId:
          type: string
          description: Unique identifier for the tab.
          example: '500123'
        tabLabel:
          type: string
          description: Label used to identify the tab.
          example: example_value
        documentId:
          type: string
          description: The document ID where this tab is placed.
          example: '500123'
        pageNumber:
          type: string
          description: The page number where this tab is placed.
          example: example_value
        recipientId:
          type: string
          description: The recipient this tab is assigned to.
          example: '500123'
        xPosition:
          type: string
          description: The X position of the tab on the page.
          example: example_value
        yPosition:
          type: string
          description: The Y position of the tab on the page.
          example: example_value
        anchorString:
          type: string
          description: Anchor text string used to automatically position the tab.
          example: example_value
        anchorXOffset:
          type: string
          description: X offset from the anchor string position.
          example: example_value
        anchorYOffset:
          type: string
          description: Y offset from the anchor string position.
          example: example_value
        anchorUnits:
          type: string
          description: Units for anchor offsets (pixels, inches, mms, cms).
          example: example_value
        scaleValue:
          type: string
          description: Scale value for the signature.
          example: example_value
        optional:
          type: string
          description: When true, the tab is optional for the recipient.
          example: example_value
        stampType:
          type: string
          description: The type of stamp for the signature.
          example: example_value
    ErrorDetails:
      type: object
      description: Contains error information returned by the API.
      properties:
        errorCode:
          type: string
          description: The error code.
          example: example_value
        message:
          type: string
          description: A human-readable error message.
          example: example_value
    Agent:
      type: object
      description: An agent recipient who can designate a recipient to sign in their place.
      properties:
        recipientId:
          type: string
          example: '500123'
        name:
          type: string
          example: Example Title
        email:
          type: string
          format: email
          example: user@example.com
        routingOrder:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
    InitialHere:
      type: object
      description: An initial tab placed on a document.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        optional:
          type: string
          example: example_value
        scaleValue:
          type: string
          example: example_value
    Editor:
      type: object
      description: An editor recipient who can modify the envelope before it is sent.
      properties:
        recipientId:
          type: string
          example: '500123'
        name:
          type: string
          example: Example Title
        email:
          type: string
          format: email
          example: user@example.com
        routingOrder:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
    NumberTab:
      type: object
      description: A tab for numeric input.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
        required:
          type: string
          example: example_value
    RadioGroup:
      type: object
      description: A group of radio buttons for single-choice selection.
      properties:
        groupName:
          type: string
          description: The name of the radio group.
          example: example_value
        documentId:
          type: string
          example: '500123'
        recipientId:
          type: string
          example: '500123'
        radios:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              selected:
                type: string
              pageNumber:
                type: string
              xPosition:
                type: string
              yPosition:
                type: string
              anchorString:
                type: string
          example: []
        required:
          type: string
          example: example_value
    InPersonSigner:
      type: object
      description: An in-person signer recipient for face-to-face signing where a host manages the signing session.
      properties:
        recipientId:
          type: string
          example: '500123'
        hostName:
          type: string
          description: The name of the signing host.
          example: example_value
        hostEmail:
          type: string
          format: email
          description: The email of the signing host.
          example: user@example.com
        signerName:
          type: string
          description: The name of the in-person signer.
          example: example_value
        signerEmail:
          type: string
          format: email
          description: The email of the in-person signer.
          example: user@example.com
        routingOrder:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
        tabs:
          $ref: '#/components/schemas/EnvelopeRecipientTabs'
    CertifiedDelivery:
      type: object
      description: A certified delivery recipient who must confirm receipt of the envelope documents.
      properties:
        recipientId:
          type: string
          example: '500123'
        name:
          type: string
          example: Example Title
        email:
          type: string
          format: email
          example: user@example.com
        routingOrder:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
    Text:
      type: object
      description: A text input tab for free-form text entry.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
        required:
          type: string
          description: When true, the recipient must fill in this tab.
          example: example_value
        locked:
          type: string
          description: When true, the tab value cannot be changed.
          example: example_value
        maxLength:
          type: string
          description: Maximum length of text input.
          example: example_value
        width:
          type: string
          example: example_value
        height:
          type: string
          example: example_value
        font:
          type: string
          example: example_value
        fontSize:
          type: string
          example: example_value
        fontColor:
          type: string
          example: example_value
        bold:
          type: string
          example: example_value
        italic:
          type: string
          example: example_value
        underline:
          type: string
          example: example_value
        validationPattern:
          type: string
          description: Regular expression for input validation.
          example: example_value
        validationMessage:
          type: string
          description: Error message displayed when validation fails.
          example: example_value
        concealValueOnDocument:
          type: string
          description: When true, the value is concealed on the document.
          example: example_value
    Notification:
      type: object
      description: Envelope notification settings including reminders and expirations.
      properties:
        useAccountDefaults:
          type: string
          description: When true, use account default notification settings.
          example: example_value
        reminders:
          type: object
          properties:
            reminderEnabled:
              type: string
              description: When true, reminders are enabled.
            reminderDelay:
              type: string
              description: Days before the first reminder is sent.
            reminderFrequency:
              type: string
              description: Days between subsequent reminders.
          example: example_value
        expirations:
          type: object
          properties:
            expireEnabled:
              type: string
              description: When true, expiration is enabled.
            expireAfter:
              type: string
              description: Days until the envelope expires.
            expireWarn:
              type: string
              description: Days before expiration to send a warning.
          example: example_value
    Witness:
      type: object
      description: A witness recipient who verifies the identity of a signer.
      properties:
        recipientId:
          type: string
          example: '500123'
        name:
          type: string
          example: Example Title
        email:
          type: string
          format: email
          example: user@example.com
        routingOrder:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
        tabs:
          $ref: '#/components/schemas/EnvelopeRecipientTabs'
    RecipientEmailNotification:
      type: object
      description: Custom email notification settings for a recipient.
      properties:
        emailSubject:
          type: string
          description: Custom email subject for this recipient.
          example: user@example.com
        emailBody:
          type: string
          description: Custom email body for this recipient.
          example: user@example.com
        supportedLanguage:
          type: string
          description: Language code for the notification.
          example: example_value
    Approve:
      type: object
      description: An approve button tab for document approval.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        buttonText:
          type: string
          example: example_value
    RecipientsUpdateSummary:
      type: object
      description: Summary of a recipients update operation.
      properties:
        recipientUpdateResults:
          type: array
          items:
            type: object
            properties:
              recipientId:
                type: string
              errorDetails:
                $ref: '#/components/schemas/ErrorDetails'
          example: []
    EnvelopeRecipientTabs:
      type: object
      description: Contains the tab collections for an envelope recipient, organized by tab type.
      properties:
        signHereTabs:
          type: array
          description: Signature tabs requiring the recipient to sign.
          items:
            $ref: '#/components/schemas/SignHere'
          example: []
        initialHereTabs:
          type: array
          description: Initial tabs requiring the recipient to initial.
          items:
            $ref: '#/components/schemas/InitialHere'
          example: []
        dateSignedTabs:
          type: array
          description: Date signed tabs auto-filled with the signing date.
          items:
            $ref: '#/components/schemas/DateSigned'
          example: []
        textTabs:
          type: array
          description: Text input tabs for free-form text entry.
          items:
            $ref: '#/components/schemas/Text'
          example: []
        fullNameTabs:
          type: array
          description: Full name tabs auto-filled with the signer name.
          items:
            $ref: '#/components/schemas/FullName'
          example: []
        emailTabs:
          type: array
          description: Email tabs for email address input.
          items:
            $ref: '#/components/schemas/EmailTab'
          example: user@example.com
        checkboxTabs:
          type: array
          description: Checkbox tabs for boolean selection.
          items:
            $ref: '#/components/schemas/Checkbox'
          example: []
        radioGroupTabs:
          type: array
          description: Radio button group tabs for single-choice selection.
          items:
            $ref: '#/components/schemas/RadioGroup'
          example: []
        listTabs:
          type: array
          description: List tabs for dropdown selection.
          items:
            $ref: '#/components/schemas/ListTab'
          example: []
        numberTabs:
          type: array
          description: Number tabs for numeric input.
          items:
            $ref: '#/components/schemas/NumberTab'
          example: []
        dateTabs:
          type: array
          description: Date tabs for date selection.
          items:
            $ref: '#/components/schemas/DateTab'
          example: []
        formulaTabs:
          type: array
          description: Formula tabs for calculated values.
          items:
            $ref: '#/components/schemas/FormulaTab'
          example: []
        noteTabs:
          type: array
          description: Note tabs for displaying read-only text.
          items:
            $ref: '#/components/schemas/NoteTab'
          example: []
        approveTabs:
          type: array
          description: Approve tabs for document approval.
          items:
            $ref: '#/components/schemas/Approve'
          example: []
        declineTabs:
          type: array
          description: Decline tabs for document rejection.
          items:
            $ref: '#/components/schemas/Decline'
          example: []
    EnvelopeTemplate:
      type: object
      description: A template that defines reusable documents, recipients, tabs, and routing for envelope workflows.
      properties:
        templateId:
          type: string
          format: uuid
          description: The unique identifier of the template.
          example: '500123'
        uri:
          type: string
          description: The URI for the template.
          example: example_value
        name:
          type: string
          description: The name of the template.
          example: Example Title
        description:
          type: string
          description: A description of the template.
          example: A sample description.
        created:
          type: string
          format: date-time
          description: The date the template was created.
          example: '2026-01-15T10:30:00Z'
        lastModified:
          type: string
          format: date-time
          description: The date the template was last modified.
          example: '2026-01-15T10:30:00Z'
        lastUsed:
          type: string
          format: date-time
          description: The date the template was last used.
          example: '2026-01-15T10:30:00Z'
        shared:
          type: string
          description: Whether the template is shared.
          example: example_value
        folderId:
          type: string
          description: The folder ID containing the template.
          example: '500123'
        folderName:
          type: string
          description: The name of the folder containing the template.
          example: example_value
        owner:
          $ref: '#/components/schemas/UserInfo'
        emailSubject:
          type: string
          description: The default email subject for envelopes using this template.
          example: user@example.com
        emailBlurb:
          type: string
          description: The default email body for envelopes using this template.
          example: user@example.com
        signingLocation:
          type: string
          description: The signing location setting.
          example: example_value
        documents:
          type: array
          description: The documents included in the template.
          items:
            $ref: '#/components/schemas/Document'
          example: []
        recipients:
          $ref: '#/components/schemas/Recipients'
        notification:
          $ref: '#/components/schemas/Notification'
        customFields:
          $ref: '#/components/schemas/CustomFields'
        status:
          type: string
          description: Template status.
          example: example_value
    DateTab:
      type: object
      description: A tab for date selection.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
        required:
          type: string
          example: example_value
    FullName:
      type: object
      description: A tab auto-filled with the recipient full name.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
    NoteTab:
      type: object
      description: A read-only note tab for displaying text.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
    DateSigned:
      type: object
      description: A tab that displays the date the recipient signed.
      properties:
        tabId:
          type: string
          example: '500123'
        tabLabel:
          type: string
          example: example_value
        documentId:
          type: string
          example: '500123'
        pageNumber:
          type: string
          example: example_value
        recipientId:
          type: string
          example: '500123'
        xPosition:
          type: string
          example: example_value
        yPosition:
          type: string
          example: example_value
        anchorString:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
    UserInfo:
      type: object
      description: Information about a DocuSign user.
      properties:
        userName:
          type: string
          description: The user's full name.
          example: example_value
        email:
          type: string
          format: email
          description: The user's email address.
          example: user@example.com
        userId:
          type: string
          description: The user's unique ID.
          example: '500123'
        accountId:
          type: string
          description: The account ID associated with the user.
          example: '500123'
    addressInformationInput:
      type: object
      properties:
        addressInformation:
          $ref: '#/components/schemas/addressInformation'
        displayLevelCode:
          type: string
          description: "Specifies the display level for the recipient. \nValid values are: \n\n* ReadOnly\n* Editable\n* DoNotDisplay"
        receiveInResponse:
          type: string
          description: When set to **true**, the information needs to be returned in the response.
      description: Contains address input information.
      x-ds-definition-name: addressInformationInput
      x-ms-summary: Contains address input information.
    recipientPhoneAuthentication:
      type: object
      properties:
        recipMayProvideNumber:
          type: string
          description: Boolean. When set to **true**, the recipient can supply a phone number their choice.
        recordVoicePrint:
          type: string
          description: Reserved.
        senderProvidedNumbers:
          type: array
          description: 'An Array containing a list of phone numbers the recipient may use for SMS text authentication. '
          items:
            type: string
        validateRecipProvidedNumber:
          type: string
          description: ' Reserved.'
      description: 'A complex type that Contains the elements:


        * recipMayProvideNumber - Boolean. When set to **true**, the recipient can use whatever phone number they choose.

        * senderProvidedNumbers - ArrayOfString.  A list of phone numbers the recipient can use.

        * recordVoicePrint - Reserved.

        * validateRecipProvidedNumber - Reserved.'
      x-ds-definition-name: recipientPhoneAuthentication
      x-ms-summary: 'A complex type that Contains the elements:


        * recipMayProvideNumber - Boolean. When set to **true**, the recipient can use whatever phone number they choose.

        * senderProvidedNumbers - ArrayOfString.  A list of phone numbers the recipient can use.

        * recordVoicePrint - Reserved.

        * validateRecipProvidedNumber - Reserved.'
    recipientIdentityPhoneNumber:
      type: object
      properties:
        countryCode:
          type: string
          description: ''
        extension:
          type: string
          description: ''
        number:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: recipientIdentityPhoneNumber
      x-ms-summary: ''
    fullName:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
          description: 'This property indicates the vertical offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
      description: 'A tab that displays the recipient''s full name.

        '
      x-ds-definition-name: fullName
      x-ms-summary: 'A tab that displays the recipient''s full name.

        '
    textCustomField:
      type: object
      properties:
        configurationType:
          type: string
          description: If merge field's are being used, specifies the type of the merge field. The only  supported value is **salesforce**.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        fieldId:
          type: string
          description: An ID used to specify a custom field.
        name:
          type: string
          description: The name of the custom field.
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        show:
          type: string
          description: 'A boolean indicating if the value should be displayed.  If this value is set to **true**, the custom field is displayed at the top of the certificate of completion. If this value is left blank/ or set to **false**, then it does not appear in the certificate of completion. '
        value:
          type: string
          description: The value of the custom field.
      description: ''
      x-ds-definition-name: textCustomField
      x-ms-summary: ''
    number:
      type: object
      properties:
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorString:
          type: string
          description: Specifies the anchor string.
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        conditionalParentLabel:
          type: string
          description: For conditional fields this is the TabLabel of the parent tab that controls this tab's visibility.
        conditionalParentValue:
          type: string
          description: 'For conditional fields, this is the value of the parent tab that controls the tab''s visibility.


            If the parent tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use "on" as the value to show that the parent tab is active.

            '
        customTabId:
          type: string
          description: The DocuSign generated custom tab ID for the custom tab to be applied. This can only be used when adding new tabs for a recipient. When used, the new tab inherits all the custom tab properties.
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        documentId:
          type: string
          description: Specifies the document ID number that the tab is placed on. This must refer to an existing Document's ID attribute.
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        formula:
          type: string
          description: 'Contains the formula

            for calculating the value of

            this tab.


            Use a tab''s `tabLabel`,

            enclosed in brackets,

            to refer to it.


            For example,

            you want to present the total cost

            of two items, tax included.


            The cost of each item is stored

            in number tabs labeled Item1 and Item2.

            The tax rate is in a number tab

            labeled TaxRate.


            The formula string for this property

            would be:

            `([Item1] + [Item2]) * (1 + [TaxRate])`


            See [Calculated Fields][calculatedfields]

            in the DocuSign Support Center

            to learn more about formulas.


            Maximum Length: 2000 characters


            [calculatedfields]: https://support.docusign.com/en/guides/ndse-user-guide-calculated-fields

            '
        isPaymentAmount:
          type: string
          description: 'When set to **true**, sets this as a payment tab. Can only be used with Text, Number, Formula, or List tabs. The value of the tab must be a number. '
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maxLength:
          type: integer
          description: An optional value that describes the maximum length of the property when the property is a string.
          format: int32
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: Specifies the tool tip text for the tab.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        pageNumber:
          type: string
          description: 'Specifies the page number on which the tab is located.

            Must be 1 for supplemental documents.

            '
        recipientId:
          type: string
          description: Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        senderRequired:
          type: string
          description: "When set to **true**, the sender must populate the tab before an envelope can be sent using the template. \n\nThis value tab can only be changed by modifying (PUT) the template. \n\nTabs with a `senderRequired` value of true cannot be deleted from an envelope."
        shared:
          type: string
          description: When set to **true**, this custom tab is shared.
        status:
          type: string
          description: 'Tab status

            <!-- todo -->

            '
        tabGroupLabels:
          type: array
          description: ''
          items:
            type: string
        tabId:
          type: string
          description: The unique identifier for the tab.
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        tabOrder:
          type: string
          description: 'A positive integer that sets the order the tab is navigated to during signing.


            Tabs on a page are navigated to in ascending order, starting with the lowest number and moving to the highest. If two or more tabs have the same `tabOrder` value, the normal auto-navigation setting behavior for the envelope is used.'
        templateLocked:
          type: string
          description: 'When set to **true**, the sender cannot change any attributes of the recipient. Used only when working with template recipients. '
        templateRequired:
          type: string
          description: When set to **true**, the sender may not remove the recipient. Used only when working with template recipients.
        tooltip:
          type: string
          description: ''
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        validationMessage:
          type: string
          description: The message displayed if the custom tab fails input validation (either custom of embedded).
        validationPattern:
          type: string
          description: A regular expressionn used to validate input for the tab.
        value:
          type: string
          description: 'Specifies the value of the tab. '
        width:
          type: integer
          description: Width of the tab in pixels.
          format: int32
        xPosition:
          type: string
          description: 'This property indicates the horizontal offset of the object on the page.

            DocuSign uses 72 DPI when determining position.

            Required. May be zero.


            To improve the tab''s position on the document,

            DocuSign recommends

            adjusting `xPosition`

            and `yPosition`

            coordinates

            by (-3, -2)

            '
        yPosition:
          type: string
[...]
