openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands GroupBrands API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: GroupBrands
  description: 'The GroupBrands resource provides methods that allow you to manage '
paths:
  /v2/accounts/{accountId}/groups/{groupId}/brands:
    get:
      tags:
      - GroupBrands
      summary: Docusign Gets group brand ID Information.
      description: Retrieves information about the brands associated with the requested group.
      operationId: Brands_GetGroupBrands
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The ID of the group being accessed.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupBrands'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getBrands
      x-ds-method: get
      x-ds-service: Groups
      x-ds-in-sdk: true
    put:
      tags:
      - GroupBrands
      summary: Docusign Adds group brand ID information to a group.
      description: Adds group brand ID information to a group.
      operationId: Brands_PutGroupBrands
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The ID of the group being accessed.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/brandsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/brandsRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupBrands'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateBrands
      x-ds-method: update
      x-ds-service: Groups
      x-ds-in-sdk: true
      x-codegen-request-body-name: brandsRequest
    delete:
      tags:
      - GroupBrands
      summary: Docusign Deletes brand information from the requested group.
      description: Deletes brand information from the requested group.
      operationId: Brands_DeleteGroupBrands
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The ID of the group being accessed.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/brandsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/brandsRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupBrands'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteBrands
      x-ds-method: delete
      x-ds-service: Groups
      x-ds-in-sdk: true
      x-codegen-request-body-name: brandsRequest
components:
  schemas:
    brandRequest:
      type: object
      properties:
        brandId:
          type: string
          description: The ID of the brand used in API calls
      description: ''
      x-ds-definition-name: brandRequest
      x-ms-summary: ''
    brandLink:
      type: object
      properties:
        linkText:
          type: string
          description: ''
        linkType:
          type: string
          description: ''
        showLink:
          type: string
          description: ''
        urlOrMailTo:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandLink
      x-ms-summary: ''
    brandLogos:
      type: object
      properties:
        email:
          type: string
          description: ''
        primary:
          type: string
          description: ''
        secondary:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandLogos
      x-ms-summary: ''
    GroupBrands:
      type: object
      properties:
        recipientBrandIdDefault:
          type: string
          description: The brand seen by envelope recipients when a brand is not explicitly set.
        senderBrandIdDefault:
          type: string
          description: The brand seen by envelope senders when a brand is not explicitly set.
        brandOptions:
          type: array
          description: The list of brands.
          items:
            $ref: '#/components/schemas/brand'
      description: Brand management for groups
      x-ds-definition-name: brandsResponse
      x-ds-category: UserGroups
      x-ds-order: '30'
      x-ms-summary: Brand management for groups
    brandEmailContent:
      type: object
      properties:
        content:
          type: string
          description: ''
        emailContentType:
          type: string
          description: ''
        emailToLink:
          type: string
          description: ''
        linkText:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandEmailContent
      x-ms-summary: ''
    brandsRequest:
      type: object
      properties:
        brands:
          type: array
          description: The list of brands.
          items:
            $ref: '#/components/schemas/brandRequest'
      description: ''
      x-ds-definition-name: brandsRequest
      x-ms-summary: ''
    brandResourceUrls:
      type: object
      properties:
        email:
          type: string
          description: ''
        sending:
          type: string
          description: ''
        signing:
          type: string
          description: ''
        signingCaptive:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: brandResourceUrls
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    brand:
      type: object
      properties:
        brandCompany:
          type: string
          description: The name of the company associated with this brand.
        brandId:
          type: string
          description: The ID used to identify a specific brand in API calls.
        brandName:
          type: string
          description: The name of the brand.
        colors:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        emailContent:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/brandEmailContent'
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        isOverridingCompanyName:
          type: string
          description: ''
        isSendingDefault:
          type: string
          description: ''
        isSigningDefault:
          type: string
          description: ''
        landingPages:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        links:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/brandLink'
        logos:
          $ref: '#/components/schemas/brandLogos'
        resources:
          $ref: '#/components/schemas/brandResourceUrls'
      description: ''
      x-ds-definition-name: brand
      x-ms-summary: ''
    nameValue:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        name:
          type: string
          description: The name or key of a name/value pair.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        value:
          type: string
          description: The value field of a name/value pair.
      description: ''
      x-ds-definition-name: nameValue
      x-ms-summary: ''
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
