openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands PaymentGatewayAccounts API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: PaymentGatewayAccounts
  description: ''
paths:
  /v2/accounts/{accountId}/payment_gateway_accounts:
    get:
      tags:
      - PaymentGatewayAccounts
      summary: Docusign List payment gateway account information
      description: List payment gateway account information
      operationId: PaymentGatewayAccounts_GetAllPaymentGatewayAccounts
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/paymentGatewayAccountsInfo'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getAllPaymentGatewayAccounts
      x-ds-api-status: beta
      x-ds-method: list
      x-ds-service: Accounts
      x-ds-in-sdk: true
components:
  schemas:
    paymentGatewayAccountsInfo:
      type: object
      properties:
        paymentGatewayAccounts:
          type: array
          description: A list of payment gateway accounts.
          items:
            $ref: '#/components/schemas/paymentGatewayAccount'
      description: Holds information about connected payment accounts.
      x-ds-definition-name: paymentGatewayAccountsInfo
      x-ms-summary: Holds information about connected payment accounts.
    paymentGatewayAccount:
      type: object
      properties:
        displayName:
          type: string
          description: ''
        paymentGateway:
          type: string
          description: 'Payment gateway used by the connected gateway account.

            This is the name used by the API.

            For a human-readable version use `paymentGatewayDisplayName`.


            Possible values are:


            * `Stripe`

            * `Braintree`

            * `AuthorizeDotNet`'
        paymentGatewayAccountId:
          type: string
          description: A GUID that identifies the payment gateway account. For a human-readable version use `displayName`.
        paymentGatewayDisplayName:
          type: string
          description: 'Display name of the payment gateway used by the connected gateway account.

            This is the human-readable version of `paymentGateway`.


            Possible values are:


            * Stripe

            * Braintree

            * Authorize.Net'
      description: ''
      x-ds-definition-name: paymentGatewayAccount
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
