openapi: 3.0.1
info:
  title: Monitor API
  description: An API for an integrator to access the features of DocuSign Monitor
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.0
externalDocs:
  description: ""
  url: ""
servers:
- url: https://lens.docusign.net/
security:
- Bearer: []
tags:
- name: DataSet
  description: The DataSet resource provides methods that allow you to fetch organization
    event data. The `dataSet` path parameter must be set to `monitor`.
paths:
  /api/v{version}/datasets/{dataSetName}/stream:
    get:
      tags:
      - DataSet
      summary: Gets customer event data for an organization.
      description: |
        Gets customer event data for the organization that owns the integration key.

        The results for this endpoint are paginated by event timestamp. Use the `cursor` parameter to specify where the query begins in the dataset. Use the `limit` parameter to set the number of records returned.
      operationId: Api_Version_DatasetsByDataSetNameStreamGet
      parameters:
      - name: dataSetName
        in: path
        description: Must be `monitor`.
        required: true
        schema:
          type: string
      - name: version
        in: path
        description: |
          Must be `2`.
        required: true
        schema:
          type: string
          default: "2.0"
      - name: cursor
        in: query
        description: |
          Specifies a pointer into the dataset where your query will begin. You can either provide an ISO DateTime or a string cursor (from the `endCursor` value in the response). If no value is provided, the query begins from seven days ago.

          For example, to fetch event data beginning from January 1, 2022, set this value to `2022-01-01T00:00:00Z`. The response will include data about events starting from that date in chronological order. The response also includes an `endCursor` property. To fetch the next page of event data, call this endpoint again with `cursor` set to the previous `endCursor` value.
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of records to return. The default value is
          1000.
        schema:
          type: integer
          format: int32
          default: 1000
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursoredResult'
      security:
      - accessCode:
        - impersonation
      x-ds-methodname: getStream
      x-ds-method: getStream
      x-ds-service: DataSet
      x-ds-in-sdk: true
components:
  schemas:
    CursoredResult:
      type: object
      properties:
        endCursor:
          type: string
          description: ""
        data:
          type: array
          description: ""
          items:
            type: object
            properties: {}
      description: ""
      x-ds-definition-name: CursoredResult
      x-ms-summary: ""
    DataSet:
      type: object
      properties:
        endCursor:
          type: string
          description: ""
        data:
          type: array
          description: ""
          items:
            type: object
            properties: {}
      description: Methods to fetch organization event data.
      x-ds-definition-name: CursoredResult
      x-ms-summary: Methods to fetch organization event data.
      x-ds-category: Monitor
      x-ds-order: "100"
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. Example: \"\
        Authorization: Bearer {token}\""
      name: Authorization
      in: header
x-ds-categories:
- name: Monitor
  summary: The DocuSign Monitor API receives a data feed containing security events
    for your DocuSign account. This data goes directly to whichever application or
    website you choose to integrate with DocuSign's eSignature REST API.
  description: |
    Each time an event occurs, DocuSign Monitor returns JSON Data Types from a download endpoint. The endpoints include the Monitor UI, SIEMs such as Splunk, and other Customer API endpoints.

    **Note:** Your accounts must exist inside an organization to access this data.
x-ds-devdocs:
  stamp: ca00a16 2022-10-04 12:15:28-0400
x-original-swagger-version: "2.0"
