openapi: 3.2.0
info:
  title: DocuSign Rooms API - v2 Form Groups API
  description: An API for an integrator to access the features of DocuSign Rooms
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://rooms.docusign.com/restapi
security:
- Bearer: []
tags:
- name: FormGroups
  description: With the appropriate permissions, form administrators at your company can create form groups, or curated set of forms gathered from the association **form libraries** to which DocuSign provides access. Form groups enable agents to know which forms to add to rooms based on the type of transaction they are working on. When creating groups, administrators can make certain forms required, ensuring compliance. If you don't create groups, agents will have to choose forms they need from a list of association forms.
paths:
  /v2/accounts/{accountId}/form_groups:
    get:
      tags:
      - FormGroups
      summary: Docusign Gets form groups.
      description: "Returns the company form groups to which the current user has access.\n\n## Permissions \n\nYou must have a role for which the `canManageFormGroups` permission is set to **true.**"
      operationId: FormGroups_GetFormGroups
      parameters:
      - name: count
        in: query
        description: The number of results to return. This value must be a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: The starting zero-based index position of the results set. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved Form Groups.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroupSummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroupSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroupSummaryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormGroupSummaryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormGroupSummaryList'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormGroups
      x-ds-method: GetFormGroups
      x-ds-service: FormGroups
      x-ds-in-sdk: true
    post:
      tags:
      - FormGroups
      summary: Docusign Creates a form group.
      description: 'Creates a new form group with the name given in the `name` property of the request body.


        ## Permissions


        You must have a role for which the `canManageFormGroups` permission is set to **true.**'
      operationId: FormGroups_CreateFormGroup
      parameters:
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          application/xml:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          text/xml:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
        required: false
      responses:
        '201':
          description: Successfully created form group.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormGroup'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: CreateFormGroup
      x-ds-method: CreateFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
  /v2/accounts/{accountId}/form_groups/{formGroupId}:
    get:
      tags:
      - FormGroups
      summary: Docusign Gets a form group.
      description: 'Get the specified form group.


        ## Permissions


        You must have a role for which the `canManageFormGroups` permission is set to **true.**'
      operationId: FormGroups_GetFormGroup
      parameters:
      - name: formGroupId
        in: path
        description: 'The ID of the form group.


          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved form group.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormGroup'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormGroup
      x-ds-method: GetFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
    put:
      tags:
      - FormGroups
      summary: Docusign Renames a form group.
      description: 'Renames the specified form group with the name given in the `name` property of the request.


        ## Permissions


        You must have a role for which the `canManageFormGroups` permission is set to **true.**'
      operationId: FormGroups_RenameFormGroup
      parameters:
      - name: formGroupId
        in: path
        description: 'The ID of the form group.


          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          application/xml:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          text/xml:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
        required: false
      responses:
        '200':
          description: Successfully updated form group.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormGroup'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: RenameFormGroup
      x-ds-method: RenameFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
    delete:
      tags:
      - FormGroups
      summary: Docusign Deletes a form group.
      description: 'Deletes the specified form group.


        ## Permissions


        You must have a role for which the `canManageFormGroups` permission is set to **true.**'
      operationId: FormGroups_DeleteFormGroup
      parameters:
      - name: formGroupId
        in: path
        description: 'The ID of the form group.


          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted form group.
          content: {}
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: DeleteFormGroup
      x-ds-method: DeleteFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_groups/{formGroupId}/forms:
    get:
      tags:
      - FormGroups
      summary: Docusign Gets the user's form group forms.
      description: Get forms of the specified form group.
      operationId: FormGroupForms_GetFormGroupForms
      parameters:
      - name: formGroupId
        in: path
        description: 'The ID of the form group.


          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: count
        in: query
        description: "The number of results to return. \nDefault value is 100 and max value is 100\n"
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: 'The starting point of the list. The default is 0.

          '
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved form group's forms.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroupFormList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroupFormList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroupFormList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormGroupFormList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormGroupFormList'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormGroupForms
      x-ds-method: GetFormGroupForms
      x-ds-service: FormGroupForms
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_groups/{formGroupId}/unassign_form/{formId}:
    post:
      tags:
      - FormGroups
      summary: Docusign Removes a form from a form group.
      description: 'Removes the form `formId` from the form group `formGroupId`.


        ## Permissions


        You must have a role for which the `canManageFormGroups` permission is set to **true.**'
      operationId: FormGroups_RemoveFormGroupForm
      parameters:
      - name: formGroupId
        in: path
        description: 'The ID of the form group.


          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: formId
        in: path
        description: The ID of the form.
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Form was successfully removed from the form group
          content: {}
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: RemoveFormGroupForm
      x-ds-method: RemoveFormGroupForm
      x-ds-service: FormGroups
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_groups/{formGroupId}/assign_form:
    post:
      tags:
      - FormGroups
      summary: Docusign Assigns a form to a form group.
      description: 'Assigns the form specified in the `formId` property of the request to the form group `formGroupId`. Set the `isRequired` property in the request body to **true** if this is a required form.


        ## Permissions


        You must have a role for which the `canManageFormGroups` permission is set to **true.**

        '
      operationId: FormGroups_AssignFormGroupForm
      parameters:
      - name: formGroupId
        in: path
        description: 'The ID of the form group.


          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          application/json:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          text/json:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          application/xml:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          text/xml:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
        required: false
      responses:
        '204':
          description: Successfully assigned form to form group.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroupFormToAssign'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroupFormToAssign'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroupFormToAssign'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormGroupFormToAssign'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormGroupFormToAssign'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: AssignFormGroupForm
      x-ds-method: AssignFormGroupForm
      x-ds-service: FormGroups
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
  /v2/accounts/{accountId}/form_groups/{formGroupId}/grant_office_access/{officeId}:
    post:
      tags:
      - FormGroups
      summary: Docusign Grants an office access to a form group.
      description: 'Grants the office `officeId` access to the form group `formGroupId`.


        ## Permissions


        You must have a role for which the `canManageFormGroups` permission is set to **true.**'
      operationId: FormGroups_GrantOfficeAccessToFormGroup
      parameters:
      - name: formGroupId
        in: path
        description: 'The ID of the form group.


          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: officeId
        in: path
        description: The ID of the office. This is the ID that the system generated when you created the office.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Office was successfully assigned to the form group
          content: {}
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GrantOfficeAccessToFormGroup
      x-ds-method: GrantOfficeAccessToFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_groups/{formGroupId}/revoke_office_access/{officeId}:
    post:
      tags:
      - FormGroups
      summary: Docusign Revoke an office's access to a form group.
      description: 'Revoke access to the form group `formGroupId` from the office `officeId`.


        ## Permissions


        You must have a role for which the `canManageFormGroups` permission is set to **true.**'
      operationId: FormGroups_RevokeOfficeAccessFromFormGroup
      parameters:
      - name: formGroupId
        in: path
        description: 'The ID of the form group.


          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: officeId
        in: path
        description: The ID of the office. This is the ID that the system generated when you created the office.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Office was successfully removed from the form group
          content: {}
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: RevokeOfficeAccessFromFormGroup
      x-ds-method: RevokeOfficeAccessFromFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
components:
  schemas:
    FormGroupForUpdate:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the office.
      description: ''
      x-ds-definition-name: FormGroupForUpdate
      x-ms-summary: ''
    GroupForm:
      type: object
      properties:
        formId:
          type: string
          description: 'The ID of the form.


            Example: `5be324eb-xxxx-xxxx-xxxx-208065181be9`

            '
          format: uuid
          readOnly: true
        name:
          type: string
          description: The name of the office.
          readOnly: true
        isRequired:
          type: boolean
          description: '**True** if the form is required.'
          readOnly: true
        lastUpdatedDate:
          type: string
          description: 'The UTC date and time when the item was last updated. This is a read-only value that the service assigns.


            Example: 2019-07-17T17:45:42.783Z'
          format: date-time
          readOnly: true
        viewingUserHasAccess:
          type: boolean
          description: ''
          readOnly: true
      description: Description of a single form in a group.
      x-ds-definition-name: GroupForm
      x-ms-summary: Description of a single form in a group.
    FormGroupFormToAssign:
      required:
      - formId
      type: object
      properties:
        formId:
          type: string
          description: 'The ID of the form.


            Example: `5be324eb-xxxx-xxxx-xxxx-208065181be9`

            '
          format: uuid
        isRequired:
          type: boolean
          description: '**True** if the form is required.'
      description: ''
      x-ds-definition-name: FormGroupFormToAssign
      x-ms-summary: ''
    FormGroupForm:
      type: object
      properties:
        formId:
          type: string
          description: 'The ID of the form.


            Example: `5be324eb-xxxx-xxxx-xxxx-208065181be9`

            '
          format: uuid
        name:
          type: string
          description: The name of the office.
        isRequired:
          type: boolean
          description: '**True** if the form is required.'
        lastUpdatedDate:
          type: string
          description: 'The UTC date and time when the item was last updated. This is a read-only value that the service assigns.


            Example: 2019-07-17T17:45:42.783Z'
          format: date-time
      description: ''
      x-ds-definition-name: FormGroupForm
      x-ms-summary: ''
    FormGroupSummary:
      type: object
      properties:
        formGroupId:
          type: string
          description: 'The ID of the form group.


            Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

            '
          readOnly: true
        name:
          type: string
          description: "The name of the form group. \n\nExample: `Apartment Rental`"
          readOnly: true
        formCount:
          type: integer
          description: 'The number of forms in the form group.


            Example: `10`'
          format: int32
          readOnly: true
      description: Contains details about a form group.
      x-ds-definition-name: FormGroupSummary
      x-ms-summary: Contains details about a form group.
    FormGroup:
      type: object
      properties:
        formGroupId:
          type: string
          description: 'The ID of the form group.


            Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`

            '
          format: uuid
          readOnly: true
        name:
          type: string
          description: The name of the office.
          readOnly: true
        officeIds:
          uniqueItems: true
          type: array
          description: An array of office IDs.
          readOnly: true
          items:
            type: integer
            format: int32
        forms:
          type: array
          description: A list of forms.
          readOnly: true
          items:
            $ref: '#/components/schemas/GroupForm'
      description: Result from getting a form group.
      x-ds-definition-name: FormGroup
      x-ms-summary: Result from getting a form group.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    FormGroupForCreate:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the group.
      description: 'Request object for FormGroup: CreateFormGroup.'
      x-ds-definition-name: FormGroupForCreate
      x-ms-summary: 'Request object for FormGroup: CreateFormGroup.'
    FormGroupSummaryList:
      type: object
      properties:
        formGroups:
          type: array
          description: A list of form groups.
          items:
            $ref: '#/components/schemas/FormGroupSummary'
        resultSetSize:
          type: integer
          description: The number of results returned in this response.
          format: int32
        startPosition:
          type: integer
          description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
          format: int32
        endPosition:
          type: integer
          description: The last zero-based index position in the result set.
          format: int32
          readOnly: true
        nextUri:
          type: string
          description: The URI for the next chunk of records based on the search request. This property is `null` for the last set of search results.
        priorUri:
          type: string
          description: The URI for the previous chunk of records based on the search request. This property is `null` for the first set of search results.
        totalRowCount:
          type: integer
          description: ''
          format: int32
      description: Contains a list of form groups.
      x-ds-definition-name: FormGroupSummaryList
      x-ms-summary: Contains a list of form groups.
    FormGroupFormList:
      type: object
      properties:
        forms:
          type: array
          description: A list of forms.
          items:
            $ref: '#/components/schemas/FormGroupForm'
        resultSetSize:
          type: integer
          description: The number of results returned in this response.
          format: int32
        startPosition:
          type: integer
          description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
          format: int32
        endPosition:
          type: integer
          description: The last zero-based index position in the result set.
          format: int32
          readOnly: true
        nextUri:
          type: string
          description: The URI for the next chunk of records based on the search request. This property is `null` for the last set of search results.
        priorUri:
          type: string
          description: The URI for the previous chunk of records based on the search request. This property is `null` for the first set of search results.
        totalRowCount:
          type: integer
          description: ''
          format: int32
      description: ''
      x-ds-definition-name: FormGroupFormList
      x-ms-summary: ''
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
externalDocs:
  description: Rooms API Reference
  url: https://developers.docusign.com/docs/rooms-api/reference/
x-ds-categories:
- name: Accounts
  summary: Information about accounts.
  description: Information about accounts.
- name: Documents
  summary: Information about documents.
  description: Information about documents.
- name: ESignPermissionProfiles
  summary: A permission profile is a standard set of user permissions that you can apply to individual users or the users in a group. This functionality makes it easier to manage permissions for a large number of users.
  description: 'When you create or invite a new member in Rooms, the system creates an eSignature account for the member at the same time. This section shows you how to retrieve a list of eSignature permission profiles that the current user can assign to a new member.


    You can use the API only to retrieve and assign eSignature permission profiles. You create and modify permission profiles in the DocuSign console.'
- name: Fields
  summary: This section shows you how to retrieve a specific field set. This is a set of fields that can appear on a room's **Details** tab.
  description: Information about field sets.
- name: Forms
  summary: 'The Forms feature of DocuSign Rooms for Real Estate enables provides access to standard industry association forms that you can add to rooms.


    **Note:** Forms is not a default feature and is currently only available in Rooms for Real Estate. To request access to Forms, contact your DocuSign Account Manager.


    '
  description: "## Form groups\n\nWith the appropriate permissions, form administrators at your company can create form groups, or curated set of forms gathered from the association **form libraries** to which DocuSign provides access. Form groups enable agents to know which forms to add to rooms based on the type of transaction they are working on. When creating groups, administrators can make certain forms required, ensuring compliance. If you don't create groups, agents will have to choose forms they need from a list of association forms.\n\n## Permissions\n\nTo manage forms, you must have the `canManageFormGroups` permission, which enables you to access the **Forms** tab in **Admin.** For all other roles, assign permissions based on how these users will be working with forms. If no form permissions are enabled for these roles, users cannot add forms to rooms.\n\nForm administrators must have the `canManageFormGroups` permission assigned to their user role. This gives them access to the **Forms** tab in **Admin.** However, you should also consider the user's access level. For example, if the user has access to specific offices, they can only administer form groups for those offices. \n"
- name: GlobalResources
  summary: The Global Resources category organizes resource that are used throughout the Rooms API. You typically use these resources when you create or update a room, region, office, or user.
  description: 'This section shows you how to retrieve the following Global Resources:


    - Activity Types

    - Closing Statuses

    - Contact Sides

    - Countries

    - Currencies

    - Financing Types

    - Origins of Leads

    - Property Types

    - Room Contact Types

    - Seller Decision Types

    - Special Circumstances Types

    - States

    - Task Date Types

    - Task Responsibility Types

    - Time Zones

    - Transaction Sides'
- name: Offices
  summary: You can use the API to manage offices in your Rooms account.
  description: This section shows you how to create and manage offices.
- name: Regions
  summary: You can use the API to manage regions associated with your Rooms account.
  description: This section shows you how to create and manage regions for a Rooms account.
- name: Roles
  summary: 'The Roles resource enables you to easily manage user permissions. '
  description: 'Each role is associated with specific permissions. Each new member is assigned a role when you create them, automatically granting them the permissions associated with that role.


    Roles use the following permission types to control the actions that users can perform:


    - Room

    - Room Details

    - Documents

    - Envelopes

    - Member Management

    - Company Settings


    Rooms enables you to configure custom roles containing permissions that make sense for your company. Because each new member is assigned a role, you must set up these roles before you can invite members to join your account.


    Permissions for roles are tied to the `roleId` property and not yet exposed. You can learn more about these permission types and configure them in the web application.


    ### Internal and External Roles


    In Rooms, a role can be either internal or external. You assign internal roles to people inside your company. You assign external roles to people outside your company when you invite them to a room.


    Each member inside your company has a default company role. However, they can also be assigned additional roles with different permissions on a per-room basis. Regardless of the member''s default company role, what they can do in a room is entirely controlled by their role in that particular room.

    '
- name: Rooms
  summary: This section shows you how to create and mange rooms. In Rooms for Real Estate, a room is a collaborative digital space corresponding to a specific property. In Rooms for Mortgages, a room corresponds to a specific loan.
  description: 'A room can hold documents, envelopes, a list of tasks comprising a workflow, and other related information. You can invite others to this space and assign them permissions on a per-room basis. The documentation in this section shows you how to perform these and other tasks.

    '
- name: RoomTemplates
  summary: 'Room templates enable your company to standardize the new rooms that users create. '
  description: This section shows you how to retrieve room templates. You can perform additional room template tasks in the console.
- name: TaskLists
  summary: The TaskLists resource helps you keep track of the documents and activities you must complete before you can close a room.
  description: Your administrator may also have created custom task list templates that can be added to rooms. If your administrator created room templates, those room templates may include task lists for you to use.
- name: Users
  summary: The Users resource provides methods that enable you to add, update, delete, and manage users.
  description: A user is a person who is either added to a room (as a participant), or who is a member of a company. This section shows you how to manage users, including how to update and delete National Association of REALTORS® member numbers.
x-original-swagger-version: '2.0'
