openapi: 3.2.0
info:
  title: DocuSign REST Custom Tabs API
  description: The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://www.docusign.net/restapi
tags:
- name: CustomTabs
  description: 'The CustomTabs resource provides methods that allow you create and manage custom tabs based on the existing DocuSign tabs.


    You can create a tab with pre-defined properties, such as a text tab with a certain font type and validation pattern. Users can access the custom tabs when sending documents through the DocuSign web application.


    Custom tabs can be created based on the  approve, checkbox, company, date, date signed, decline, email, email address, envelope ID, first name, formula, full name, initial here, last name, list, note, number, radio, sign here, signer attachment, SSN, text, title, and zip tabs.'
paths:
  /v2/accounts/{accountId}/tab_definitions:
    get:
      tags:
      - CustomTabs
      summary: Docusign Gets a list of all account tabs.
      description: Retrieves a list of all tabs associated with the account.
      operationId: Tabs_GetTabDefinitions
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: custom_tab_only
        in: query
        description: 'When set to **true**, only custom tabs are returned in the response. '
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tabMetadataList'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: list
      x-ds-method: list
      x-ds-service: CustomTabs
      x-ds-in-sdk: true
    post:
      tags:
      - CustomTabs
      summary: Docusign Creates a custom tab.
      description: 'Creates a tab with pre-defined properties, such as a text tab with a certain font type and validation pattern. Users can access the custom tabs when sending documents through the DocuSign web application.


        Custom tabs can be created for approve, checkbox, company, date, date signed, decline, email, email address, envelope ID, first name, formula, full name, initial here, last name, list, note, number, radio, sign here, signer attachment, SSN, text, title, and zip tabs.'
      operationId: Tabs_PostTabDefinitions
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tabMetadata'
          application/xml:
            schema:
              $ref: '#/components/schemas/tabMetadata'
        required: false
      responses:
        '201':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tabMetadata'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: create
      x-ds-method: create
      x-ds-service: CustomTabs
      x-ds-in-sdk: true
      x-codegen-request-body-name: tabMetadata
  /v2/accounts/{accountId}/tab_definitions/{customTabId}:
    get:
      tags:
      - CustomTabs
      summary: Docusign Gets custom tab information.
      description: Retrieves information about the requested custom tab on the specified account.
      operationId: Tab_GetCustomTab
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: customTabId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tabMetadata'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: get
      x-ds-method: get
      x-ds-service: CustomTabs
      x-ds-in-sdk: true
    put:
      tags:
      - CustomTabs
      summary: Docusign Updates custom tab information.
      description: Updates the information in a custom tab for the specified account.
      operationId: Tab_PutCustomTab
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: customTabId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tabMetadata'
          application/xml:
            schema:
              $ref: '#/components/schemas/tabMetadata'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tabMetadata'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: update
      x-ds-method: update
      x-ds-service: CustomTabs
      x-ds-in-sdk: true
      x-codegen-request-body-name: tabMetadata
    delete:
      tags:
      - CustomTabs
      summary: Docusign Deletes custom tab information.
      description: Deletes the custom from the specified account.
      operationId: Tab_DeleteCustomTab
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: customTabId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: delete
      x-ds-method: delete
      x-ds-service: CustomTabs
      x-ds-in-sdk: true
components:
  schemas:
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    mergeField:
      type: object
      properties:
        allowSenderToEdit:
          type: string
          description: When set to **true**, the sender can modify the value of the custom tab during the sending process.
        configurationType:
          type: string
          description: If merge field's are being used, specifies the type of the merge field. The only  supported value is **salesforce**.
        path:
          type: string
          description: Sets the object associated with the custom tab. Currently this is the Salesforce Object.
        row:
          type: string
          description: Specifies the row number in a Salesforce table that the merge field value corresponds to.
        writeBack:
          type: string
          description: When wet to true, the information entered in the tab automatically updates the related Salesforce data when an envelope is completed.
      description: Contains information for transfering values between Salesforce data fields and DocuSign Tabs.
      x-ds-definition-name: mergeField
      x-ms-summary: Contains information for transfering values between Salesforce data fields and DocuSign Tabs.
    tabMetadataList:
      type: object
      properties:
        tabs:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/tabMetadata'
      description: ''
      x-ds-definition-name: tabMetadataList
      x-ms-summary: ''
    tabMetadata:
      type: object
      properties:
        anchor:
          type: string
          description: An optional string that is used to auto-match tabs to strings located in the documents of an envelope.
        anchorCaseSensitive:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string does not consider case when matching strings in the document. The default value is **true**.

            -->'
        anchorHorizontalAlignment:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            Specifies the alignment of anchor tabs with anchor strings. Possible values are **left** or **right**. The default value is **left**.

            -->

            '
        anchorIgnoreIfNotPresent:
          type: string
          description: When set to **true**, this tab is ignored if anchorString is not found in the document.
        anchorMatchWholeWord:
          type: string
          description: 'Reserved for DocuSign.

            <!--

            When set to **true**, the anchor string in this tab matches whole words only (strings embedded in other strings are ignored.) The default value is **true**.

            -->

            '
        anchorUnits:
          type: string
          description: 'Specifies units of the

            `anchorXOffset` and

            `anchorYOffset`.

            Valid units are:


            - `pixels`

            - `inches`

            - `mms`

            - `cms`

            '
        anchorXOffset:
          type: string
          description: 'Specifies the X axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        anchorYOffset:
          type: string
          description: 'Specifies the Y axis location of the tab in `anchorUnits` relative to the `anchorString`.

            '
        bold:
          type: string
          description: When set to **true**, the information in the tab is bold.
        collaborative:
          type: string
          description: ''
        concealValueOnDocument:
          type: string
          description: 'When set to **true**, the field appears normally while the recipient is adding or modifying the information in the field, but the data is not visible (the characters are hidden by asterisks) to any other signer or the sender.


            When an envelope is completed the information is available to the sender through the Form Data link in the DocuSign Console.


            This setting applies only to text boxes and does not affect list boxes, radio buttons, or check boxes.'
        createdByDisplayName:
          type: string
          description: The user name of the DocuSign user who created this object.
        createdByUserId:
          type: string
          description: The userId of the DocuSign user who created this object.
        customTabId:
          type: string
          description: ''
        disableAutoSize:
          type: string
          description: When set to **true**, disables the auto sizing of single line text boxes in the signing screen when the signer enters data. If disabled users will only be able enter as much data as the text box can hold. By default this is false. This property only affects single line text boxes.
        editable:
          type: string
          description: When set to **true**, the custom tab is editable. Otherwise the custom tab cannot be modified.
        font:
          type: string
          description: 'The font to be used for the tab value. Supported Fonts include:


            - Default

            - Arial

            - ArialNarrow

            - Calibri

            - CourierNew

            - Garamond

            - Georgia

            - Helvetica

            - LucidaConsole

            - MSGothic

            - MSMincho

            - OCR-A

            - Tahoma

            - TimesNewRoman

            - Trebuchet

            - Verdana

            '
        fontColor:
          type: string
          description: "The font color used for the information in the tab. Possible values are: \n\n- Black\n- BrightBlue\n- BrightRed\n- DarkGreen\n- DarkRed\n- Gold\n- Green\n- NavyBlue\n- Purple\n- White\n"
        fontSize:
          type: string
          description: 'The font size used for the information in the tab. Possible values are:


            - Size7

            - Size8

            - Size9

            - Size10

            - Size11

            - Size12

            - Size14

            - Size16

            - Size18

            - Size20

            - Size22

            - Size24

            - Size26

            - Size28

            - Size36

            - Size48

            - Size72'
        height:
          type: string
          description: Height of the tab in pixels.
        includedInEmail:
          type: string
          description: When set to **true**, the tab is included in e-mails related to the envelope on which it exists. This applies to only specific tabs.
        initialValue:
          type: string
          description: The original value of the tab.
        italic:
          type: string
          description: When set to **true**, the information in the tab is italic.
        items:
          type: array
          description: ''
          items:
            type: string
        lastModified:
          type: string
          description: Utc date and time the comment was last updated (can only be done by creator.)
        lastModifiedByDisplayName:
          type: string
          description: The User Name of the DocuSign user who last modified this object.
        lastModifiedByUserId:
          type: string
          description: The userId of the DocuSign user who last modified this object.
        locked:
          type: string
          description: When set to **true**, the signer cannot change the data of the custom tab.
        maximumLength:
          type: string
          description: ''
        mergeField:
          $ref: '#/components/schemas/mergeField'
        name:
          type: string
          description: ''
        paymentItemCode:
          type: string
          description: ''
        paymentItemDescription:
          type: string
          description: ''
        paymentItemName:
          type: string
          description: ''
        requireAll:
          type: string
          description: 'When set to **true** and shared is true, information must be entered in this field to complete the envelope. '
        required:
          type: string
          description: When set to **true**, the signer is required to fill out this tab
        requireInitialOnSharedChange:
          type: string
          description: Optional element for field markup. When set to **true**, the signer is required to initial when they modify a shared field.
        scaleValue:
          type: string
          description: ''
        selected:
          type: string
          description: When set to **true**, the radio button is selected.
        shared:
          type: string
          description: ''
        stampType:
          type: string
          description: ''
        stampTypeMetadata:
          $ref: '#/components/schemas/propertyMetadata'
        tabLabel:
          type: string
          description: 'The label string associated with the tab.

            The string may be the empty string.

            If no value is provided, the tab type is used as the value.


            Maximum of 500 characters.

            '
        type:
          type: string
          description: 'Type of the user. Valid values: type_owner, type_participant.'
        underline:
          type: string
          description: When set to **true**, the information in the tab is underlined.
        validationMessage:
          type: string
          description: The message displayed if the custom tab fails input validation (either custom of embedded).
        validationPattern:
          type: string
          description: A regular expressionn used to validate input for the tab.
        width:
          type: string
          description: Width of the tab in pixels.
      description: ''
      x-ds-definition-name: tabMetadata
      x-ms-summary: ''
    propertyMetadata:
      type: object
      properties:
        options:
          type: array
          description: ''
          items:
            type: string
        rights:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: propertyMetadata
      x-ms-summary: ''
externalDocs:
  description: See the DocuSign REST API Guide for more information.
  url: https://docs.docusign.com/esign
x-ds-allow-editing: false
x-ds-categories:
- name: Authentication
  summary: Logging in and authentication
  description: 'Use the Authentication category to manage various account login tasks including:


    * Getting login information for a user.

    * Managing linked social accounts.

    * Getting and revoking OAuth tokens.'
- name: Envelopes
  summary: Creating and sending envelopes
  description: 'The DocuSign API Envelope category includes the resources and methods for sending and managing envelopes and envelope data.


    Envelopes are the key objects within the DocuSign eSignature system. As a result, they are complex data structures with few required fields. See the [API Recipes](https://www.docusign.com/developer-center/recipes) for use case examples and their solutions.


    To create and send envelopes, see the [Envelopes resource](Envelopes).


    '
- name: Connect
  summary: Connect configuration and logging
  description: "The Connect category enables your application to be called via HTTPS when an event of interest occurs.\n\nUse the Connect service to \"end the polling madness.\" With Connect, there is no need for your application to poll DocuSign every 15 minutes to learn the latest about your envelopes.\n\nInstead, you register your interest in one or more types of envelope or recipient events. Then, when an interesting event occurs, the DocuSign platform will contact your application with the event's details and data. You can register interest in envelopes sent by particular users in your account, or for envelopes sent by any user.\n\n## Incoming Connect Calls\nTo use the Connect service, your application needs to provide an https url that can be called from the public internet. If your application runs on a server behind your organization's firewall, then you will need to create a \"pinhole\" in the firewall to allow the incoming Connect calls from DocuSign to reach your application. Other techniques for receiving the incoming calls including proxy servers and DMZ networking can also be used. \n\n## Per-envelope Connect Configuration\nInstead of registering a general Connect configuration and listener, an individual envelope can have its own Connect configuration. See the `eventNotification` field for envelopes.\n\n## Categories\nUse the Connect category for:\n\n* Programmatically creating Connect configurations. Connect configurations can be created manually by using the DocuSign web service, or programmatically via the API. Configurations created via the API can be seen and updated from the web service.\n* Retrieving and managing the event log for your Connect configurations. \n* Requesting that an event be re-published to the listener."
- name: Templates
  summary: Template creation and management
  description: 'Use the Templates category to manage your account''s templates.


    You can:


    * Create, list, get, update, and delete templates.

    * Manage templates'' notification and group sharing settings.

    * Fetch and rotate pages from a document used by a template.


    Templates can be created programmatically or can be created via the DocuSign web interface and then used by your application.'
- name: SigningGroups
  summary: Send a signing request to a group of potential signers
  description: 'Use the SigningGroup category to manage signing groups that allow you anyone in the group to sign a document.


    The category allows you create the signing group and manage the users in the group.'
- name: Folders
  summary: Folders for completed envelopes
  description: "Use the Folders category to manage envelopes in your folders. \n\nYou can list the folder contents and move envelopes between folders."
- name: CustomTabs
  summary: Custom tabs
  description: "Custom Tabs enable accounts to have one or more pre-configured (custom) tabs. Custom tabs save time when users are tagging documents since the users don't have to manually set the tabs' parameters.\n\nThis category enables custom tabs to be managed programmatically, including creation, deletion, etc. \n"
- name: CloudStorage
  summary: Cloud storage providers and user management
  description: 'Use the Cloud Storage category to list the user''s cloud storage document contents.


    It is also used to manage the user''s authentication/accounts with cloud storage service providers.'
- name: Users
  summary: User management
  description: 'Use the Users category to manage the users in your accounts.


    You can:


    * Set custom user settings.

    * Manage a users profile.

    * Add delete users.

    * Add and delete the intials and signature images for a user.'
- name: UserGroups
  summary: Group users for common permissions and branding
  description: 'Use the User Groups category to manage your permissions groups.


    You can:


    * Create and delete groups.

    * Add users to, and delete users from, your groups.

    * Manage the brand information associated with a group.'
- name: Accounts
  summary: Account management
  description: "Use the Account category for various account management tasks including:\n\n* Programmatically creating and deleting accounts.\n* Getting information about an account and its capabilities.\n* Branding the account with custom colors, message text, and more.\n* Account charges.\n\nThe Account category also includes end points for \n* Listing the recipient names associated with an email address that was used by the account. For example, a single email address is often shared by mulitple members of a family.\n\n\n"
- name: Billing
  summary: Invoices
  description: 'Use the Billing category to manage the following billing related tasks:


    * Retrieve and update billing plan information.

    * Retrieve invoices.

    * Retrieve and update payment information.'
- name: Diagnostics
  summary: Diagnostics and request logging
  description: 'The Diagnostics category provides miscellaneous end points.


    They include:

    * Requesting and managing the API call-logging feature. (Perfect for debugging your app!)

    * Getting information on the API''s resources and versions.'
- name: PowerForms
  summary: PowerForm creation and management
  description: The PowerForms category enables PowerForms to be created and managed.
- name: Workspaces
  summary: Workspace creation and management
  description: 'Workspaces creation and management.


    '
- name: Payments
  summary: Manage Payments
  description: This category includes resources for managing payment gateways. Payment information is added to envelopes via methods in the Envelopes category.
- name: Signature
  summary: ''
  description: ''
x-original-swagger-version: '2.0'
