openapi: 3.2.0
info:
  title: DocuSign Rooms API - v2 Form Libraries API
  description: An API for an integrator to access the features of DocuSign Rooms
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://rooms.docusign.com/restapi
security:
- Bearer: []
tags:
- name: FormLibraries
  description: ''
paths:
  /v2/accounts/{accountId}/form_libraries:
    get:
      tags:
      - FormLibraries
      summary: Docusign Gets form libraries.
      description: 'Returns a list of form libraries to which the current user has access.


        ## Permissions


        All users can use this method, but the results will differ based on whether the company has asked DocuSign to enable **RequireOfficeLibraryAssignments** functionality. If this functionality is enabled for the account, then the list is filtered based on the offices that the user is in and the libraries that are assigned to those offices. When **RequireOfficeLibraryAssignments**  is not enabled, the API returns all results.'
      operationId: FormLibraries_GetFormLibraries
      parameters:
      - name: count
        in: query
        description: The number of results to return. This value must be a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: The starting zero-based index position of the results set. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved Form Libraries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormLibraries
      x-ds-method: GetFormLibraries
      x-ds-service: FormLibraries
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_libraries/{formLibraryId}/forms:
    get:
      tags:
      - FormLibraries
      summary: Docusign Gets the forms in a form library.
      description: Returns a list of forms  to which the current user has access in the specified form library.
      operationId: FormLibraries_GetFormLibraryForms
      parameters:
      - name: formLibraryId
        in: path
        description: 'The ID of the form library.


          Example: `402c6e2f-xxxx-xxxx-xxxx-ff3f249f6da9`

          '
        required: true
        schema:
          type: string
          format: uuid
      - name: count
        in: query
        description: The number of results to return. This value must be a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: (Optional) The starting zero-based index position of the results set. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved library forms.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormLibraryForms
      x-ds-method: GetFormLibraryForms
      x-ds-service: FormLibraries
      x-ds-in-sdk: true
components:
  schemas:
    FormLibrarySummaryList:
      type: object
      properties:
        formsLibrarySummaries:
          type: array
          description: A list of form libraries.
          items:
            $ref: '#/components/schemas/FormLibrarySummary'
        resultSetSize:
          type: integer
          description: The number of results returned in this response.
          format: int32
        startPosition:
          type: integer
          description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
          format: int32
        endPosition:
          type: integer
          description: The last zero-based index position in the result set.
          format: int32
          readOnly: true
        nextUri:
          type: string
          description: The URI for the next chunk of records based on the search request. This property is `null` for the last set of search results.
        priorUri:
          type: string
          description: The URI for the previous chunk of records based on the search request. This property is `null` for the first set of search results.
        totalRowCount:
          type: integer
          description: ''
          format: int32
      description: Contains a list of forms libraries.
      x-ds-definition-name: FormLibrarySummaryList
      x-ms-summary: Contains a list of forms libraries.
    FormSummary:
      type: object
      properties:
        libraryFormId:
          type: string
          description: 'The ID of the form.


            Example: `301f560d-xxxx-xxxx-xxxx-063a47cc12c2`

            '
          format: uuid
          readOnly: true
        name:
          type: string
          description: "The name of the form. \n\nExample: `Short Sale Supplement to Marketing Agreement`"
          readOnly: true
        lastUpdatedDate:
          type: string
          description: 'The date and time when the form was last updated.


            Example: `2017-08-11T19:58:36.18`'
          format: date-time
          readOnly: true
        viewingUserHasAccess:
          type: boolean
          description: ''
          readOnly: true
      description: Contains details about a form in a form library.
      x-ds-definition-name: FormSummary
      x-ms-summary: Contains details about a form in a form library.
    FormSummaryList:
      type: object
      properties:
        forms:
          type: array
          description: A list of forms.
          items:
            $ref: '#/components/schemas/FormSummary'
        resultSetSize:
          type: integer
          description: The number of results returned in this response.
          format: int32
        startPosition:
          type: integer
          description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
          format: int32
        endPosition:
          type: integer
          description: The last zero-based index position in the result set.
          format: int32
          readOnly: true
        nextUri:
          type: string
          description: The URI for the next chunk of records based on the search request. This property is `null` for the last set of search results.
        priorUri:
          type: string
          description: The URI for the previous chunk of records based on the search request. This property is `null` for the first set of search results.
        totalRowCount:
          type: integer
          description: ''
          format: int32
      description: Contains a list of forms in a form library.
      x-ds-definition-name: FormSummaryList
      x-ms-summary: Contains a list of forms in a form library.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    FormLibrarySummary:
      type: object
      properties:
        formsLibraryId:
          type: string
          description: 'The ID of the form library.


            Example: `402c6e2f-xxxx-xxxx-xxxx-ff3f249f6da9`

            '
          format: uuid
          readOnly: true
        name:
          type: string
          description: 'The name of the form library.


            Example: `MOR - Mainstreet Organization of Realtors`'
          readOnly: true
        formCount:
          type: integer
          description: "The number of forms in the form library. \n\nExample: `50`"
          format: int32
          readOnly: true
      description: Contains details about a specific form library.
      x-ds-definition-name: FormLibrarySummary
      x-ms-summary: Contains details about a specific form library.
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
externalDocs:
  description: Rooms API Reference
  url: https://developers.docusign.com/docs/rooms-api/reference/
x-ds-categories:
- name: Accounts
  summary: Information about accounts.
  description: Information about accounts.
- name: Documents
  summary: Information about documents.
  description: Information about documents.
- name: ESignPermissionProfiles
  summary: A permission profile is a standard set of user permissions that you can apply to individual users or the users in a group. This functionality makes it easier to manage permissions for a large number of users.
  description: 'When you create or invite a new member in Rooms, the system creates an eSignature account for the member at the same time. This section shows you how to retrieve a list of eSignature permission profiles that the current user can assign to a new member.


    You can use the API only to retrieve and assign eSignature permission profiles. You create and modify permission profiles in the DocuSign console.'
- name: Fields
  summary: This section shows you how to retrieve a specific field set. This is a set of fields that can appear on a room's **Details** tab.
  description: Information about field sets.
- name: Forms
  summary: 'The Forms feature of DocuSign Rooms for Real Estate enables provides access to standard industry association forms that you can add to rooms.


    **Note:** Forms is not a default feature and is currently only available in Rooms for Real Estate. To request access to Forms, contact your DocuSign Account Manager.


    '
  description: "## Form groups\n\nWith the appropriate permissions, form administrators at your company can create form groups, or curated set of forms gathered from the association **form libraries** to which DocuSign provides access. Form groups enable agents to know which forms to add to rooms based on the type of transaction they are working on. When creating groups, administrators can make certain forms required, ensuring compliance. If you don't create groups, agents will have to choose forms they need from a list of association forms.\n\n## Permissions\n\nTo manage forms, you must have the `canManageFormGroups` permission, which enables you to access the **Forms** tab in **Admin.** For all other roles, assign permissions based on how these users will be working with forms. If no form permissions are enabled for these roles, users cannot add forms to rooms.\n\nForm administrators must have the `canManageFormGroups` permission assigned to their user role. This gives them access to the **Forms** tab in **Admin.** However, you should also consider the user's access level. For example, if the user has access to specific offices, they can only administer form groups for those offices. \n"
- name: GlobalResources
  summary: The Global Resources category organizes resource that are used throughout the Rooms API. You typically use these resources when you create or update a room, region, office, or user.
  description: 'This section shows you how to retrieve the following Global Resources:


    - Activity Types

    - Closing Statuses

    - Contact Sides

    - Countries

    - Currencies

    - Financing Types

    - Origins of Leads

    - Property Types

    - Room Contact Types

    - Seller Decision Types

    - Special Circumstances Types

    - States

    - Task Date Types

    - Task Responsibility Types

    - Time Zones

    - Transaction Sides'
- name: Offices
  summary: You can use the API to manage offices in your Rooms account.
  description: This section shows you how to create and manage offices.
- name: Regions
  summary: You can use the API to manage regions associated with your Rooms account.
  description: This section shows you how to create and manage regions for a Rooms account.
- name: Roles
  summary: 'The Roles resource enables you to easily manage user permissions. '
  description: 'Each role is associated with specific permissions. Each new member is assigned a role when you create them, automatically granting them the permissions associated with that role.


    Roles use the following permission types to control the actions that users can perform:


    - Room

    - Room Details

    - Documents

    - Envelopes

    - Member Management

    - Company Settings


    Rooms enables you to configure custom roles containing permissions that make sense for your company. Because each new member is assigned a role, you must set up these roles before you can invite members to join your account.


    Permissions for roles are tied to the `roleId` property and not yet exposed. You can learn more about these permission types and configure them in the web application.


    ### Internal and External Roles


    In Rooms, a role can be either internal or external. You assign internal roles to people inside your company. You assign external roles to people outside your company when you invite them to a room.


    Each member inside your company has a default company role. However, they can also be assigned additional roles with different permissions on a per-room basis. Regardless of the member''s default company role, what they can do in a room is entirely controlled by their role in that particular room.

    '
- name: Rooms
  summary: This section shows you how to create and mange rooms. In Rooms for Real Estate, a room is a collaborative digital space corresponding to a specific property. In Rooms for Mortgages, a room corresponds to a specific loan.
  description: 'A room can hold documents, envelopes, a list of tasks comprising a workflow, and other related information. You can invite others to this space and assign them permissions on a per-room basis. The documentation in this section shows you how to perform these and other tasks.

    '
- name: RoomTemplates
  summary: 'Room templates enable your company to standardize the new rooms that users create. '
  description: This section shows you how to retrieve room templates. You can perform additional room template tasks in the console.
- name: TaskLists
  summary: The TaskLists resource helps you keep track of the documents and activities you must complete before you can close a room.
  description: Your administrator may also have created custom task list templates that can be added to rooms. If your administrator created room templates, those room templates may include task lists for you to use.
- name: Users
  summary: The Users resource provides methods that enable you to add, update, delete, and manage users.
  description: A user is a person who is either added to a room (as a participant), or who is a member of a company. This section shows you how to manage users, including how to update and delete National Association of REALTORS® member numbers.
x-original-swagger-version: '2.0'
