openapi: 3.2.0
info:
  title: DocuSign Admin Reserved Domains API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: ReservedDomains
  description: Methods to get a list of reserved domains.
paths:
  /v2/organizations/{organizationId}/reserved_domains:
    get:
      tags:
      - ReservedDomains
      summary: Docusign Returns the list of reserved domains for the organization.
      description: 'Returns the list of reserved domains for the organization.


        - Required scopes: `domain_read`.


        Please note the DocuSign Admin API only returns JSON, not XML.'
      operationId: Organization_GetReservedDomains
      parameters:
      - name: organizationId
        in: path
        description: The organization ID Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsResponse'
      security:
      - accessCode:
        - domain_read
      x-ds-methodname: getReservedDomains
      x-ds-method: getReservedDomains
      x-ds-service: ReservedDomains
      x-ds-in-sdk: true
components:
  schemas:
    LinkResponse:
      type: object
      properties:
        rel:
          type: string
          description: The kind of linked item.
        href:
          type: string
          description: The URL of the linked item.
      description: A link to a useful URL.
      x-ds-definition-name: LinkResponse
      x-ms-summary: A link to a useful URL.
    DomainResponse:
      type: object
      properties:
        id:
          type: string
          description: The ID of the reserved domain.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        status:
          type: string
          description: 'The status of the request. One of:


            - `unknown`

            - `pending`

            - `active`

            - `deactivated`

            - `rejected`'
        host_name:
          type: string
          description: The host name of the reserved domain.
        txt_token:
          type: string
          description: A token  in form of text of the reserved domain.
        identity_provider_id:
          type: string
          description: The identity provider ID of the reserved domain.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        settings:
          type: array
          description: 'A list of settings for the reserved domain.

            '
          items:
            $ref: '#/components/schemas/SettingResponse'
        links:
          type: array
          description: A list of useful links.
          items:
            $ref: '#/components/schemas/LinkResponse'
      description: Information about a reserved domain.
      x-ds-definition-name: DomainResponse
      x-ms-summary: Information about a reserved domain.
    DomainsResponse:
      type: object
      properties:
        reserved_domains:
          type: array
          description: Information about reserved domains.
          items:
            $ref: '#/components/schemas/DomainResponse'
      description: A response about reserved domains.
      x-ds-definition-name: DomainsResponse
      x-ms-summary: A response about reserved domains.
    SettingResponse:
      type: object
      properties:
        key:
          type: string
          description: The key of the setting.
        value:
          type: object
          properties: {}
          description: The value of the setting.
        type:
          type: string
          description: 'The type of the setting. One of:


            - `unknown`

            - `guid`

            - `text`

            - `integer`

            - `boolean`

            - `datetime`

            - `enumeration`'
      description: A key/value list of settings.
      x-ds-definition-name: SettingResponse
      x-ms-summary: A key/value list of settings.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
