openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands RoomContactTypes API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: RoomContactTypes
  description: ''
paths:
  /v2/room_contact_types:
    get:
      tags:
      - RoomContactTypes
      summary: Docusign Gets room contact types.
      description: 'Returns a list of room contact types, such as Buyer, Seller, and Listing Agent.


        ## Permissions


        Anyone with a valid access token can call this method.'
      operationId: RoomContactTypes_GetRoomContactTypes
      responses:
        '200':
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalRoomContactTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalRoomContactTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalRoomContactTypes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalRoomContactTypes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalRoomContactTypes'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetRoomContactTypes
      x-ds-method: GetRoomContactTypes
      x-ds-service: RoomContactTypes
      x-ds-in-sdk: true
components:
  schemas:
    GlobalRoomContactTypes:
      type: object
      properties:
        roomContactTypes:
          type: array
          description: A list of room contact types.
          items:
            $ref: '#/components/schemas/RoomContactType'
      description: Contains a list of room contact types.
      x-ds-definition-name: GlobalRoomContactTypes
      x-ms-summary: Contains a list of room contact types.
    RoomContactType:
      type: object
      properties:
        id:
          type: string
          description: 'The ID of the room contact type.


            Example: `lisagent` (for `Listing Agent`)'
        name:
          type: string
          description: 'The name of the room contact type. Possible values are:


            - `Seller`

            - `Listing Agent`

            - `Buyer`

            - `Buyer Agent`

            - `Service Provider`

            - `Transaction Coordinator`

            - `Mortgage Provider`

            - `Title Provider`

            - `Insurance Provider`

            - `Home Warranty Provider`

            - `Survey Provider`

            - `Escrow Provider`

            - `Buyer Broker`

            - `Listing Broker`'
      description: Contains information about a room contact type.
      x-ds-definition-name: RoomContactType
      x-ms-summary: Contains information about a room contact type.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
