openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands TaskResponsibilityTypes API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: TaskResponsibilityTypes
  description: ''
paths:
  /v2/task_responsibility_types:
    get:
      tags:
      - TaskResponsibilityTypes
      summary: Docusign Gets task responsibility types.
      description: "Returns a list of responsibility types that you can assign to users when you add them to a task. \n\n**Note:** You do not specify an `accountId` with this method.\n\n## Permissions\n\nAny user with a valid access token can call this method."
      operationId: TaskResponsibilityTypes_GetTaskResponsibilityTypes
      responses:
        '200':
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalTaskResponsibilityTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskResponsibilityTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskResponsibilityTypes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalTaskResponsibilityTypes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalTaskResponsibilityTypes'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetTaskResponsibilityTypes
      x-ds-method: GetTaskResponsibilityTypes
      x-ds-service: TaskResponsibilityTypes
      x-ds-in-sdk: true
components:
  schemas:
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    GlobalTaskResponsibilityTypes:
      type: object
      properties:
        taskResponsibilityTypes:
          type: array
          description: A list of task responsibility types.
          items:
            $ref: '#/components/schemas/TaskResponsibilityType'
      description: Contains a list of task responsibility types.
      x-ds-definition-name: GlobalTaskResponsibilityTypes
      x-ms-summary: Contains a list of task responsibility types.
    TaskResponsibilityType:
      type: object
      properties:
        taskResponsibilityTypeId:
          type: string
          description: The ID of the task responsibility type.
        name:
          type: string
          description: 'The name of the task responsibility type. Valid values:


            - `Assignee`

            - `Watcher`

            - `Reviewer`'
      description: Contains information about a task responsibility type.
      x-ds-definition-name: TaskResponsibilityType
      x-ms-summary: Contains information about a task responsibility type.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
