openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands UserExport API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: UserExport
  description: Methods for exporting a user list.
paths:
  /v2/organizations/{organizationId}/exports/user_list:
    get:
      tags:
      - UserExport
      summary: Docusign Returns a list of pending and completed export requests.
      description: 'Returns a list of pending and completed export requests.


        - Required scopes: `user_read`

        '
      operationId: OrganizationExport_OrganizationExport_Get
      parameters:
      - name: organizationId
        in: path
        description: The organization ID Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationExportsResponse'
      security:
      - accessCode:
        - user_read
      x-ds-methodname: getUserListExports
      x-ds-method: getUserListExports
      x-ds-service: BulkExports
      x-ds-in-sdk: true
    post:
      tags:
      - UserExport
      summary: Docusign Creates a user list export request.
      description: "Create a user list export request.\n\n- Required scopes: `user_read`\n\nThis method initiates a user list export request. You specify the type of export request as JSON in the body of method, like this:\n\n``` json\n{\n\t\"type\": \"organization_memberships_export\"\n}\n```\n\n\n\n\nThe export request type is one of three values:\n\n| Value                                      | Description                                                                                             |\n| :----------------------------------------- | :------------------------------------------------------------------------------------------------------ |\n| `organization_memberships_export`          | Every user in every account in the organization. Users in multiple accounts will appear more than once. |\n| `organization_domain_users_export`         | All users of the reserved domains.                                                                      |\n| `organization_external_memberships_export` | Users whose email address domain is *not* linked to the organization.                                   |\n"
      operationId: OrganizationExport_OrganizationExport_Insert
      parameters:
      - name: organizationId
        in: path
        description: The organization ID Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationExportRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationExportResponse'
      security:
      - accessCode:
        - user_read
      x-ds-methodname: createUserListExport
      x-ds-method: createUserListExport
      x-ds-service: BulkExports
      x-ds-in-sdk: true
      x-codegen-request-body-name: request
  /v2/organizations/{organizationId}/exports/user_list/{exportId}:
    get:
      tags:
      - UserExport
      summary: Docusign Returns the results for single user list export request.
      description: 'Returns the results for single user list export request.


        - Required scopes: `user_read`


        Given an export id, this method returns the results of a single user list export request.

        To get a list of all the export requests, use `getUserListExports`.


        Note that the `metadata_url` property of the response from `createUserListExport` is a read-to-use HTTP GET request to get the status.


        You can find the actual list of users at  `results[n].url` in the response.'
      operationId: OrganizationExport_OrganizationExport_GetByExportId
      parameters:
      - name: organizationId
        in: path
        description: The organization ID Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: exportId
        in: path
        description: The export ID GUID for the request.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationExportResponse'
      security:
      - accessCode:
        - user_read
      x-ds-methodname: getUserListExport
      x-ds-method: getUserListExport
      x-ds-service: BulkExports
      x-ds-in-sdk: true
    delete:
      tags:
      - UserExport
      summary: Docusign Deletes a single user list export request.
      description: 'Deletes a single user list export request.

        Use this method to delete pending or completed user export requests.


        - Required scopes: `user_read`


        '
      operationId: OrganizationExport_OrganizationExport_DeleteByExportId
      parameters:
      - name: organizationId
        in: path
        description: The organization ID Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: exportId
        in: path
        description: The export ID GUID for the request.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - accessCode:
        - user_read
      x-ds-methodname: deleteUserListExport
      x-ds-method: deleteUserListExport
      x-ds-service: BulkExports
      x-ds-in-sdk: true
components:
  schemas:
    OrganizationExportAccount:
      type: object
      properties:
        account_id:
          type: string
          description: Select users that are members of the specified account. At least one of `email`, `account_id` or `organization_reserved_domain_id` must be specified.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
      description: ''
      x-ds-definition-name: OrganizationExportAccount
      x-ms-summary: ''
    OrganizationExportResponse:
      type: object
      properties:
        id:
          type: string
          description: ''
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        type:
          type: string
          description: ''
        requestor:
          $ref: '#/components/schemas/OrganizationExportRequestorResponse'
        created:
          type: string
          description: ''
          format: date-time
        last_modified:
          type: string
          description: ''
          format: date-time
        completed:
          type: string
          description: ''
          format: date-time
        expires:
          type: string
          description: ''
          format: date-time
        status:
          type: string
          description: Status.
        selected_accounts:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrgExportSelectedAccount'
        selected_domains:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrgExportSelectedDomain'
        metadata_url:
          type: string
          description: ''
        percent_completed:
          type: integer
          description: ''
          format: int32
        number_rows:
          type: integer
          description: ''
          format: int64
        size_bytes:
          type: integer
          description: ''
          format: int64
        results:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrganizationExportTaskResponse'
        success:
          type: boolean
          description: ''
      description: ''
      x-ds-definition-name: OrganizationExportResponse
      x-ms-summary: ''
    OrganizationExportTaskResponse:
      type: object
      properties:
        id:
          type: string
          description: ''
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        site_id:
          type: integer
          description: ''
          format: int32
        url:
          type: string
          description: ''
        number_rows:
          type: integer
          description: ''
          format: int64
        size_bytes:
          type: integer
          description: ''
          format: int64
        error_details:
          $ref: '#/components/schemas/OETR_ErrorDetails'
      description: ''
      x-ds-definition-name: OrganizationExportTaskResponse
      x-ms-summary: ''
    OrganizationExportDomain:
      type: object
      properties:
        domain:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: OrganizationExportDomain
      x-ms-summary: ''
    OrganizationExportRequest:
      type: object
      properties:
        type:
          type: string
          description: "The type of export requested. One of:\n\n- `organization_domain_users_export`: All users of the reserved domains.\n- `organization_external_memberships_export`: Users whose email address domain is *not* linked to the organization. \n- `organization_memberships_export`: Every user in every account in the organization. Users in multiple accounts will appear more than once.\n- `organization_account_settings_export`: This value only applies to requests to export account settings."
        accounts:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrganizationExportAccount'
        domains:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrganizationExportDomain'
      description: Enables you to specify the kind of export request.
      x-ds-definition-name: OrganizationExportRequest
      x-ms-summary: Enables you to specify the kind of export request.
    OrganizationExportRequestorResponse:
      type: object
      properties:
        name:
          type: string
          description: ''
        id:
          type: string
          description: ''
        type:
          type: string
          description: ''
        email:
          type: string
          description: The email address.
      description: ''
      x-ds-definition-name: OrganizationExportRequestorResponse
      x-ms-summary: ''
    OrgExportSelectedAccount:
      type: object
      properties:
        account_id:
          type: string
          description: Select users that are members of the specified account. At least one of `email`, `account_id` or `organization_reserved_domain_id` must be specified.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
      description: ''
      x-ds-definition-name: OrgExportSelectedAccount
      x-ms-summary: ''
    OrganizationExportsResponse:
      type: object
      properties:
        exports:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrganizationExportResponse'
      description: ''
      x-ds-definition-name: OrganizationExportsResponse
      x-ms-summary: ''
    OrgExportSelectedDomain:
      type: object
      properties:
        domain:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: OrgExportSelectedDomain
      x-ms-summary: ''
    OETR_ErrorDetails:
      type: object
      properties:
        error:
          type: string
          description: The error number.
        error_description:
          type: string
          description: A longer description of the error.
      description: ''
      x-ds-definition-name: OETR_ErrorDetails
      x-ms-summary: ''
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
