openapi: 3.2.0
info:
  title: DocuSign REST Connect Events API
  description: The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://www.docusign.net/restapi
tags:
- name: ConnectEvents
  description: The ConnectEvents resource provides methods that allow you to read, delete, and republish the connect logs associated with an envelope.
paths:
  /v2/accounts/{accountId}/connect/envelopes/{envelopeId}/retry_queue:
    put:
      tags:
      - ConnectEvents
      summary: Docusign Republishes Connect information for the specified envelope.
      description: Republishes Connect information for the specified envelope.
      operationId: ConnectPublish_PutConnectRetryByEnvelope
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: envelopeId
        in: path
        description: 'The envelope''s GUID. Eg 93be49ab-afa0-4adf-933c-f752070d71ec '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectFailureResults'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: retryEventForEnvelope
      x-ds-method: retryForEnvelope
      x-ds-service: Connect
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/connect/envelopes/retry_queue:
    put:
      tags:
      - ConnectEvents
      summary: Docusign Republishes Connect information for multiple envelopes.
      description: Republishes Connect information for the  specified set of envelopes. The primary use is to republish Connect post failures by including envelope IDs for the envelopes that failed to post in the request. The list of envelope IDs that failed to post correctly can be retrieved by calling to [ML:GetConnectLog] retrieve the failure log.
      operationId: ConnectPublish_PutConnectRetry
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connectFailureFilter'
          application/xml:
            schema:
              $ref: '#/components/schemas/connectFailureFilter'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectFailureResults'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: retryEventForEnvelopes
      x-ds-method: retryForEnvelopes
      x-ds-service: Connect
      x-ds-in-sdk: true
      x-codegen-request-body-name: connectFailureFilter
  /v2/accounts/{accountId}/connect/failures:
    get:
      tags:
      - ConnectEvents
      summary: Docusign Gets the Connect failure log information.
      description: Retrieves the Connect Failure Log information. It can be used to determine which envelopes failed to post, so a republish request can be created.
      operationId: ConnectFailures_GetConnectLogs
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: from_date
        in: query
        description: Start of the search date range. Only returns templates created on or after this date/time. If no value is specified, there is no limit on the earliest date created.
        schema:
          type: string
      - name: to_date
        in: query
        description: End of the search date range. Only returns templates created up to this date/time. If no value is provided, this defaults to the current date.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectLogs'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listEventFailureLogs
      x-ds-method: listFailures
      x-ds-service: Connect
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/connect/failures/{failureId}:
    delete:
      tags:
      - ConnectEvents
      summary: Docusign Deletes a Connect failure log entry.
      description: Deletes the Connect failure log information for the specified entry.
      operationId: ConnectFailures_DeleteConnectFailureLog
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: failureId
        in: path
        description: The ID of the failed connect log entry.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteEventFailureLog
      x-ds-method: deleteFailure
      x-ds-service: Connect
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/connect/logs:
    get:
      tags:
      - ConnectEvents
      summary: Docusign Gets the Connect log.
      description: 'Retrieves a list of connect log entries for your account.


        ###### Note: The `enableLog` setting in the Connect configuration must be set to true to enable logging. If logging is not enabled, then no log entries are recorded. '
      operationId: ConnectLog_GetConnectLogs
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: from_date
        in: query
        description: Start of the search date range. Only returns templates created on or after this date/time. If no value is specified, there is no limit on the earliest date created.
        schema:
          type: string
      - name: to_date
        in: query
        description: End of the search date range. Only returns templates created up to this date/time. If no value is provided, this defaults to the current date.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectLogs'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listEventLogs
      x-ds-method: list
      x-ds-service: Connect
      x-ds-in-sdk: true
    delete:
      tags:
      - ConnectEvents
      summary: Docusign Gets a list of Connect log entries.
      description: 'Retrieves a list of connect log entries for your account.


        ###### Note: The `enableLog` property in the Connect configuration must be set to **true** to enable logging. If logging is not enabled, then no log entries are recorded.'
      operationId: ConnectLog_DeleteConnectLogs
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteEventLogs
      x-ds-method: deleteList
      x-ds-service: Connect
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/connect/logs/{logId}:
    get:
      tags:
      - ConnectEvents
      summary: Docusign Get the specified Connect log entry.
      description: 'Retrieves the specified Connect log entry for your account.


        ###### Note: The `enableLog` setting in the Connect configuration must be set to true to enable logging. If logging is not enabled, then no log entries are recorded. '
      operationId: ConnectLog_GetConnectLog
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: logId
        in: path
        description: The ID of the connect log entry
        required: true
        schema:
          type: string
      - name: additional_info
        in: query
        description: When true, the connectDebugLog information is included in the response.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/connectLog'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getEventLog
      x-ds-method: get
      x-ds-service: Connect
      x-ds-in-sdk: true
    delete:
      tags:
      - ConnectEvents
      summary: Docusign Deletes a specified Connect log entry.
      description: 'Deletes a specified entry from the Connect Log.

        '
      operationId: ConnectLog_DeleteConnectLog
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: logId
        in: path
        description: The ID of the connect log entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteEventLog
      x-ds-method: delete
      x-ds-service: Connect
      x-ds-in-sdk: true
components:
  schemas:
    connectFailureFilter:
      type: object
      properties:
        envelopeIds:
          type: array
          description: ''
          items:
            type: string
        synchronous:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: connectFailureFilter
      x-ms-summary: ''
    connectFailureResults:
      type: object
      properties:
        retryQueue:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/connectFailureResult'
      description: ''
      x-ds-definition-name: connectFailureResults
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    connectLogs:
      type: object
      properties:
        failures:
          type: array
          description: An array of containing failure information from the Connect failure log.
          items:
            $ref: '#/components/schemas/connectLog'
        logs:
          type: array
          description: 'A complex type containing Connect log information. It is divided into two sections, one for regular logs and one for Connect failures. '
          items:
            $ref: '#/components/schemas/connectLog'
        totalRecords:
          type: string
          description: Record count.
        type:
          type: string
          description: 'Type of the user. Valid values: type_owner, type_participant.'
      description: ''
      x-ds-definition-name: connectLogs
      x-ms-summary: ''
    connectFailureResult:
      type: object
      properties:
        configId:
          type: string
          description: Reserved for DocuSign.
        configUrl:
          type: string
          description: 'Reserved for DocuSign.

            '
        envelopeId:
          type: string
          description: The envelope ID of the envelope status that failed to post.
        status:
          type: string
          description: Connection status.
        statusMessage:
          type: string
          description: Connection status message.
      description: ''
      x-ds-definition-name: connectFailureResult
      x-ms-summary: ''
    connectLog:
      type: object
      properties:
        accountId:
          type: string
          description: The account ID associated with the envelope.
        configUrl:
          type: string
          description: The web address of the listener or Retrieving Service end point for Connect.
        connectDebugLog:
          type: array
          description: 'A complex element containing information about the Connect configuration, error details, date/time, description and payload.


            This is only included in the response if the query additional_info=true is used.'
          items:
            $ref: '#/components/schemas/connectDebugLog'
        connectId:
          type: string
          description: The identifier for the Connect configuration that failed. If an account has multiple Connect configurations, this value is used to look up the Connect configuration for the failed post.
        created:
          type: string
          description: The date and time the entry was created.
        email:
          type: string
          description: The email that sent the envelope.
        envelopeId:
          type: string
          description: The envelope ID of the envelope status that failed to post.
        error:
          type: string
          description: The error that caused the Connect post to fail.
        failureId:
          type: string
          description: The failure log ID for the failure.
        failureUri:
          type: string
          description: The URI for the failure.
        lastTry:
          type: string
          description: The date and time the last attempt to post.
        logId:
          type: string
          description: The Connect log ID for the entry.
        logUri:
          type: string
          description: The URI for the log item.
        retryCount:
          type: string
          description: The number of times the Connect post has been retried.
        retryUri:
          type: string
          description: The UEI to retry to publish the Connect failure.
        status:
          type: string
          description: 'The new envelope status for the failed Connect post. The possible values are: Any, Voided, Created, Deleted, Sent, Delivered, Signed, Completed, Declined, TimedOut, Template, or Processing.'
        subject:
          type: string
          description: The envelope subject.
        userName:
          type: string
          description: The name of the envelope sender.
      description: ''
      x-ds-definition-name: connectLog
      x-ms-summary: ''
    connectDebugLog:
      type: object
      properties:
        connectConfig:
          type: string
          description: ''
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        eventDateTime:
          type: string
          description: ''
        eventDescription:
          type: string
          description: ''
        payload:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: connectDebugLog
      x-ms-summary: ''
externalDocs:
  description: See the DocuSign REST API Guide for more information.
  url: https://docs.docusign.com/esign
x-ds-allow-editing: false
x-ds-categories:
- name: Authentication
  summary: Logging in and authentication
  description: 'Use the Authentication category to manage various account login tasks including:


    * Getting login information for a user.

    * Managing linked social accounts.

    * Getting and revoking OAuth tokens.'
- name: Envelopes
  summary: Creating and sending envelopes
  description: 'The DocuSign API Envelope category includes the resources and methods for sending and managing envelopes and envelope data.


    Envelopes are the key objects within the DocuSign eSignature system. As a result, they are complex data structures with few required fields. See the [API Recipes](https://www.docusign.com/developer-center/recipes) for use case examples and their solutions.


    To create and send envelopes, see the [Envelopes resource](Envelopes).


    '
- name: Connect
  summary: Connect configuration and logging
  description: "The Connect category enables your application to be called via HTTPS when an event of interest occurs.\n\nUse the Connect service to \"end the polling madness.\" With Connect, there is no need for your application to poll DocuSign every 15 minutes to learn the latest about your envelopes.\n\nInstead, you register your interest in one or more types of envelope or recipient events. Then, when an interesting event occurs, the DocuSign platform will contact your application with the event's details and data. You can register interest in envelopes sent by particular users in your account, or for envelopes sent by any user.\n\n## Incoming Connect Calls\nTo use the Connect service, your application needs to provide an https url that can be called from the public internet. If your application runs on a server behind your organization's firewall, then you will need to create a \"pinhole\" in the firewall to allow the incoming Connect calls from DocuSign to reach your application. Other techniques for receiving the incoming calls including proxy servers and DMZ networking can also be used. \n\n## Per-envelope Connect Configuration\nInstead of registering a general Connect configuration and listener, an individual envelope can have its own Connect configuration. See the `eventNotification` field for envelopes.\n\n## Categories\nUse the Connect category for:\n\n* Programmatically creating Connect configurations. Connect configurations can be created manually by using the DocuSign web service, or programmatically via the API. Configurations created via the API can be seen and updated from the web service.\n* Retrieving and managing the event log for your Connect configurations. \n* Requesting that an event be re-published to the listener."
- name: Templates
  summary: Template creation and management
  description: 'Use the Templates category to manage your account''s templates.


    You can:


    * Create, list, get, update, and delete templates.

    * Manage templates'' notification and group sharing settings.

    * Fetch and rotate pages from a document used by a template.


    Templates can be created programmatically or can be created via the DocuSign web interface and then used by your application.'
- name: SigningGroups
  summary: Send a signing request to a group of potential signers
  description: 'Use the SigningGroup category to manage signing groups that allow you anyone in the group to sign a document.


    The category allows you create the signing group and manage the users in the group.'
- name: Folders
  summary: Folders for completed envelopes
  description: "Use the Folders category to manage envelopes in your folders. \n\nYou can list the folder contents and move envelopes between folders."
- name: CustomTabs
  summary: Custom tabs
  description: "Custom Tabs enable accounts to have one or more pre-configured (custom) tabs. Custom tabs save time when users are tagging documents since the users don't have to manually set the tabs' parameters.\n\nThis category enables custom tabs to be managed programmatically, including creation, deletion, etc. \n"
- name: CloudStorage
  summary: Cloud storage providers and user management
  description: 'Use the Cloud Storage category to list the user''s cloud storage document contents.


    It is also used to manage the user''s authentication/accounts with cloud storage service providers.'
- name: Users
  summary: User management
  description: 'Use the Users category to manage the users in your accounts.


    You can:


    * Set custom user settings.

    * Manage a users profile.

    * Add delete users.

    * Add and delete the intials and signature images for a user.'
- name: UserGroups
  summary: Group users for common permissions and branding
  description: 'Use the User Groups category to manage your permissions groups.


    You can:


    * Create and delete groups.

    * Add users to, and delete users from, your groups.

    * Manage the brand information associated with a group.'
- name: Accounts
  summary: Account management
  description: "Use the Account category for various account management tasks including:\n\n* Programmatically creating and deleting accounts.\n* Getting information about an account and its capabilities.\n* Branding the account with custom colors, message text, and more.\n* Account charges.\n\nThe Account category also includes end points for \n* Listing the recipient names associated with an email address that was used by the account. For example, a single email address is often shared by mulitple members of a family.\n\n\n"
- name: Billing
  summary: Invoices
  description: 'Use the Billing category to manage the following billing related tasks:


    * Retrieve and update billing plan information.

    * Retrieve invoices.

    * Retrieve and update payment information.'
- name: Diagnostics
  summary: Diagnostics and request logging
  description: 'The Diagnostics category provides miscellaneous end points.


    They include:

    * Requesting and managing the API call-logging feature. (Perfect for debugging your app!)

    * Getting information on the API''s resources and versions.'
- name: PowerForms
  summary: PowerForm creation and management
  description: The PowerForms category enables PowerForms to be created and managed.
- name: Workspaces
  summary: Workspace creation and management
  description: 'Workspaces creation and management.


    '
- name: Payments
  summary: Manage Payments
  description: This category includes resources for managing payment gateways. Payment information is added to envelopes via methods in the Envelopes category.
- name: Signature
  summary: ''
  description: ''
x-original-swagger-version: '2.0'
