openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands TaskListTemplates API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: TaskListTemplates
  description: If your administrator created room templates, those room templates may include task lists for you to use.
paths:
  /v2/accounts/{accountId}/task_list_templates:
    get:
      tags:
      - TaskListTemplates
      summary: Docusign Gets task list templates.
      description: 'Returns all task list templates associated with the active user''s company.


        ## Permissions


        Anyone with a valid access token can call this method.


        '
      operationId: TaskListTemplates_GetTaskListTemplates
      parameters:
      - name: startPosition
        in: query
        description: The starting zero-based index position from which to start returning values. The default is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: count
        in: query
        description: The number of results to return. This value must be a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully returned list of task list templates.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TaskListTemplateList'
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListTemplateList'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskListTemplateList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskListTemplateList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskListTemplateList'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetTaskListTemplates
      x-ds-method: GetTaskListTemplates
      x-ds-service: TaskListTemplates
      x-ds-in-sdk: true
components:
  schemas:
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    TaskListTemplateList:
      type: object
      properties:
        taskListTemplates:
          type: array
          description: A list of task list templates.
          items:
            $ref: '#/components/schemas/TaskListTemplate'
        resultSetSize:
          type: integer
          description: The number of results returned in this response.
          format: int32
        startPosition:
          type: integer
          description: The starting zero-based index position of the results set. When this property is used as a query parameter, the default value is `0`.
          format: int32
        endPosition:
          type: integer
          description: The last zero-based index position in the result set.
          format: int32
          readOnly: true
        nextUri:
          type: string
          description: The URI for the next chunk of records based on the search request. This property is `null` for the last set of search results.
        priorUri:
          type: string
          description: The URI for the previous chunk of records based on the search request. This property is `null` for the first set of search results.
        totalRowCount:
          type: integer
          description: ''
          format: int32
      description: Contains a list of task list templates.
      x-ds-definition-name: TaskListTemplateList
      x-ms-summary: Contains a list of task list templates.
    TaskListTemplate:
      type: object
      properties:
        taskListTemplateId:
          type: integer
          description: The ID of the task list template.
          format: int32
        name:
          type: string
          description: The name of the task list template.
        taskCount:
          type: integer
          description: The total number of tasks in the task list template.
          format: int32
        tasksWithDocumentsCount:
          type: integer
          description: The number of tasks in the task list template that have documents associated with them.
          format: int32
      description: Contains details about a task list template.
      x-ds-definition-name: TaskListTemplate
      x-ms-summary: Contains details about a task list template.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
