openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands FormDetails API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: FormDetails
  description: 'This section shows you how to retrieve a form''s details.


    '
paths:
  /v2/accounts/{accountId}/forms/{formId}/details:
    get:
      tags:
      - FormDetails
      summary: Docusign Gets form details.
      description: Returns details about a specific form, such as the date it was created and last updated, the number of pages, the form owner, and other information.
      operationId: FormDetails_GetFormDetails
      parameters:
      - name: formId
        in: path
        description: The ID of the form.
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Form based on FormId
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/FormDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/FormDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/FormDetails'
        '400':
          description: Unable to Find Form based on FormId
          content: {}
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormDetails
      x-ds-method: GetFormDetails
      x-ds-service: FormDetails
      x-ds-in-sdk: true
components:
  schemas:
    FormDetails:
      type: object
      properties:
        formId:
          type: string
          description: 'The ID of the form.


            Example: `5be324eb-xxxx-xxxx-xxxx-208065181be9`

            '
          format: uuid
          readOnly: true
        name:
          type: string
          description: 'The name of the form.


            Example: `MORe Private Network Addendum`'
          readOnly: true
        createdDate:
          type: string
          description: 'The UTC date and time when the item was created. This is a read-only value that the service assigns.


            Example: `2019-07-17T17:45:42.783Z`


            '
          format: date-time
          readOnly: true
        lastUpdatedDate:
          type: string
          description: 'The UTC date and time when the item was last updated. This is a read-only value that the service assigns.


            Example: 2019-07-17T17:45:42.783Z'
          format: date-time
          readOnly: true
        availableOnDate:
          type: string
          description: The UTC DateTime when the form was made available or published. (It is possible for a form to be published but not yet available.)
          format: date-time
          readOnly: true
        ownerName:
          type: string
          description: 'The name of the organization that owns the form.


            Example: `Mainstreet organization of Realtors`'
          readOnly: true
        version:
          type: string
          description: "The version of the form. \n\nExample: `1`"
          readOnly: true
        numberOfPages:
          type: integer
          description: 'The number of pages in the form.


            Example: `2`'
          format: int32
          readOnly: true
      description: This resource contains details about a form, such as the date it was created and last updated, the number of pages, the form owner, and other information.
      x-ds-definition-name: FormDetails
      x-ds-category: Forms
      x-ds-order: '10'
      x-ms-summary: This resource contains details about a form, such as the date it was created and last updated, the number of pages, the form owner, and other information.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
