openapi: 3.2.0
info:
  title: DocuSign REST Request Logs API
  description: The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://www.docusign.net/restapi
tags:
- name: RequestLogs
  description: 'The RequestLogs resource provide methods that allow you to retrieve and delete the API request log files.


    The log files contain the API requests associated with your integration. They can aid you in troubleshooting specific issues within an integration, or if DocuSign Support requests an API trace log. '
paths:
  /v2/diagnostics/request_logs:
    get:
      tags:
      - RequestLogs
      summary: Docusign Gets the API request logging log files.
      description: 'Retrieves a list of log entries as a JSON or xml object or as a zip file containing the entries.


        If the Accept header is set to application/zip, the response is a zip file containing individual text files, each representing an API request.


        If the Accept header is set to `application/json` or `application/xml`, the response returns list of log entries in either JSON or XML. An example JSON response body is shown below. '
      operationId: APIRequestLog_GetRequestLogs
      parameters:
      - name: encoding
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/apiRequestLogsResult'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: listRequestLogs
      x-ds-method: list
      x-ds-service: Diagnostics
      x-ds-in-sdk: true
    delete:
      tags:
      - RequestLogs
      summary: Docusign Deletes the request log files.
      description: Deletes the request log files.
      operationId: APIRequestLog_DeleteRequestLogs
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: deleteRequestLogs
      x-ds-method: delete
      x-ds-service: Diagnostics
      x-ds-in-sdk: true
  /v2/diagnostics/request_logs/{requestLogId}:
    get:
      tags:
      - RequestLogs
      summary: Docusign Gets a request logging log file.
      description: 'Retrieves information for a single log entry.


        **Request**

        The `requestLogfId` property can be retrieved by getting the list of log entries. The Content-Transfer-Encoding header can be set to base64 to retrieve the API request/response as base 64 string. Otherwise the bytes of the request/response are returned.


        **Response**

        If the Content-Transfer-Encoding header was set to base64, the log is returned as a base64 string.'
      operationId: APIRequestLog_GetRequestLog
      parameters:
      - name: requestLogId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            text/plain:
              schema:
                type: string
                format: binary
        '400':
          description: Error encountered.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getRequestLog
      x-ds-method: get
      x-ds-service: Diagnostics
      x-ds-in-sdk: true
  /v2/diagnostics/settings:
    get:
      tags:
      - RequestLogs
      summary: Docusign Gets the API request logging settings.
      description: 'Retrieves the current API request logging setting for the user and remaining log entries.


        **Response**

        The response includes the current API request logging setting for the user, along with the maximum log entries and remaining log entries.'
      operationId: APIRequestLog_GetRequestLogSettings
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/diagnosticsSettingsInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getRequestLogSettings
      x-ds-method: getSettings
      x-ds-service: Diagnostics
      x-ds-in-sdk: true
    put:
      tags:
      - RequestLogs
      summary: Docusign Enables or disables API request logging for troubleshooting.
      description: 'Enables or disables API request logging for troubleshooting.


        When enabled (`apiRequestLogging` is set to true), REST API requests and responses for the user are added to a log. A log can have up to 50 requests/responses and the current number of log entries can be determined by getting the settings. Logging is automatically disabled when the log limit of 50 is reached.


        You can call [ML:GetRequestLog] or [ML:GetRequestLogs] to download the log files (individually or as a zip file). Call [ML:DeleteRequestLogs] to clear the log by deleting current entries.


        Private information, such as passwords and integrator key information, which is normally located in the call header is omitted from the request/response log.


        ###### Note: API request logging only captures requests from the authenticated user. Any call that does not authenticate the user and resolve a userId isn''t logged. Meaning that login_information, NewAccounts, or other distributor-credential calls are not logged.

        '
      operationId: APIRequestLog_PutRequestLogSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/diagnosticsSettingsInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/diagnosticsSettingsInformation'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/diagnosticsSettingsInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateRequestLogSettings
      x-ds-method: updateSettings
      x-ds-service: Diagnostics
      x-ds-in-sdk: true
      x-codegen-request-body-name: diagnosticsSettingsInformation
components:
  schemas:
    apiRequestLogsResult:
      type: object
      properties:
        apiRequestLogs:
          type: array
          description: 'Reserved: TBD'
          items:
            $ref: '#/components/schemas/apiRequestLog'
      description: Contains information about mutiple API request logs.
      x-ds-definition-name: apiRequestLogsResult
      x-ms-summary: Contains information about mutiple API request logs.
    diagnosticsSettingsInformation:
      type: object
      properties:
        apiRequestLogging:
          type: string
          description: ' When set to **true**, enables API request logging for the user. '
        apiRequestLogMaxEntries:
          type: string
          description: Specifies the maximum number of API requests to log.
        apiRequestLogRemainingEntries:
          type: string
          description: Indicates the remaining number of API requests that can be logged.
      description: ''
      x-ds-definition-name: diagnosticsSettingsInformation
      x-ms-summary: ''
    apiRequestLog:
      type: object
      properties:
        createdDateTime:
          type: string
          description: Indicates the date and time the item was created.
        description:
          type: string
          description: 'A sender-defined description of the line item.

            '
        requestLogId:
          type: string
          description: ''
        status:
          type: string
          description: Item status. <!-- TODO -->
      description: Contains API request log information.
      x-ds-definition-name: apiRequestLog
      x-ms-summary: Contains API request log information.
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
externalDocs:
  description: See the DocuSign REST API Guide for more information.
  url: https://docs.docusign.com/esign
x-ds-allow-editing: false
x-ds-categories:
- name: Authentication
  summary: Logging in and authentication
  description: 'Use the Authentication category to manage various account login tasks including:


    * Getting login information for a user.

    * Managing linked social accounts.

    * Getting and revoking OAuth tokens.'
- name: Envelopes
  summary: Creating and sending envelopes
  description: 'The DocuSign API Envelope category includes the resources and methods for sending and managing envelopes and envelope data.


    Envelopes are the key objects within the DocuSign eSignature system. As a result, they are complex data structures with few required fields. See the [API Recipes](https://www.docusign.com/developer-center/recipes) for use case examples and their solutions.


    To create and send envelopes, see the [Envelopes resource](Envelopes).


    '
- name: Connect
  summary: Connect configuration and logging
  description: "The Connect category enables your application to be called via HTTPS when an event of interest occurs.\n\nUse the Connect service to \"end the polling madness.\" With Connect, there is no need for your application to poll DocuSign every 15 minutes to learn the latest about your envelopes.\n\nInstead, you register your interest in one or more types of envelope or recipient events. Then, when an interesting event occurs, the DocuSign platform will contact your application with the event's details and data. You can register interest in envelopes sent by particular users in your account, or for envelopes sent by any user.\n\n## Incoming Connect Calls\nTo use the Connect service, your application needs to provide an https url that can be called from the public internet. If your application runs on a server behind your organization's firewall, then you will need to create a \"pinhole\" in the firewall to allow the incoming Connect calls from DocuSign to reach your application. Other techniques for receiving the incoming calls including proxy servers and DMZ networking can also be used. \n\n## Per-envelope Connect Configuration\nInstead of registering a general Connect configuration and listener, an individual envelope can have its own Connect configuration. See the `eventNotification` field for envelopes.\n\n## Categories\nUse the Connect category for:\n\n* Programmatically creating Connect configurations. Connect configurations can be created manually by using the DocuSign web service, or programmatically via the API. Configurations created via the API can be seen and updated from the web service.\n* Retrieving and managing the event log for your Connect configurations. \n* Requesting that an event be re-published to the listener."
- name: Templates
  summary: Template creation and management
  description: 'Use the Templates category to manage your account''s templates.


    You can:


    * Create, list, get, update, and delete templates.

    * Manage templates'' notification and group sharing settings.

    * Fetch and rotate pages from a document used by a template.


    Templates can be created programmatically or can be created via the DocuSign web interface and then used by your application.'
- name: SigningGroups
  summary: Send a signing request to a group of potential signers
  description: 'Use the SigningGroup category to manage signing groups that allow you anyone in the group to sign a document.


    The category allows you create the signing group and manage the users in the group.'
- name: Folders
  summary: Folders for completed envelopes
  description: "Use the Folders category to manage envelopes in your folders. \n\nYou can list the folder contents and move envelopes between folders."
- name: CustomTabs
  summary: Custom tabs
  description: "Custom Tabs enable accounts to have one or more pre-configured (custom) tabs. Custom tabs save time when users are tagging documents since the users don't have to manually set the tabs' parameters.\n\nThis category enables custom tabs to be managed programmatically, including creation, deletion, etc. \n"
- name: CloudStorage
  summary: Cloud storage providers and user management
  description: 'Use the Cloud Storage category to list the user''s cloud storage document contents.


    It is also used to manage the user''s authentication/accounts with cloud storage service providers.'
- name: Users
  summary: User management
  description: 'Use the Users category to manage the users in your accounts.


    You can:


    * Set custom user settings.

    * Manage a users profile.

    * Add delete users.

    * Add and delete the intials and signature images for a user.'
- name: UserGroups
  summary: Group users for common permissions and branding
  description: 'Use the User Groups category to manage your permissions groups.


    You can:


    * Create and delete groups.

    * Add users to, and delete users from, your groups.

    * Manage the brand information associated with a group.'
- name: Accounts
  summary: Account management
  description: "Use the Account category for various account management tasks including:\n\n* Programmatically creating and deleting accounts.\n* Getting information about an account and its capabilities.\n* Branding the account with custom colors, message text, and more.\n* Account charges.\n\nThe Account category also includes end points for \n* Listing the recipient names associated with an email address that was used by the account. For example, a single email address is often shared by mulitple members of a family.\n\n\n"
- name: Billing
  summary: Invoices
  description: 'Use the Billing category to manage the following billing related tasks:


    * Retrieve and update billing plan information.

    * Retrieve invoices.

    * Retrieve and update payment information.'
- name: Diagnostics
  summary: Diagnostics and request logging
  description: 'The Diagnostics category provides miscellaneous end points.


    They include:

    * Requesting and managing the API call-logging feature. (Perfect for debugging your app!)

    * Getting information on the API''s resources and versions.'
- name: PowerForms
  summary: PowerForm creation and management
  description: The PowerForms category enables PowerForms to be created and managed.
- name: Workspaces
  summary: Workspace creation and management
  description: 'Workspaces creation and management.


    '
- name: Payments
  summary: Manage Payments
  description: This category includes resources for managing payment gateways. Payment information is added to envelopes via methods in the Envelopes category.
- name: Signature
  summary: ''
  description: ''
x-original-swagger-version: '2.0'
