openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands Currencies API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: Currencies
  description: ''
paths:
  /v2/currencies:
    get:
      tags:
      - Currencies
      summary: Docusign Gets valid currencies.
      description: 'Returns a list of valid values for the currencies that you can use for listing, offer, and loan amounts.


        **Note:** You do not specify an `accountId` with this method.


        ## Permissions


        Any user with a valid access token can use this method.'
      operationId: Currencies_GetCurrencies
      responses:
        '200':
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalCurrencies'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalCurrencies'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalCurrencies'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalCurrencies'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalCurrencies'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetCurrencies
      x-ds-method: GetCurrencies
      x-ds-service: Currencies
      x-ds-in-sdk: true
components:
  schemas:
    Currency:
      type: object
      properties:
        currencyId:
          type: string
          description: 'The three-letter code for the currency.


            Example: `CAD`'
        name:
          type: string
          description: 'The name of the currency.


            Example: `Canadian Dollar`'
      description: Contains details about a supported currency.
      x-ds-definition-name: Currency
      x-ms-summary: Contains details about a supported currency.
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    GlobalCurrencies:
      type: object
      properties:
        currencies:
          type: array
          description: A list of currency objects.
          items:
            $ref: '#/components/schemas/Currency'
      description: Contains a list of supported currencies.
      x-ds-definition-name: GlobalCurrencies
      x-ms-summary: Contains a list of supported currencies.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
