openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands SellerDecisionTypes API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: SellerDecisionTypes
  description: ''
paths:
  /v2/seller_decision_types:
    get:
      tags:
      - SellerDecisionTypes
      summary: Docusign Gets seller decision types.
      description: 'Returns a list of possible seller decision types regarding offers, such as `Countered` or `Rejected`.


        ## Permissions


        Any user with a valid access token can use this method.'
      operationId: SellerDecisionTypes_GetSellerDecisionTypes
      responses:
        '200':
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalSellerDecisionTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalSellerDecisionTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalSellerDecisionTypes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalSellerDecisionTypes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalSellerDecisionTypes'
        '400':
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetSellerDecisionTypes
      x-ds-method: GetSellerDecisionTypes
      x-ds-service: SellerDecisionTypes
      x-ds-in-sdk: true
components:
  schemas:
    ApiError:
      type: object
      properties:
        errorCode:
          type: string
          description: The code associated with the error condition.
        message:
          type: string
          description: A brief message describing the error condition.
        referenceId:
          type: string
          description: ''
      description: This object describes errors that occur. It is valid only for responses and ignored in requests.
      x-ds-definition-name: ApiError
      x-ms-summary: This object describes errors that occur. It is valid only for responses and ignored in requests.
    SellerDecisionType:
      type: object
      properties:
        sellerDecisionTypeId:
          type: string
          description: 'The ID of the seller decision type.


            Example: `appr` (for `Approved`)'
        name:
          type: string
          description: 'The name of the seller decision type. Possible values are:


            - `Pending`

            - `Approved`

            - `Countered`

            - `Rejected`

            - `Pending Rejection`'
      description: Contains information about a seller decision type.
      x-ds-definition-name: SellerDecisionType
      x-ms-summary: Contains information about a seller decision type.
    GlobalSellerDecisionTypes:
      type: object
      properties:
        sellerDecisionTypes:
          type: array
          description: A list of seller decision types.
          items:
            $ref: '#/components/schemas/SellerDecisionType'
      description: Contains a list of seller decision types.
      x-ds-definition-name: GlobalSellerDecisionTypes
      x-ms-summary: Contains a list of seller decision types.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
