openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands Service Information API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: Service Information
paths:
  /service_information:
    get:
      tags:
      - Service Information
      summary: Docusign Retrieves the available REST API versions.
      description: 'Retrieves the available REST API versions.


        DocuSign Production system: https://www.docusign.net/restapi/service_information

        DocuSign Demo system: https://demo.docusign.net/restapi/service_information


        You do not need an integrator key to view the REST API versions and resources.'
      operationId: ServiceInformation_GetServiceInformation
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/serviceInformation'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getService
      x-ds-method: get
      x-ds-service: Diagnostics
      x-ds-in-sdk: true
components:
  schemas:
    serviceVersion:
      type: object
      properties:
        version:
          type: string
          description: The version of the rest API.
        versionUrl:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: serviceVersion
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    serviceInformation:
      type: object
      properties:
        buildBranch:
          type: string
          description: 'Reserved: TBD'
        buildBranchDeployedDateTime:
          type: string
          description: 'Reserved: TBD'
        buildSHA:
          type: string
          description: 'Reserved: TBD'
        buildVersion:
          type: string
          description: 'Reserved: TBD'
        linkedSites:
          type: array
          description: ''
          items:
            type: string
        serviceVersions:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/serviceVersion'
      description: ''
      x-ds-definition-name: serviceInformation
      x-ms-summary: ''
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
