openapi: 3.2.0
info:
  title: DocuSign REST Account Consumer Disclosures API
  description: The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2
servers:
- url: https://www.docusign.net/restapi
tags:
- name: AccountConsumerDisclosures
  description: The AccountConsumerDisclosures resource provides methods that allow you to retrieve the consumer disclosures associated with the account.
paths:
  /v2/accounts/{accountId}/consumer_disclosure:
    get:
      tags:
      - AccountConsumerDisclosures
      summary: Docusign Gets the Electronic Record and Signature Disclosure for the account.
      description: Retrieves the Electronic Record and Signature Disclosure, with HTML formatting, associated with the account. You can use an optional query string to set the language for the disclosure.
      operationId: ConsumerDisclosure_GetConsumerDisclosure
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: langCode
        in: query
        description: "Specifies the language used in the response. The supported languages, with the language value shown in parenthesis, are: Arabic (ar), Bulgarian (bg), Czech (cs), Chinese Simplified (zh_CN), Chinese Traditional (zh_TW), Croatian (hr), Danish (da), Dutch (nl), English US (en), English UK (en_GB), Estonian (et), Farsi (fa), Finnish (fi), French (fr), French Canada (fr_CA), German (de), Greek (el), Hebrew (he), Hindi (hi), Hungarian (hu), Bahasa Indonesia (id), Italian (it), Japanese (ja), Korean (ko), Latvian (lv), Lithuanian (lt), Bahasa Melayu (ms), Norwegian (no), Polish (pl), Portuguese (pt), Portuguese Brazil (pt_BR), Romanian (ro), Russian (ru), Serbian (sr), Slovak (sk), Slovenian (sl), Spanish (es),Spanish Latin America (es_MX), Swedish (sv), Thai (th), Turkish (tr), Ukrainian (uk), and Vietnamese (vi).\n\nAdditionally, the value can be set to `browser` to automatically detect the browser language being used by the viewer and display the disclosure in that language. \n"
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountConsumerDisclosures'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getConsumerDisclosureDefault
      x-ds-method: getDefault
      x-ds-service: Accounts
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/consumer_disclosure/{langCode}:
    get:
      tags:
      - AccountConsumerDisclosures
      summary: Docusign Gets the Electronic Record and Signature Disclosure.
      description: 'Retrieves the Electronic Record and Signature Disclosure, with HTML formatting, for the requested envelope recipient. This might be different than the current account disclosure depending on account settings, such as branding, and when the account disclosure was last updated. An optional query string can be included to return the language for the disclosure.  '
      operationId: ConsumerDisclosure_GetConsumerDisclosureLangCode
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: langCode
        in: path
        description: The simple type enumeration the language used in the response. The supported languages, with the language value shown in parenthesis, are:Arabic (ar), Bulgarian (bg), Czech (cs), Chinese Simplified (zh_CN), Chinese Traditional (zh_TW), Croatian (hr), Danish (da), Dutch (nl), English US (en), English UK (en_GB), Estonian (et), Farsi (fa), Finnish (fi), French (fr), French Canada (fr_CA), German (de), Greek (el), Hebrew (he), Hindi (hi), Hungarian (hu), Bahasa Indonesia (id), Italian (it), Japanese (ja), Korean (ko), Latvian (lv), Lithuanian (lt), Bahasa Melayu (ms), Norwegian (no), Polish (pl), Portuguese (pt), Portuguese Brazil (pt_BR), Romanian (ro), Russian (ru), Serbian (sr), Slovak (sk), Slovenian (sl), Spanish (es),Spanish Latin America (es_MX), Swedish (sv), Thai (th), Turkish (tr), Ukrainian (uk) and Vietnamese (vi). Additionally, the value can be set to "browser" to automatically detect the browser language being used by the viewer and display the disclosure in that language.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountConsumerDisclosures'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getConsumerDisclosure
      x-ds-method: get
      x-ds-service: Accounts
      x-ds-in-sdk: true
    put:
      tags:
      - AccountConsumerDisclosures
      summary: Docusign Update Consumer Disclosure.
      operationId: ConsumerDisclosure_PutConsumerDisclosure
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: langCode
        in: path
        description: The simple type enumeration the language used in the response. The supported languages, with the language value shown in parenthesis, are:Arabic (ar), Bulgarian (bg), Czech (cs), Chinese Simplified (zh_CN), Chinese Traditional (zh_TW), Croatian (hr), Danish (da), Dutch (nl), English US (en), English UK (en_GB), Estonian (et), Farsi (fa), Finnish (fi), French (fr), French Canada (fr_CA), German (de), Greek (el), Hebrew (he), Hindi (hi), Hungarian (hu), Bahasa Indonesia (id), Italian (it), Japanese (ja), Korean (ko), Latvian (lv), Lithuanian (lt), Bahasa Melayu (ms), Norwegian (no), Polish (pl), Portuguese (pt), Portuguese Brazil (pt_BR), Romanian (ro), Russian (ru), Serbian (sr), Slovak (sk), Slovenian (sl), Spanish (es),Spanish Latin America (es_MX), Swedish (sv), Thai (th), Turkish (tr), Ukrainian (uk) and Vietnamese (vi). Additionally, the value can be set to "browser" to automatically detect the browser language being used by the viewer and display the disclosure in that language.
        required: true
        schema:
          type: string
      - name: include_metadata
        in: query
        description: 'Reserved for DocuSign.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consumerDisclosure'
          application/xml:
            schema:
              $ref: '#/components/schemas/consumerDisclosure'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/consumerDisclosure'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateConsumerDisclosure
      x-ds-method: update
      x-ds-service: Accounts
      x-ds-in-sdk: true
      x-codegen-request-body-name: consumerDisclosure
components:
  schemas:
    settingsMetadata:
      type: object
      properties:
        is21CFRPart11:
          type: string
          description: When set to **true**, indicates that this module is enabled on the account.
        options:
          type: array
          description: ''
          items:
            type: string
        rights:
          type: string
          description: ''
        uiHint:
          type: string
          description: ''
        uiOrder:
          type: string
          description: ''
        uiType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: settingsMetadata
      x-ms-summary: ''
    AccountConsumerDisclosures:
      type: object
      properties:
        accountEsignId:
          type: string
          description: A GUID identifying the account associated with the consumer disclosure
        allowCDWithdraw:
          type: string
          description: Indicates whether the customer can withdraw their acceptance of the consumer disclosure.
        allowCDWithdrawMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        changeEmail:
          type: string
          description: ''
        changeEmailOther:
          type: string
          description: ''
        companyName:
          type: string
          description: The name of the company associated with the consumer disclosure.
        companyPhone:
          type: string
          description: The phone number of the company associated with the consumer disclosure.
        copyCostPerPage:
          type: string
          description: ''
        copyFeeCollectionMethod:
          type: string
          description: 'Specifies the fee collection method for cases in which the customer requires paper copies of the document.


            Maximum Length: 255 characters'
        copyRequestEmail:
          type: string
          description: ''
        custom:
          type: string
          description: ''
        enableEsign:
          type: string
          description: ''
        esignAgreement:
          type: string
          description: The Electronic Record and Signature Disclosure text. The disclosure text includes the html formatting.
        esignText:
          type: string
          description: ''
        languageCode:
          type: string
          description: ''
        mustAgreeToEsign:
          type: string
          description: ''
        pdfId:
          type: string
          description: "**Deprecated**\n\nThe `\x80\x9CpdfId` property in the consumer_disclosure PUT request is deprecated. For security reasons going forward, any value provided in the request packet must be ignored. "
        useBrand:
          type: string
          description: ''
        useConsumerDisclosureWithinAccount:
          type: string
          description: ''
        useConsumerDisclosureWithinAccountMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        withdrawAddressLine1:
          type: string
          description: 'Contains the first address line of the postal address to which a customer can send a consent withdrawal notification.


            Maximum length: 100 characters. '
        withdrawAddressLine2:
          type: string
          description: 'Contains the second address line of the postal address to which a customer can send a consent withdrawal notification.


            Maximum length: 100 characters. '
        withdrawByEmail:
          type: string
          description: Indicates whether the customer can withdraw consent by email.
        withdrawByMail:
          type: string
          description: Indicates whether the customer can withdraw consent by postal mail.
        withdrawByPhone:
          type: string
          description: Indicates whether the customer can withdraw consent by phone.
        withdrawCity:
          type: string
          description: 'Contains the city of the postal address to which a customer can send a consent withdrawal notification.


            Maximum length: 50 characters. '
        withdrawConsequences:
          type: string
          description: Indicates the consequences of withdrawing consent.
        withdrawEmail:
          type: string
          description: 'Contains the email address to which a customer can send a consent withdrawal notification.


            Maximum length: 100 characters. '
        withdrawOther:
          type: string
          description: 'Indicates other information need to withdraw consent.


            Maximum length: 255 characters.'
        withdrawPhone:
          type: string
          description: 'Contains the phone number which a customer can call to register consent withdrawal notification.


            Maximum length: 20 characters. '
        withdrawPostalCode:
          type: string
          description: 'Contains the postal code of the postal address to which a customer can send a consent withdrawal notification.


            Maximum length: 20 characters. '
        withdrawState:
          type: string
          description: Contains the state of the postal address to which a customer can send a consent withdrawal notification.
      description: Account consumer disclosures
      x-ds-definition-name: consumerDisclosure
      x-ds-category: Accounts
      x-ds-order: '20'
      x-ms-summary: Account consumer disclosures
    consumerDisclosure:
      type: object
      properties:
        accountEsignId:
          type: string
          description: A GUID identifying the account associated with the consumer disclosure
        allowCDWithdraw:
          type: string
          description: Indicates whether the customer can withdraw their acceptance of the consumer disclosure.
        allowCDWithdrawMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        changeEmail:
          type: string
          description: ''
        changeEmailOther:
          type: string
          description: ''
        companyName:
          type: string
          description: The name of the user's Company.
        companyPhone:
          type: string
          description: The phone number of the company associated with the consumer disclosure.
        copyCostPerPage:
          type: string
          description: ''
        copyFeeCollectionMethod:
          type: string
          description: 'Specifies the fee collection method for cases in which the customer requires paper copies of the document.


            Maximum Length: 255 characters'
        copyRequestEmail:
          type: string
          description: ''
        custom:
          type: string
          description: ''
        enableEsign:
          type: string
          description: ''
        esignAgreement:
          type: string
          description: The Electronic Record and Signature Disclosure text. The disclosure text includes the html formatting.
        esignText:
          type: string
          description: ''
        languageCode:
          type: string
          description: ''
        mustAgreeToEsign:
          type: string
          description: ''
        pdfId:
          type: string
          description: "**Deprecated**\n\nThe `\x80\x9CpdfId` property in the consumer_disclosure PUT request is deprecated. For security reasons going forward, any value provided in the request packet must be ignored. "
        useBrand:
          type: string
          description: ''
        useConsumerDisclosureWithinAccount:
          type: string
          description: ''
        useConsumerDisclosureWithinAccountMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        withdrawAddressLine1:
          type: string
          description: 'Contains the first address line of the postal address to which a customer can send a consent withdrawal notification.


            Maximum length: 100 characters. '
        withdrawAddressLine2:
          type: string
          description: 'Contains the second address line of the postal address to which a customer can send a consent withdrawal notification.


            Maximum length: 100 characters. '
        withdrawByEmail:
          type: string
          description: Indicates whether the customer can withdraw consent by email.
        withdrawByMail:
          type: string
          description: Indicates whether the customer can withdraw consent by postal mail.
        withdrawByPhone:
          type: string
          description: Indicates whether the customer can withdraw consent by phone.
        withdrawCity:
          type: string
          description: 'Contains the city of the postal address to which a customer can send a consent withdrawal notification.


            Maximum length: 50 characters. '
        withdrawConsequences:
          type: string
          description: Indicates the consequences of withdrawing consent.
        withdrawEmail:
          type: string
          description: 'Contains the email address to which a customer can send a consent withdrawal notification.


            Maximum length: 100 characters. '
        withdrawOther:
          type: string
          description: 'Indicates other information need to withdraw consent.


            Maximum length: 255 characters.'
        withdrawPhone:
          type: string
          description: 'Contains the phone number which a customer can call to register consent withdrawal notification.


            Maximum length: 20 characters. '
        withdrawPostalCode:
          type: string
          description: 'Contains the postal code of the postal address to which a customer can send a consent withdrawal notification.


            Maximum length: 20 characters. '
        withdrawState:
          type: string
          description: Contains the state of the postal address to which a customer can send a consent withdrawal notification.
      description: ''
      x-ds-definition-name: consumerDisclosure
      x-ms-summary: ''
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
externalDocs:
  description: See the DocuSign REST API Guide for more information.
  url: https://docs.docusign.com/esign
x-ds-allow-editing: false
x-ds-categories:
- name: Authentication
  summary: Logging in and authentication
  description: 'Use the Authentication category to manage various account login tasks including:


    * Getting login information for a user.

    * Managing linked social accounts.

    * Getting and revoking OAuth tokens.'
- name: Envelopes
  summary: Creating and sending envelopes
  description: 'The DocuSign API Envelope category includes the resources and methods for sending and managing envelopes and envelope data.


    Envelopes are the key objects within the DocuSign eSignature system. As a result, they are complex data structures with few required fields. See the [API Recipes](https://www.docusign.com/developer-center/recipes) for use case examples and their solutions.


    To create and send envelopes, see the [Envelopes resource](Envelopes).


    '
- name: Connect
  summary: Connect configuration and logging
  description: "The Connect category enables your application to be called via HTTPS when an event of interest occurs.\n\nUse the Connect service to \"end the polling madness.\" With Connect, there is no need for your application to poll DocuSign every 15 minutes to learn the latest about your envelopes.\n\nInstead, you register your interest in one or more types of envelope or recipient events. Then, when an interesting event occurs, the DocuSign platform will contact your application with the event's details and data. You can register interest in envelopes sent by particular users in your account, or for envelopes sent by any user.\n\n## Incoming Connect Calls\nTo use the Connect service, your application needs to provide an https url that can be called from the public internet. If your application runs on a server behind your organization's firewall, then you will need to create a \"pinhole\" in the firewall to allow the incoming Connect calls from DocuSign to reach your application. Other techniques for receiving the incoming calls including proxy servers and DMZ networking can also be used. \n\n## Per-envelope Connect Configuration\nInstead of registering a general Connect configuration and listener, an individual envelope can have its own Connect configuration. See the `eventNotification` field for envelopes.\n\n## Categories\nUse the Connect category for:\n\n* Programmatically creating Connect configurations. Connect configurations can be created manually by using the DocuSign web service, or programmatically via the API. Configurations created via the API can be seen and updated from the web service.\n* Retrieving and managing the event log for your Connect configurations. \n* Requesting that an event be re-published to the listener."
- name: Templates
  summary: Template creation and management
  description: 'Use the Templates category to manage your account''s templates.


    You can:


    * Create, list, get, update, and delete templates.

    * Manage templates'' notification and group sharing settings.

    * Fetch and rotate pages from a document used by a template.


    Templates can be created programmatically or can be created via the DocuSign web interface and then used by your application.'
- name: SigningGroups
  summary: Send a signing request to a group of potential signers
  description: 'Use the SigningGroup category to manage signing groups that allow you anyone in the group to sign a document.


    The category allows you create the signing group and manage the users in the group.'
- name: Folders
  summary: Folders for completed envelopes
  description: "Use the Folders category to manage envelopes in your folders. \n\nYou can list the folder contents and move envelopes between folders."
- name: CustomTabs
  summary: Custom tabs
  description: "Custom Tabs enable accounts to have one or more pre-configured (custom) tabs. Custom tabs save time when users are tagging documents since the users don't have to manually set the tabs' parameters.\n\nThis category enables custom tabs to be managed programmatically, including creation, deletion, etc. \n"
- name: CloudStorage
  summary: Cloud storage providers and user management
  description: 'Use the Cloud Storage category to list the user''s cloud storage document contents.


    It is also used to manage the user''s authentication/accounts with cloud storage service providers.'
- name: Users
  summary: User management
  description: 'Use the Users category to manage the users in your accounts.


    You can:


    * Set custom user settings.

    * Manage a users profile.

    * Add delete users.

    * Add and delete the intials and signature images for a user.'
- name: UserGroups
  summary: Group users for common permissions and branding
  description: 'Use the User Groups category to manage your permissions groups.


    You can:


    * Create and delete groups.

    * Add users to, and delete users from, your groups.

    * Manage the brand information associated with a group.'
- name: Accounts
  summary: Account management
  description: "Use the Account category for various account management tasks including:\n\n* Programmatically creating and deleting accounts.\n* Getting information about an account and its capabilities.\n* Branding the account with custom colors, message text, and more.\n* Account charges.\n\nThe Account category also includes end points for \n* Listing the recipient names associated with an email address that was used by the account. For example, a single email address is often shared by mulitple members of a family.\n\n\n"
- name: Billing
  summary: Invoices
  description: 'Use the Billing category to manage the following billing related tasks:


    * Retrieve and update billing plan information.

    * Retrieve invoices.

    * Retrieve and update payment information.'
- name: Diagnostics
  summary: Diagnostics and request logging
  description: 'The Diagnostics category provides miscellaneous end points.


    They include:

    * Requesting and managing the API call-logging feature. (Perfect for debugging your app!)

    * Getting information on the API''s resources and versions.'
- name: PowerForms
  summary: PowerForm creation and management
  description: The PowerForms category enables PowerForms to be created and managed.
- name: Workspaces
  summary: Workspace creation and management
  description: 'Workspaces creation and management.


    '
- name: Payments
  summary: Manage Payments
  description: This category includes resources for managing payment gateways. Payment information is added to envelopes via methods in the Envelopes category.
- name: Signature
  summary: ''
  description: ''
x-original-swagger-version: '2.0'
