openapi: 3.0.1
info:
  title: DocuSign Admin AccountBrands UserProfiles API
  description: An API for an organization administrator to manage organizations, accounts and users
  termsOfService: https://www.docusign.com/company/terms-and-conditions/developers
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2.1
servers:
- url: https://api.docusign.net/Management
tags:
- name: UserProfiles
  description: The UserProfiles resource provides methods that allow you to manage a user's profile.
paths:
  /v2/accounts/{accountId}/users/{userId}/profile:
    get:
      tags:
      - UserProfiles
      summary: Docusign Retrieves the user profile for a specified user.
      description: 'Retrieves the user profile information, the privacy settings and personal information (address, phone number, etc.) for the specified user.


        The userId parameter specified in the endpoint must match the authenticated user''s user ID and the user must be a member of the specified account.'
      operationId: UserProfile_GetProfile
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/userProfile'
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: getProfile
      x-ds-method: get
      x-ds-service: Users
      x-ds-in-sdk: true
    put:
      tags:
      - UserProfiles
      summary: Docusign Updates the user profile information for the specified user.
      description: 'Updates the user''s detail information, profile information, privacy settings, and personal information in the user ID card.


        You can also change a user''s name by changing the information in the `userDetails` property. When changing a user''s name, you can either change the information in the `userName` property OR change the information in `firstName`, `middleName`, `lastName, suffixName`, and `title` properties. Changes to `firstName`, `middleName`, `lastName`, `suffixName`, and `title` properties take precedence over changes to the `userName` property.'
      operationId: UserProfile_PutProfile
      parameters:
      - name: accountId
        in: path
        description: The external account number (int) or account id GUID.
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userProfile'
          application/xml:
            schema:
              $ref: '#/components/schemas/userProfile'
        required: false
      responses:
        '200':
          description: Successful response.
          content: {}
        '400':
          description: Error encountered.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errorDetails'
      deprecated: false
      x-ds-methodname: updateProfile
      x-ds-method: update
      x-ds-service: Users
      x-ds-in-sdk: true
      x-codegen-request-body-name: userProfile
components:
  schemas:
    userAccountManagementGranularInformation:
      type: object
      properties:
        canManageAccountSecuritySettings:
          type: string
          description: ''
        canManageAccountSecuritySettingsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageAccountSettings:
          type: string
          description: ''
        canManageAccountSettingsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageAdmins:
          type: string
          description: '**True**

            if the user can manage

            admins.'
        canManageAdminsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageEnvelopeTransfer:
          type: string
          description: ''
        canManageEnvelopeTransferMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageGroups:
          type: string
          description: '**True**

            if the user can manage

            groups.'
        canManageGroupsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageReporting:
          type: string
          description: ''
        canManageReportingMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageSharing:
          type: string
          description: ''
        canManageSharingMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageSigningGroups:
          type: string
          description: ''
        canManageSigningGroupsMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canManageUsers:
          type: string
          description: '**True**

            if the user can manage

            users.'
        canManageUsersMetadata:
          $ref: '#/components/schemas/settingsMetadata'
        canViewUsers:
          type: string
          description: ''
        canViewUsersMetadata:
          $ref: '#/components/schemas/settingsMetadata'
      description: Describes which account management capabilities a user has.
      x-ds-definition-name: userAccountManagementGranularInformation
      x-ms-summary: Describes which account management capabilities a user has.
    userInformation:
      type: object
      properties:
        accountManagementGranular:
          $ref: '#/components/schemas/userAccountManagementGranularInformation'
        activationAccessCode:
          type: string
          description: ''
        countryCode:
          type: string
          description: ''
        createdDateTime:
          type: string
          description: Indicates the date and time the item was created.
        customSettings:
          type: array
          description: The name/value pair information for the user custom setting.
          items:
            $ref: '#/components/schemas/nameValue'
        email:
          type: string
          description: ''
        enableConnectForUser:
          type: string
          description: 'Specifies whether the user is enabled for updates from DocuSign Connect. Valid values: true or false.'
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        firstName:
          type: string
          description: "The user's first name. \nMaximum Length: 50 characters."
        forgottenPasswordInfo:
          $ref: '#/components/schemas/forgottenPasswordInformation'
        groupList:
          type: array
          description: "A list of the group information for groups to add the user to. Group information can be found by calling [ML:GET group information]. The only required parameter is groupId. \n\nThe parameters are:\n\n* groupId - The DocuSign group ID for the group.\n* groupName - The name of the group\n* permissionProfileId - The ID of the permission profile associated with the group.\n* groupType - The group type.\n"
          items:
            $ref: '#/components/schemas/group'
        homeAddress:
          $ref: '#/components/schemas/addressInformation_v2'
        initialsImageUri:
          type: string
          description: Contains the URI for an endpoint that you can use to retrieve the initials image.
        isAdmin:
          type: string
          description: Determines if the feature set is actively set as part of the plan.
        jobTitle:
          type: string
          description: ''
        lastLogin:
          type: string
          description: The date-time when the user last logged on to the system.
        lastName:
          type: string
          description: The recipient's last name.
        loginStatus:
          type: string
          description: ''
        middleName:
          type: string
          description: "The user's middle name. \nLimit: 50 characters."
        password:
          type: string
          description: ''
        passwordExpiration:
          type: string
          description: If password expiration is enabled, the date-time when the user's password expires.
        permissionProfileId:
          type: string
          description: ''
        permissionProfileName:
          type: string
          description: ''
        profileImageUri:
          type: string
          description: ''
        sendActivationEmail:
          type: string
          description: ''
        sendActivationOnInvalidLogin:
          type: string
          description: 'When set to **true**, specifies that an additional activation email is sent to the user if they fail a log on before activating their account. '
        signatureImageUri:
          type: string
          description: Contains the URI for an endpoint that you can use to retrieve the signature image.
        subscribe:
          type: string
          description: ''
        suffixName:
          type: string
          description: 'The suffix for the user''s name, such as Jr, IV, PhD, etc.


            Limit: 50 characters. '
        title:
          type: string
          description: The title of the user.
        uri:
          type: string
          description: ''
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        userName:
          type: string
          description: ''
        userProfileLastModifiedDate:
          type: string
          description: The date-time when the user's profile was last modified.
        userSettings:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/nameValue'
        userStatus:
          type: string
          description: 'Status of the user''s account. One of:


            * ActivationRequired

            * ActivationSent

            * Active

            * Closed

            * Disabled

            '
        userType:
          type: string
          description: ''
        workAddress:
          $ref: '#/components/schemas/addressInformation_v2'
      description: ''
      x-ds-definition-name: userInformation
      x-ms-summary: ''
    addressInformation_v2:
      type: object
      properties:
        address1:
          type: string
          description: 'First Line of the address.

            Maximum length: 100 characters.'
        address2:
          type: string
          description: 'Second Line of the address.

            Maximum length: 100 characters.'
        city:
          type: string
          description: ''
        country:
          type: string
          description: Specifies the country associated with the address.
        fax:
          type: string
          description: ''
        phone:
          type: string
          description: ''
        postalCode:
          type: string
          description: ''
        stateOrProvince:
          type: string
          description: The state or province associated with the address.
      description: ''
      x-ds-definition-name: addressInformation_v2
      x-ms-summary: ''
    userInfo:
      type: object
      properties:
        activationAccessCode:
          type: string
          description: ''
        email:
          type: string
          description: ''
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        loginStatus:
          type: string
          description: ''
        sendActivationEmail:
          type: string
          description: ''
        uri:
          type: string
          description: ''
        userId:
          type: string
          description: 'The user ID of the user being accessed. Generally this is the user ID of the authenticated user, but if the authenticated user is an Admin on the account, this may be another user the Admin user is accessing. **Note**: For the [GET /v2/accounts/{accountId}/envelopes](https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges/#envelopesInformation) method, the `user_id` query parameter is not implemented and should not be used.'
        userName:
          type: string
          description: ''
        userStatus:
          type: string
          description: 'Status of the user''s account. One of:


            * ActivationRequired

            * ActivationSent

            * Active

            * Closed

            * Disabled

            '
        userType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: userInfo
      x-ms-summary: ''
    settingsMetadata:
      type: object
      properties:
        is21CFRPart11:
          type: string
          description: When set to **true**, indicates that this module is enabled on the account.
        options:
          type: array
          description: ''
          items:
            type: string
        rights:
          type: string
          description: ''
        uiHint:
          type: string
          description: ''
        uiOrder:
          type: string
          description: ''
        uiType:
          type: string
          description: ''
      description: ''
      x-ds-definition-name: settingsMetadata
      x-ms-summary: ''
    userProfile:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/addressInformation_v2'
        authenticationMethods:
          type: array
          description: "These properties cannot be modified in the PUT. \n\nIndicates the authentication methods used by the user."
          items:
            $ref: '#/components/schemas/authenticationMethod'
        companyName:
          type: string
          description: The name of the user's Company.
        displayOrganizationInfo:
          type: string
          description: ' When set to **true**, the user''s company and title information are shown on the ID card. '
        displayPersonalInfo:
          type: string
          description: When set to **true**, the user's Address and Phone number are shown on the ID card.
        displayProfile:
          type: string
          description: When set to **true**, the user's ID card can be viewed from signed documents and envelope history.
        displayUsageHistory:
          type: string
          description: When set to **true**, the user's usage information is shown on the ID card.
        profileImageUri:
          type: string
          description: ''
        title:
          type: string
          description: The title of the user.
        usageHistory:
          $ref: '#/components/schemas/usageHistory'
        userDetails:
          $ref: '#/components/schemas/userInformation'
        userProfileLastModifiedDate:
          type: string
          description: The date-time when the user's profile was last modified.
      description: ''
      x-ds-definition-name: userProfile
      x-ms-summary: ''
    group:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        groupId:
          type: string
          description: The DocuSign group ID for the group.
        groupName:
          type: string
          description: The name of the group.
        groupType:
          type: string
          description: The group type.
        permissionProfileId:
          type: string
          description: The ID of the permission profile associated with the group.
        users:
          type: array
          description: List of users in the group.
          items:
            $ref: '#/components/schemas/userInfo'
      description: Information about groups.
      x-ds-definition-name: group
      x-ms-summary: Information about groups.
    forgottenPasswordInformation:
      type: object
      properties:
        forgottenPasswordAnswer1:
          type: string
          description: The answer to the first forgotten password challenge question.
        forgottenPasswordAnswer2:
          type: string
          description: The answer to the second forgotten password challenge question.
        forgottenPasswordAnswer3:
          type: string
          description: The answer to the third forgotten password challenge question.
        forgottenPasswordAnswer4:
          type: string
          description: The answer to the fourth forgotten password challenge question.
        forgottenPasswordQuestion1:
          type: string
          description: The first challenge question presented to a user who has forgotten their password.
        forgottenPasswordQuestion2:
          type: string
          description: The second challenge question presented to a user who has forgotten their password.
        forgottenPasswordQuestion3:
          type: string
          description: The third challenge question presented to a user who has forgotten their password.
        forgottenPasswordQuestion4:
          type: string
          description: The fourth challenge question presented to a user who has forgotten their password.
      description: A complex element that has up to four Question/Answer pairs for forgotten password information.
      x-ds-definition-name: forgottenPasswordInformation
      x-ms-summary: A complex element that has up to four Question/Answer pairs for forgotten password information.
    errorDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: An error code associated with the error.
        message:
          type: string
          description: A short error message.
      description: This object describes errors that occur. It is only valid for responses, and ignored in requests.
      x-ds-definition-name: errorDetails
      x-ms-summary: This object describes errors that occur. It is only valid for responses, and ignored in requests.
    usageHistory:
      type: object
      properties:
        lastSentDateTime:
          type: string
          description: 'The date and time the user last sent an envelope. '
        lastSignedDateTime:
          type: string
          description: The date and time the user last signed an envelope.
        sentCount:
          type: integer
          description: 'The number of envelopes the user has sent. '
          format: int32
        signedCount:
          type: integer
          description: 'The number of envelopes the user has signed. '
          format: int32
      description: "A complex element consisting of: \n\n* lastSentDateTime - the date and time the user last sent an envelope. \n* lastSignedDateTime - the date and time the user last signed an envelope.\n* sentCount - the number of envelopes the user has sent.\n* signedCount - the number of envelopes the user has signed."
      x-ds-definition-name: usageHistory
      x-ms-summary: "A complex element consisting of: \n\n* lastSentDateTime - the date and time the user last sent an envelope. \n* lastSignedDateTime - the date and time the user last signed an envelope.\n* sentCount - the number of envelopes the user has sent.\n* signedCount - the number of envelopes the user has signed."
    nameValue:
      type: object
      properties:
        errorDetails:
          $ref: '#/components/schemas/errorDetails'
        name:
          type: string
          description: The name or key of a name/value pair.
        originalValue:
          type: string
          description: 'The initial value of the tab when it was sent to the recipient. '
        value:
          type: string
          description: The value field of a name/value pair.
      description: ''
      x-ds-definition-name: nameValue
      x-ms-summary: ''
    authenticationMethod:
      type: object
      properties:
        authenticationType:
          type: string
          description: 'Indicates the type of authentication. Valid values are: PhoneAuth, STAN, ISCheck, OFAC, AccessCode, AgeVerify, or SSOAuth. '
        lastProvider:
          type: string
          description: 'The last provider that authenticated the user. '
        lastTimestamp:
          type: string
          description: ' The data and time the user last used the authentication method. '
        totalCount:
          type: integer
          description: 'The number of times the authentication method was used. '
          format: int32
      description: Contains information about the method used for authentication.
      x-ds-definition-name: authenticationMethod
      x-ms-summary: Contains information about the method used for authentication.
  securitySchemes:
    accessCode:
      type: oauth2
      description: OAuth2 Access code Grant
      flows:
        authorizationCode:
          authorizationUrl: https://account.docusign.com/oauth/auth
          tokenUrl: https://account.docusign.com/oauth/auth
          scopes:
            organization_read: ''
            permission_read: ''
            group_read: ''
            user_read: ''
            account_read: ''
            account_write: ''
            user_write: ''
            identity_provider_read: ''
            domain_read: ''
x-ds-categories:
- name: UserManagement
  summary: Methods to manage users in an account.
  description: Methods to manage users in an account.
- name: BulkOperations
  summary: Methods to import and export users and accounts.
  description: Methods to import and export users and accounts.
- name: IdentityProviders
  summary: Methods to get a list of identity providers.
  description: Methods to get a list of identity providers.
- name: ReservedDomains
  summary: Methods to get a list of reserved domains.
  description: Methods to get a list of reserved domains.
- name: Organization
  summary: Methods for working with organizations.
  description: Methods for working with organizations.
x-original-swagger-version: '2.0'
