openapi: 3.0.1
info:
  title: DocuSign REST API
  description: "The DocuSign REST API provides you with a powerful, convenient, and\
    \ simple Web services API for interacting with DocuSign."
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2
externalDocs:
  description: See the DocuSign REST API Guide for more information.
  url: https://docs.docusign.com/esign
servers:
- url: https://www.docusign.net/restapi
tags:
- name: AccountBrands
  description: |-
    The AcccountBrands resource provides methods that allow you to create and delete the account brand associated with an account.

    Branding allows you to add the look and feel of your organization's
    brand to the sending, signing, and email process making it easier for users to identify envelopes coming from your organization.

    The DocuSign Account Custom Branding feature lets you set the colors, logo, and text for your account. You can create any number of brand profiles with different settings to reflect each of your corporate brands or different internal divisions or departments.

    When you create or change a branding profile, it applies to everyone using that profile and affects all envelopes sent with that profile.
- name: AccountConsumerDisclosures
  description: The AccountConsumerDisclosures resource provides methods that allow
    you to retrieve the consumer disclosures associated with the account.
- name: AccountCustomFields
  description: "The CustomFields resource provides a method that enables you to retrieve\
    \ the custom fields associated with an account.\n\nThese fields can be used with\
    \ your account's envelopes to record information about the envelopes. The fields\
    \ can be searched to find matching envelopes and track information. \n\nThe envelope\
    \ custom fields are shown in the DocuSign member console's Envelope Settings section\
    \ when a user creates an envelope. The envelope custom fields are not seen by\
    \ envelope recipients.\n\nThere are two types of envelope custom fields, text\
    \ and list. A text custom field lets the sender enter the value for the field.\
    \ The list custom field lets the sender select the value of the field from a pre-determined\
    \ list."
- name: EnvelopeCustomFields
  description: "The EnvelopeCustomFields resource provides methods that allow you\
    \ manage custom fields in an envelope. \n\nCustom fields can be used in the envelopes\
    \ for your account to record information about the envelope, help search for envelopes\
    \ and track information. The envelope custom fields are shown in the Envelope\
    \ Settings section when a user is creating an envelope in the DocuSign member\
    \ console. The envelope custom fields are not seen by the envelope recipients.\n\
    \nThere are two types of envelope custom fields, text and list. A text custom\
    \ field lets the sender enter the value for the field. With a list custom field,\
    \ the sender selects the value of the field from a pre-made list."
- name: EnvelopeDocumentFields
  description: "The EnvelopeDocumentFields resource provides methods that allow you\
    \ to manage custom fields on a document.\n\nYou can create custom versions of\
    \ standard fields that combine of field properties, such as font type or size,\
    \ or a validation setting. \n\nNote: Some advanced features and options are supported\
    \ only in certain DocuSign plans. Your account plan might not support some options\
    \ discussed in this help topic. For more information about which options are available\
    \ for your account, check your account plan or contact your Account Manager."
- name: EnvelopeLocks
  description: |-
    The EnvelopeLocks resource provides methods that allow you to manage locks on an envelope.

    You can lock the envelope, and set the time until the lock expires, to prevent users or recipients from accessing and changing the envelope.

    Users must have envelope locking capability enabled to use these functions.
- name: EnvelopeRecipients
  description: |+
    <!-- resources aren't rendered the same way
         as other pages. This is a little hack to
         make the headings work better -->
    <style>
    h1, h2, h3 {
      margin-top: 1em;
    }
    </style>

    The EnvelopeRecipients resource allows you manage the recipients of an
    envelope. There are seven recipient types. All types share
    a [core set of parameters](#core-recipient-parameters).
    Some recipient types have additional parameters.

    <br>

    | Recipient type | Description |
    | :--- | :--- |
    | [Agents](#agents-recipient) | An agent recipient can add name and email information for recipients that appear after the agent in routing order. |
    | [Carbon Copies](#carbon-copies-recipient) | Carbon copy recipients get a copy of the envelope but don't need to sign, initial, date or add information to any of the documents. This type of recipient can be used in any routing order. Carbon copy recipients receive their copy of the envelope when the envelope reaches the recipient's order in the process flow and when the envelope is completed. |
    | [Certified Deliveries](#certified-deliveries-recipient) | Certified delivery recipients must receive the completed documents for the envelope to be completed. However, they don't need to sign, initial, date or add information to any of the documents. |
    | [Editors](#editors-recipient) | Editors have the same management and access rights for the envelope as the sender. They can make changes to the envelope as if they were using the Advanced Correct feature. This recipient can add name and email information, add or change the routing order and set authentication options for the remaining recipients. Additionally, this recipient can edit signature/initial tabs and data fields for the remaining recipients. The recipient must have a DocuSign account to be an editor. |
    | [In-Person Signers](#in-person-signers-recipient) | An in-person recipient is a DocuSign user, acting as a Signing Host, who is in the same physical location as the signer. |
    | [Intermediaries](#intermediaries-recipient) | An intermediary is a recipient who can, but is not required to, add name and email information for recipients at the same or subsequent level in the routing order, unless subsequent agents, editors or intermediaries are added. |
    | [Seals](#seal-recipient) | An electronic seal recipient represents a legal person. Electronic seals can be used by organizations and governments to show evidence of origin and integrity of documents. |
    | [Signers](#signers-recipient) | A signer is a recipient who must sign, initial, date, or add data to form fields on the documents in the envelope. |

    <br>

    Not all recipients are are available to all account types.
    Review your account plan to determine
    which recipient types are available to you.
    All recipient types are available in the Demo environment.


    ## Core Recipient Parameters

    All recipients, regardless of type, have the same common parameters.
    The following table contains the descriptions
    for the core properties for all recipient types.

    <br>

    | Name | Required | Schema Type | Description |
    | :--- | :--- | :--- | :--- |
    | email | Yes | Email | Email of the recipient. Notification will be sent to this email id.<br/>Maximum Length: 100 characters. |
    | name | Yes | String | Full legal name of the recipient.<br/>Maximum Length: 100 characters. |
    | accessCode | No | String | This optional element specifies the access code a recipient has to enter to validate the identity.<br/>Maximum Length: 50 characters. |
    | addAccessCodeToEmail | No | Boolean | This optional attribute indicates that the access code is added to the email sent to the recipient; this nullifies the Security measure of Access Code on the recipient. |
    | clientUserId | No | String | This specifies whether the recipient is embedded or remote.<br/><br/>If the `clientUserId` property is not null then the recipient is embedded. Note that if the `ClientUserId` property is set and either `SignerMustHaveAccount` or `SignerMustLoginToSign` property of the account settings is set to  **true**, an error is generated on sending. |
    | embeddedRecipientStartURL | No | String | This is a sender provided valid URL string for redirecting an embedded recipient. When using this option, the embedded recipient still receives an email from DocuSign, just as a remote recipient would, but when the document link in the email is clicked the recipient is redirected, through DocuSign, to this URL to complete their actions. When routing to the URL, it is up to the sender's system (the server responding to the URL) to then request a recipient token to launch a signing session.<br/><br/>If the value `SIGN_AT_DOCUSIGN` is used for this node, the recipient is directed to an embedded signing or viewing process directly at DocuSign. The signing or viewing action is initiated by the DocuSign system and the transaction activity and Certificate of Completion records will reflect this. In all other ways the process is identical to an embedded signing or viewing operation that would be launched by any partner.<br/><br/>It is important to remember that in a typical embedded workflow the authentication of an embedded recipient is the responsibility of the sending application and DocuSign expects that senders will follow their own process for establishing the recipient's identity. In this workflow the recipient goes through the sending application before the embedded signing or viewing process in initiated. However, when the sending application sets  the `EmbeddedRecipientStartURL` property to `SIGN_AT_DOCUSIGN`, the recipient goes directly to the embedded signing or viewing process bypassing the sending application and any authentication steps the sending application would use. In this case, DocuSign recommends that one of the normal DocuSign authentication features (Access Code, Phone Authentication, SMS Authentication, etc.) be used to verify the identity of the recipient.<br/><br>If the `clientUserId` property is NOT set and the `embeddedRecipientStartURL` property is set, DocuSign ignores the redirect URL and launch the standard signing process for the email recipient. Information can be appended to the `embeddedRecipientStartURL` property using merge fields. The available merge fields items are: envelopeId, recipientId, recipientName, recipientEmail, and customFields. The customFields must be part of the recipient or envelope. The merge fields are enclosed in double brackets.<br/><br/>_Example_:<br/>`http://senderHost/[[mergeField1]]/ beginSigningSession? [[mergeField2]]&[[mergeField3]]` |
    | customFields | No | customField |An optional array of strings that allows the sender to provide custom data about the recipient. This information is returned in the envelope status but otherwise not used by DocuSign. String `customField` properties have a maximum length of 100 characters. |
    | emailNotification | No | emailNotification | An optional complex type that has information for setting the language for the recipient's email information. It is composed of three elements:<br/><br/>*emailBody*: a string with the email message sent to the recipient.<br/>Maximum Length: 10000 characters.<br/><br/>*emailSubject*: a string with the subject of the email sent to the recipient.<br/>Maximum Length: 100 characters.<br/><br/>*supportedLanguage*: The simple type enumeration of the language used. The supported languages, with the language value shown in parenthesis, are: Arabic (ar), Bahasa Indonesia (id), Bahasa Melayu (ms) Bulgarian (bg), Czech (cs), Chinese Simplified (zh_CN), Chinese Traditional (zh_TW), Croatian (hr), Danish (da), Dutch (nl), English US (en), English UK (en_GB), Estonian (et), Farsi (fa), Finnish (fi), French (fr), French Canada (fr_CA), German (de), Greek (el), Hebrew (he), Hindi (hi), Hungarian (hu), Italian (it), Japanese (ja), Korean (ko), Latvian (lv), Lithuanian (lt), Norwegian (no), Polish (pl), Portuguese (pt), Portuguese Brazil (pt_BR), Romanian (ro),Russian (ru), Serbian (sr), Slovak (sk), Slovenian (sl), Spanish (es),Spanish Latin America (es_MX), Swedish (sv), Thai (th), Turkish (tr), Ukrainian (uk) and Vietnamese (vi).<br/><br/>**IMPORTANT**: If this is enabled for one recipient, it overrides the Envelope Subject and `EmailBlurb` property settings. Also, you must set the  `emailNotification` property for all recipients. |
    | excludedDocuments | No | Array of Strings | Specifies the documents that are not visible to this recipient. Document Visibility must be enabled for the account and the enforceSignerVisibility property must be set to true for the envelope to use this.<br/><br/>When the enforceSignerVisibility property is set to **true**, documents with tabs can only be viewed by signers that have a tab on that document. Recipients that have an administrative role (Agent, Editor, or Intermediaries) or informational role (Certified Deliveries or Carbon Copies) can always see all the documents in an envelope, unless they are specifically excluded using this setting when an envelope is sent. Documents that do not have tabs are always visible to all recipients, unless they are specifically excluded using this setting when an envelope is sent. |
    | idCheckConfigurationName | No | String |Specifies authentication check by name. The names used here must be the same as the authentication type names used by the account (these name can also be found in the web console sending interface in the Identify list for a recipient). This overrides any default authentication setting.<br/><br/>_Example_:<br/> Your account has ID Check and SMS Authentication available and in the web console Identify list these appear as 'ID Check $' and 'SMS Auth $'. To use ID check in an envelope, the `idCheckConfigurationName` property must be  set to `ID Check $`. To use SMS, it must be set to `SMS Auth $` and you must add phone number information to the `smsAuthentication` node.|
    | iDCheckInformationInput | No | IdCheckInformationInput | This complex element contains input information related to a recipient ID check. It can include the following information.<br/><br/>*addressInformationInput*: Used to set recipient address information and consists of:<br/><br/>*addressInformation*: consists of six elements, with street2 and zipPlus4 being optional. The elements are: street1, street2, city, state, zip, zipPlus4\. The maximum number of characters in each element are: street1/street2 = 150 characters, city = 50 characters, state = 2 characters, and zip/zipPlus4 = 20 characters.<br/><br/>displayLevelCode: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*dobInformationInput*: Used to set recipient date of birth information and consists of:<br/><br/>*dateOfBirth*: Specifies the recipient's date, month and year of birth.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*ssn4InformationInput*: Used to set the last four digits of the recipient's SSN information and consists of:<br/><br/>*ssn4*: Specifies the last four digits of the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*ssn9InformationInput*: Used to set the recipient's SSN information. Note that the ssn9 information can never be returned in the response. The ssn9 input consists of:<br/><br/><br/><br/>*ssn9*: Specifies the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay. |
    | inheritEmailNotificationConfiguration | No | Boolean | Optional element. If true and the envelope recipient creates a DocuSign account after signing, the Manage Account Email Notification settings are used as the default settings for the recipient's account. |
    | note | No | String | A note that is unique to this recipient. This note is sent to the recipient via the signing email. The note displays in the signing UI near the upper left corner of the document on the signing screen.<br/>Maximum Length: 1000 characters. |
    | phoneAuthentication | No | RecipientPhoneAuthentication | Optional element. Contains the elements: <br/><br/> *recipMayProvideNumber*:Boolean. When set to **true** thenrecipient can use whatever phone number they choose to.<br/><br/> *senderProvidedNumbers*: ArrayOfString. A list of phone numbers the recipient can use. <br/><br/>*recordVoicePrint* - Reserved for DocuSign. <br/><br/>*validateRecipProvidedNumber* - Reserved for DocuSign. | |
    | recipientAttachment | No | Attachment | Reserved for DocuSign. |
    | recipientId | No | String | Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document. |
    | requireIdLookup | No | Boolean | When set to **true**, the recipient is required to use the specified ID check method (including Phone and SMS authentication) to validate their identity. |
    | roleName | No* | String | Optional element. Specifies the role name associated with the recipient.<br/><br/>This is required when working with template recipients. |
    | routingOrder | Yes | String | This element specifies the routing order of the recipient in the envelope. |
    | smsAuthentication | No | senderProvidedNumbers | Optional element. Contains the element:<br/><br/>*senderProvidedNumbers*: Array that contains a list of phone numbers the recipient can use for SMS text authentication. |
    | socialAuthentications | No | Boolean | Lists the social ID type that can be used for recipient authentication. |
    | templateAccessCodeRequired | No | Boolean | Optional element. Used only when working with template recipients. When set to **true** and the `TemplateLocked` parameter is set to **true**, the sender must enter an access code. |
    | templateLocked | No | Boolean | Optional element. Used only when working with template recipients. When set to **true**, the sender cannot change any attributes of the recipient. |
    | templateRequired | No | Boolean | Optional element. Used only when working with template recipients. When set to **true**,  the sender may not remove the recipient. |

    <br>

    **JSON layout**

    ```
    "email": "email.name@company.com",
      "name": "recipient name",
      "accessCode": "",
      "addAccessCodeToEmail": false,
      "clientUserIs": null,
      "embeddedRecipientStartURL": "string",
      "customFields": {
        "sample string 1",
        "sample string 2"
      },
      "emailNotification"{
        "emailBody":"email text",
        "emailSubject":"Subject text",
        "supportedLanguage":"en",
      },
      "excludedDocuments": ["2", "4"],
      "idCheckConfigurationName": null,
      "idCheckInformationInput": {
        "addressInformationInput": {
          "addressInformation": {
            "street1": "sample string 1",
            "street2": "sample string 2",
            "city": "sample string 3",
            "state": "sample string 4",
            "zip": "sample string 5",
            "zipPlus4": "sample string 6"
          },
          "displayLevelCode": "sample string 1",
          "receiveInResponse": "sample string 2"
        },
        "dobInformationInput": {
          "dateOfBirth": "sample string 1",
          "displayLevelCode": "sample string 2",
          "receiveInResponse": "sample string 3"
        },
        "ssn4InformationInput": {
          "ssn4": "sample string 1",
          "displayLevelCode": "sample string 2",
          "receiveInResponse": "sample string 3"
        },
        "ssn9InformationInput": {
          "ssn9": "sample string 1",
          "displayLevelCode": "sample string 2"
        }
      },
      "inheritEmailNotificationConfiguration": false,
      "note": "",
      "phoneAuthentication": {
        "recipMayProvideNumber": "sample string 1",
        "validateRecipProvidedNumber": "sample string 2",
        "recordVoicePrint": "sample string 3",
        "senderProvidedNumbers": [
          "sample string 1",
          "sample string 2"
        ]
      },
      "recipientAttachment": null,
      "recipientCaptiveInfo": null,
      "recipientId": "1",
      "requireIdLookup": false,
      "roleName": "",
      "routingOrder": 1,
      "smsAuthentication": {
        "senderProvidedNumbers":[
          "sample string 1",
          "sample string 2"
        ]
      },
      "socialAuthentications": null,
      "templateAccessCodeRequired": false,
      "templateLocked": false,
      "templateRequired": false,
    ...
    ```


    ## Agents Recipient

    An agent recipient can add name and email information for recipients that appear after the agent in routing order.

    In addition to the [core parameters](#core-recipient-parameters),
    this type adds the following parameters.

    <br>

    | Name | Required | Schema Type | Description |
    | :--- | :--- | :--- | :--- |
    | canEditRecipientEmails | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this Recipient can change the Recipient's pre-populated Email address. This element is only active if enabled for the account. |
    | canEditRecipientNames | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account. |

    <br>

    **JSON layout**

    ```
    "agents": [{
     <core parameters>
      "canEditRecipientEmails": false,
      "canEditRecipientNames": false
    }],
    ```


    ## Carbon Copies Recipient

    Carbon copy recipients get a copy of the envelope but don't need to sign, initial, date or add information to any of the documents. This type of recipient can be used in any routing order. Carbon copy recipients receive their copy of the envelope when the envelope reaches the recipient's order in the process flow and when the envelope is completed.

    This recipient type uses only the [core parameters](#core-recipient-parameters).

    **JSON layout**

    ```
    "carbonCopies": [{
     <core parameters>
    ```


    ## Certified Deliveries Recipient

    Certified delivery recipients must receive the completed documents for the envelope to be completed. However, they don't need to sign, initial, date or add information to any of the documents.

    This recipient type uses only the [core parameters](#core-recipient-parameters).

    **JSON layout**

    ```
    "certifiedDeliveries": [{
    <core parameters>
    }],
    ```

    ## Editors Recipient

    Editors have the same management and access rights for the envelope as the sender. They can make changes to the envelope as if they were using the Advanced Correct feature. This recipient can add name and email information, add or change the routing order and set authentication options for the remaining recipients. Additionally, this recipient can edit signature/initial tabs and data fields for the remaining recipients. The recipient must have a DocuSign account to be an editor.

    In addition to the [core parameters](#core-recipient-parameters),
    this type adds the following parameters.

    <br>

    | Name | Required | Schema Type | Description |
    | :--- | :--- | :--- | :--- |
    | canEditRecipientEmails | No | Boolean | Optional element. When set to **true**, the Editors Recipient associated with this Recipient can change the Recipient's pre-populated Email address. This element is only active if enabled for the account. |
    | canEditRecipientNames | No | Boolean | Optional element. When set to **true**, the Editors Recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account. |

    <br>


    **JSON layout**

    ```
    "editors": [{
     <core parameters>
      "canEditRecipientEmails": false,
      "canEditRecipientNames": false
    }],
    ```


    ## In-Person Signers Recipient

    An in-person recipient is a DocuSign user,
    acting as a Signing Host,
    who is in the same physical location as the signer.

    In addition to the [core parameters](#core-recipient-parameters),
    this type adds the following parameters.

    The following restrictions apply
    to using electronic notary when sending documents:

    * Authentication methods are allowed for the signer but not the notary.
    * The Sign On Paper, Document Markup, Field Markup and Change Signer options cannot be used for the documents.
    * Tabs may be assigned to the signer, but cannot be assigned to the notary.

    Refer to [eNotary Resources][enotary-resources]
    in the DocuSign Support Center for more information
    about how the eNotary feature works.

    <br>

    | Name                | Required                                                          | Schema Type | Description                                                                                                                                                                                                                                                                                                                            |
    | :------------------ | :---------------------------------------------------------------- | :---------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
    | inPersonSigningType | No                                                                | String      | Specifies whether the envelope uses the eNotary feature. The accepted values are:<ul markdown=1><li>`inPersonSigner` The envelope uses the normal in-person signing flow.</li><li>`notary`: The envelope uses the eNotary signing flow.</li></ul>                                                                                      |
    | notaryHost          | Yes, when `inPersonSigningType` is `notary`                       | NotaryHost  | Sets the information for the notary host for the notary in person signing flow. The following information is required: <ul markdown=1> <li>`recipientId`: A unique ID number for the notary signing host. </li> <li>`name`: Specifies the notary's full legal name.</li> <li>`email`: Specifies the notary's email address. </li> </ul>|
    | autoNavigation      | No                                                                | Boolean     | Specifies whether auto navigation is set for the recipient.                                                                                                                                                                                                                                                                            |
    | defaultRecipient    | No                                                                | Boolean     | When set to **true**, this is the default recipient for the envelope. This option is used when creating an envelope from a template.                                                                                                                                                                                                   |
    | hostName            | Yes, when `inPersonSigningType` is `inPersonSigner`               | String      | The name of the signing host. This is the DocuSign user that is hosting the in-person signing session.                                                                                                                                                                                                                                 |
    | hostEmail           | Yes, when `inPersonSigningType` is `inPersonSigner`               | String      | The email address of the signing host. This is the DocuSign user that is hosting the in-person signing session.                                                                                                                                                                                                                        |
    | signerName          | Yes, when `inPersonSigningType` is `inPersonSigner`               | String      | The in-person signer's full legal name.                                                                                                                                                                                                                                                                                                |
    | signerEmail         | No, but valid only when `inPersonSigningType` is `inPersonSigner` | String      | The in-person signer's email address.                                                                                                                                                                                                                                                                                                  |
    | name                | Yes, when `inPersonSigningType` is `notary`                       | String      | The full legal name of the signer in an eNotary flow.                                                                                                                                                                                                                                                                                  |
    | email               | Yes, when `inPersonSigningType` is `notary`                       | String      | The signer's email address in an eNotary flow.                                                                                                                                                                                                                                                                                         |
    | signatureInfo       | No                                                                | String      | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Allows the sender to pre-specify the signature name, signature initials, and signature font used in the signature stamp for the recipient.                                                                                                     |
    | signInEachLocation  | No                                                                | Boolean     | When set to **true** and the feature is enabled in the sender's account, the signing recipient is required to draw signatures and initials at each signature/initial tab (instead of adopting a signature/initial style or only drawing a signature/initial once).                                                                     |
    | tabs                | No                                                                | Tab         | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Specifies the Tabs associated with the recipient. See the [EnvelopeRecipientTabs resource][envelopeRecipientTabsResource] for more information about tabs.                                                                                     |

    <br>

    **JSON layout**

    ```
    "inPersonSigners": [{
      "hostEmail": "signing.host@company.com",
      "hostName": "Mike Host",
     <core parameters>
      "autoNavigation": false,
      "defaultRecipient": false,
      "signInEachLocation": false,
      "signatureInfo": null,
      "signerEmail": "inperson.signer@company.com",
      "signerName": "Isaac Inperson",
      "email": "notary.signer@example.com",
      "name": "Notary Signer"
      "tabs": {
        "approveTabs": null,
        "checkboxTabs": null,
        "companyTabs": null,
        "dateSignedTabs": null,
        "dateTabs": null,
        "declineTabs": null,
        "emailTabs": null,
        "envelopeIdTabs": null,
        "fullNameTabs": null,
        "initialHereTabs": null,
        "listTabs": null,
        "noteTabs": null,
        "numberTabs": null,
        "radioGroupTabs": null,
        "signHereTabs": [{
        "signerAttachmentTabs": null,
        "ssnTabs": null,
        "textTabs": null,
        "titleTabs": null,
        "zipTabs": null
      }
      "inPersonSigningType": "notary",
      "notaryHost": {
        "email": "notary@example.com",
        "name": "Natalie Notary",
        "recipientId": "string"
      }
    }],
    ```


    ## Intermediaries Recipient

    An intermediary is a recipient who can, but is not required to, add name and email information for recipients at the same or subsequent level in the routing order, unless subsequent agents, editors or intermediaries are added.

    In addition to the [core parameters](#core-recipient-parameters),
    this type adds the following parameters.

    <br>

    | Name | Required | Schema Type | Description |
    | :--- | :--- | :--- | :--- |
    | canEditRecipientEmails | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this Recipient can change the Recipient's pre-populated Email address. This element is only active if enabled for the account. |
    | canEditRecipientNames | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account. |

    <br>

    **JSON layout**

    ```
    "intermediaries": [{
    <core parameters>
      "canEditRecipientEmails": false,
      "canEditRecipientNames": false
    }],
    ```



    ## Seals Recipient

    An electronic seal recipient is not a natural but a legal person. Electronic Seals can be used by organizations and governments to show evidence of origin and integrity of documents.
    Even though electronic seals can be represented by a tab in a document, they do not require user interaction and apply automatically in the order specified by the sender. The sender is therefore the person authorizing usage of the electronic seal in the flow.
    Electronic seal recipients rely on a subset of core properties. They also add a new `recipientSignatureProviders` parameter.


    <br>


    | Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Required&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Schema Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Description&nbsp;&nbsp;&nbsp;&nbsp; |
    | :--- | :--- | :--- | :--- |
    | recipientId| Yes | String | Indicates the unique ID of the applied electronic seal.<br/>|
    | routingOrder| No (default: 1) | String | Specifies the routing order of the electronic seal in the envelope. <br />The routing order assigned to your electronic seal cannot be shared with another recipient. It is recommended that you set a routing order for your electronic seals.. |
    | recipientSignatureProviders| Yes | String | Indicates which electronic seal to apply on documents when creating an envelope. |

    By default, Electronic Seals apply on all documents in an envelope. However, the sealDocumentsWithTabsOnly property (see recipientSignatureProvider) allows you to seal only documents that have signHere tabs set for the Electronic Seal recipients.



    **JSON layout (Apply Electronic Seals on all documents)**
    ```
    {
            ....

            "recipients": {
              "seals": [            {
                  "recipientId": "10",
                  "routingOrder" : 2,
                  "recipientSignatureProviders": [{
                      "sealName": "ed8f186c-3b12-45cb-9eb3-c8c33dc4f6b0",
                      "sealDocumentsWithTabsOnly": "false"
                    }]
                }]
            },
            "documents": [
                {
                    "documentId": "55",
                    "name": " ACME Contract",
                    "fileExtension": "pdf",
                    "documentBase64": "DOC_IN_BASE64"
                }
            ]
    }
    ```



    **JSON layout (Apply Electronic Seals on specific documents)**
    ```
    {
            ....

            "recipients": {
              "seals": [{
                  "recipientId": "10",
                  "routingOrder" : 2,
                  "recipientSignatureProviders": [{
                      "sealName": "ed8f186c-3b12-45cb-9eb3-c8c33dc4f6b0",
                      "sealDocumentsWithTabsOnly": "true"
                    }],
                   "tabs": {
                        "signHereTabs": [{
                                "documentId": "55",
                                "recipientId": "10",
                                "pageNumber": "1",
                                "xPosition": "272",
                                "yPosition": "98",
                            }]
                    }
                }]
            },
            "documents": [{
                    "documentId": "55",
                    "name": " ACME Contract",
                    "fileExtension": "pdf",
                    "documentBase64": "DOC_EN_BASE64"
                }]
    }
    ```




    ## Signers Recipient

    A signer is a recipient who must sign, initial, date, or add data to form fields on the documents in the envelope.

    In addition to the [core parameters](#core-recipient-parameters),
    this type adds the following parameters.

    <br>


    | Name | Required | Schema Type | Description |
    | :--- | :--- | :--- | :--- |
    | autoNavigation | No | Boolean | Specifies whether auto navigation is set for the recipient.|
    | defaultRecipient | No | Boolean | When set to **true**, this is the default recipient for the envelope. This option is used with the CreateEnvelopeFromTemplatesAndForms method. |
    | signInEachLocation | No | Boolean | When set to **true** and the feature is enabled in the sender's account, the signing recipient is required to draw signatures and initials at each signature/initial tab (instead of adopting a signature/initial style or only drawing a signature/initial once). |
    | signatureInfo | No | String | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Allows the sender to pre-specify the signature name, signature initials, and signature font used in the signature stamp for the recipient. |
    | signerEmail | No | String | Optional element. The email address for an InPersonSigner recipient Type.<br/>Maximum Length: 100 characters. |
    | signerName | Yes | String | Required element with recipient type In Person Signers.<br/>Maximum Length: 100 characters.<br/><br/>The full legal name of a signer for the envelope. |
    | tabs | No | Tab | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Specifies the Tabs associated with the recipient. See the the [EnvelopeTabs resource][envelopeTabsResource]  for more information about tabs. |
    | deliveryMethod | No | String | Reserved for DocuSign.|
    | deliveredDateTime | No | DateTime | Reserved for DocuSign. |
    | signedDateTime | No | DateTime | Reserved for DocuSign. |
    | offlineAttributes | No | &nbsp; | Reserved for DocuSign.|

    <br>

    **JSON layout**

    ```
    "Signers": [{
    <core paramters>
      "autoNavigation": false,
      "defaultRecipient": false,
      "signInEachLocation": false,
      "signatureInfo": null,
      "tabs": {
        "approveTabs": null,
        "checkboxTabs": null,
        "companyTabs": null,
        "dateSignedTabs": null,
        "dateTabs": null,
        "declineTabs": null,
        "emailTabs": null,
        "envelopeIdTabs": null,
        "fullNameTabs": null,
        "initialHereTabs": null,
        "listTabs": null,
        "noteTabs": null,
        "numberTabs": null,
        "radioGroupTabs": null,
        "signHereTabs": [{
        "signerAttachmentTabs": null,
        "ssnTabs": null,
        "textTabs": null,
        "titleTabs": null,
        "zipTabs": null
      }
      "deliveryMethod":"",
      "deliveredDateTime":"String Content",
      "signedDateTime":"String Content",
      "offlineAttributes":{
        "deviceName":"String Content",
        "deviceModel":"String Content",
        "gpsLatitude":"String Content",
        "gpsLongitude":"String Content",
        "accountEsignId":"String Content"
      }
    }],
    ```

    [envelopeRecipientTabsResource]:  https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/
    [enotary-resources]:              https://support.docusign.com/en/guides/ndse-user-guide-enotary-resources

- name: EnvelopeRecipientTabs
  description: "<!-- resources aren't rendered the same way\n     as other pages.\
    \ This is a little hack to\n     make the headings work better -->\n<style>\n\
    h1, h2, h3 {\n  margin-top: 1em;\n}\n</style>\n\nThe EnvelopeRecipientTabs resource\
    \ provides methods that let you\nadd,\nupdate,\nand delete tabs\nfrom an envelope.\n\
    Tabs are associated with a specific recipient\nin an envelope\nand are only used\
    \ by the recipient types\nIn Person Signers and Signers.\n\n<!-- START doctoc\
    \ generated TOC please keep comment here to allow auto update -->\n<!-- DON'T\
    \ EDIT THIS SECTION, INSTEAD RE-RUN doctoc TO UPDATE -->\n**On this page**\n\n\
    - [Tab Types](#tab-types)\n- [Sign Here Tab Alignment](#sign-here-tab-alignment)\n\
    - [View Tab](#view-tab)\n- [Requesting Payments](#requesting-payments)\n- [Using\
    \ Custom Tabs in Envelopes and Templates](#using-custom-tabs-in-envelopes-and-templates)\n\
    - [Anchoring Tabs](#anchoring-tabs)\n- [Automatically Populating Tabs](#automatically-populating-tabs)\n\
    \n<!-- END doctoc generated TOC please keep comment here to allow auto update\
    \ -->\n\n\n## Tab Types\n\nSome tabs enable values to be entered by the signer.\
    \ Those tabs' values can be preset either through the web browser or via the API.\
    \ Other tab types use information that is already recognized by the DocuSign platform.\
    \ These tabs cannot have their value updated on a per-tab basis by the API or\
    \ via the browser. In some cases, the info might be settable using a different\
    \ technique. For example, the Full name tab uses the signer's name, which is set\
    \ elsewhere in the request.\n\nHere is the list of tabs and whether you can or\
    \ cannot set their values in the tab definition:\n\n<br>\n\n| Tab Type       \
    \                                            | Description                   \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                              |\n| :---------------------------------------------------------\
    \ | :----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\
    \ |\n| Approve ([`approve`][approve])                             | Allows the\
    \ recipient to approve documents without placing a signature or initials on the\
    \ document. If the recipient clicks the tab during the signing process, the recipient\
    \ is considered to have signed the document. No information is shown on the document\
    \ of the approval, but it is recorded as a signature in the envelope history.\
    \ This value **can't** be set.                                               \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                 |\n| Checkbox ([`checkbox`][checkbox])                     \
    \     | Allows the recipient to select a yes/no (on/off) option. This value can\
    \ be set.                                                                    \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                |\n| Company ([`company`][company])\
    \                             | Displays the recipient's company name. This value\
    \ **can't** be set.                                                          \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                       |\n| Date\
    \ Signed ([`dateSigned`][dateSigned])                   | Displays the date that\
    \ the recipient signed the document. This value **can't** be set.            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                      |\n| Date ([`date`][date])                            \
    \          | Allows the recipient to enter a date. Date tabs are one-line fields\
    \ that allow date information to be entered in any format. The tooltip for this\
    \ tab recommends entering the date as MM/DD/YYYY, but this is not enforced. The\
    \ format entered by the signer is retained. If you need a particular date format\
    \ enforced, DocuSign recommends using a Text tab with a validation pattern and\
    \ a validation message to enforce the format. This value can be set.         \
    \                                                                            \
    \                                                                            \
    \                                       |\n| Decline ([`decline`][decline])  \
    \                           | Allows the recipient the option of declining an\
    \ envelope. If the recipient clicks the tab during the signing process, the envelope\
    \ is voided. This value **can't** be set.                                    \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                   |\n| Email\
    \ Address ([`emailAddress`][emailAddress])             | Displays the recipient's\
    \ email as entered in the recipient information. This value **can't** be set.\
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                    |\n| Email ([`email`][email])                           \
    \        | Allows the recipient to enter an email address. This is a one-line\
    \ field that checks that a valid email address is entered. It uses the same parameters\
    \ as a Text tab, with the validation message and pattern set for email information.<br><br>When\
    \ getting information that includes this tab type, the original value of the tab\
    \ when the associated envelope was sent is included in the response. This value\
    \ be set.                                                                    \
    \                                                                            \
    \                                                                            \
    \            |\n| Envelope ID ([`envelopeId`][envelopeId])                   |\
    \ Displays the envelope ID. Recipients cannot enter or change the information\
    \ in this tab.  This value **can't** be set.                                 \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                             |\n| First Name ([`firstName`][firstName])\
    \                      | Displays the recipient's first name. This tab takes the\
    \ recipient's name as entered in the recipient information, splits it into sections\
    \ based on spaces and uses the first section as the first name. This value **can't**\
    \ be set.                                                                    \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                    |\n| Formula Tab ([`formulaTab`][formulaTab])\
    \                   | The value of a formula tab is calculated from the values\
    \ of other number or date tabs in the document. When the recipient completes the\
    \ underlying fields, the formula tab calculates and displays the result. This\
    \ value can be set.The `formula` property of the tab contains the references to\
    \ the underlying tabs. See [Calculated Fields][calculatedfields] in the DocuSign\
    \ Support Center to learn more about formulas. If a formula tab contains a `paymentDetails`\
    \ property, the tab is considered a payment item. See [Requesting Payments Along\
    \ with Signatures][paymentguide] in the DocuSign Support Center to learn more\
    \ about payments. |\n| Full Name ([`fullName`][fullName])                    \
    \     | Displays the recipient's full name. This value **can't** be set.     \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                    |\n| Initial Here ([`initialHere`][initialHere])\
    \                | Allows the recipient to initial the document. May be optional.\
    \ This value **can't** be set.                                               \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                           |\n| Last Name ([`lastName`][lastName])\
    \                         | Displays the recipient's last name. This tab takes\
    \ the recipient's name as entered in the recipient information, splits it into\
    \ sections based on spaces and uses the last section as the last name. This value\
    \ **can't** be set.                                                          \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                  |\n| List ([`list`][list])\
    \                                      | This tab offers a list of options to\
    \ choose from. The `listItems` property is used to specify the selectable options.\
    \ This value can be set,                                                     \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                          |\n\
    | Notarize ([`notarize`][notarize])                          | Place this tab\
    \ on a page to alert Notary recipients that they must take action. Only one notarize\
    \ tab can appear on a page. This value can be set.                           \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                  |\n| Note ([`note`][note])                                \
    \      | Displays additional information, in the form of a note, for the recipient.\
    \ This value can be set.                                                     \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                       |\n| Number ([`number`][number])     \
    \                           | Allows the recipient to enter numbers and decimal\
    \ (.) points. This value can be set.                                         \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                  |\n| Radio\
    \ Group ([`radioGroup`][radioGroup])                   | This group tab is used\
    \ to place radio buttons on a document. The `radios` property is used to add and\
    \ place the radio buttons associated with the group. Only one radio button can\
    \ be selected in a group. This value can be set.                             \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \            |\n| Sign Here ([`signHere`][signHere])                         |\
    \ Allows the recipient to sign a document. May be optional. This value **can't**\
    \ be set. <br/>**Note**: `signHere` tabs can also be used to add a visual representation\
    \ for  an electronic seal in a document.                                     \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                 |\n| Signer\
    \ Attachment ([`signerAttachment`][signerAttachment]) | Allows the recipient to\
    \ attach supporting documents to an envelope. This value **can't** be set.   \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                     |\n| SSN ([`ssn`][ssn])                                \
    \         | A one-line field that allows the recipient to enter a Social Security\
    \ Number. The SSN can be typed with or without dashes. It uses the same parameters\
    \ as a Text tab, with the validation message and pattern set for SSN information.\
    \  This value can be set.                                                    \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                   |\n| Text ([`text`][text])               \
    \                       | Allows the recipient to enter any type of text. This\
    \ value can be set.                                                          \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                              |\n| Title ([`title`][title])\
    \                                   | Displays the recipient's title. This value\
    \ **can't** be set.                                                          \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \  |\n| View ([`view`][view])                                      | The View\
    \ tab is used with the Approve tab to handle supplemental documents. This value\
    \ can be set.                                                                \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                  |\n| Zip ([`zip`][zip])                                   \
    \      | Allows the recipient to enter a ZIP code. The ZIP code can be five digits\
    \ or nine digits in the ZIP+4 format. The zip code can be typed with or without\
    \ dashes. It uses the same parameters as a Text tab, with the validation message\
    \ and pattern set for ZIP code information. This value can be set.           \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                    |\n\n\n[approve]:\t\t      https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/approve\n\
    [checkbox]:\t\t      https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/checkbox\n\
    [company]:\t\t      https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/company\n\
    [dateSigned]:\t\t    https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/dateSigned\n\
    [date]:\t\t          https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/date\n\
    [decline]:\t\t      https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/decline\n\
    [emailAddress]:     https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/emailAddress\n\
    [email]:\t\t        https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/email\n\
    [envelopeId]:\t    \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/envelopeId\n\
    [firstName]:\t    \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/firstName\n\
    [formulaTab]:\t    \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/formulaTab\n\
    [fullName]:\t\t      https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/fullName\n\
    [initialHere]:\t  \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/initialHere\n\
    [lastName]:\t\t      https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/lastName\n\
    [list]:\t           \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/list\n\
    [notarize]:         https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/notarize\n\
    [note]:\t\t          https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/note\n\
    [number]:\t\t        https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/number\n\
    [radioGroup]:\t\t    https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/radioGroup\n\
    [signerAttachment]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/signerAttachment\n\
    [signHere]:\t      \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/signHere\n\
    [ssn]:\t          \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/ssn\n\
    [text]:\t          \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/text\n\
    [title]:\t        \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/title\n\
    [view]:\t\t          https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/view\n\
    [zip]:\t          \thttps://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/zip\n\
    \n[calculatedfields]: https://support.docusign.com/en/guides/ndse-user-guide-calculated-fields\n\
    [paymentguide]:     https://support.docusign.com/en/guides/requesting-payments-along-with-signatures\n\
    \n\n## Sign Here Tab Alignment\n\nWhen you provide an x- and y-coordinate for\
    \ the\nsign here tab,\nthe tab appears 21 points *lower*\nthan the value you provide\
    \ for the y-coordinate.\nTo align the tab as expected,\nsubtract 21 from the expected\
    \ y-value.\n\n![Sign Here Tab Alignment](/img/signherealign.png)\n\n\n\n\n\n##\
    \ View Tab\n\nThe View tab is used on supplemental documents.\nTo learn more about\
    \ using the View tab with\nsupplemental documents, see\n[Using Supplemental Documents][usingsupdocs]\n\
    in the [Sending Documents][sendenvelopes] section of\nthe [Envelope: create][envelopecreate]\
    \ method.\n\n[sendenvelopes]:  https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create/#sending-envelopes\n\
    [usingsupdocs]:   https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create/#using-supplemental-documents\n\
    [envelopecreate]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create/\n\
    \n<br>\n\n| Name              | Required  | Type    | Description |\n| :---- \
    \            | :----     | :----   | :----       |\n| documentId        | Yes\
    \       | String  | The document ID number that the tab is placed on. This must\
    \ refer to an existing Document's ID attribute. |\n| pageNumber        | Yes \
    \      | String  | Must be set to 1. |\n| recipientId       | Yes       | String\
    \  | The recipient associated with the tab. Must refer to an existing recipient's\
    \ ID attribute. |\n| required          | No        | Boolean | If **true**, the\
    \ recipient is required to select the supplemental document View button during\
    \ signing. |\n| tabLabel          | No        | String  | The label used for the\
    \ tab.  If an empty string is provided for this, an empty sting is used. If no\
    \ value is provided, the tab type is used as the value. Maximum of 500 characters.\
    \ |\n| templateLocked    | No        | Boolean | Optional. Used only when working\
    \ with template tabs. If **true**, the attributes of the tab cannot be changed\
    \ by the sender. |\n| templateRequired  | No        | Boolean | Optional. Used\
    \ only when working with template tabs. If **true**, the tab cannot be removed\
    \ by the sender. |\n| xPosition         | Yes       | String  | Required, but\
    \ can be 0.  |\n| yPosition         | Yes       | String  | Required, but can\
    \ be 0. |\n\n\n## Requesting Payments\n\nThe Payments feature of the DocuSign\
    \ eSignature REST API\nlets you collect payments\nalong with signatures and other\
    \ information.\n\nTo send a request for payment\nand collect payments,\nyou need\
    \ a payment gateway account,\nwhich is the destination for the payments.\nCreate\
    \ a payment account\nwith a supported payment gateway,\nand then connect the payment\
    \ gateway account\nto your DocuSign account.\nTo learn how to connect a payment\
    \ gateway account\nto your DocuSign account\nsee [Managing Payment Gateways][paymentgateways]\n\
    in the DocuSign Support Center.\nYou must connect and manage payment gateway accounts\
    \ manually\nthrough the DocuSign Admin console\nand through your chosen payment\
    \ gateway.\nThere is no public API\nfor connecting payment gateway accounts\n\
    to DocuSign accounts\nor for managing payment gateway accounts.\n\nCurrently\n\
    [Stripe][stripe],\n[Braintree](https://www.braintreepayments.com/), and\n[Authorize.net](https://www.authorize.net/)\n\
    are the supported payment gateways.\n\n### How Payments Work\n\nTo make a request\
    \ for payment,\nuse a [`formulaTab`][formulatab]\nthat has a\n[`paymentDetails`][paymentdetails]\
    \ object.\nThis object includes\na list of [`paymentLineItem`][paymentlineitem]\
    \ objects.\nEach line item refers to a [`number`][numbertab] tab\nthat contains\
    \ the value of the each item.\nThe purpose of the line items\nis to transmit them\
    \ to the payment gateway\nas metadata, so that you can use the information\nin\
    \ the payment processor.\n\n**Note**: If the fileExtension parameter is not added\
    \ in an API call, only base64 converted pdf files will be accepted.\nAny attempt\
    \ to send a non pdf file without using fileExtension results in an error.\n\n\
    This is an example request for two books.\nEach book is specified in the `number`\
    \ tabs\nlabeled \"Hamlet\" and \"Tempest\".\nThe books are referenced as line\
    \ items\nby their tab labels\nwithin the `paymentDetails` object\nof a `formula`\
    \ tab.\nThe formula of the `formula` tab\nadd the values of the same two `number`\
    \ tabs.\n\n```json\n{\n  \"documents\": [\n    {\n      \"documentBase64\": \"\
    <base64-encoded PDF document>\",\n      \"documentId\": \"1\",\n      \"fileExtension\"\
    : \"pdf\",\n      \"name\": \"payment.pdf\"\n    }\n  ],\n  \"emailSubject\":\
    \ \"Order Some Books\",\n  \"recipients\": {\n    \"signers\": [\n      {\n  \
    \      \"email\": \"vreader@example.com\",\n        \"name\": \"Voracious Reader\"\
    ,\n        \"recipientId\": \"1\",\n        \"routingOrder\": \"1\",\n       \
    \ \"tabs\": {\n          . . .\n          \"numberTabs\": [\n            {\n \
    \             \"value\": \"10.00\",\n              \"width\": 78,\n          \
    \    \"required\": \"true\",\n              \"locked\": \"true\",\n          \
    \    \"tabLabel\": \"Hamlet\",\n              \"documentId\": \"1\",\n       \
    \       \"pageNumber\": \"1\",\n              \"xPosition\": \"323\",\n      \
    \        \"yPosition\": \"134\"\n            },\n            {\n             \
    \ \"value\": \"10.00\",\n              \"width\": 78,\n              \"required\"\
    : \"true\",\n              \"locked\": \"true\",\n              \"tabLabel\":\
    \ \"Tempest\",\n              \"documentId\": \"1\",\n              \"pageNumber\"\
    : \"1\",\n              \"xPosition\": \"323\",\n              \"yPosition\":\
    \ \"154\"\n            }\n          ],\n          \"formulaTabs\": [\n       \
    \     {\n              \"required\": \"true\",\n              \"formula\": \"\
    ([Hamlet] + [Tempest]) * 100\",\n              \"roundDecimalPlaces\": \"2\",\n\
    \              \"paymentDetails\": {\n                \"currencyCode\": \"USD\"\
    ,\n                \"lineItems\": [\n                  {\n                   \
    \ \"name\": \"Hamlet\",\n                    \"description\": \"The Danish Play\"\
    ,\n                    \"itemCode\": \"SHAK1\",\n                    \"amountReference\"\
    : \"Hamlet\"\n                  },\n                  {\n                    \"\
    name\": \"Othello\",\n                    \"description\": \"The one with Caliban\
    \ in it\",\n                    \"itemCode\": \"SHAK2\",\n                   \
    \ \"amountReference\": \"Tempest\"\n                  }\n                ],\n\
    \                \"gatewayAccountId\": \"e76668b4-53a9-4413-b551-a208d659e490\"\
    \n              },\n              \"tabLabel\": \"Payment1\",\n              \"\
    documentId\": \"1\",\n              \"pageNumber\": \"1\",\n              \"xPosition\"\
    : 300,\n              \"yPosition\": 200\n            }\n          ]\n       \
    \ }\n      }\n    ]\n  },\n  \"status\": \"sent\"\n}\n```\n\nUse the\n[EnvelopeRecipients:\
    \ list][enveloperecipientslist] method\nto check the status of a payment.\nWhen\
    \ the payment is successful,\nthe `status` property of\nthe [`paymentDetails`][paymentdetails]\
    \ object\nis `payment_complete`.\n\n```json\n{\n  \"signers\": [\n    {\n    \
    \  \"tabs\": {\n        . . .\n        \"numberTabs\": [\n          {\n      \
    \      \"value\": \"10.00\",\n            \"tabLabel\": \"Hamlet\",\n        \
    \    \"documentId\": \"1\",\n            \"recipientId\": \"1\",\n           \
    \ \"pageNumber\": \"1\",\n            \"xPosition\": \"323\",\n            \"\
    yPosition\": \"134\",\n          },\n          {\n            \"value\": \"10.00\"\
    ,\n            \"tabLabel\": \"Tempest\",\n            \"documentId\": \"1\",\n\
    \            \"recipientId\": \"1\",\n            \"pageNumber\": \"1\",\n   \
    \       }\n        ],\n        \"formulaTabs\": [\n          {\n            \"\
    formula\": \"([Hamlet] + [Tempest]) * 100\",\n            \"roundDecimalPlaces\"\
    : \"2\",\n            \"paymentDetails\": {\n              \"status\": \"payment_complete\"\
    ,\n              \"currencyCode\": \"USD\",\n              \"lineItems\": [\n\
    \                {\n                  \"name\": \"Hamlet\",\n                \
    \  \"description\": \"The Danish Play\",\n                  \"itemCode\": \"SHAK1\"\
    ,\n                  \"amountReference\": \"Hamlet\"\n                },\n   \
    \             {\n                  \"name\": \"Tempest\",\n                  \"\
    description\": \"The one with Caliban in it\",\n                  \"itemCode\"\
    : \"SHAK2\",\n                  \"amountReference\": \"Tempest\"\n           \
    \     }\n              ],\n              \"gatewayAccountId\": \"e76668b4-53a9-4413-b551-a208d659e490\"\
    \n            },\n            \"value\": \"20\",\n            \"required\": \"\
    true\",\n            \"locked\": \"false\",\n            \"tabLabel\": \"Payment1\"\
    ,\n            \"documentId\": \"1\",\n            \"recipientId\": \"1\",\n \
    \           \"pageNumber\": \"1\",\n          }\n        ]\n      },\n      \"\
    creationReason\": \"sender\",\n      \"email\": \"vreader@example.com\",\n   \
    \   \"name\": \"Voracious Reader\",\n      \"recipientId\": \"1\",\n      \"requireIdLookup\"\
    : \"false\",\n      \"status\": \"completed\",\n    }\n  ],\n  . . .\n}\n```\n\
    \n### Some Things to Keep in Mind About Payments\n\n* An envelope is not completed\
    \ until all payments are completed.\n\n* If a DocuSign account Administrator\n\
    \  deletes a payment gateway account connection\n  DocuSign cancels all in-process\
    \ envelopes\n  that reference the deleted payment gateway account.\n\n* If the\
    \ sender voids an envelope,\n  all payment authorizations are canceled.\n\n* If\
    \ a required recipient refuses to sign,\n  all authorized payments are canceled.\n\
    \n* If a required recipient's payment fails authorization,\n  DocuSign attempts\
    \ to recover\n  by sending the recipient\n  notification about the failed payment\
    \ authorization.\n  The recipient has the opportunity\n  to correct the payment\
    \ method information.\n\n* Each recipient's payment is authorized separately.\n\
    \  Accounts are charged and payment made\n  after all required tabs are completed,\n\
    \  and all payments in an envelope for all recipients are authorized.\n\n* Refunds\
    \ are not supported.\n  Conduct refunds or payment changes\n  with the payment\
    \ gateway separately from DocuSign.\n\n* At this time, DocuSign does not charge\
    \ a per-transaction fee.\n\n\n[enveloperecipientslist]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipients/list/\n\
    [formulatab]:             https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/formulaTab\n\
    [ISO4217]:                https://en.wikipedia.org/wiki/ISO_4217\n[numbertab]:\
    \              https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/number\n\
    [paymentgateways]:        https://support.docusign.com/en/guides/managing-payment-gateways\n\
    [paymentguide]:           https://support.docusign.com/en/guides/requesting-payments-along-with-signatures\n\
    [paymentlineitem]:        https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/paymentLineItem\n\
    [paymentdetails]:         https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/#/definitions/paymentDetails\n\
    [stripe]:                 https://stripe.com/\n\n\n## Using Custom Tabs in Envelopes\
    \ and Templates\n\nCustom Tabs can be added to envelopes and templates\nby setting\
    \ the `customTabId` property\nwhen creating an envelope or template recipient\n\
    or when adding a new tab for an existing recipient.\nThe custom tab must be added\
    \ as the correct tab type.\nFor example if the custom tab type is text, it cannot\
    \ be used as a number tab.\n\nWhen the `customTabId` property is set,\nthe new\
    \ tab inherits all the custom tab properties.\nRequired information that is not\
    \ included in the custom tab,\nsuch as document ID and page ID, must be included\
    \ when adding the tab.\nIf the custom tab does not have anchor settings, the X\
    \ and Y positions must be included.\n\nAfter the tab is created,\nit is treated\
    \ as any other tab for updating or deleting.\n\n## Anchoring Tabs\n\nThe tab anchoring\
    \ option\nallows you to send documents for signature\nthat do not have a fixed\
    \ layout or format.\nIn these documents you might not know\nthe absolute location\
    \ of the tabs\nwhen you design your API client application because the tabs must\
    \ move with text.\nAs an alternative to sending X and Y coordinates for tabs,\n\
    the DocuSign Service can derive an anchor location for the tab\nby correlating\
    \ anchor information to data within the document.\n\nWhen the DocuSign Service\
    \ receives a request that contains tabs\nwith anchor information,\nit searches\
    \ the document for instances of the `anchorString` property.\nWhen found,\nit\
    \ places a tab of the specified type for the designated recipient.\nTab positions\
    \ are established by setting offsets for the tab.\n\nWhen you apply tabs to the\
    \ document,\nDocuSign does not remove or replace the text in the `anchorString`\
    \ property. You can hide codified anchors by using the same font color as the\
    \ background of the document. So the anchor can be used by DocuSign processes\
    \ and it will not be visible on the document.\n\nTo use an anchoring option:\n\
    \n1. Identify the location in the document by text string. You can use a pre-existing\
    \ text string or add a new one.\nFor best performance DocuSign recommends using\
    \ single word anchor strings when possible, especially when there are a large\
    \ number of pages in the envelope.\nFor example, you might want to add a Sign\
    \ Here tab to the \"Borrower's Signature\" lines in a document, but that phrase\
    \ might occur in places in the document where you don't want to tab to appear.\
    \ In this case, you could add the text \"BorrowerSignHere\" in white font color\
    \ (so that isn't visible in the document) to all the places you want Sign Here\
    \ tabs to appear and use \"BorrowerSignHere\" as the anchor string.\n1. Reference\
    \ the anchor through the `anchorString` property of the tab.\n1. Determine the\
    \ offset from the anchor string location to where the tab should be placed.\n\n\
    Setting a positive value in the `anchorXOffset` property moves the tab right on\
    \ the page and positive values in the  `anchorYoffset` prove moves the tab down\
    \ the page. The `anchorUnits` property specifies the units used for the offsets.\n\
    For Sign Here and Initial Here tabs the bottom-left of the anchor string is equivalent\
    \ to position (0,0), and the bottom-left of the tab graphic is placed relative\
    \ to that.\nFor all other tabs the bottom-left of the anchor string is equivalent\
    \ to position (0,0), and the top-left of the tab graphic is placed relative to\
    \ that.\nDocuSign does not currently provide tools to derive the offset values.\
    \ Determination of the proper offset will likely require some trial-and-error.\n\
    \n### Rules for working with anchor tags\n\nWhen anchor tabs are used, all documents\
    \ in the envelope are searched for the `anchorString` property.\n\n* You set the\
    \ text of the anchor string in the `anchorString` property. DocuSign tabs are\
    \ created for each instance of the `anchorString` property within the document,\
    \ so special care must be taken to establish unique anchor strings that do not\
    \ result in unintentional tabs.\n* You cannot use the same anchored tab for different\
    \ recipients for the same document.\n* The DocuSign system cannot search for text\
    \ that is embedded in an image when checking for anchor strings.\n* X or Y offsets\
    \ supplied for a tab apply to all instances of the tab in the document. To use\
    \ different offsets at different locations in the document for the same recipient,\
    \ create multiple, unique anchor tabs.\n* If the Y offset value of an anchor string\
    \ would force a tab outside of the page boundaries, the tag is placed at the page\
    \ boundary. If the X offset value places a tab outside of the page boundaries,\
    \ the error message `Invalid_User_Offset` is sent. The error message includes\
    \ the X offset that resulted in the error.\n* The system does not support an anchor\
    \ string embedded in the form of a PDF X-object in the document.\n* The system\
    \ does not re-flow the text that surrounds the anchor tabs. It is the responsibility\
    \ of the document author to provide sufficient white space to contain the potential\
    \ width of the ultimate tab value.\n\n### Tips and Tricks\n\nThe following are\
    \ tips for effective use of anchor tags:\n* In order to avoid unintentional conflicts\
    \ between text contained in an `anchorString` property and the text that naturally\
    \ exists in documents, establish a codified syntax for the anchor string text\
    \ that is unlikely to appear elsewhere in a document.\n* Develop an extensible\
    \ and consistent syntax that can be used across multiple document types.\n* Especially\
    \ for documents that have variable numbers of tabs or signers, author the source\
    \ document to include hidden anchor tabs for all potential signers/permutations.\
    \ Then, control the tabs that are actually placed by including/excluding the anchor\
    \ tabs in the request. This approach allows a single document to be used for all\
    \ use cases instead of maintaining separate documents for each scenario.\n\n##\
    \ Automatically Populating Tabs\n\nIf you want similar tab types\nto automatically\
    \ populate with the same data,\nyou must follow these guidelines:\n\n* Each `tabLabel`\
    \ entry must have the characters\n  `\\\\*` in front of the label.\n  If you omit\
    \ the `\\\\*` prefix,\n  only the first occurrence of the tab is populated.\n\n\
    \  When automatically populating tabs,\n  the `tabLabel` must not contain any\
    \ spaces.\n  In the JSON example below,\n  the Text tabs  properties `StudentLastName`\
    \ and `StudentFirstName`\n  will be auto-populated as specified (\"Doe\" and \"\
    John\")\n  each place they appear throughout the envelope.\n\n  ```\n  \"tabs\"\
    : {\n    \"textTabs\": [\n    {\n      \"tabLabel\": \"\\\\*StudentLastName\"\
    ,\n      \"value\": \"Doe\"\n    },\n    {\n      \"tabLabel\": \"\\\\*StudentFirstName\"\
    ,\n      \"value\": \"John\"\n    }]\n  }\n  ```\n\n* Each occurrence of the tab\
    \ must have identical properties.\n\n  For example, suppose there are two Text\
    \ tabs in a document,\n  each with `tabLabel` set to `Name`.\n  If one tab has\
    \ the `bold` property set to **true**,\n  and the other has the `bold` property\
    \ set to **false**,\n  only the first one will be populated.\n  In order to automatically\
    \ populate both occurrences\n  of the `Name` Text tabs,\n  the `bold` property\
    \ must be set to the same value for both tabs.\n"
- name: EnvelopeDocumentTabs
  description: The EnvelopeDocumentTabs resource provides methods that allow you to
    manage various tabs in envelopes. For a complete list of options see the following
    Properties section.
- name: TemplateDocumentTabs
  description: ""
- name: EnvelopeViews
  description: "The EnvelopeViews provides methods that return URLs that you can embed\
    \ into your application to provide access to the DocuSign UI.\n\nThe following\
    \ views are available:\n\n* Console View - The authentication view of the DocuSign\
    \ UI.\n* Correct View - The correction view of the DocuSign UI.\n* Edit View -\
    \ The editing view of the DocuSign UI. \n###### Note: This provides the same functionality\
    \ as the sender view.\n* Recipient View -  The view the recipient sees in the\
    \ DocuSign UI.\n* Sender View - The sending view of the DocuSign UI."
- name: AccountSealProviders
  description: ""
- name: Accounts
  description: "The Accounts resource provides methods that allow you to create, delete,\
    \ and manage your accounts."
- name: AccountSignatureProviders
  description: This resource provides information on the Standards Based Signature
    providers that have been provisioned for this account.
- name: Authentication
  description: |
    **Note:**  This information is provided for legacy reference only. Please see our supported forms of authentication referenced below and use our [REST API Authentication Guides](https://developers.docusign.com/esign-rest-api/guides/authentication) for more information.

    The Authentication resource provides access to methods that allow you to authenticate user credentials and change a user's password.

    The methods in this resource are suitable
    only for [service integrations](https://developers.docusign.com/esign-rest-api/guides/common-terms)
    that use [Legacy Header Authentication](https://developers.docusign.com/esign-rest-api/guides/authentication/legacy).
    For authentication methods for
    [user applications](https://developers.docusign.com/esign-rest-api/guides/common-terms)
    and to learn more about
    DocuSign authentication
    see [Authentication Overview](https://developers.docusign.com/esign-rest-api/guides/authentication).

    When accessing the API resources
    and Legacy Header Authentication,
    the GET [Authentication:login method](https://developers.docusign.com/esign-rest-api/reference/Authentication/Authentication/login) allows you to determine whether a user is authenticated and provides the information you will need to make subsequent API requests.
- name: UserSocialAccountLogins
  description: 'The UserSocialAccountLogins resource provides methods that allow you
    to manage the social login accounts for a user.  '
- name: BillingPlans
  description: "The Billing resource provides methods that allow you to manage the\
    \ billing plans,associated with an account."
- name: Invoices
  description: The Invoices resource provides methods that allow you to manage the
    invoices for an account.
- name: Payments
  description: |-
    The Payments resource provides methods that allow you to manage payments for an account.

    These calls can only be used by users with account administrator privileges.
- name: CloudStorage
  description: The CloudStorage resource provides methods that allow you to list files
    stored on your cloud storage provider.
- name: CloudStorageProviders
  description: |-
    The CloudStorageProviders resource provides methods that allow you to manage the cloud storage providers associate with an account.

    The following providers are supported:

    * Google Drive
    * Dropbox
    * Box
    * Evernote
    * OneDrive

    To use cloud storage files, you must first give DocuSign access to your cloud storage provider. You can disconnect authorized a cloud storage provider at any time.
- name: ConnectConfigurations
  description: The ConnectConfigurations resource methods enable you to configure
    the DocuSign Connect service associated with an account.
- name: ConnectEvents
  description: "The ConnectEvents resource provides methods that allow you to read,\
    \ delete, and republish the connect logs associated with an envelope."
- name: CustomTabs
  description: |-
    The CustomTabs resource provides methods that allow you create and manage custom tabs based on the existing DocuSign tabs.

    You can create a tab with pre-defined properties, such as a text tab with a certain font type and validation pattern. Users can access the custom tabs when sending documents through the DocuSign web application.

    Custom tabs can be created based on the  approve, checkbox, company, date, date signed, decline, email, email address, envelope ID, first name, formula, full name, initial here, last name, list, note, number, radio, sign here, signer attachment, SSN, text, title, and zip tabs.
- name: RequestLogs
  description: "The RequestLogs resource provide methods that allow you to retrieve\
    \ and delete the API request log files.\n\nThe log files contain the API requests\
    \ associated with your integration. They can aid you in troubleshooting specific\
    \ issues within an integration, or if DocuSign Support requests an API trace log. "
- name: Resources
  description: The Resources resource provides a method which retrieves the base resources
    that are available.
- name: Services
  description: The Services resource provides a method that allow you to retrieve
    the available service versions.
- name: EnvelopeConsumerDisclosures
  description: The EnvelopeConsumerDisclosures resource provides a method that allows
    you to retrieve the consumer disclosure for an envelope.
- name: EnvelopeDocuments
  description: "<!-- resources aren't rendered the same way\n     as other pages.\
    \ This is a little hack to\n     make the headings work better -->\n<style>\n\
    h1, h2, h3 {\n  margin-top: 1em;\n}\n</style>\n\nThe EnvelopeDocuments resource\
    \ provides methods\nthat manage documents in an envelope.\nYou can:\n* add one\
    \ or more documents to the envelope\n* retrieve one or more documents from the\
    \ envelope\n* delete documents from the envelope\n\nAll of the methods in this\
    \ resource\noperate on on an existing envelope.\nBefore you can add documents\n\
    to an envelope,\nyou must first create it\nwith the [Envelopes: create][envelopescreate]\
    \ method. \n\n\n[envelopescreate]: https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create/\n\
    \n"
- name: EnvelopeEmailSettings
  description: |-
    The EnvelopeEmailSettings provide methods that allow you to manage the email override settings for an envelope.

    Email override settings change the reply to email address, name, or the BCC for email archive information, for the envelope. Note that changing email settings will only affect email communications that occur after the addition was made.

    The BCC Email address feature is designed to provide a copy of all email communications for external archiving purposes. DocuSign recommends that envelopes sent using the BCC for Email Archive feature, including the BCC Email Override option, include additional signer authentication options. To send a copy of the envelope to a recipient who does not need to sign, use a Carbon Copies or Certified Deliveries Recipient Type.
- name: Envelopes
  description: "The Envelope resource provides methods that allow you to manipulate\
    \ and monitor envelopes. \n\nOnce you have authenticated the user you can use\
    \ the Envelopes: createEnvelope method to create an envelope. You can call the\
    \ EnvelopeDocuments: update or EnvelopeDocuments: updateList method to add additional\
    \ documents.\n\nSetting the `status` property on the envelope to `sent` allows\
    \ you to send it or `created` to save it as a draft.\n\nYou can receive envelope\
    \ event notifications by setting the `eventNotification` properties. When the\
    \ envelope or recipient status changes to one of the specified status codes, a\
    \ notification is sent to a URL that you specify.\n\nIf you have an envelope that\
    \ you have previously saved, you can modify the subject and message, send it,\
    \ void it, or place it in the purge queue using the Envelope: update method.\n\
    \nIn addition to receiving notifications you can monitor the status of the envelopes\
    \ using the following methods:\n* Envelope: getEnvelope - To get the status of\
    \ a envelope. \n* Envelope: listStatus - To get the envelope status for a set\
    \ of envelopes.\n* Envelope: listStatusChanges - To get status changes information\
    \ for one or more envelopes. \n\nIf you need to delete a page from a document\
    \ in an envelope, use the Envelope: deleteDocumentPage method.\n\nThe resource\
    \ also includes a number of methods that allow you to retrieve and set the initials\
    \ and signature for certain types of recipients on the document."
- name: EnvelopeTemplates
  description: The EnvelopeTemplates resource provides methods that allow you to add
    and delete templates on envelopes and documents.
- name: Folders
  description: The Folders resource provides methods that allow you to view contents
    of folders on the account and move envelopes between folders.
- name: GroupBrands
  description: 'The GroupBrands resource provides methods that allow you to manage '
- name: Groups
  description: |-
    The Groups resource provides methods that allow you to manage groups for the account.

    Groups can be used to help manage users by associating users with a group. A group can be associated with a Permission Profile, which sets the user permissions for users in that group without having to set the `userSettings` property for each user. You are not required to set Permission Profiles for a group, but this makes it easier to manage user permissions for a large number of users. Groups can also be used with template sharing to limit user access to templates.
- name: GroupUsers
  description: The GroupUsers resource provides methods that allow you to manage the
    users in a group.
- name: SigningGroups
  description: "The SigningGroups resource provides methods that allow you manage\
    \ signing groups.\n\nSigning Groups allow you to create a group of people to which\
    \ an envelope is sent. Any member of that group can open an envelope and sign\
    \ the documents in the envelope with their own signature, even though a signature\
    \ field was not directly assigned to them. When the Signing Group option is used,\
    \ group members that open and sign the envelope are tracked in the envelope history\
[...]
